[2022-07-06 06:03] maliberty commented on #1884
No TR is not an analog router.  Analog blocks should have a proper LEF

[2022-07-06 06:04] maliberty commented on #2031
"taping out on ASAP7" makes no sense as it is an academic process.  Do you mean testing?

[2022-07-06 06:05] vijayank88 commented on #1884
Thanks @maliberty . Then closing this issue.

[2022-07-06 06:05] #1884 closed

[2022-07-06 06:06] antonblanchard commented on #2031
@maliberty yeah, just producing a GDS. With sky130hd being so slow, I wanted a second PDK to test my multiplier design on.

[2022-07-06 14:49] tspyrou commented on #2031
@antonblanchard you can try tweaking the global routing script to run another repair design after global routing. We haven't turned this on by default yet but OpenLane has.

[2022-07-06 15:50] maliberty commented on #2031
The key idea is to make global router more timing aware in its decision about which nets to reroute to fix congestion.  I think that is a reasonable goal as the current method (FastRouteCore::StNetOrder) is based only on congestion.

Repair after detailed routing is a good goal but to make it really work we need an incremental detailed router which we don't have currently.  It is a non-trivial pro

[2022-07-06 16:01] maliberty commented on #2031
@luis201420 please look at making rip-up-reroute timing aware (@eder-matheus can help).

[2022-07-07 10:50] rutvikkk2203 opened #2038 "Error in the flow"
Found pin outside die area in instance
<img width="435" alt="Capture" src="https://user-images.githubusercontent.com/108871884/177756725-b90a690a-5330-4ad8-8311-e1585266d6e6.PNG">

[2022-07-07 11:21] 13vaidehi opened #2039 "Net not routable"
While using OpenROAD for PnR of leaf chip using sky130hd pdk, an error saying net not routable occures, how to solve this issue.
This is the error displayed.
[ERROR DRT-0305] Net one_ of signal type POWER is not routable by TritonRoute. Move to special nets.
[ERROR GUI-0070] Error: flow.tcl, 193 DRT-0305

How to solve this

[2022-07-07 13:34] maliberty commented on #2038
Please provide a packaged testcase

[2022-07-07 13:48] 13vaidehi commented on #2039
I synthesised I checked my netlist, it doesn't contain a 1'b1 or 1'b0.
I used yosys to synthesis netlist

![Screenshot (245)](https://user-images.githubusercontent.com/100420392/177789352-758cd17a-b1c2-4742-8d8f-6751244e9663.png)

I used thsi flow.

[2022-07-08 05:31] rutvikkk2203 commented on #2038
I want to do pnr of our netlist what to do in that case ?

On Thu, 7 Jul 2022 at 19:05, Matt Liberty ***@***.***> wrote:

[2022-07-08 05:39] vijayank88 commented on #2039
@13vaidehi
Are you using OpenROAD standalone for PnR or along with OpenLane flow?

[2022-07-08 05:43] 13vaidehi commented on #2039
I am just using OpenROAD for PnR

[2022-07-08 05:45] vijayank88 commented on #2038
@rutvikkk2203
Are you using OpenLane flow or OpenROAD as standalone for PnR?

[2022-07-08 05:50] vijayank88 commented on #2039
@13vaidehi Have you checked DEF file?
Share the netlist and DEF to debug the issue.

Use the @maliberty suggestion during synthesis and start the PnR again

[2022-07-08 05:50] 13vaidehi commented on #2039
I tried this, I still have the same error

[2022-07-08 05:53] 13vaidehi commented on #2039
/home/vaidehi/Downloads/leaf-mpw6-main/def/leaf_chip.def
This is my def file.

/home/vaidehi/Documents/leaf_chip.v
This is the netlist after using the hilo command during synthesis.

![Screenshot (246)](https://user-images.githubusercontent.com/100420392/177925983-377bbe8a-425b-495e-9426-938198697846.png)
This how the error looks in gui

[2022-07-08 05:54] vijayank88 commented on #2039
@13vaidehi Upload the zip file here by drag and drop

[2022-07-08 05:54] rutvikkk2203 commented on #2038
I am using OpenROAD for PnR.

On Fri, 8 Jul 2022 at 11:15, vijayan ***@***.***> wrote:

[2022-07-08 05:58] vijayank88 commented on #2038
@rutvikkk2203
Share your global placement stage log file.
Provide current stage input DEF file and source script used to run the placement stage as zip file.

[2022-07-08 06:01] 13vaidehi commented on #2039
[leaf_chip_netlist.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9069268/leaf_chip_netlist.zip)
[leaf_chip_def.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9069271/leaf_chip_def.zip)

[2022-07-08 06:29] rutvikkk2203 commented on #2038
Here I have attached the log file.

On Fri, 8 Jul 2022 at 11:29, vijayan ***@***.***> wrote:

OpenROAD v2.0-4323-g94820b8
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which must be honored.
[ERROR PPL-0064] -pin_name is required.
[ERROR GUI-0070] PPL-0064
[ERROR PPL-0064] -pin_name is

[2022-07-08 06:29] vijayank88 commented on #2039
@13vaidehi
Can you share complete flow script what you used with all required inputs?
Which version of OpenROAD currently used?

[2022-07-08 06:32] vijayank88 commented on #2038
@rutvikkk2203 Can you share complete flow script what you used with all required inputs as zip file?

[2022-07-08 06:33] hathimohammed53 opened #2041 "Net zero_ of signal type GROUND is not routable by TritonRoute. Move to special nets."
I am facing the error while performing pnr in openroad. May I know what shall I do to proceed further .

[INFO DRT-0150] Reading design.
[ERROR DRT-0305] Net zero_ of signal type GROUND is not routable by TritonRoute. Move to special nets.
[ERROR GUI-0070] Error: flow.tcl, 193 DRT-0305

[2022-07-08 06:40] 13vaidehi commented on #2039
[tcl file that calls all necessary files.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9069434/tcl.file.that.calls.all.necessary.files.zip)
[file that has flow.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9069440/file.that.has.flow.zip)
[file with all the necessary files and data for flow.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9069443/file.with.all

[2022-07-08 06:43] #2041 closed

[2022-07-08 06:44] rutvikkk2203 commented on #2038
Here are the main files which we are using.

On Fri, 8 Jul 2022 at 02:32, vijayan ***@***.***> wrote:

[2022-07-08 06:53] vijayank88 commented on #2039
@13vaidehi
Following block causing the issue with `'h`
[code]

Use `insert_tiecells` feature from openroad to avoid routing issue.

[2022-07-08 06:54] vijayank88 commented on #2038
@rutvikkk2203 attachment missing

[2022-07-08 06:56] 13vaidehi commented on #2039
Can you help me with the exact use of insert_tiecells?
I am confused where to use it?

[2022-07-08 06:58] vijayank88 commented on #2039
https://github.com/The-OpenROAD-Project/OpenROAD/tree/master/src/ifp#inserting-tieoff-cells Documentation here.
It should be done during floorplan itself

[2022-07-08 07:06] rutvikkk2203 commented on #2038
Which other attachments do you need ? Please Specify.

On Fri, 8 Jul 2022 at 02:54, vijayan ***@***.***> wrote:

[2022-07-08 07:10] vijayank88 commented on #2038
share complete flow script what you used with all required inputs?

[2022-07-08 07:16] 13vaidehi commented on #2039
What will be the master and output port in this case?

[2022-07-08 07:17] vijayank88 commented on #2039
@13vaidehi
Are you trying this design https://github.com/daniel-santos-7/leaf-mpw6?

[2022-07-08 07:25] 13vaidehi commented on #2039
Yes, this is the design I am trying

[2022-07-08 07:26] vijayank88 commented on #2039
[code]
Use above line after `initialize_floorplan`

[2022-07-08 08:27] vijayank88 commented on #2039
@13vaidehi
Test your design with OpenLane flow and let me know.

[2022-07-08 09:16] 13vaidehi commented on #2039
I haven't tried this with OpenLane flow.
If I am not wrong OpeLane will do the synthesis to routing stage right?

[2022-07-08 09:17] 13vaidehi commented on #2039
This is the
![Screenshot (248)](https://user-images.githubusercontent.com/100420392/177960337-d467f200-465a-49a5-87ba-62f217233b45.png)
 error and the line that the error indicates
![Screenshot (249)](https://user-images.githubusercontent.com/100420392/177960294-070a5eec-ca9a-4b4c-99e8-1da86ecd830e.png)

[2022-07-08 09:50] 13vaidehi commented on #2039
Is this the only way to go about this issue?
I wanted to use OpenROAD specifically for PnR.

[2022-07-08 09:54] vijayank88 commented on #2039
@13vaidehi
I have modified few things wrt., your `flow.tcl` script and now detail routing working fine. Used the updated `flow.tcl` and let me know.
Is your `results` directory contains all the DB files?

[2022-07-08 09:56] vijayank88 commented on #2039
[update_flow.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9070954/update_flow.zip)

[2022-07-08 10:15] vijayank88 commented on #2039
It is because of special nets. nets not tied properly. With the `insert_tiecells` its working fine now. Check my `f.ow.tcl` attached.

[2022-07-08 11:07] rutvikkk2203 commented on #2038
Ok SIR. Here I am attaching our OpenROAD and Our Netlist file. Please check
it.
 OpenROAD.zip
<https://drive.google.com/file/d/1SzGcpBlhYFBnS4DORpjqAdbzswp0Z1fC/view?usp=drive_web>
 Darksocv_Netlist.v
<https://drive.google.com/file/d/1c5c8YY-CnADVHt7yFbKF0XYUpWCkpvcX/view?usp=drive_web>

On Fri, 8 Jul 2022 at 03:10, vijayan ***@***.***> wrote:

[2022-07-08 11:10] vijayank88 commented on #2038
Can you share public access link to download?

[2022-07-08 11:14] rutvikkk2203 commented on #2038
Ok. So here is that link.
https://drive.google.com/drive/folders/1eyMbKr17qHx7cEX0rrBHNh6GPrDUuinU?usp=sharing

On Fri, 8 Jul 2022 at 16:40, vijayan ***@***.***> wrote:

[2022-07-08 11:22] vijayank88 commented on #2038
I just requested PDN stage .db or .def file. Seems you shared full Openroad directory with size of `882MB`

[2022-07-08 12:21] vijayank88 commented on #2038
@rutvikkk2203
at my end its stopped during global routing.

[code]

I think you can increase the swap memory and try.

There are nets with tie high. Use `insert_tiecells` after `initialize_floorplan` to avoid this routing issue.

[2022-07-08 12:26] vijayank88 commented on #2038
Refer following comment for how to use `insert_tiecells` feature: https://github.com/The-OpenROAD-Project/OpenROAD/issues/2039#issuecomment-1178792619

[2022-07-08 13:17] rutvikkk2203 commented on #2038
In which tool you have performed CentOS or Ubuntu ? Because in CentOS I
can't reach till here.

On Fri, 8 Jul 2022 at 17:52, vijayan ***@***.***> wrote:

[2022-07-08 16:48] 13vaidehi commented on #2039
![Screenshot (250)](https://user-images.githubusercontent.com/100420392/178035752-82ee91e2-1e04-433c-9230-d251a19f14d6.png)
I used the new flow, this is the error I get now

[2022-07-08 16:51] 13vaidehi commented on #2039
![Screenshot (250)](https://user-images.githubusercontent.com/100420392/178036099-26bb3d5a-373a-47eb-ae1e-4f704223e65a.png)
I used the updated flow, this is the new error I encountered.

[2022-07-08 17:05] vijayank88 commented on #2039
Guide file could not be opened. Check guide file name is correct or not?

On Fri, Jul 8, 2022, 10:21 PM 13vaidehi ***@***.***> wrote:

[2022-07-09 06:22] vijayank88 commented on #2039
@13vaidehi Hope you can able to complete the routing.

[2022-07-09 06:23] vijayank88 commented on #2038
I have used Centos 7 gcloud machine with 128GB RAM and 32 core configuration to run this design. Have tried by increasing your swap space? What is your system configuration?

[2022-07-09 06:33] rutvikkk2203 commented on #2038
I am using CentOS of this type of configuration. And the new one issue is
also there that after this step the Tool is being killed. So what to do for
that ?

[2022-07-09 06:40] vijayank88 commented on #2038
Update your OpenROAD commit and try. If facing issue again share the log and issue reproducible test case

[2022-07-11 05:13] antonblanchard commented on #1708
I took another look at this. This test case:

[fanout.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9080972/fanout.tar.gz)

disables capacitance, slew and wire repair and just focuses on how `repair_design` fixes max fan out violations. There is a net with 8000 FFs on it and we set a max fan out of 20, which we should be able to repair with 3 levels of buffers.

`test-nofanout.v`

[2022-07-11 06:22] 13vaidehi commented on #2039
Even after numerous attempts, the error still remains.
The error isn't in the guide file name
![Screenshot (251)](https://user-images.githubusercontent.com/100420392/178201294-ddeda17e-f0bf-4e40-9a51-452b2c89635a.png)

[2022-07-11 06:39] vijayank88 commented on #2039
@13vaidehi
Can you share your flow.tcl and detailed routing log?

[2022-07-11 06:41] vijayank88 commented on #2039
I suggest you switch to https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts as it is a more complete production flow versus the unit test flow you seem to be using. Your tarball doesn't include your netlist and isn't usable as a test case.

With ORFS you can package a test case easily with the _issue targets.

[2022-07-11 07:00] 13vaidehi commented on #2039
[flow.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9081567/flow.zip)

[2022-07-11 07:01] 13vaidehi commented on #2039
I will switch to the flow scripts, but can you once have a look and tell me if its not debuggable at all

[2022-07-11 07:29] vijayank88 commented on #2039
@13vaidehi
At my end i'm not facing any issues with detail routing.

update following part and run again:
[code]

[2022-07-11 07:58] 13vaidehi commented on #2039
I will do it. Did you run it in OpenROAD?

[2022-07-11 07:58] 13vaidehi commented on #2039
I will do it. Did you run it on OpenROAD?

[2022-07-11 10:49] 13vaidehi commented on #2039
![Screenshot (253)](https://user-images.githubusercontent.com/100420392/178248220-f2afb422-ea4c-4691-92d3-cb032d61f2e6.png)
How do I change the permission of a file that is being created?

[2022-07-11 10:59] vijayank88 commented on #2039
check the `results` directory access/permissions.

that's why suggesting to use tested script wrapper from https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts

What ever variable you're passing, same thing you can use in that ORFS flow itself/ its already pre-defined. its easy to track and all required inputs and configuration path set properly.

What is your final goal?

[2022-07-12 04:06] maliberty commented on #1827
@proppy have you tried the last suggestion?

[2022-07-12 05:41] vijayank88 commented on #2038
@rutvikkk2203 Any progress at your end?

[2022-07-12 11:46] vijayank88 commented on #2039
@13vaidehi
are you able to fix the access issue?

[2022-07-12 15:51] maliberty commented on #1827
In your notebook I see:
[code]
which is very high.  I also see
[code]
which I recommend you never use.  That will certainly increase your routing congestion.

[2022-07-12 15:56] maliberty commented on #1827
I tried to run OL in your notebook with slightly different settings (40% util, larger area, non-random placement) but I get:
[code]
My changes have nothing to do with yosys so I am not sure how this notebook is supposed to work.

[2022-07-12 16:07] proppy commented on #1827
@maliberty the notebook didn't pin yosys version so it's possible that a different one got used, let me try to refresh it accordingly.

[2022-07-12 16:22] proppy commented on #1827
I get the same errors after updating the dependencies, it looks like the following verilog module needs to be disabled: `BRAM1Load` as we don't really care of pre-initializing BRAM cells in that case (since that those mostly relevant for FPGA)

[2022-07-12 16:23] maliberty commented on #1827
Please update when it is passing yosys again.

[2022-07-12 22:43] braamBeresford opened #2054 "Stack trace on partition design"

[2022-07-12 22:43] #2054 closed

[2022-07-12 22:47] braamBeresford opened #2055 "Stack trace when running partition_design"
When trying to run partition_design as part of the following flow I receive a stack trace. Cannot find source of issue.

Command:
`set top_design ariane
set def_file ./design/ariane.def
set ALL_LEFS "
    ./lefs/NangateOpenCellLibrary.tech.lef
    ./lefs/NangateOpenCellLibrary.macro.mod.lef
    ./lefs/fakeram45_256x16.lef
"
foreach lef_file ${ALL_LEFS} {
    read_lef $lef_file
}
read_def ./design/

[2022-07-12 22:55] maliberty commented on #2055
I'll look at making it not crash but the problem is you don't have any Liberty files loaded:

2# sta::LibertyCell::isBuffer() const in openroad

[2022-07-12 22:59] braamBeresford commented on #2055
@maliberty Interesting. I'm running this within the build docker environment so shouldn't I have all dependencies already?

[2022-07-12 23:02] maliberty commented on #2055
Its not a case of dependencies but of data loading into OR.  You are loading .lef & .def but not .lib.

[2022-07-12 23:08] braamBeresford commented on #2055
Ok. Thank you for the swift response. I'll try and read in the libs as well.

[2022-07-14 14:19] vvbandeira commented on #1947
@proppy is this still an open issue? I also saw that Cherry made some improvements to the antenna checker code rencently.

[2022-07-18 15:21] donn opened #2066 "`-guide` regression"
Using OpenROAD 475ff5e827b8937f4810ecae75973ee74e457816

`detailed_route -guide` is no longer loading the guide file properly. The reproducible outputs the following:

[code]
Curiously, altering the invocation as follows makes it route fine:

[code]
Not really sure what's going on here. We're going to be altering the invocation for now for OpenLane.

[repro.tar.gz](https://github.com/The-OpenROAD-

[2022-07-18 15:59] maliberty commented on #2066
As I said in https://github.com/The-OpenROAD-Project/OpenLane/issues/1159 we are relying on the db more and side files less.  This is a case where the guides are now in the db in ORFS.  There is a read_guides command if you still want to operate in the DEF style (we kept it for ispd benchmarks).

[2022-07-18 16:02] donn commented on #2066
Then remove the `-guide` option? What is it doing still being processed if it does nothing?

[2022-07-18 16:15] maliberty commented on #2066
Fair enough - we'll remove it.

[2022-07-18 16:23] maliberty commented on #2066
note that -output_guide is removed as well (it was never really useful to users anyways).

[2022-07-18 20:51] maliberty commented on #2066
Removed in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2067

[2022-07-18 20:51] #2066 closed

[2022-07-19 22:18] antonblanchard commented on #2031
I updated the RC values at https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/524

[2022-07-21 04:15] antonblanchard commented on #2031
I've revisited this issue after fixing the RC layer estimates. Working with OpenROAD git SHA1 d4c41f0b5d1627e0c6bad8362006a51134011fc9.

This path just makes timing (with ~10ps slack) when looking at `estimate_parasitics -placement`:

[code]

After global routing (ie `estimate_parasitics -global_routing`), the same path now has -57ps slack:

[code]

A lot of the problem is `net62` which is a high

[2022-07-21 04:45] maliberty commented on #2031
@eder-matheus @luis201420 please use this as a test case for your timing driven ripup in grt.  Can we achieve a similar result with the net specific hacking?

[2022-07-21 05:08] antonblanchard commented on #2031
I ran the design all the way through detailed routing, before and after the net specific hack. I noticed one of the modifications to the net was tapping off at the mid point of a wire, and wondered if `estimate_parasitics -global_routing` could give pessimistic results in that case.

Anyway, the issue is still there after DRT, if a little less prononounced:

[code]

[code]

[2022-07-21 05:10] antonblanchard commented on #2031
@mithro I have checked it out, good stuff. I've been more focused on improving the frequency of various algorithms via improvements to OpenROAD, which should hopefully benefit Teo too.

[2022-07-21 13:08] vijayank88 commented on #1885
@maliberty
For testing purpose I've increased the DIE_AREA but placement not spreading cells as expected. Increased CORE_UTIL
Attached latest test case
[issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9159569/issue_reproducible.zip)

[2022-07-21 14:09] maliberty opened #2079 "pdn creating short between macro rings and core rails"
short around (2200.00000, 132.00000)
![image](https://user-images.githubusercontent.com/761514/180233542-59d29cb6-63d0-4230-b0ee-d41648a09b14.png)
[issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9159999/issue_reproducible.tar.gz)

[2022-07-21 14:10] maliberty commented on #2079
@arlpetergadfort this can wait until after your tapeout

@kareefardi FYI

[2022-07-21 14:15] maliberty commented on #1885
Increasing the die area doesn't reduce placement density.   PLACE_DENSITY controls the placement density.

[2022-07-21 15:16] vijayank88 commented on #1885
PL_TARGET_DENSITY is `0.30`

[2022-07-21 16:10] jjcherry56 commented on #2031
There is another knob you can use in this situation.
The set_routing_alpha command controls the tradeoff between minimizing wire length and distance from the driver.
Unfortunately the author never bothered to document the command.
The default value is .3. I changed it to .6 and the placement based slack went to 25ps, global to 10ps.
Optimizing the distance from the driver to the loads on critical

[2022-07-21 17:44] maliberty commented on #1885
@vijayank88 you test case is packaged at global routing and therefore isn't useful for debugging a global placement issue.

[2022-07-21 17:48] maliberty commented on #1885
Since OL uses decap cells are fillers the congestion will always be unrealistic in the heatmap once they have been inserted (since decaps are not recognized as fill cells).  If I remove them I see:

![image](https://user-images.githubusercontent.com/761514/180280209-f42810be-e7c7-4ed0-a65c-c91e55445484.png)

still above 30% but more accurate.

[2022-07-21 23:08] jjcherry56 commented on #1898
The problem has nothing to do with LEF.
It is failing in opensta, which uses liberty, not LEF.
The issue is that the pin it is searching from has no graph vertex.
Can you show me the SDC for the clock definitions and the verilog lines that reference the clock pins?
I suspect there is some issue with missing liberty cell definitions.

[2022-07-22 10:35] JiaDYuan opened #2082 "Global placement fails for single Rocket core with Nangate45 PDK when running in OpenROAD flow scripts"
I set up a Single core Rocket, and run under the OpenROAD flow scripts with the platform of Nangate45.

But here is the error happened:

OpenROAD v2.0-2819-ge490a3f10
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which must be honored.
[ERROR STA-0402] add_global_connection -defer_conne

[2022-07-22 11:56] vijayank88 commented on #2082
@JiaDYuan
Please provide re-producible test case by running `make pdn_issue`

[2022-07-22 14:23] dineshannayya commented on #1690
@maliberty I am also facing this issue with latest openlane tool set with PDK=sky130B and same thing passes with PDK=sky130A
My Repo: https://github.com/dineshannayya/riscduino_qcore
Failing Macro : make ycr4_iconnect
Failing Signature:
----------------------------------------
Min area of metal1 holes > 0.14um^2 (met1.7)
----------------------------------------
 175.695um 265.440um 175.880um 265.5

[2022-07-22 14:24] maliberty commented on #2082
You are on a very old version of openroad.  Please update and try again.

[2022-07-22 14:26] dineshannayya commented on #1690
@maliberty this block is same one which you have suggested fix in during below issue analysis
https://github.com/The-OpenROAD-Project/OpenLane/issues/1106

[2022-07-22 14:35] maliberty commented on #1690
@RTimothyEdwards last comment "I'm` still not sure why the patch failed, but I'm testing a fix now." - was this actually fixed?

I believe Stephano did fix a loop case in drt as well.

In any case you need to package a proper routing test case and not just point at a repo.

[2022-07-22 15:40] dineshannayya commented on #1690
@maliberty As this does not fails at routing phase, but fails Magic DRC check phase, i need to see how to extract both stage.

[2022-07-22 15:53] maliberty commented on #1690
@donn was going to deal with this but the standard workaround is to put a call to "exit -1" in the relevant script to force a failure.

Based on the slack discussion this is an open_pdk issue not an OR one.

[2022-07-22 21:02] antonblanchard commented on #1690
@dineshannayya are you sure this is the same issue, and not: https://github.com/RTimothyEdwards/open_pdks/pull/262 ?

[2022-07-22 22:10] donn commented on #1690
@maliberty Recent update: https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-07-23 03:42] maliberty commented on #1690
@antonblanchard based on a slack discussion this is an open_pdk issue and not an OR one.  I don't see any point in keeping this open anymore.

[2022-07-23 03:42] #1690 closed

[2022-07-23 20:32] JiaDYuan commented on #2082
**Hi, yes, the updating the OpenROAD version can solve the problem. But here is another error, the process is stucking in the global_place_gp stage. And by the way, the process took 8 hours to run, is this normal???**

OpenROAD v2.0-4473-g0d17a7302
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive l

[2022-07-24 23:04] antonblanchard commented on #2031
Thanks @jjcherry56 this does look to have an impact on some of these large nets. I'll experiment with it.

Good to know, I'll make sure to attach LEF/DEFs.

[2022-07-25 06:06] vijayank88 commented on #2082
@JiaDYuan
How much RAM system has?
Can you increase swap memory and try it?

[2022-07-25 06:55] JiaDYuan commented on #2082
@vijayank88
![2022-07-25_085031](https://user-images.githubusercontent.com/57803663/180715975-415ab5f7-3f31-460c-9119-a713f0b98c57.jpg)

Hi, I was running the flow on a server, here are the memory details.

                total                  used          free                   shared     buff/cache    available
Mem:       115559420       2184372     58420228         428          54954820

[2022-07-25 06:59] vijayank88 commented on #2082
@JiaDYuan
Run following command from `flow` directory and attach test case.
`make global_placement_issue`

[2022-07-25 08:00] JiaDYuan commented on #2082
Here is the result. Strange...

yuanjiadong@Serveur-calcul:~/OpenROAD-flow-scripts/flow$ make global_placement_issue
[INFO][FLOW] Using platform directory ./platforms/nangate45
make: *** No rule to make target 'global_placement_issue'.  Stop.

[2022-07-25 08:53] vijayank88 commented on #2082
sorry. Its mistake. Try this: `make global_place_issue`

[2022-07-25 09:04] JiaDYuan commented on #2082
@vijayank88

yuanjiadong@Serveur-calcul:~/OpenROAD-flow-scripts/flow$ make global_place_issue
[INFO][FLOW] Using platform directory ./platforms/nangate45
# Creating run-me-gcd-nangate45-base.sh script
# Creating vars-gcd-nangate45-base.sh/tcl script
# remove variables starting with a dot
# remove non portable commands
# remove QT variable
# Archiving issue to global_place_gcd_nangate45_base_2022-0

[2022-07-25 09:14] vijayank88 commented on #2082
Try `DESIGN_CONFIG=./designs/nangate45/SingleRocket/config.mk make global_place_issue`

[2022-07-25 10:45] JiaDYuan commented on #2082
@vijayank88
yes, I succeeded getting the _global_place_SingleRocket_nangate45_base_2022-07-25_11-51.tar.gz_  file.

But it's 820MB heavy... file size is too big..

[2022-07-25 10:56] vijayank88 commented on #2082
@JiaDYuan
Share `/designs/nangate45/SingleRocket/config.mk` `/designs/nangate45/SingleRocket/constraint.sdc` as well. Then only i can able to replicate your error

[2022-07-25 11:34] JiaDYuan commented on #2082
@vijayank88

Here are config.mk, constraint.sdc, lib and lef files attached:
[config+constraint+lib+lef.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9180727/config%2Bconstraint%2Blib%2Blef.zip)

[2022-07-26 01:31] antonblanchard opened #2089 "GRT: SEGV when running STA after read_guides"
I'm trying to make changes to the global routing guides and then run STA to see what effect it has. First up - I'm not sure if this is expected to work, so feel free to close if it is invalid.

My test case looks like:

[code]

If I uncomment `global_route` this works (presumably because we have set up the required state), but otherwise it fails with:

[code]

I added this to `readGuides`, which f

[2022-07-26 10:12] vijayank88 commented on #2082
@vvbandeira
What's this error meant?
[code]

[2022-07-26 14:13] vvbandeira commented on #2082
@vijayank88 this looks like an out-of-memory error.

[2022-07-27 05:22] vijayank88 commented on #2082
@vvbandeira
Can you run this design at your end?
Even at my end its got killed twice. Both absolute/relative die size.
Source files attached above.

[2022-07-27 06:04] Yupjun opened #2091 "Multiple port issue in OpenDB"
Hi, it seems like OpenDB can't parse multiple ports.
I'm currently using real Foundary PDK and this design contains a lot of multiple ports.
I got an error (DEFPARS-6010) while processing my DEF file.
Are there any options that I can do?

[2022-07-27 06:44] maliberty commented on #2091
Do you get any other messages?  Can you reduce this to a minimal test case that you can make public (you don't need to make the LEF public, just a reduced DEF since it is a port issue).

[2022-07-27 07:47] Yupjun commented on #2091
Before I share my content, sorry I'm a super newbie in this physical design area.

multiple ports of DEF file looks like this.

[code]
... and so on. I'm not sure why the Innovus tool exports the DEF file like this. Again, sorry for my lack of knowledge about VLSI physical design.

[2022-07-28 07:26] #2091 closed

[2022-07-28 12:14] vvbandeira commented on #2082
Using the latest code looks like a density issue (see below).

[code]

Tough, after I changed to using the recommended density of `0.51`: I am running now with Valgrind to make sure is not a memory error. If it is not, we will need to investigate the GPL code, 129GB of RAM looks excessive.
[code]

[2022-07-28 13:38] vijayank88 commented on #2082
@vvbandeira
Sorry about that. I forgot to mention to update density value to `0.51`.
Yes maybe the reason for failure is RAM. I had only 128GB RAM in my GCP machine.

[2022-07-29 11:08] SkanderMarsit opened #2098 "Global pLacement allows Macros overlapping"
Hi,

I have an issue with the global_placement function end result allowing macros to overlap and placing all the components in a very congested small area allowing macros and pins to overlap.
In fact, I'm manually creating LEF and DEF files in order to perform placement optimization. After succeeding in creating correct DEF files (not crashing the app) and performing the global_placement function

[2022-07-29 14:07] maliberty commented on #2098
Legalization is part of detailed_placement not global_placement.  Are you using a set of flow script like ORFS or OL?

[2022-07-29 14:45] SkanderMarsit commented on #2098
Thank you.
Now the detailed_placement correctly resolves the components overlap: but the result doesn't seem to be very routable.

![Screenshot from 2022-07-29 16-34-25](https://user-images.githubusercontent.com/45737280/181782921-d6f7b839-3f38-4bfc-957c-4cf166bf1336.png)

I then added the track config in the DEF file

`TRACKS Y 0 DO 240 STEP 280 LAYER metal2 ;
TRACKS X 0 DO 180 STEP 380 LAYER met

[2022-07-29 15:23] maliberty commented on #2098
Since these are macros rather than standard cells you should try using the macro_placement command with -halo & -channel to create more spacing between them in both directions.  You can do this after global_placement and skip detailed_placement.

[2022-07-30 10:55] wjrforcyber commented on #1922
Any progress? Is this necessary for the future build?

[2022-07-30 19:51] JiaDYuan commented on #2082
@vijayank88

Hi, may I ask why does it require so many RAM to run global placement? Even 128G is not enough? Is this case normal?

[2022-07-30 21:22] maliberty commented on #2082
You have 1M placeable objects so this is quite a large block but that still seems excessive.
@vijayank88 do you have this case setup to run?

[2022-07-31 01:19] jjcherry56 commented on #2038
@vijayank88 there is no point in providing a .def or .db file because the script starts with verilog, which he provided. @rutvikkk2203 did not explicitly state it but the log file makes it clear thata he is using test/flow.tcl with the sky130hd tech files in test/sky130hd. The only thing missing to reproduce the bug is the complete tcl script that defines the variables used by flow.tcl and the oth

[2022-07-31 01:55] jjcherry56 commented on #1708
With commit c525def45 the timing looks like this:

[code]

The best part is that repair_timing can improve the timing further if necessary.

[code]

[2022-07-31 01:55] #1708 closed

[2022-07-31 02:39] vijayank88 commented on #2082
Hi Matt,

User shared RTL in the thread.

Vitor is trying i think.

On Sun, Jul 31, 2022, 2:52 AM Matt Liberty ***@***.***> wrote:

[2022-07-31 02:44] vijayank88 commented on #2038
This issue is fixed by updating flow.tcl at our end and shared to user as
well. Just waiting for user confirmation to close this issue.

On Sun, Jul 31, 2022, 6:50 AM James Cherry ***@***.***> wrote:

[2022-07-31 03:17] gkamendje commented on #1898
@jjcherry56 Thanks for looking into this.
Unfortunately I cannot publicly share the SDC.
I used the following script snippet to load the `.odb`  and the `.sdc` files generated after placement.

[code]
- I do not get any error nor warning while reading the `.sdc` file.
- `check_setup-verbose` does not report any issue.
- `report_clock_properties` shows all the clock as defined in the `.sdc` file
-

[2022-07-31 03:42] jjcherry56 commented on #1898
Honestly, there isn't much I can do to help you without any data. I am not going to play 20 questions in english to debug your design.

It sounds like check_setup should have  reported unconstrained endpoints. Something is very strange.

Are there set_false_path commands between the clocks? Because that would make the paths unconstrained.

Pick a register in the design and use report_arrival on th

[2022-07-31 04:28] rutvikkk2203 commented on #2038
Yes at my end the error is solved. By using the updated flow.tcl file , I
can complete my whole PNR. Thank You Very Much for all.

On Sun, 31 Jul, 2022, 8:14 am vijayan, ***@***.***> wrote:

[2022-07-31 05:52] #2038 closed

[2022-08-01 01:14] maliberty commented on #1922
@vvbandeira please resolve this as its been pending a long time.

[2022-08-01 05:31] vijayank88 commented on #2039
Closing this issue its passed routing stage.

[2022-08-01 05:31] #2039 closed

[2022-08-01 05:56] antonblanchard commented on #1708
Thanks @jjcherry56, this looks great! I have tested it out on a few designs and these long chains have gone away.

[2022-08-01 06:13] JiaDYuan opened #2106 "terminate called after throwing an instance of 'std::length_error'"
Hi， I am failing the placement process of Single Rocket because of the possible memory problem:  #2082

So I tried to run a simple one, here is the RTL:
[serial.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9231296/serial.zip)

And  the PDK is also nangate45:
[config&PDK.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9231307/config.PDK.zip)

But the synthesis failed beac

[2022-08-01 09:00] vijayank88 commented on #2106
@vvbandeira FYI

[2022-08-01 09:12] vijayank88 commented on #2082
@vvbandeira
Any update on this? Is able to pass global placement stage?

[2022-08-01 09:34] wjrforcyber opened #2107 "CMake Error: The following variables are used in this project, but they are set to NOTFOUND."
I found this CMake error after I built (without #1922 (although I don't think they are relevant...))
[code]

[2022-08-01 10:14] kareefardi commented on #2079
any update on this ?

[2022-08-01 10:51] vijayank88 commented on #2107
@wjrforcyber
I don't understand your issue?
Please provide following:

1. What command you're tried and facing this issue or instruction followed?
2. OpenROAD version currently using?
3. OS related

[2022-08-01 11:01] wjrforcyber commented on #2107
Sorry, I haven't wrote issue for a long time, here is the information:

1. I was following the readme and cloned master, in **Build by hand** section I tried `cmake`, and the error showed up.
2. May I ask how could I get the version of OpenROAD?
4. MacOs

[2022-08-01 11:03] vijayank88 commented on #2107
Is https://github.com/The-OpenROAD-Project/OpenROAD#install-dependencies installed?
you've tried `cmake ..` right?

[2022-08-01 11:08] wjrforcyber commented on #2107
1. Yes, dependencies are installed except the qt issue  #1922 as I mentioned above.
2. Yes, tried `cmake ..`.

[2022-08-01 11:15] vijayank88 commented on #2107
Its a fresh installation or updating existing repo?

[2022-08-01 11:16] wjrforcyber commented on #2107
Cloned last Friday.

[2022-08-01 11:33] vijayank88 commented on #2107
Try the following:
[code]

[2022-08-01 11:39] wjrforcyber commented on #2107
Sorry, about 3, I used it on ubuntu in docker. @vijayank88

[2022-08-01 11:50] wjrforcyber commented on #2107
Tried, still the same error. I found that there a [similar one](https://github.com/The-OpenROAD-Project/OpenROAD/issues/136#issuecomment-606298703) in the issue history, don't know how they dealt with it.

[2022-08-01 11:53] vijayank88 commented on #2107
May i know the reason for OpenROAD developement branch installation?
If that ok, you can install https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts as stable flow.

[2022-08-01 11:58] vijayank88 commented on #2107
have you ran both?
[code]

[2022-08-01 12:01] wjrforcyber commented on #2107
　　

Yes, the first one and the second one both showed the qt error, others are fine, I can even `apt search tcllib` and `apt search tcl-dev` and find them.
Just for study, I may try OpenROAD-flow-scripts later.

[2022-08-01 12:20] antonblanchard commented on #2031
Here is another path where timing gets significantly worse from placement to global routing. A big issue in this case is a 2 pin net, `sn$1367`:

placement parasitics:

[code]

global route parasitics:

[code]

Steiner tree:

![sn$1367_rst](https://user-images.githubusercontent.com/2029971/182083992-e51d007a-2b84-4036-9315-5843bf2f213d.png)

Global route 2D tree:

![sn$1367_tree2D](https://user-im

[2022-08-01 14:25] vvbandeira commented on #2106
This looks like an issue with Yosys and not OpenROAD.

[2022-08-01 15:10] vvbandeira commented on #2107
@wjrforcyber if you are using docker you can use `openroad/ubuntu20-dev` image which is validated to have all the dependencies to run the app.

If you are on macOS, which version of Cmake do you have? Also, setting the Tcl path can be tricky, did you install Tcl with brew? You can take a look at how we do for our CI [here](https://github.com/The-OpenROAD-Project/OpenROAD/blob/5ca26d885644fc725f988

[2022-08-01 15:17] vvbandeira commented on #2106
@JiaDYuan are you using ORFS / OpenLane? I would suggest you try the latest version of Yosys to see if the problem got fixed --- ORFS and OpenLane usually are behind. If the problem persists, file an issue in the upstream repo: https://github.com/YosysHQ/yosys

[2022-08-01 16:42] maliberty commented on #2079
@kareefardi the tapeout is this week so likely next week it could get some attention

[2022-08-01 17:29] vvbandeira commented on #2082
@vijayank88 I ran with Valgrind and found no memory error. It might be a problem with the internal logic. @maliberty suggestions? I have the design setup on my GCP machine in case you want to take a look let me know.

[2022-08-06 11:59] vijayank88 commented on #2082
I think its similar to https://github.com/The-OpenROAD-Project/OpenLane/issues/1126 Rocket mini chip code.
as per @maliberty  suggestion `Dropping in a ram (dff or openram) would likely solve many of your issues`

[2022-08-07 14:55] JiaDYuan commented on #2106
@vvbandeira
Hi, I installed the newest Yosys:   **Yosys 0.20+1 (git sha1 60a787fa5, clang 11.0.1-2 -fPIC -Os)**

But the synthesis still failed with the same error:

7.23.2. Executing OPT_MERGE pass (detect identical cells).
terminate called after throwing an instance of 'std::length_error'
  what():  hash table exceeded maximum size. use a ILP64 abi for larger tables.
Command terminated by signal

[2022-08-07 19:31] niv280 opened #2122 "Build problem with abc"
Hi,
I am trying to compile and I gets errors:
 [54%] Linking CXX executable abc
cd /OpenROAD/build/third-party/abc && /home/nive/bin/cmake -E cmake_link_script CMakeFiles/abc.dir/link.txt --verbose=1
/home/nive/bin/gcc -O3 -DNDEBUG -rdynamic CMakeFiles/abc.dir/src/base/main/main.c.o -o abc  libabc.a -lpthread -lm -ldl -lrt
libabc.a(bmcMaj3.c.o): In function `Zyx_ManPrintSolutionFile':
bmcMaj3.c:(.

[2022-08-07 21:30] maliberty commented on #2106
The message "use a ILP64 abi" suggests you have compiled for 32bits.

Check if your executable is 32 bit or 64 bit.  I did:
[code]
the "64-bit LSB executable" is what we are looking for.

[2022-08-07 22:33] JiaDYuan commented on #2106
@maliberty

Hi, I think it is 64-bit LSB executable:

`$ file ~/YOSYS/usr/local/bin/yosys
/home/yuanjiadong/YOSYS/usr/local/bin/yosys: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, BuildID[sha1]=2c59d312ae6c641d9ca693495f26f96d63670331, for GNU/Linux 3.2.0, not stripped
`

[2022-08-08 03:48] maliberty commented on #2122
On what platform with what compiler?  This isn't enough information except to say that it builds fine with our CI.

[2022-08-08 11:50] donn opened #2126 "psm segfault when using an `.odb` file as an input"
* Using OpenROAD 273a9ac3a

[code]

[repro.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9281447/repro.tar.gz)

[2022-08-08 15:58] maliberty commented on #2126
The crash is from psm not pdn.  To calculate IR drop we need to know the supply voltage.  You can specify it with set_pdnsim_net_voltage.  If not specified it will try to take it from the Liberty.  In your case none is loaded.  It should crash and I'll fix that but you'll just get an error message instead.  You need to use one of the options to give the voltage.

[2022-08-08 16:29] donn commented on #2126
Gotcha. Thank you.

[2022-08-08 17:34] maliberty commented on #2106
I have filed a yosys issue for you.  Note that the yosys team is separate so I have no control over whether if/when they choose to address this.

[2022-08-08 17:38] #2126 closed

[2022-08-08 20:36] maliberty opened #2131 "CTS has trouble with lack of blockage awareness"
CTS isn't aware of blockages when constructing the tree or adding post-opt buffers.  This can lead to poor results with excessive skew.  A test case is provided in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2130

The Post-GRT skew is:
[code]

Immediately after CTS this pair looks like this with the last common segment in yellow and the clkopt buffers as yellow dots.  The cts buffer and

[2022-08-08 20:42] maliberty commented on #2131
I believe the same issue will show up in the resizer as well due to its reliance on Steiner trees that are blockage unaware.

[2022-08-09 06:35] vijayank88 commented on #2107
@wjrforcyber
Are you able to resolve it now?

[2022-08-09 06:40] vijayank88 commented on #2122
@maliberty
Its better to keep issue template mandatory for all, based on installation/design issue.
So its easy to understand issue.
If its ok i'll make a enhancement proposal.

[2022-08-09 13:18] maliberty commented on #2122
@vijayank88 ok

[2022-08-09 13:30] vijayank88 opened #2133 "Make issue template mandatory for github issue submission"
@vvbandeira
Can you please create `issue template` for OpenROAD github issue submission.

Example OpenLane follows https://github.com/The-OpenROAD-Project/OpenLane/issues/new?assignees=&labels=&template=bug_report.md&title= mandatory template issue submission.

Same way for OpenROAD user can fill
`OpenROAD commit` currently using.
If its an installation issue `OS type` information must be included

[2022-08-10 02:45] jjcherry56 commented on #1879
This is actually an OpenSTA issue.
It is fixed by commit c7debe5 but not integrated into openroad (yet)

[2022-08-10 02:45] #1879 closed

[2022-08-10 11:25] donn opened #2135 "Crash during `repair_antennas`"
* OpenROAD 273a9ac3a

[code]

[repro.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9299551/repro.tar.gz)

[2022-08-10 18:05] niv280 commented on #2122
I think that as part of the problem is that I install most of the dependencies locally since i don't got root permission.
I think that what causing the make errors, I will try to install it in different environment.

Thanks, and sorry for the unclear issue.

[2022-08-10 18:05] #2122 closed

[2022-08-10 18:18] maliberty commented on #2079
@arlpetergadfort can you prioritize this?

[2022-08-10 19:42] arlpetergadfort commented on #2079
Sure, I'll take a look at it this afternoon.

[2022-08-10 20:06] arlpetergadfort commented on #2079
@kareefardi what version of OpenROAD are you using?
When I run this I get:
![no_short](https://user-images.githubusercontent.com/46405338/184009915-70c6791d-b3a8-42e5-9f75-b8c2d5657bb2.png)

There is no short.

[2022-08-10 20:51] eder-matheus commented on #2135
This is crashing because when the code is looking for the diode specified, it returns a list of three diode ports (from the `sta::get_lib_pins` function). I see that the diode cell `sky130_fd_sc_hd__diode_2` is defined in three different liberty files.

Are you reading all of them in this run?

[2022-08-10 20:56] eder-matheus commented on #2135
@donn @maliberty Also, is it valid to have multiple definitions of the same cell in different liberty files and read them in the same run? If so, I think I have a fix for this issue, but I'm not sure if it's ok to have this scenario.

[2022-08-10 21:00] maliberty commented on #2135
You could have multiple liberty files for different corners however there should only be one LEF.

[code]
is legal

[2022-08-11 15:12] #2135 closed

[2022-08-12 21:09] arlpetergadfort commented on #1957
@QuantamHD @maliberty
I've tried this a couple of times and had no real luck with it, but I think it would be very useful.
I tried to add locks to the callbacks in the GUI, the overhead was not bad, but this made it possible to repaint everything every time (which was crazy slow). But maybe locks are only really needed on deletions (which are rare).

Moving the tcl and GUI into separate threads wo

[2022-08-13 21:11] armleo opened #2149 "OpenROAD GUI corrupts it's own memory"
More information: https://github.com/The-OpenROAD-Project/OpenLane/issues/1265

Any suggestions on how to debug this?

[2022-08-13 23:14] maliberty commented on #2149
I've never seen this problem and have no clue.  I don't think there is anything I can do without a test case.  If they want support I suggest they contact @tspyrou for under NDA help through Precision Innovations.

[2022-08-14 01:18] arlpetergadfort commented on #2149
Could this be related to docker? I haven't seen anything like that either. Have you tried outside of docker?

[2022-08-14 01:20] maliberty commented on #2149
Or a bad X server

[2022-08-14 05:36] maliberty commented on #1957
I think the best you can hope for is to see the data as it was before the command was started.  Trying to update as it goes will be slow and unstable.  Something like the inspector is almost certain to have dangerous corner cases and would have to be disabled.  Is it really useful to see a static view of data the is likely to be obsolete once the command finishes?

[2022-08-14 05:39] armleo commented on #2149
If you open the gui and just open and close random menues then you get this issue. There is no test case per se

I am able to reproduce it outside NDA enviornment. Posted the logs. See original thread.

No, I do not have OpenROAD installation outside of Docker.

It might be three things: Bad GPU driver, Bad X server, Bad drivers inside Docker.

I still do not know how to approach it. But it seems

[2022-08-14 23:29] proppy opened #2153 "publish new tagged releases"
As discussed in https://github.com/hdl/conda-eda/pull/228#issuecomment-1201078808, we'd need to get releases tagged in order to publish an OpenROAD to https://conda-forge.org/.

Latest tag https://github.com/The-OpenROAD-Project/OpenROAD/tree/v2.0 is ~1yo, would it be possible to get another release tagged.

Alternatively the project could use a strategy similar to https://github.com/chipsalliance

[2022-08-14 23:55] maliberty commented on #2153
Why can't you use a commit id?  Tagging every commit is horrible and makes tags nearly useless.  Not to mention tags can be moved so it is less stable than a commit id.

[2022-08-15 00:32] proppy commented on #2153
@maliberty conda-forge automation (as many other packaging system tend to do) relies on tagged release for referencing and updating upstream tarballs, see:
https://conda-forge.org/docs/maintainer/adding_pkgs.html#maintainer-role
https://conda-forge.org/docs/maintainer/updating_pkgs.html#how-does-regro-cf-autotick-bot-create-automatic-version-updates

I agree that automated tagging is not ideal for

[2022-08-15 01:39] maliberty commented on #2153
The only pattern is that we are obliged by contract to have certain releases.   We don't really have formal releases in general and follow @mithro advice to keep everyone at head.

We can add a specific tag for testing but setting up a tag based methodology isn't a good long term strategy.  We don't intend to support those tags if there are problems by anything other than telling someone to move t

[2022-08-15 01:45] maliberty commented on #2153
You can build from a tarball so can you use something like https://github.com/The-OpenROAD-Project/OpenROAD/tarball/4a99e88667b0840531ca0096c4fa0da8f80d6cb1 ?

[2022-08-15 01:45] maliberty commented on #2153
https://conda-forge.org/docs/maintainer/adding_pkgs.html#tarballs-no-repos

[2022-08-15 02:00] proppy commented on #2153
Yep, but as hinted my earlier comment conda-forge (and other packaging system) requires/strongly suggest that those tarballs comes from tagged release.

A few of the reasons could be that:
- intermediate commit are often considered unstable
- releases w/ changelog are the standard way to convey distribution readiness in the wider software community
- automation for bumping version in recipe and ge

[2022-08-15 03:45] Elon-J opened #2154 "About install OpenRoad problem"
When I try to install the OpenRoad into a new Machine, at the step: Build using support script './etc/Build.sh', I meet the problem 'collect2: error: ld returned 1 exit status' as below, How can I solve it? Thanks!
![image](https://user-images.githubusercontent.com/88715865/184573502-74e61b2a-ac61-4f08-9ab2-c7a49b64582a.png)

[2022-08-15 04:56] maliberty commented on #2153
Tagging every commit is not a recipe for stability.  Google explicitly shot down the idea of versioned releases previously when I proposed it.  Please coordinate with @mithro on a unified stance.  I believe we've had this same conversation before...

[2022-08-15 05:45] proppy commented on #2153
Sorry if I gave this impression, but I didn't meant to push for one versioning strategy over the other. Each projects have differents cycles of stability, and it's ultimatly the decision of the project maintainers find a release cycle and versioning strategy that better fit the expectation they want to set for their user base.

I'm mainly interested to find out if there is a desire from the projec

[2022-08-15 12:50] arlpetergadfort commented on #1957
I think this depends on the use case, I don't think watching routing / placement, etc is all that useful, but when calling commands that take a while to complete report_checks, report_power, etc... these do not modify the database and therefore should be safe to use the GUI during their execution.

[2022-08-15 14:52] trepetti commented on #2153
For nixpkgs, I originally packaged it at 2.0 and assumed there would be semver releases, but just recently, it became clear that this style of release had been dropped, so the package now uses the `unstable-yyyy-mm-dd` format. I am hoping to make a bot to take monthly snapshots eventually to automate this depending on CI status. If there is a bug that is fixed in at HEAD but not in the package cac

[2022-08-15 14:55] QuantamHD commented on #2153
Not part of the official team: The two tagged releases were done to satisfy a contract requirement, and did not signal a decision around versioning.

[2022-08-15 16:01] maliberty commented on #1957
The GUI may query sta while it is running which would not be safe even in this case (eg displaying clock nets, power heat map, etc).  Even in that scenario limitations will have to be imposed.

[2022-08-15 16:31] Elon-J commented on #2154
Yeah, I have used it (including: ./etc/DependencyInstaller.sh -run and ./etc/DependencyInstaller.sh -dev); tclsh version is 8.6; OS is CentOS7.

[2022-08-15 16:35] vvbandeira commented on #2154
@Elon-J can you run the following? If there is still an error, please upload the `build.log` file here.
[code]

[2022-08-15 17:48] Elon-J commented on #2154
Yeah, there is still an error; this is the build.log file.

[build.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/9338897/build.log)

[2022-08-16 04:09] proppy commented on #2153
Maybe we could have this as a shared infrastructure that all packagers could leverage?

[2022-08-16 06:22] vijayank88 commented on #2154
@Elon-J
Try these steps:
I am not facing any issues with Centos07 installation
[code]

[2022-08-16 12:31] vvbandeira commented on #2154
Looking at the log and comparing with one from a successful run (also on a Centos7) on the same commit the only difference between our setups are:

[code]

Tough I suspect these difference would not make any difference in compile. However, I also noticed that in your build there are no `.d` files or the `-MD -MF` compile flags -- these flags create the `.d` files which specify dependencies for the

[2022-08-16 14:08] donn opened #2157 "`write_verilog -include_pwr_gnd` not working properly for buffers created by resizer"
Confession: I'm not sure if this is been a long-standing problem we've been working around before or if there's an oversight on my part, but:

* OpenROAD e036ecf
[code]

"Writing powered netlist" is done via `write_verilog -include_pwr_gnd $::env(SAVE_POWERED_NETLIST)`, but the problem is the netlist generated is as follows:

[code]

As you can see, while most cells are okay, these particular cell

[2022-08-16 14:10] donn commented on #2157
Apologies-- I forgot the `make install`. Problem persists on OpenROAD 3342b3666.

[2022-08-16 16:43] maliberty commented on #2157
input1 is already there in the input 11-spm.odb and is not generated by CTS.  They would come from "buffer_ports -inputs" in resizer.tcl

[2022-08-16 16:48] maliberty commented on #2157
Please provide a test case from the correct step

[2022-08-16 17:05] eder-matheus commented on #2089
@antonblanchard Could you check the latest master branch? We've merged an update that should fix your issue.

[2022-08-16 17:09] saicharan0112 commented on #2154
@vvbandeira @Elon-J I think it is something to do with the python version

[2022-08-16 17:13] saicharan0112 commented on #2154
I tried this on a docker container (centos:centos7). I have same Boost version `/usr/local/lib/cmake/Boost-1.76.0/` and same FLEX version `flex 2.5.37` as @Elon-J . But I have the python version same as @vvbandeira `/usr/include/python3.6m/`. I am able to build the binary `OpenROAD v2.0-4634-g3342b36`

[2022-08-16 17:17] saicharan0112 commented on #2154
And something that is notable is the conda package of the openroad.. it uses python3.7 unlike klayout conda package which uses python3.8. Try installing klayout from `conda install -c flaport klayout` after installing openroad package. You will see a message that openroad will be removed because of python version differences.

[2022-08-16 17:32] msaligane commented on #2154
Thanks @saicharan0112 this should work. @Elon-J Please try it.

[2022-08-16 18:00] eder-matheus commented on #1903
@vijayank88 I've checked your test case with the latest OpenROAD version, and it ends with no errors. Can we close this issue?

[2022-08-16 18:12] saicharan0112 commented on #2154
Here is the installation script for OpenFASoC flow which uses the conda installation approach.
https://github.com/idea-fasoc/OpenFASOC/blob/main/Dependencies.sh
Klayout is installed from the .deb or .rpm packages based on the OS

[2022-08-16 18:27] Elon-J commented on #2154
@saicharan0112, Thank you, Sai! Let me try it.

[2022-08-16 22:29] arlpetergadfort commented on #2157
This looks like the new instances are not getting connected to the power rails, a call to global_connect (if set up correctly) would solve that. But we probably need to either ensure the new instances are connected correctly, we provide a mechanism to extract the power/ground connectivity, or the information in global connect is saved to the database so it can get called multiple times after the i

[2022-08-16 22:33] arlpetergadfort commented on #2149
@maliberty since the related issue on OpenLANE was closed, should this one be closed as well?

[2022-08-16 22:37] #2149 closed

[2022-08-16 22:44] maliberty commented on #2157
@arlpetergadfort for the near term we could use the kinda lame isWildConnected/setWildConnected that odb has already.  Once we have UPF this will not be sufficient

[2022-08-17 03:50] maliberty commented on #2157
@ahmadelrouby please consider this in your UPF work

[2022-08-17 06:49] vijayank88 commented on #1903
@eder-matheus
Have you changed anything wrt., `openlane/scripts/openroad`?
Still I am seeing same crash with test case attached

[2022-08-17 07:12] vijayank88 commented on #1903
Considering original design able to pass https://github.com/Univisiontechnocon-com/yifive_a2/tree/master/openlane/syntacore global placement stage now with latest OR.

[2022-08-17 07:12] #1903 closed

[2022-08-17 12:14] proppy opened #2163 "GPL stacktrace with empty design"
It seems that sending an empty design thru OpenROAD flow script:
[code]
makes GPL error out with a stacktrace:
[code]
I realize this is a limit case, but I'm curious if that's the expected behavior.
[global_place_noop_asap7_base_2022-08-17_12-07.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9359367/global_place_noop_asap7_base_2022-08-17_12-07.tar.gz)

[2022-08-17 13:55] maliberty commented on #2163
crashes are never expected

[2022-08-17 18:53] maliberty commented on #2163
I don't know how you generated the packaging of this test case but it is not useable.

Error: read_liberty.tcl, 17 cannot read file ./platforms/asap7/lib/asap7sc7p5t_AO_RVT_FF_nldm_201020.lib.

There is no platforms directory.  I tried linking one and then I get

[ERROR ORD-0007] ./results/asap7/noop/base/3_2_place_iop.odb does not exist.

Please package a useable test case using make issue.

[2022-08-18 02:29] proppy commented on #2163
I had to pass `EXCLUDE_PLATFORM=1 otherwise the `make global_place_issue` fails with:
[code]
should I file a different bug about that?

[2022-08-18 02:48] trepetti commented on #2153
@proppy Most likely it will be Nix-specific but open, yes. For the next several releases, I will do it manual for the next several version bumps, most likely.

[2022-08-18 03:05] proppy commented on #2153
@trepetti I've started setting up something in my fork that run weekly https://github.com/proppy/OpenROAD/tags.
https://github.com/proppy/OpenROAD/blob/sync/.github/workflows/github-actions-cron-release-from-head.yml

Maybe we could run this in a shared project instead w/ some additional QA to vet the upstream tarball before tagging?

[2022-08-18 03:09] proppy commented on #2153
I'd also love it hear from @maliberty (w/ input from @QuantamHD and @mithro) if they think that something like https://en.wikipedia.org/wiki/Rolling_release could be more appropriate releasing strategy for the project, and if yes at which frequency (weekly? monthly? daily?).

[2022-08-18 03:18] vvbandeira commented on #2163
Please do it in the ORFS repo so I can keep track, I will take a look as soon as I am able. Thanks.

[2022-08-18 03:25] proppy commented on #2163
https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/561

[2022-08-18 04:20] maliberty commented on #2153
I'm not clear from the links as to what exactly is requested.  Is a rolling release just whenever the tests pass or something more?  Is  there any expectation of a fix to a rolling release that is not just at the current head?  To the degree that this is all automatic and of minimal impact I am agnostic.

[2022-08-18 04:31] proppy commented on #2153
Yes pretty much, you'd need to decide on two things:
- the cadence of the release (daily, weekly, bi-weekly, monthly?)
- the tests required to validate the release (what's in `test/*`, https://github.com/The-OpenROAD-Project/OpenLane-MPW-CI, more?)

You could explicit set the expection that bugs fixed at HEAD are (by virtue of the process) to be included in "next rolling release".

[2022-08-18 04:58] maliberty commented on #2153
Also OpenROAD-flow-scripts-Nightly-Public and OpenROAD-public.

Is this fully automatable?  If so I don't care what the frequency is.  If not I would pick the longest period possible.

[2022-08-18 05:06] proppy commented on #2153
Yep, I started something at in my fork at https://github.com/proppy/OpenROAD/blob/sync/.github/workflows/github-actions-cron-release-from-head.yml and sync the tree from upstream at a given frequency and cut a new tag if it doesn't already exist for that commit.

I was thinking of proceeding this way:
- [ ] add steps to query the Jenkins status for the current commit being considered for tagging
-

[2022-08-19 12:19] kareefardi commented on #2079
Hey. Sorry I have only seen your reply now. It's was the same version of openroad bundled with OpenLane at the time (I don't which one exactly) Perhaps it is fixed in recent versions. I will test it and let you know

[2022-08-19 17:29] rovinski opened #2173 "Add MacOS to dependency installer"
It looks like we have the steps to install dependencies on MacOS in a GitHub action:

https://github.com/The-OpenROAD-Project/OpenROAD/blob/f0685da2f7304ba8d0871377086486522990485a/.github/workflows/github-actions-macos.yml#L8-L45

Is it possible to move this to [`etc/DependencyInstaller.sh`](https://github.com/The-OpenROAD-Project/OpenROAD/blob/f0685da2f7304ba8d0871377086486522990485a/etc/Depende

[2022-08-19 20:05] vvbandeira commented on #2173
Sound good to me, it would be just the Install lemon (which can probably be reused from the current code in the installer) and the brew dependencies. The exports would be nice to print at the end as an action item for the user to set or add to their bashrc -- I would avoid trying to make the modification as part of the installer.

[2022-08-20 04:31] kareefardi opened #2175 "timing analysis and heirchical blocks"
this isn't a question. it's merely an inquiry about openroad capabilities vs standalone opensta:

suppose that we have block `A`. block `A` has an instance of block `B` and block `B` has an instance of block `C`. so in short `A->B->C`.

in opensta i would read std cell lib/liberty files followed by verilog views of all the blocks. i can also read a spef file of block `C` using `read_spef -path ..`

[2022-08-20 05:00] QuantamHD commented on #2175
OpenSTA works on a kind of interface model. It allows downstream users of its library to replace its internal "database" with its host's "database". In OpenROAD's case this is OpenDB, and its a great system except for the fact that OpenDB doesn't support hierarchy.

Since it's data model is only a thin wrapper around DEF it chooses to flatten everything into a single level, thus your `A -> B -> C`

[2022-08-20 05:05] kareefardi commented on #2175
thanks that's what i was suspecting as well. so for full static timing analysis for designs with multiple levels of hierarchy one should avoid OpenROAD and use OpenSTA?

[2022-08-21 17:58] maliberty commented on #2175
We do have write_liberty which lets you generate a basic timing model for hierarchical rollup.  Otherwise you would use opensta as you describe.

In the future we will support hierarchy in a similar fashion.

[2022-08-22 14:41] donn commented on #2173
*whispers* https://github.com/donn/homebrew-lemon-graph

[2022-08-22 16:10] #2175 closed

[2022-08-22 17:06] gbrown40 opened #2182 "ImportError: libtcl8.5.so: cannot open shared object file: No such file or directory"
When trying to run files that use opendbpy, I get this error:
`Traceback (most recent call last):
  File "src/odb/test/python/08-write_lef_and_def_test.py", line 1, in <module>
    import opendbpy as odb
  File "/usr/local/lib/python3.8/dist-packages/opendbpy/__init__.py", line 1, in <module>
    from ._opendbpy import *
ImportError: libtcl8.5.so: cannot open shared object file: No such file or di

[2022-08-22 17:42] maliberty commented on #2182
Did you build OR youself?  If so, you must have it installed or you couldn't have linked OR in the first place.

[2022-08-22 17:47] luccareinehr opened #2183 "pdngen: is there a way to short the VSS of two voltage domains?"
I have a design from OpenFASOC with two voltage domains (CORE and TEMP_ANALOG), and I'm trying to generate its power delivery network with the new tcl commands. When generating their voltage rings, both ground tracks are completely isolated (i.e. they're not being connected):

![image](https://user-images.githubusercontent.com/75084099/185983346-744d9ded-b5a2-4e4f-bcff-8a0f4de9527c.png)

Preferabl

[2022-08-22 18:38] gbrown40 commented on #2182
I have built OR successfully both by hand and with the support script.

[2022-08-22 18:44] rovinski commented on #2173
@donn Any plans to upstream? :)

[2022-08-22 18:45] maliberty commented on #2182
Then your LD_LIBRARY_PATH needs to point to the location of your tcl library.

[2022-08-22 18:50] gbrown40 commented on #2182
I don't think the tcl library is installed. At least I cannot find it in `/usr/local/lib` or anywhere else.

[2022-08-22 18:51] maliberty commented on #2182
You couldn't have built OR if it wasn't installed.  When you run cmake do you see a line like:

-- TCL library: /usr/lib64/libtcl.so

[2022-08-22 19:11] gbrown40 commented on #2182
Found it. I added it to the path, but am still getting the same error. I think because the version of libtcl installed when building is 3.6.

[2022-08-22 20:15] maliberty commented on #2182
The cmake line above should tell you which one is being picked up.  You can also use ldd on the executable to see what it is expecting.

[2022-08-22 21:24] gbrown40 commented on #2182
When running cmake, it lists TCL library: /usr/lib/x86_64-linux-gnu/libtcl.so, but looking in /usr/lib/x86_64-linux-gn it lists libtcl.so and libtcl8.6.so. Running ldd and the executable shows "libtcl8.5.so => not found".

[2022-08-22 21:35] maliberty commented on #2182
When it links openroad you can see the -L and -l it uses for tcl.  What do you see?

[2022-08-22 21:49] gbrown40 commented on #2182
I don't see -L or -l anywhere in the link process.

[2022-08-22 22:05] maliberty commented on #2182
Do you see a line with "-o openroad"?  That is the link line, look for a mention of *libtcl*

[2022-08-22 23:04] gbrown40 commented on #2182
It lists /usr/lib/x86_64-linux-gnu/libtcl.so

[2022-08-22 23:07] maliberty commented on #2182
Are you running ldd on the same binary?  That's what it is linked with...

[2022-08-22 23:24] gbrown40 commented on #2182
Running ldd for the openroad executable shows `libtcl8.6.so => /usr/lib/x86_64-linux-gnu/libtcl8.6.so`. The issue is with opendbpy which appears to want libtcl8.5.so

[2022-08-22 23:30] maliberty commented on #2182
What commit of OR are you using?

[2022-08-22 23:49] vvbandeira commented on #2182
[code]
@gbrown40 did you install `opendbpy` with `pip install` or similar? This looks to be getting a system version of `opendbpy` not the version you built from the OR source code.

[2022-08-23 01:23] antonblanchard opened #2187 "ant: OpenROAD and magic disagree on antenna violations"
Using the following test case OpenROAD reports no antenna violations, but magic reports some quite large ones. An example:

[code]

I'm not sure if OpenROAD or magic is wrong.

Test case: [antenna.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9398600/antenna.tar.gz)

[2022-08-23 01:48] maliberty commented on #2187
Anton noticed a drop in antenna violations with your recent changes. Please investigate

[2022-08-23 02:53] antonblanchard commented on #2187
I don't see any `THICKNESS` properties in the TLEF file. Could be a bug in open_pdks. Investigating.

[2022-08-23 03:38] maliberty commented on #2187
They are there in sky130A.

[2022-08-23 04:04] monibahmed opened #2189 "OpenROAD GPU Compile"
Hi,

Is there a recommended way to compile for GPU? CMake doesn't seem to find the correct libraries/executables

**Commands Used**
sudo ./etc/DependencyInstaller.sh -runtime; \
sudo ./etc/DependencyInstaller.sh -development; \
./etc/Build.sh `-cmake="-DGPU=true

**Output**
[code]

I've tried following this:
https://cliutils.gitlab.io/modern-cmake/chapters/packages/CUDA.html

But more issues pop u

[2022-08-23 04:07] maliberty commented on #2189
The GPU code is quite new and probably not worth the bother at this point.  If you want to persist then you need to install CUDA on your machine which is not handled through the dependency installer.

[2022-08-23 04:17] antonblanchard commented on #2187
Recent shuttles are using sky130B, and that's where the issue is:

https://github.com/RTimothyEdwards/open_pdks/pull/272

[2022-08-23 04:18] QuantamHD commented on #2189
You can install cuda from Nvidia's website. https://developer.nvidia.com/cuda-downloads

[2022-08-23 09:00] ramezmoussa commented on #2187
@maliberty is there a defualt `THICKNESS` that should be used in cases like this? The current implementation uses 0 for the thickness and I can confirm that this is why no violations were reported. I experimented with various values for the `THICKNESS` and multiple violations arose.

[2022-08-23 09:53] antonblanchard commented on #2187
Since this was a problem in the LEF file, one option might be to just return an error. A default value could mask the issue.

[2022-08-23 12:04] antonblanchard commented on #2187
After fixing the tech LEF `THICKNESS` issues, I still see some rather large differences. In this example magic calculates the antenna violation to be about twice as much as OpenROAD:

[code]

[code]

@rtimothyedwards I think there may be an error in how magic calculates antenna violations, at least if we want to match
the tech LEF. The antenna rule is:

[code]

Which I think means we just sum up t

[2022-08-23 12:56] RTimothyEdwards commented on #2187
The magic technology file specifies the antenna calculation method as "partial", which is supposed to check only the layer under investigation and not all layers below it (which is method "cumulative").  Your result suggests that the method type in the tech file is not being handled correctly, perhaps.

[2022-08-23 14:47] arlpetergadfort commented on #2183
@maliberty @luccareinehr looking at it, it appears there is no way to connect the two (that would be an oversight).
There are two things here:
1. need be able to connect two two grids (I think I know how to handle that)
2. At present, PDNGEN will not put straps into other grids, so for how we would need to move the met5 part of the ring down to met3 until that is fixed. This I think would require

[2022-08-23 15:25] maliberty commented on #2187
@ramezmoussa let's make it an error to not have THICKNESS specified as otherwise the analysis is meaningless.

[2022-08-23 20:16] onurtoker opened #2192 "Segmentation violation: test/regression flow"
Segmentation error encountered when running test/regression flow
------------------------------------------------------
Flow
gcd_nangate45 pass
gcd_sky130hd pass
gcd_sky130hs pass
ibex_sky130hd pass
ibex_sky130hs pass
aes_nangate45 pass
aes_sky130hd pass
aes_sky130hs pass
tinyRocket_nangate45 pass
jpeg_sky130hs *ERROR* segmentation violation
jpeg_sky130hd *FAIL* GRT::ANT::errors 336 > 330
--------

[2022-08-23 21:08] luccareinehr commented on #2183
@arlpetergadfort Can you explain how to connect the two grids?

By the way, thanks for the help

[2022-08-23 21:36] maliberty commented on #2192
With what commit id?  On what platform?  This passes in our CI runs.

[2022-08-23 23:58] arlpetergadfort commented on #2183
@luccareinehr I initially thought I would need to modify the code.

If I use the script below I can connect VSS between the two grids. The key here (and this could be a future improvement for PDNGEN) is to move the top layer of the ANALOG_TEMP grid to met4, so the CORE grid can place straps on met5 over that area. The second item needed is to tell the ANALOG_TEMP grip to connect from met4 to met5.

[2022-08-24 17:38] donn commented on #2173
What, and deal with Homebrew's arcane requirements for package notability? Nah, I'm good.

[2022-08-24 18:01] donn commented on #2157
Updated the issue in question- sorry it took me so long

[2022-08-24 19:48] rovinski commented on #2173
It looks like most requirements for upstream are manageable except for ["be maintained (i.e. the last release wasn’t ages ago"](https://docs.brew.sh/Acceptable-Formulae) which we have no control over. Maybe someday someone can make an effort (there are still things being committed on the dev branch?)

@maliberty can we fork @donn's repo and use it during the build process?

[2022-08-24 20:05] QuantamHD commented on #2189
@monibahmed Any luck getting it to work? Would love to have another user of this feature.

[2022-08-25 15:37] QuantamHD opened #2202 "Clock Mesh Extension of CTS/PDN"
@arlpetergadfort Came across this [slide deck](https://people.ece.ubc.ca/ameer/publications/Abdelhadi-Talk-2010May-GLSVLSI2010-ClockMeshSynthesis.pdf) on the creation of Clock Meshes. Seems like it makes CTS much easier at the cost of higher power.

Do you think you and I could extend PDN to generate the clock mesh, and then we could hook up the CTS to this new clock distribution network?

[2022-08-25 15:51] maliberty commented on #2202
It also takes up more routing resource but is a valid strategy for some cases.  There is a bunch of ongoing enhancement to the current CTS but I'm open to having further contributions so long as we coordinate to avoid collisions.  We are far from optimal in our current approach and I think a lot of benefit will be realized with the current work.

[2022-08-25 15:53] mithro commented on #2202
@QuantamHD - @mkkassem used a clock mesh on the metal layer to fix the hold issues on the ChipIgnite-1 silicon.

[2022-08-25 15:54] mithro commented on #2202
@mguthaus from OpenRAM also had a poster on clock meshes on his wall when I last visited.

[2022-08-25 15:58] maliberty commented on #2202
I believe it was more of adding ad-hoc crosslinks in the clock tree rather than a true mesh.

[2022-08-25 17:03] maliberty commented on #2202
Note that delay calculation for meshes is much harder due to the multiple drivers and is not currently supported in sta.  With CCS it would become possible.

[2022-08-25 17:10] mithro commented on #2202
@maliberty - I believe @mkkassem just did spice simulation of the clocks for STA analysis?

[2022-08-25 17:12] maliberty commented on #2202
@mithro yes but you need to build a flow to back annotate those results into sta so you can do optimization/signoff.  That is the pre-CCS methodology.  If we want to make this generally available someone will need to automate that.

[2022-08-25 17:14] QuantamHD commented on #2202
I assumed we could link in ngspice to do that for us.

[2022-08-25 17:17] mithro commented on #2202
@maliberty - Is there a potential way to create a generic way to send things to a spice simulator and pull the timing information back into OpenROAD (even if extremely slow)?

[2022-08-25 17:20] mithro commented on #2202
Is there some relationship with BigSpicy? https://github.com/google/bigspicy

[2022-08-25 19:23] gbrown40 commented on #2182
@vvbandeira I used pip to install opendbpy

[2022-08-25 19:25] gbrown40 commented on #2182
@maliberty I currently have commit 49fdec96d3cefaa9e5c3b39b6dd1e33bcc7f0d24 from August 3.

[2022-08-25 22:57] arlpetergadfort commented on #2202
@QuantamHD I see why you would want to use PDN for this, but I think it would be better to augment CTS to be able to build the grid itself and we can work to expose the DRC checking in PDN to be able to build vias and the grid correctly?

[2022-08-25 23:13] maliberty commented on #2202
Perhaps there is some code that could be an odb utility which both could share

[2022-08-26 14:09] tspyrou commented on #2202
@mithro I think that for a flow like this to work there would have to be a layer on top of the circuit simulator which sets up stage based runs. If the mesh is levelized from inputs to register leafs, each level can be run in parallel and in order with level 2 using slew waveforms from level one etc. From there an SDF can be generated which is fed into STA. This is a well known approach to clock m

[2022-08-26 15:09] luccareinehr commented on #2183
@arlpetergadfort That gives a nice result, thank you!

May I ask why pdngen works this way? Does it check for intercepting geometries of the same layer when connecting straps to a ring? So, for example, if a ring and a strap are both made of met4, they wouldn't get connected (like was happening in the original case)

[2022-08-26 17:11] arlpetergadfort commented on #2183
the macro grids generate a keepout area around them which is what prevents the met5 strap if you have the ring in met5. Otherwise, yes, it connects on the overlapping shapes based on the connect layers defined.

[2022-08-26 17:13] #2183 closed

[2022-08-26 21:38] antonblanchard commented on #2187
I think we can close this now:
- The PDK issue (missing `THICKNESS`) has now been fixed
- OpenROAD now errors out when `THICKNESS` is missing or zero
- Magic has been fixed to closer match the OpenROAD antenna checker results

[2022-08-26 21:38] #2187 closed

[2022-08-26 23:58] antonblanchard opened #2207 "Issues with antenna repair on nets with large violations"
Antenna repair wants to insert large numbers of antenna diodes on some of the nets in Microwatt. The issue is at its worst when large met4 wires feed a minimum size gate (eg a 1x strength sky130hd cell)

An example is net `_024410_`:

![met4_antenna_violation](https://user-images.githubusercontent.com/2029971/187002032-6030d435-1bf2-49a4-af5a-6bd5500ad651.png)

Antenna repair wants to insert 46 di

[2022-08-27 22:28] luccareinehr opened #2209 "(feature request) make router connect stdcells to power rings"
In a mixed-signal design from OpenFASoC with two voltage domains (VDD and VIN), I have some cells placed in a VDD grid that must also connect to the other domain's net (VIN). However, when running `global_route` and `detailed_route`, there's no route from these cells to the VIN voltage domain ring (generated via pdngen).

The two voltage domains:
![image](https://user-images.githubusercontent.com/

[2022-08-27 22:31] luccareinehr commented on #2209
I've noticed the routing to VIN works when using an older `pdn.cfg` for this design (deprecated in pdngen).

However, when using the newer `pdn.tcl` we wrote (like in the images above), it doesn't.

Here are these files, if need be:
[pdngen_files_case_routing.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9438787/pdngen_files_case_routing.tar.gz)

[2022-08-27 23:42] luccareinehr opened #2210 "tapcell: tap placement doesn't account for already placed stdcells, resulting in overlaps"
When running `tapcell` in a design that already has manually placed instances of stdcells, the tap cells simply ignore these instances, sometimes being placed on top of a std cell, which results in overlaps (and fails the `check_placement` command).

Take this design, for example:
![image](https://user-images.githubusercontent.com/75084099/187051421-1d694978-1ada-4aac-80a1-ce24578e382f.png)

Runni

[2022-08-28 01:06] QuantamHD commented on #2210
This is just not implemented in tapcell. I don't think it has any concept of blockages.

[2022-08-28 02:17] maliberty commented on #2210
Does the cell you are placing contain a tapcell?  If not how will you avoid a well tap violation even if he tap is placed on either side?

[2022-08-28 03:58] maliberty commented on #2157
What do you mean by this?  Does the link now point at a different reproducer?

[2022-08-28 04:07] maliberty commented on #2209
Power nets are not routed by the signal routers (grt/drt).  pdn doesn't create tracks.  The description of this problem is very confusing.

[2022-08-28 04:13] maliberty commented on #2209
This looks like the enhancement request for sroute that I keep asking for a spec for.  Nothing will happen until this project has been properly defined.  @msaligane

[2022-08-28 04:20] msaligane commented on #2209
I have no bandwidth and I am not great at writing specs.

@luccareinehr can you work on that with @maliberty .

[2022-08-28 08:06] Syndace opened #2213 "pdngen: don't generate stdcell power stripes below macro"
Our design uses a macro that is not made of standard cells and does not need/clashes with the stdcell power stripes that are generated on m1. How do I tell pdngen to not generate m1 stdcell power stripes below those macro instances?

[2022-08-28 16:08] kareefardi commented on #2079
![screenshot](https://user-images.githubusercontent.com/12303699/187083464-53f60960-2ee5-4ab7-9d03-05b9f2d4ffd2.png)
I am still getting a met4 short at the top left corner of the macro. OpenROAD version is `4a99e88667b0840531ca0096c4fa0da8f80d6cb1` I am not getting the same results for met5 in the screenshot in the first post. It is a little bit further to the left as shown below
![Screenshot from

[2022-08-28 16:11] kareefardi commented on #2079
The version that I tried is the one bundled with openlane and it looks like it's about two weeks old. were there any fixes done to pdngen in that period ?

[2022-08-28 16:21] kareefardi opened #2214 "extract_parasitics crash"
openroad is crashing when running `extract_parasitics` it starts with a bunch of these messages:
[code]
followed by this stack trace:
[code]
I understand that the def file might be malformed. If that is the case, a better error message without a crash would be much more helpful. Attached is a def, a lef and the extraction rules file used. openroad version used is `4a99e88667b0840531ca0096c4fa0da8f

[2022-08-28 18:59] maliberty commented on #2079
Yes, please try with the latest

[2022-08-28 19:00] maliberty commented on #2213
Do you have a blockages on m1 in your macro?

[2022-08-28 19:28] donn commented on #2157
There's a dropbox link in the submission for the new reproducer.

[2022-08-28 19:33] Syndace commented on #2213
I believe so, the lef contains

[code]

(where `width` and `height` are numbers that match the `SIZE` declaration). Should that be enough to have pdngen avoid the area?

[2022-08-28 21:30] maliberty commented on #2213
It sounds like it.  Can you provide a test case?

[2022-08-29 05:35] Syndace commented on #2213
I wish I could provide some reproducible state, I'm ashamed to bother you with such low quality issues, but I'm not allowed to share anything.

Anyway, the information that it should probably work is already helpful, because that's not the only "weird" issue we have with that macro. I'll ask the source of the macro to double-check their stuff.

For now, is there a manual way to add a blockage befo

[2022-08-29 05:48] rovinski commented on #2213
Can you also check if the cell sites under the macro are being removed? PDN shouldn't generate M1 rails for areas without cell sites. They are usually removed during the tapcell insertion step.

If there are M1 blockages in the macro, then it shouldn't be an issue with the blockage. Can you confirm that you are placing the macro before running PDN?

[2022-08-29 05:58] Syndace commented on #2213
How do I check? Sorry, I'm inexperienced.

That's interesting, because the PDK we use doesn't have tapcells, so the tap/decap insertion step is skipped. Could it be that the site removal is accidentally skipped too?

Yes, the macro is definitely placed before PDN generation.

[2022-08-29 06:36] rovinski commented on #2213
Start the OpenROAD GUI (`openroad -gui`), turn on the visibility for "Rows", and see if there are cell rows present under the macro. You would want to turn off visibility for just about everything else so that you can see.

Which flow are you using? OpenROAD-flow-scripts? OpenLane? Custom scripts?

[2022-08-29 07:16] Syndace commented on #2213
Thanks. The rows continue under the macro uninterrupted.

We are using OpenLane.

[2022-08-29 07:45] rovinski commented on #2213
According to the PDN README, this is a known limitation:

https://github.com/The-OpenROAD-Project/OpenROAD/blob/96e57b5b48bfd6ef6874637f2ba2d27edbff026d/src/pdn/README.md?plain=1#L459-L465

The `tapcell` command calls `odb::cutRows()` in order to remove cell rows underneath macros.
https://github.com/The-OpenROAD-Project/OpenROAD/blob/0c5910df6bfc6e6ef987d836c17c2d75688aba99/src/tap/src/tapcell.cp

[2022-08-29 09:44] luccareinehr commented on #2209
@maliberty Sorry for the confusing description. What I meant was: there's a cell that should connect to a voltage domain it is not in (VIN), but the routing doesn't get generated.

There's a workaround for this where a second VIN net is created exactly in the same place as the original, but with a SIGNAL type (instead of POWER), and this new net gets connected to the cells in the other voltage dom

[2022-08-29 09:44] luccareinehr commented on #2209
@msaligane mentioned requesting the addition of a point-to-point router to OpenROAD, is this the enhancement request Matt mentions in his comment?

[2022-08-29 09:45] kareefardi commented on #2079
Still getting met4 shorts at the north side of the macro.
![Screenshot from 2022-08-29 11-38-01](https://user-images.githubusercontent.com/12303699/187173639-6038f61b-38a4-46a4-8c0a-da58ab798264.png)

[2022-08-29 12:50] arlpetergadfort commented on #2213
I think it would be very useful to expose the cutRows command to the tcl interface since I've had to cut rows before without wanting to add the tap cells at that time.  maybe something like `cut_rows -halo_x -halo_y`

[2022-08-29 12:59] eder-matheus commented on #2210
The tapcell tool assumes that the global placement will run after it. The tapcells have a specific spacing that needs to be respected, so they're placed as fixed instances. During the global and detailed placement, the std cells can be moved to avoid overlaps with the tapcells. That's why the tapcell tool is not looking for std cell blockages.

[2022-08-29 13:36] maliberty commented on #2213
How are your wells tied off in this PDK without any tapcells?

@arlpetergadfort I'm fine with exposing cut_rows but I think it should refuse to cut anything containing a tapcell/endcap to prevent misuse.

[2022-08-29 13:44] Syndace commented on #2213
I'll quote [this](https://teamvlsi.com/2020/08/well-tap-cell-in-asic-design.html), because I struggle to formulate it myself:

Guess the PDK we use is "old-school".

[2022-08-29 13:48] kareefardi commented on #2079
It is needed in order to have met4 vertical stripes at the top level enter the macro and connect with the macro on met5 in the rings. Unless that changed, this is currently the only way I know that can connect top level stripes with a macro ring in which both the macro and the top level are using all the metal layers

[2022-08-29 13:51] arlpetergadfort commented on #2079
It's the cause of the shorts. I've added a guard against that, but I'm not sure if this will break what you intend to do.
It seems like you are hacking your way around a limitation and a better solution would be to figure out what is missing and add that into PDNGEN.

[2022-08-29 14:10] kareefardi commented on #2079
We have always used a negative halo and currently some designs rely on that. It used to be that PDNGEN wouldn't attempt to connect to any metal layer in a given macro if that layer has any obstructions in the macro, that don't necessarily interfere with the macro power pins. Hence, negative halo was used to force PDNGEN to enter a macro. However I believe that is not the case anymore. Is that corr

[2022-08-29 14:19] kareefardi commented on #2079
This is the general form of the problem. The usual pattern is the need to connect to a macros ring with both the top level and the macro utilizing all metal layers. and hence the top level pdn stripes would be blocked from entering the macro at all

[2022-08-29 14:21] arlpetergadfort commented on #2079
At the moment, the halo is getting incorrectly applied to obstructions and pins and that is the problem. If your setup works for you, then it works, there is no reason a negative halo is a problem (except that the application to pins and obs is currently wrong and will be fixed). I feel like there should be a better solution, but that can be a different issue.

[2022-08-29 15:27] kareefardi commented on #2079
Ok so if I understand correctly negative halo was not applied correctly. This will be fixed (or already is fixed now). Negative halo by itself is still a valid parameter for PDNGEN. Is my understanding correct ?

[2022-08-29 15:29] arlpetergadfort commented on #2079
Yes, negative was applied incorrectly, the fix has been merged to OpenROAD (https://github.com/The-OpenROAD-Project/OpenROAD/commit/cb3acc68084046d5b343da32c7d3ea16a6e82db9) please try the head of OR. When I run yours, it appears to work, but you will know if connections are happening correctly.

[2022-08-29 15:29] maliberty commented on #2213
Very old school.   We can add a row cutting command but as a workaround you could run tapcell with a small cell just to get the rows cut.  You could either leave those "tapcells" or just delete them afterwards.

[2022-08-29 15:32] maliberty commented on #2214
I don't think it is your problem but I noticed this ugly connection in housekeeping/mgmt_gpio_in[19]
![image](https://user-images.githubusercontent.com/761514/187238218-bbbe181f-b42f-49f4-813d-67e12a4253b9.png)

[2022-08-29 15:47] maliberty commented on #2214
How was the routing generated?   I see some odd shapes on met2 as well:
![image](https://user-images.githubusercontent.com/761514/187241276-2d6af4b9-63a9-4c60-8482-51272a983631.png)

[2022-08-29 16:18] kareefardi commented on #2214
This routing was done using very old version of openROAD. However, the def isn't directly generated by openROAD. It is output of magic from a gds.

[2022-08-29 17:13] Syndace commented on #2213
Thanks, I've specified a filler cell as the tapcell and it works beautifully.

[2022-08-29 17:50] luccareinehr commented on #2209
@maliberty Indeed, I'll reserve time to talk to mehdi and give you a proper spec.

As for this issue, yes it could be solved with a p2p router, but I don't think that's the best solution. Afaik, OpenROAD is intended to be a no-human-in-the-loop flow, but in its current state, if there are multiple voltage domains in a design and a cell which has connections to more than one of them (and is not a l

[2022-08-29 18:17] rovinski commented on #2209
From my understanding, OpenROAD is intended to be no-human-in-the-loop for digital designs. It's a lofty goal that still has a lot of work to be done.

For clarity, what you are describing is a special net router and is not typically used in digital flows. The use case for this would be for non-digital signals, as in your case. So as @maliberty said, it's not currently supported and would have to

[2022-08-29 18:26] luccareinehr commented on #2209
@rovinski Thank you for the clarification!

@maliberty should I close this issue?

[2022-08-29 19:06] QuantamHD commented on #2209
You can rename this issue to ask for the for feature.

[2022-08-30 04:02] stefanottili opened #2220 "compile error in spdlog 1.10.0 on M1 MacBook Air"
Hi Folks,

I've been successfully compiling/running openroad on a M1 MacBook Air using brew for the dependencies for a while now.
A recent "brew update" seems to have broken the compile with spdlog: 1.10.0

`[INFO FLW-0018] Compiling OpenROAD.
-- OpenROAD version: v2.0-4818-g4174c3ad8
-- System name: Darwin
-- Compiler: AppleClang 13.1.6.13160021
-- Build type: RELEASE
-- Install prefix: /Users/us

[2022-08-30 04:33] rovinski commented on #2220
See #2097. I'm not exactly sure what the fix is, but the discussion there will probably help.

[2022-08-30 07:12] rovinski commented on #2173
@vvbandeira can you elaborate on how your MacOS build is set up? I tried manually installing but I run into issues related to #2097

The latest `spdlog` available from homebrew is `1.10.0_1` and `fmt` is `9.1.0`. I have the following combinations of spdlog and fmt, and none of them worked:

| `spdlog`    |  `fmt`  |
|------------|--------|
| `1.10.0_1` | `9.1.0` |
| `1.10.0_1` | `8.1.1` |
| `1.9.2

[2022-08-30 07:14] donn commented on #2173
+1 - I thought this was just me. I also had trouble compiling OpenROAD for Mac recently but I assumed something was on my side because the CI worked and so I gave up.

[2022-08-30 13:44] maliberty commented on #2220
@vvbandeira how is this setup on our mac CI?

[2022-08-30 13:46] maliberty commented on #2220
Very similar to #2173

[2022-08-30 13:50] maliberty commented on #2221
@donn  the OL relevant piece is "OL should also drop checking max fanout at the end of the flow as I've also suggested."

[2022-08-30 13:52] vvbandeira commented on #2173
Below is our working setup. On my machine, I installed the dependencies when they worked and never updated them by using `brew pin`. Eder recently broke his setup with a `brew upgrade` and reported that he was able to get the correct versions following this: https://remarkablemark.org/blog/2017/02/03/install-brew-package-version/

[code]

[2022-08-30 13:55] vvbandeira commented on #2220
Just posted here: https://github.com/The-OpenROAD-Project/OpenROAD/issues/2173#issuecomment-1231700671
TL;DR; we installed a version that worked a while back and did a `brew pin` to avoid upgrading and breaking things.

[2022-08-30 13:58] vvbandeira commented on #2173
@eder-matheus can you confirm that the versions above are the same you installed? If not, please provide the version combination that worked for you. Thanks

[2022-08-30 14:45] eder-matheus commented on #2173
@vvbandeira I have the same fmt version, but a slightly different spdlog version. Check below:
[code]

[2022-08-30 17:15] maliberty commented on #2214
In housekeeping/mgmt_gpio_in[19] I see multiple overlapping segs:
[code]
this triggers a bug in some of the most horrible code that is very hard to fix.  While the tool shouldn't crash it will take a lot of effort to resolve this.  I suggest you generate an updated routing that is more well formed in the short term.

[2022-08-30 17:45] Syndace opened #2222 "pdngen (I think): vias between power rings don't respect via spacing rule for arrays (ADJACENTCUTS) in tech LEF"
Hi,

our tech LEF has two rules for spacing of vias: a general one and one for spacing in arrays. This is (roughly) what the relevant entries look like:

[code]

We are generating rather large power rings that are connected with via arrays of more than 10x10 vias, and the vias are spaced with 0.25, when they should be spaced with 0.35 according to the second rule.

[2022-08-30 18:27] #2210 closed

[2022-08-30 18:27] luccareinehr commented on #2210
Yes, this stdcell has tap cells in it, but I understand it. Thank you all for the feedback

[2022-08-30 19:11] rovinski commented on #2173
I have already tried both of those combinations and they didn't work.

What compiler versions are you using? I have `AppleClang 13.1.6.13160021`

[2022-08-30 19:28] rovinski commented on #2173
Also @vvbandeira why is your `spdlog` version `1.10.0` but it is installed at `/opt/homebrew/Cellar/spdlog/1.9.2`?

[2022-08-30 19:47] eder-matheus commented on #2173
@rovinski  Here's my clang version:
[code]

[2022-08-30 20:36] rovinski commented on #2173
Mine is the same as yours (except as part of Xcode). I have tried simply installing spdlog from source and that doesn't work either.
I've compared build logs from my failing build and the passing CI and I can't find any differences in environment...

[2022-08-30 22:35] #2214 closed

[2022-08-31 07:17] donn commented on #2157
Just wanna mention- I'm blocked on this for the ODB migration

[2022-08-31 10:40] Syndace commented on #2222
I just realized that the documentation states that VIARULES are used for the array generation. Those are present in the technology LEF too:

[code]

[2022-08-31 12:35] arlpetergadfort commented on #2222
I suspect you are correct. Would you be able to put together a testcase for us?

[2022-08-31 13:28] arlpetergadfort commented on #2222
@maliberty does ODB store the second spacing? It does not appear to do so (atleast from my looking around)

[2022-08-31 15:03] maliberty commented on #2157
I'll give it some attention

[2022-08-31 17:18] maliberty commented on #2157
Never mind about the global_connect, it only applies if you use -defer

[2022-08-31 18:00] maliberty commented on #2222
@arlpetergadfort they are there in the horribly named getV54SpacingRules().  I'm going fix  up that API so it is reachable from TCL

[2022-08-31 18:50] maliberty commented on #2209
The cell is connecting to a power ring not another cell.  That is not the normal multi-power domain P&R use model.  Even in proprietary tools this is a completely separate router because it is a totally different requirement from signal net routing.

[2022-08-31 19:28] QuantamHD commented on #2209
@luccareinehr Could you potentially locate these cells in a third voltage domain and then connect the vin from temperature sensor block?

Beyond the routing issue I'm a little bit confused about how the pdn in the logic is isolated from the Vin of the tempature block if you connect them together. Is there something I'm missing?

[2022-08-31 19:33] rovinski commented on #2209
Some comments on this feature:

I've actually done this before in a taped-out chip when connecting an on-chip voltage regulator to the power rails of the regulated domain. So basically the same use case, but our regulator was a block, not a standard cell.

It becomes a very tricky problem because the main concern is not about DRVs or timing, but the IR drop across/peak current through the routing.

[2022-08-31 19:44] QuantamHD commented on #2209
@rovinski Could we make a small change to the router to have it replicate connections for power purposes as quick hack? So in @luccareinehr's case we would create N duplicate nets to route to the power ring/grid. That's obviously not optimal, but would at least give designers a lever to be more or less conservative.

We could eventually run IR drop analysis and increase N until we were happy in fu

[2022-08-31 20:00] QuantamHD commented on #2220
New versions of fmtlib are very picky about user defined types. In this case it's unhappy that DST is trying to print a boost IP address

src/dst/src/LoadBalancer.cc
[code]

worker.ip is a boost::ip::address which is why it's complaining. This needs to be converted to a string before adding it to the logger.

[2022-08-31 22:48] arlpetergadfort commented on #2209
In this case, what is VIN supposed to be used for? Is this for a ring oscillator to modulate it's speed? How is VIN generated?
I'm just wondering.

[2022-09-01 05:35] rovinski commented on #2209
@QuantamHD The best first strategy would be to use a single connection with non default width (non-default routing / NDR). This strategy is still limited by the pin size on the block / cell which is generating the signal (i.e. if the pin is small, there is a practical limitation on how wide the metal route can be).

Creating multiple connections is only necessary if the net resistance requirements

[2022-09-01 07:20] Syndace commented on #2222
wow, that was blazingly fast, thank you! What's the best way for me to test this within OpenLane? Do I compile OpenROAD outside and then move the binary into the container?

[2022-09-01 07:41] SkanderMarsit opened #2231 "Placement results orientation is always the same"
Hi,

I'm trying to perform placement optimization with the global_place and detailed_place function. But I'm seeing that the result has always all the components placed north.
I'm trying to figure out what to change in order to allow for all possible orientations.

I thought it could be the SITE and ROW configuration.  I could be totally wrong.

The site config is :
SITE FreePDK45_38x28_10R_NP_162

[2022-09-01 07:57] Syndace opened #2232 "routing: creates islands on metal2 that are smaller than required by tech LEF"
Hi,

there seems to be a specific scenario in which the AREA requirement in the tech LEF for Metal2 is not met. Our technology LEF has

[code]

This minimum area requirement seems to be respected, except in the following scenario: when a wire has to be via'd from Metal1 to Metal3, a Via1 is generated, a small island on Metal2, and a Via2. In this case, we sometimes see Metal2 islands that are a li

[2022-09-01 09:01] luccareinehr commented on #2209
@QuantamHD Despite how the pdn looks in the images, only the VSS of both voltage domains are shorted!

@arlpetergadfort Yes that's it, VIN modulates a ring oscillator. It is generated from a voltage drop in VDD after a couple of transistors in subthreshold regime, upon temperature variation (the design in question is a temperature sensor)

[2022-09-01 10:53] vijayank88 commented on #2231
@SkanderMarsit
Can you please attach the reproducible test case?

[2022-09-01 11:28] stevvik opened #2233 "report_design_area_metrics TCL command in GUI"
Hi!
I found, that in GUI 'report_design_area_metrics' command is proposed in autocompletion list, but it does  nothing.
However, 'report_design_area' command works (according to the documentation). But it is absent in autocompletion command list.

[2022-09-01 12:36] vijayank88 commented on #2231
Have you tried design with this stable flow: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/scripts/global_place.tcl ?

[2022-09-01 12:45] arlpetergadfort commented on #2222
@Syndace I don't use OpenLane so I don't know. Maybe @maliberty or @donn can help with that.

[2022-09-01 12:56] vijayank88 commented on #2231
With your inputs getting following log:
[code]
Is similar to #1069 ?

[2022-09-01 13:24] maliberty commented on #2232
This is a common scenario and the router creates patch metal to meet min area.  You can see the same in sky130hd.

@tspyrou can arrange support under NDA if required.

[2022-09-01 13:27] maliberty commented on #2233
report_design_area_metrics is intended for storing into the metrics file not generating user output.  I'll fix the issue that report_design_area is not part of autocomplete.

[2022-09-01 15:37] maliberty commented on #2231
The instance orientation will match the row orientation and all of yours are N.  How did you generate the rows?

[2022-09-01 15:44] maliberty commented on #2222
You'll need to update the commit id in dependencies/tool_metadata.yml and then update the tools by using the steps in https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docker/README.md

[2022-09-01 15:49] maliberty commented on #2233
It doesn't actually write the file but just stores the value in an internal db for collection with other metrics.  Its not a command people will generally use interactively.

[2022-09-01 16:52] #2233 closed

[2022-09-01 16:59] maliberty opened #2236 "unexpect path found by sta"
This test case produces a path begining:
[code]
however there is no set_input_delay on driver_sel[1] so no path is expected.  @tspyrou confirms that there is no expected default inpupt delay.

[bug.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9471872/bug.tar.gz)

[From a slack discussion with user tnt]

[2022-09-01 17:00] maliberty commented on #2236
The user has worked around this with a set_false_path but was confused by its presence.  It is an async input.

[2022-09-01 17:47] Syndace commented on #2232
I'm sorry, I don't quite get what you're trying to say here. The router does not seem to create patch metal to meet the minimum area (correctly), since there are islands below minimum area in the final output GDS.

[2022-09-01 17:53] maliberty commented on #2232
I saying this is already a feature of the router not an enhancement.  If it doesn't work in your case it is something unusual that I can't address without seeing the data.

[2022-09-01 22:24] jjcherry56 commented on #2236
There is  no requirement that input have a set_input_delay to report a path from the input.
The reported external delay is 0.0 because there is no set_input_delay.
This is not a bug, it is the intended behavior.

[2022-09-01 22:24] #2236 closed

[2022-09-02 07:05] vijayank88 commented on #2231
after detailed placement:
![OR_2231](https://user-images.githubusercontent.com/85787913/188078414-9e064cee-e485-44f8-a992-39bc4ecce4df.png)

[2022-09-02 09:26] SkanderMarsit commented on #2231
Thank you @maliberty very much. I generate the rows manually. I'm actually performing a conversion from one file forrmat to LEF/DEF in order to perform the RePlace Automatic placement.
Then, If I understand correctly, I should review define rows for every orientation, (4 of them) or should I only define the N and FS.

Thank you @vijayank88 as well, that's how it turns out to look like, mine is a b

[2022-09-02 10:11] vijayank88 commented on #2231
@SkanderMarsit
Refer this document: https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/mpl/README.md#commands
Use `-halo` and `-channel` switch for spacing

[2022-09-02 15:56] maliberty commented on #2231
Only two orientations after normally used

[2022-09-02 18:01] monibahmed commented on #2189
Yes, some luck install but its a manual hacking process. Trying to figure out some cmake flags

[2022-09-02 18:42] QuantamHD commented on #2189
If there is anything not working it would be great to try and get those fixes in the main project.

[2022-09-02 21:22] rovinski commented on #2173
For posterity, I finally got OpenROAD to compile on MacOS using `fmt 8.1.1` and `spdlog 1.10.0`. The issue was that my Xcode installation was messed up somehow. I was getting errors about `std::` functions not being found, which indicates there was some glibc problem. I uninstalled and reinstalled Xcode (`Apple clang version 13.1.6 (clang-1316.0.21.2.5)`) and it compiled all the way.

I can now co

[2022-09-03 02:07] rovinski commented on #2220
It's not just this one instance, it's actually several of them. See the patch in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2097#issuecomment-1208952962.

[2022-09-04 19:40] mithro opened #2243 "Add support for `techlef` `SpacingRange` feature"
The `GF180MCU` PDK has the SpacingRange features (?) in its `techlef` file. It would be good for the OpenROAD tooling to support this.

See report from @kareefardi @ https://github.com/RTimothyEdwards/open_pdks/issues/277

[2022-09-04 20:32] rovinski commented on #2243
The related rule appears to be here:
[code]

This will very rarely if ever impact DRT correctness because it only applies to metals with width > 10.005 um, which is way out of range of the 0.230 um default width.

That being said, since we support spacing tables, I don't think this should be too difficult to implement?

[2022-09-04 21:13] maliberty commented on #2243
This is only going to be relevant for pdngen @arlpetergadfort

[2022-09-04 21:17] rovinski commented on #2243
@maliberty the warning about not being supported is in DRT:

https://github.com/The-OpenROAD-Project/OpenROAD/blob/5140e61103f7c01ccad05718f746fc598c0581bb/src/drt/src/io/io.cpp#L1633-L1634

[2022-09-04 21:20] arlpetergadfort commented on #2243
@maliberty if it's implemented in https://github.com/The-OpenROAD-Project/OpenROAD/blob/bbf00fa504cb847866c9f91d641a4a0ad53f45ed/src/odb/include/odb/db.h#L7032
PDNGEN would honor it.

[2022-09-05 08:32] SkanderMarsit commented on #2231
@maliberty Thanks for the response. I took inspiration ftom other DEF files and I defined my ROWS by alterning N and FS orientations. But the result seem to be the same as only North oriented rows.

@vijayank88 Thanks for the precious suggestion. But when running the macro_placement command I get and error :
[ERROR MPL-0095] Snap layer 4 is not a routing layer.
[ERROR GUI-0070] MPL-0095

The LEF,

[2022-09-05 09:27] Syndace commented on #2232
Okay got it, thanks. I'll get back to this later.

[2022-09-05 12:23] donn opened #2244 "Crash during global placement"
* Using OpenROAD 4174c3ad802d2ac1d04d387d2c4b883903f6647e

[code]

Reproducible: [repro.tar.gz](https://www.dropbox.com/s/xj7jbmoprmsizzw/repro.tar.gz?dl=0)

[2022-09-06 03:52] maliberty commented on #2244
I'll fix it but is it intentional that this design has no placeable objects (just 2 macros)?

[2022-09-06 04:07] donn commented on #2244
Yes- it's a basic macro placement test in OpenLane. We've had that for a while now.

[2022-09-06 04:13] maliberty commented on #2244
I don't see why this would be a new problem as the code in question is old.

[2022-09-06 04:20] maliberty commented on #2231
The components in your def are not in your lef so there is nothing to place:
[code]

[2022-09-06 04:20] maliberty commented on #2231
[WARNING ODB-0092] error: unknown library cell referenced (LED:generic-LED1608)
for instance (D1)
[WARNING ODB-0092] error: unknown library cell referenced (pin-head:pinhead-1X08
) for instance (P1)
[WARNING ODB-0092] error: unknown library cell referenced (pin-head:pinhead-1X08::1) for instance (P2)
[WARNING ODB-0092] error: unknown library cell referenced (SMD_PUSHSWITCH:SKRPACE010) for instance

[2022-09-06 04:31] donn commented on #2244
That's... interesting. That means I likely dropped a fill step or something then. I'll take a look.

[2022-09-06 04:44] donn commented on #2244
Okay, so, here's the deal: when the design is loaded from a DEF, this happens:

[code]

When it's loaded from ODB, this crash occurs. That means it's not able to tell that all instances are FIXED when the database is loaded for some reason.

[2022-09-06 04:47] #2244 closed

[2022-09-06 04:48] maliberty commented on #2244
I don't have enough data to say if that is a problem in your scripts or in OR.

[2022-09-06 04:54] donn commented on #2244
Would providing two reproducibles suffice?

[2022-09-06 04:59] maliberty commented on #2244
I think so

[2022-09-06 05:22] donn commented on #2244
Here's the working one from master: [repro_working.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9493473/repro_working.tar.gz)

You can compare with the broken one from the ODB branch.

[2022-09-06 11:15] anthonyjwall opened #2247 "qt5-default dependency on Ubuntu 22.04"
Hi,

I'm installing on Ubuntu 22.04, and the etc/DependencyInstaller.sh is failing when trying to install qt5-default. This package is obsolete in ubuntu 22.04 but all its dependencies can be fulfilled with:
sudo apt-get install qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools

Running this above command and commenting out the qt5-default dependency on line 147 of DependencyInstaller.sh allows me

[2022-09-06 12:57] vvbandeira commented on #2247
Thanks, @anthonyjwall I will try to get to this soon. But I will close this as a duplicate of #1922

[2022-09-06 12:57] #2247 closed

[2022-09-06 13:01] anthonyjwall commented on #2247
Sorry, didn't see #1922! Thanks @vvbandeira!

[2022-09-06 16:11] maliberty commented on #2244
In def out we map:
[code]
where LOCKED is mapped to FIXED.  You are checking:
[code]
however when you use odb the original LOCKED type is preserved and this check fails.  It would be better to use
[code]

[2022-09-06 20:23] maliberty commented on #2243
I don't think this represents a real barrier to gf180 bring up.  PDN supports it and drt will only hit it with some extreme NDR of the sort we never use.  I'll leave it open but as a low priority.

[2022-09-07 06:33] vijayank88 opened #2250 "Routing time too high with latest OpenROAD"
Description:
With OpenLane tag: [2022.08.25](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.08.25) and OpenROAD commit: 4a99e88667b0840531ca0096c4fa0da8f80d6cb1 MPW design syntacore 5Hrs took to complete routing.

With OpenLane tag: [2022.09.05](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.09.05) and OpenROAD commit: 4174c3ad802d2ac1d04d387d2c4b883903f6647

[2022-09-07 08:31] SkanderMarsit commented on #2231
Sorry I messed up I didn't double check the file before posting.
Here's the right one.
[Uploading test.def.txt…]()

[2022-09-07 08:32] SkanderMarsit commented on #2231
[test.def.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/9504236/test.def.txt)

[2022-09-07 12:05] donn commented on #2244
Thanks, that was the last problem I was having. ODB is just waiting on a review for the merge now.

[2022-09-07 12:37] vijayank88 commented on #1950
As gf180 PDK become public and OpenLane/open-pdks update going on. Once PDK enabled with OpenLane, I'll test again with latest OpenROAD and open a new issue if I'm facing anything again.
Thanks!!!

[2022-09-07 12:37] #1950 closed

[2022-09-07 13:39] kareefardi commented on #2214
@RTimothyEdwards this def was generated using magic. is there a workaround to merge shapes like the one above into a single shape?

[2022-09-07 13:53] kareefardi commented on #2214
@maliberty i see that openroad successfully right a spef for the above testcase. is the quality of the spef affected by the original cause of the crash ?

[2022-09-07 14:51] maliberty commented on #2250
Can you test a single OL tag with the two versions?  Its hard to have two moving variables.

[2022-09-07 23:17] maliberty commented on #2231
I see an MX instance now:
![image](https://user-images.githubusercontent.com/761514/188999510-8c8a6abe-124e-4331-99be-d5442d4a490f.png)

What is the issue?

[2022-09-07 23:20] maliberty commented on #2214
I don't know how you got a spef after it crashed.  I would run it again.

[2022-09-08 08:17] stefanottili commented on #2220
Following the commands outlined in #2240 to install and fix an older, working combination of fat/spdlog gets the compile working again.

[2022-09-08 08:18] #2220 closed

[2022-09-08 09:00] kareefardi commented on #2214
I meant that I ran it again and the update prevented the crash and the extraction finished. I am wondering if after the crash fix the spef is valid.

[2022-09-08 12:37] maliberty commented on #2214
As far as I know it is valid

[2022-09-08 14:53] Syndace opened #2252 "pdngen and padframes: ignore routing direction when connecting power pads to the core power ring"
See https://github.com/The-OpenROAD-Project/OpenROAD/issues/2252#issuecomment-1241722732

Original post:

I have created a padframe using [the `initialize_padframe` family of commands](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/pad/doc/README.md) and a core power ring with `add_pdn_ring` and the `-connect_to_pads` flag set. Sadly, while the frame and the grid individually loo

[2022-09-08 15:01] Syndace opened #2253 "padframe: rotating the corners moves them outside of the chip area"
When I define out corner padcell using

[code]

it's in the correct position but rotated incorrectly. When I try to adjust the rotation by 180° as follows:

[code]

the cell is rotated correctly, but positioned outside of the chip area:

![corner-rotation-bug](https://user-images.githubusercontent.com/5029529/189156662-8f381782-ceac-4fb4-b54b-b6b306172d55.png)

I guess the origin of the cell needs

[2022-09-08 17:02] maliberty commented on #2252
@arlpetergadfort have you done this in your work?

[2022-09-08 17:03] maliberty commented on #2253
Can you provide a test case or is this under NDA?

[2022-09-08 17:22] arlpetergadfort commented on #2252
@maliberty yes. You can look at the test in: https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/pdn/test/pads_black_parrot.tcl
The setup looks correct, but connecting to the pads is only possible if there are connections specified, so they might need to add a connection from metal2 to metal4/5 if that is where the pins are located on the pads.

[2022-09-08 18:49] Syndace commented on #2253
NDA, but I'll try to build an open-source test case. Will report back when I'm done.

[2022-09-08 21:19] Syndace commented on #2252
Thanks, that's what I was missing. I added connections from Metal4/Metal5 to Metal7, which is where the power pads have their pins, and at least the horizontal power pads are now connected to the core power rings.

The vertical power pads are not connected though, which I guess has to do with Metal7 being a horizontal routing layer. How does that work for black parrot? It looks like the power pads

[2022-09-09 09:14] Syndace commented on #2222
Sorry for the delay, the vias are spaced correctly with the newest commit, thanks!

[2022-09-09 09:14] #2222 closed

[2022-09-09 09:15] Syndace commented on #2232
This one was on us, sorry.

[2022-09-09 09:15] #2232 closed

[2022-09-09 09:18] Syndace commented on #2252
I've talked to a professional and it seems commercial tools like Cadence ignore the routing direction of layers during power network generation. This might be something to consider for `-connect_to_pads`.

[2022-09-09 09:54] SkanderMarsit commented on #2231
Hey @maliberty Thanks for your precious help.
I first thought that MX was the same thing as R0 but after verification It turns out they are not the same. MX, as far as I understood is the result of flipping the component.
I also would like to allow R90 R180 etc...
Does it have to do with the SITE not having any symmetry.
My SIte Definition being:
SITE FreePDK45_38x28_10R_NP_162NW_34O
  CLASS core

[2022-09-09 12:02] Syndace commented on #2253
Okay, this can be trivially reproduced with one of the tests. Change into `src/pad/test`, modify line 99 of `tcl_interface.tcl`:

[code]

and run `openroad -gui tcl_interface.tcl`. The GUI will open, run the test and show the following:

![corner-rotation-bug](https://user-images.githubusercontent.com/5029529/189345083-33122ea6-d5c5-4948-bb7f-33c9e86fda19.png)

I know this isn't really a "test cas

[2022-09-09 18:06] #2173 closed

[2022-09-09 22:07] maliberty commented on #2253
I think that is enough; I'll give it a try.
@Colin-Holehouse any ideas?

[2022-09-10 07:00] vijayank88 commented on #2250
@maliberty
I just checked between all OpenLane tags till latest.
This issue starts from OpenLane [2022.09.03](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.09.03) tag.
Till OpenLane [2022.09.02](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.09.02) tag its routing time was 5Hrs.

For both the tag OpenROAD commit is same 4174c3ad802d2ac1d04d387d2c4b883903f66

[2022-09-10 15:30] joamatab opened #2260 "python API for global router"
How could we expose OpenRoad's global router with a python API?

https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/grt/README.md

https://github.com/gdsfactory/gdsfactory/issues/57

[2022-09-10 17:11] maliberty commented on #2260
We are slowing proceeding with a python API for OR.  What is your use model that can't be served with tcl?

[2022-09-10 17:19] joamatab commented on #2260
the use model is to support an analog/photonics flow where you can write PCells in python
See [gdsfatory docs](https://gdsfactory.github.io/gdsfactory/README.html)

A python API for OpenRoad will increase many other use cases as well and lower the entry barrier for new users

[2022-09-10 17:59] maliberty commented on #2260
The value of a python api is clear and work has started as I said.  I'm just asking if this is blocking for you in some way.

[2022-09-10 18:01] maliberty commented on #2260
We could prioritize global routing next in that process.

[2022-09-10 20:07] donn commented on #2250
no

[2022-09-10 21:02] rovinski commented on #2260
@joamatab I looked at your use case and I think you might want to consider a different approach.

FastRoute (the global router) generates a list of "routing guides" based on the goal of avoiding routing congestion. It is essentially a maze solver which operates at the granularity of a GCell (where GCell = a box of ~10 M3 tracks).

TritonRoute (the detailed router) uses these routing guides as inpu

[2022-09-11 00:54] maliberty commented on #2260
Custom routing is quite a different thing from P&R routing.  It is unlikely that pcells are going to work the way you want

[2022-09-12 18:17] maliberty commented on #2250
@vijayank88 would you package the drt step in both cases and I'll see if I can spot why it might be slower.  Likely the real problem is upstream but maybe we can find a hint

[2022-09-12 21:01] maliberty commented on #2231
R90 would make no sense as your power rails wouldn't connect.  The site can define symmetry (eg https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/d43e3289253003b32fbe327c160ebc879777fcbd/flow/platforms/nangate45/lef/NangateOpenCellLibrary.tech.lef#L771) as can the cell (eg https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/d43e3289253003b32fbe327c160ebc879777fcbd/f

[2022-09-12 21:02] maliberty commented on #2231
Both are needed to enable flipping.

[2022-09-13 14:55] vijayank88 commented on #2250
Here is 5Hr routing test case:
[issue_reproducible_0209.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9558285/issue_reproducible_0209.zip)

27Hrs routing test case:
[issue_reproducible_0809.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9558301/issue_reproducible_0809.zip)

[2022-09-13 20:05] arlpetergadfort commented on #2252
@Syndace I think it would be relatively easy to implement something like that if it would be helpful.

[2022-09-13 21:15] antonblanchard commented on #2250
Almost certainly due to an update in Yosys. The standard cell count has gone from 92546 to 94380.

[2022-09-13 21:16] maliberty commented on #2250
Even so it is not enough to explain such a large jump in routing time.  The congestion is a bit higher but it isn't crazy.

[2022-09-14 05:24] antonblanchard opened #2268 "report_clock_skew_metric fails with float OverflowError"
I starting hitting this after an update to ORFS - commit 90afa768f292 ("metrics: add clock skew report"). The attached test case fails with:

[code]

Clock skew metrics before CTS seem of little use, but we probably shouldn't fall in a heap. I added:

[code]

and I get:

[code]

That's a lot of skew.

Test case: [floorplan_multiply_adder_asap7_base_2022-09-14_14-55.tar.gz](https://github.com/The-O

[2022-09-14 05:57] maliberty commented on #2268
@vvbandeira We should move clock_skew inside the include_erc block of report_metrics.

[2022-09-14 07:13] Syndace commented on #2252
It would be very helpful, for now I've connected the vertical pads by hand, which isn't too much fun :D I'll rename the issue to reflect it's new goal.

[2022-09-14 11:12] antonblanchard opened #2270 "STA output shows incorrect fan out and connectivity"
I was looking through STA output for one of my designs, and noticed a few places where the fan out looks incorrect, and also some places where the connectivity appears wrong:

[code]

Test case: [sta-issue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9565716/sta-issue.tar.gz)

[2022-09-14 15:54] maliberty commented on #2250
I looked at the runs and the slow one get stuck on a small number of hard DRVs.  Some I think should be fixable but it is in general hard.

[2022-09-14 20:13] maliberty commented on #2250
Osama will take this on as part of his router improvement work but I don't think it represents any simple bug.

@vijayank88  It would helpful to locate the upstream source of the additional instances that are increasing congestion.  It could be yosys or a change in settings or pdk.

[2022-09-15 05:51] vijayank88 commented on #2250
@maliberty
I confirm only change is wrt., to Yosys update only.
I'll share the netlist with changes.

[2022-09-15 17:24] osamahammad21 opened #2275 "Use standard naming for variables (ie snake case) in LEF58 parsers"
Use standard naming for variables (ie snake case).

_Originally posted by @maliberty in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2267#discussion_r971275243_

[2022-09-15 22:58] QuantamHD opened #2276 "GUI Unexpectedly Exits On Error"
This script

[code]

Will cause openROAD GUI to immediately exit when run after reading in a design

[2022-09-16 04:29] antonblanchard commented on #2089
Thanks @eder-matheus this has fixed my issue, and made it much easier to go back and look at STA differences between grt parasitics and SPEF parasitics.

[2022-09-16 04:29] #2089 closed

[2022-09-16 04:44] antonblanchard opened #2277 "grt makeRouteParasitics() misses some vias"
I'm looking at differences between grt parasitic resistance estimates and the final spef parasitics. An example in the attached test case is net `_065_`. `write_net_rc_script.tcl` creates a CSV file with this information:

[code]

Specifically:

[code]

The global routing guide looks like:

[code]

And the routed def matches this:
[code]

So we have `VIA12 - M2 - VIA12`

If I enable some debugging

[2022-09-16 04:56] proppy commented on #2260
related #1812 #1849

[2022-09-16 12:13] arlpetergadfort commented on #2276
@QuantamHD is this design dependent? I don't get this behavior.
But I do get:
[code]

[2022-09-17 23:49] QuantamHD commented on #2276
I haven't tried it with other designs. I did have a database loaded at the time.

[2022-09-18 14:59] arlpetergadfort commented on #2276
@QuantamHD could you upload a test case that replicates it for you? I can't seem to get it on my end.

[2022-09-18 15:48] QuantamHD commented on #2276
Let me see what I can do.

[2022-09-18 15:59] jjcherry56 commented on #2270
You are going to have to be more specific about exactly what number in what line appears to be incorrect and why you think it is incorrect.

[2022-09-18 19:11] maliberty commented on #2270
The path is annotated with exactly what is wrong

[2022-09-19 00:40] jjcherry56 commented on #2270
The issue is really a broken lib file.
Some of the cells have timing arcs between output pins.
What you are seeing is not incorrect connectivity but timing arcs from input to output to output on the same instance,
like  dadda_fa_6_57_0/B -> CON -> SN. The liberty should not have the output to output timing arcs.
They should be removed.

Pending OR PR 2279 (which may take a while to clear CI) fixes

[2022-09-19 01:51] antonblanchard commented on #2270
Thanks @jjcherry56 I submitted https://github.com/The-OpenROAD-Project/asap7/issues/38 to track the ASAP7 issue. I tested the fix, and it resolves all my issues. Thanks!

[2022-09-19 17:28] tcal-x commented on #1136
I am hitting this same error on a very small design.   There are no warnings in the log.

It's a very frustrating message `Re-run with a smaller max_phi_cof value` when it

1. doesn't tell you how to change the value
2. doesn't tell you what the current / default / previously-used value was, so you have no idea what value to try next.

[2022-09-19 21:41] jjcherry56 commented on #2270
dc11f5970 fixes the fanout reporting and adds warnings for output to output timing arcs. but looks like you have to live with the goofy library

[2022-09-19 21:41] #2270 closed

[2022-09-20 00:06] jjcherry56 commented on #2276
This is not valid tcl:

    if $is_clock == 1{

it should be if { $is_clock == 1 }  {

[2022-09-20 02:53] maliberty commented on #2276
It is hard to imagine how this tcl code would have any effect on the GUI

[2022-09-20 02:58] maliberty commented on #1136
Its a pretty poor message.  Can you provide a test case as I would rather see if we can fix it directly rather than having users mess with internal knobs.

[2022-09-20 10:10] QuantamHD commented on #2276
It's an uncaught syntax error from the looks of it. The code above has syntax errors in it, but those errors appear to not be caught

[2022-09-20 10:10] QuantamHD commented on #2276
However, only I seem to be able to reproduce it

[2022-09-20 12:24] openpowerwtf opened #2283 "[WARNING STA-0201] should be error condition"
Macro I/O mismatches are detected early, but do not cause failure until LVS checking.  Seems like this is almost always a setup error.

Related: are there plans to allow log messages to be altered by tcl (info/warning/error, possibly custom text, etc.)?

From intial floorplan log (Verilog macro wrapper does not match actual macro):

[code]

[2022-09-20 13:08] arlpetergadfort commented on #2276
@QuantamHD if there is a stack trace that might be helpful.

[2022-09-20 13:15] arlpetergadfort commented on #2252
@Syndace this PR (https://github.com/The-OpenROAD-Project/OpenROAD/pull/2284) should solve the issue of not connecting on some edges.

[2022-09-20 14:13] arlpetergadfort commented on #2276
@QuantamHD I'm able to get a stack trace if I add your code to a script at startup and run openroad with `-gui` `-exit`, are you adding the -exit? this should be fixed either way

[2022-09-20 15:04] arlpetergadfort commented on #2276
@QuantamHD  does this prevent the issue you are seeing? https://github.com/The-OpenROAD-Project/OpenROAD/pull/2285

[2022-09-20 16:59] maliberty commented on #2283
We did debate about user controls for error messages.  We would never allow a downgrade (ie error to warning) but could consider allowing an upgrade.  I have never seen custom text - how would that be used?

[2022-09-20 17:26] maliberty commented on #2253
Fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/2272

[2022-09-20 17:26] #2253 closed

[2022-09-20 17:32] #2252 closed

[2022-09-21 03:28] sharkoo7 commented on #1136
I came across the same error with this test case. I tried to change `global_place_density` and
`global_place_density`.But it doesn't work.
[test_case.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9612739/test_case.zip)

[2022-09-21 08:09] proppy opened #2287 "OpenROAD hangs forever when executing python scripts"
With #1812 (https://github.com/The-OpenROAD-Project/OpenROAD/commit/47e8b5f57e2f680172f99c0433c01ed91fcf7fe7), OpenROAD started hanging forever when executing external python scripts, see:
https://colab.research.google.com/gist/proppy/5a80fbc91ea8520839e0779126d96240/openroad-hanging-python-issue.ipynb

[code]

Previous version like https://github.com/The-OpenROAD-Project/OpenROAD/commit/dc11f5970

[2022-09-21 08:56] proppy commented on #2287
/cc @QuantamHD

[2022-09-21 13:58] maliberty commented on #2287
This is the same as with tcl.  You need to give -exit if you want it to end after the script otherwise it goes to the interactive prompt.

[2022-09-21 13:58] #2287 closed

[2022-09-22 22:23] tcal-x commented on #1136
Hi @maliberty , thanks for the reply.   I was able to work around this issue using Matt Venn's advice for ANY problem that you hit with a very small design -- add this to the design's config.tcl:
[code]

My example uses a custom synth.tcl script, so it is a little more complicated than you might expect, but I can still send it if you think it's useful.  Perhaps not necessary since @sharkoo7 has al

[2022-09-22 22:37] maliberty commented on #1136
@ramezmoussa in the past I've seen problems where the placer confuses very fast convergence on trivial designs with divergence.    This will be a good chance to learn the convergence code.  The message is stale and unhelpful so please rework that as well.

[2022-09-23 08:41] rovinski commented on #2268
I am running into this as well. It's preventing me from running very simple designs for the upcoming tutorial.

[2022-09-23 10:39] antonblanchard opened #2297 "Timing driven global placement doesn't go a great job on critical multi pin nets"
I'm trying to improve the fmax of a multiplier. The critical path looks like:

[code]

Timing driven global placement is doing a good job in general (significantly better fmax than with it disabled). Looking at debug data out of global placement, we did identify this path as the worst and apply the highest weighting to all nets. All the nets in this critical path other than the high fan out `pp_ro

[2022-09-23 14:50] maliberty commented on #2268
I'll fix the flow to not report clock skew before cts is run.  I'll leave this for @jjcherry56 to give a more reasonable result if someone does run it manually.

[2022-09-23 16:15] jjcherry56 commented on #2268
It doesn't have anything to do with running cts and moving report_clock_skew will not help.
The issue is there are no capture registers to measure skew to, just output pins, which the command reports:
% report_clock_skew
Clock clk
No launch/capture paths found.

I updated opensta to return 0 in this case but did not update openroad.

[2022-09-23 18:34] QuantamHD commented on #2297
@antonblanchard can you run this same experiment with just the initial placement? It specifically does not include high fanout nets because it supposedly makes it harder to converge.

Maybe we could address that too.

[2022-09-23 19:25] jjcherry56 commented on #2268
@rovinski it looks like you don't have any clock constraints at all.

[2022-09-23 21:57] antonblanchard commented on #2297
@QuantamHD did you mean disabling initial placement (`-skip_initial_place`)? I just tried that and it made things slightly worse. It looks like the default limit for initial placement is a fan out of 200 which this design is comfortably under.

The somewhat interesting thing about this design is that the resizer is unable to do much to help (that's why I've ended up back in global placement lookin

[2022-09-23 23:05] maliberty commented on #2297
Initial placement skips large nets as they tend not to be helpful rather than for convergence reason.  The clock tree hasn't been inserted at this point so pulling all the registers together isn't useful.  Likewise with other global nets like resets.

[2022-09-23 23:32] QuantamHD commented on #2297
@maliberty It feels like we could use the multicycle info / SDC info to ignore those nets in particular, but it sounds like it still might be helpful.

[2022-09-24 00:18] QuantamHD commented on #2297
Maybe we need to integrate the resizer into placement. Seems like that would make sense at least from a gate sizing perspective.

Perhaps adding a SA pass in the Placer to see if we could get any wins

[2022-09-24 03:38] antonblanchard commented on #2297
Here's an animated gif of net `pp_row50_0` as we progress through global placement. Timing driven mode was disabled.

Things start off good, with all pins in the net remaining close together as the net moves left. At some point it goes bad, and the net slowly grows in size to become very large:

![pp_row50_0](https://user-images.githubusercontent.com/2029971/192078196-5f35b017-67a2-4b1d-859a-2084d

[2022-09-24 05:36] maliberty commented on #2297
We use an approximation of HPWL for the net length (the approximation is smoothly differentiable which HPWL is not).  See 2.3 of https://cseweb.ucsd.edu/~jlu/papers/eplace-todaes14/paper.pdf - we use the WA metric.

[2022-09-24 05:49] maliberty commented on #2297
All the fanouts are ha/fa cells.  That means they have 4/5 signal pins each of which is exerting a pull on the instance, not just this net.  Contracting this net may mean lengthening many others.   I suspect this is the main issue.  The 1.9X cap means the critical net is limited in how hard it can pull.  You might experiment with using a higher limit and see what happens overall.

All instances in

[2022-09-24 05:56] QuantamHD commented on #2297
@antonblanchard one other thing you might try is logic duplication.

Try splitting one of the high fanout ha/fa's into two cells. One driving half

[2022-09-24 06:00] maliberty commented on #2297
Note that multiple pins on this instance are critical and have high weight:
![image](https://user-images.githubusercontent.com/761514/192082571-db722e1d-7b47-4ccd-a715-c856d833d870.png)

[2022-09-24 06:06] maliberty commented on #2297
Timing driven replace calls the resizer in 'virtual' mode where we do the resize, estimate the timing, and then undo the resize.  We want the timing to reflect the resizer but don't want to lock in the results too early.

[2022-09-24 06:08] maliberty commented on #2297
I suspect you would benefit from some io placement constraints.  They are quite scattered.

[2022-09-24 06:09] QuantamHD commented on #2297
@maliberty Ah neat! Didn't know that, or maybe forgot. I think you or Tom mentioned that to me

[2022-09-24 06:10] maliberty commented on #2297
There is an argument for really resizing once you get near the end to incorporate the area impact of resizing.  Its an open area for investigation.

[2022-09-24 16:42] gadfort opened #2300 "tap: boundry_macros test is incorrect and leaves unfilled rows near macros"
I was looking at one of the tapcell tests and noticed that the test generates an invalid result and misses placing cap cells around the macros.
![full](https://user-images.githubusercontent.com/46405338/192109206-ab2e63ff-8ecb-44a8-a00c-41f3980d6779.png)
![bot_partial_fill](https://user-images.githubusercontent.com/46405338/192109204-cdfe799b-d103-44e2-b08f-e6287b9ee96d.png)
![top_partial_fill](ht

[2022-09-26 03:25] antonblanchard commented on #2297
I added an option to modify the multiplier in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2301 . Testing various values shows that a much higher value (15) helps a lot. Note that this graph includes a multiplier of 0, which effectively disables timing mode.

![graph](https://user-images.githubusercontent.com/2029971/192187629-d2d25267-c47e-4c53-a264-4e648cbb5910.png)

[2022-09-26 03:34] maliberty commented on #2297
@mgwoo how was 1.9 picked as the max net weight for TD?

[2022-09-26 10:50] antonblanchard opened #2302 "rsz: overzealous rebuffering"
I was testing asap7/sha3 and noticed a long string of rebuffer cells in the critical path:

[code]

I might be missing something, but (rebuffer32, rebuffer44-58) seem to just be adding a lot of delay to the critical path. They are all the same sized cell and they are all placed very close together:

![rebuffer](https://user-images.githubusercontent.com/2029971/192254576-c564e368-12bf-4997-94fa-5aa

[2022-09-26 21:02] antonblanchard commented on #2297
I had a related thought - that it might be useful to apply the fan out modifications earlier (even before we start global placement).   They don't need any placement parasitics to be calculated.

[2022-09-26 21:05] maliberty commented on #2297
My feeling is that they should only be used by synthesis and ignored in OR.  They are just a rough guide and once you have placement you should start using the cap/slew checks which are more electrically meaningful.

[2022-09-26 21:06] maliberty commented on #2297
It leads to silliness like asking if an antenna diode counts as a fanout or not...

[2022-09-26 21:33] antonblanchard commented on #2297
ABC does do fan out modifications, but I'm not sure how we could easily keep them and strip all the other buffer modifications it does. If we had something like `repair_design -fanout`, we could do it right after `remove_buffers` and achieve a similar result.

[2022-09-26 21:50] maliberty commented on #2297
We don't keep the abc buffering in general so I'm not sure why it is more important here.  I don't think we need to repair fanout at that early point and are better off doing repairs when we have something more realistic to base them off of.

[2022-09-26 22:49] #2268 closed

[2022-09-27 00:45] proppy opened #2307 "OpenLane-Public CI should trigger on OpenROAD PRs"
As discussed in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2288#issuecomment-1254180658, it would be nice for https://jenkins.openroad.tools/job/OpenLane-Public jobs to trigger on OpenROAD PRs so that the team is aware of potentially breaking change.

One example is #1849, which did fail https://jenkins.openroad.tools/job/OpenLane-Public/1300/ but wasn't surfaced in the PR checks: https

[2022-09-27 02:19] rovinski commented on #2268
@jjcherry56 My case was actually that there was a clock constraint, but there were no input/output constraints and no reg->reg paths, only in->reg and reg->out. https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/594 fixes `Error: floorplan.tcl, 101 OverflowError in method 'metric_float', argument 2 of type 'float'` and https://github.com/The-OpenROAD-Project/OpenSTA/commit/18f11a30

[2022-09-27 03:12] QuantamHD commented on #2297
I'm generally not in favor of adding more complexity to the flow. It feels like a fanout fix should be a part of the gpl optimization loop if it thinks it would help

[2022-09-27 14:55] proppy opened #2308 "package swig binding as shared libraries"
In order to be able to import them from `.py` script, the swig binding needs to be built as shared libraries.

Currently the `swig_library` helper forces static linking, see:
https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/cmake/swig_lib.cmake#L74

@maliberty is the `.a` actually needed by something else in the build? do we need to build both or can we get away with only building

[2022-09-27 14:59] QuantamHD commented on #2308
@proppy I have a demo working for one of them

[2022-09-27 15:40] maliberty commented on #2308
The .a are used to build a statically linked binary which is much simpler for users as it doesn't require setting up an LD_LIBRARY_PATH entry.

[2022-09-27 16:05] proppy commented on #2308
@maliberty understood, but curious if there a usecase for having the swig bindings `openroad_swig_py.a` as a static library? Is it meant for users that'd like to link and extend them?

[2022-09-27 16:42] maliberty commented on #2308
openroad -python needs the swig bindings and is statically linked.

[2022-09-27 18:21] QuantamHD commented on #2308
@proppy We need to set up the infrastructure to build and package the so's for pip.

[2022-09-27 18:26] QuantamHD commented on #2308
https://github.com/The-OpenROAD-Project/OpenROAD/pull/2311

[2022-09-27 18:30] maliberty commented on #2308
@macd FYI

[2022-09-27 22:59] macd commented on #2308
It would be nice to be able to import into an unmodified Python. I will take a look at @QuantamHD changes (I have PoC wrappers for about 10 of the tools/libs at present). How many versions of Python do you envision building against?

[2022-09-28 04:58] antonblanchard opened #2314 "ppl: createMatrixForGroups accesses past the end of slots_"
The attached test case fails with:

[code]

Test case: [io_placement_multiplier_asap7_base_2022-09-28_14-32.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9661556/io_placement_multiplier_asap7_base_2022-09-28_14-32.tar.gz)

[2022-09-28 05:13] QuantamHD commented on #2297
Found an article from David Pan describing a scheme to dynamically weight nets on page 6 under Sensitivity Based Net Weighting https://www.cerc.utexas.edu/utda/publications/book_tdp.pdf

Perhaps this would yield better results than the static value

[2022-09-28 20:17] antonblanchard commented on #2314
It reproduced on the latest sha1 (c7ce441ce364). I wonder if your libstdc++ doesn't have the check. Does this patch trigger it?

[ppl.patch.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9668659/ppl.patch.gz)

[2022-09-28 20:19] maliberty commented on #2314
@antonblanchard are you compiling debug?  The checks can differ with optimization level.

[2022-09-28 20:31] arlpetergadfort commented on #2314
@maliberty this the same issue we kept running into as well with ppl.

[2022-09-28 21:40] QuantamHD commented on #2314
Just looking at the code it seems like there's an outer loop iterator somewhere while the code in ppl::HungarianMatching::createMatrixForGroups is modifying that vector, which is not allowed.

[2022-09-28 22:56] eder-matheus commented on #2314
@antonblanchard Could you check this PR: https://github.com/The-OpenROAD-Project/OpenROAD/pull/2319?

[2022-09-29 00:29] antonblanchard commented on #2314
@eder-matheus Thanks, this fixes the issue I was hitting

[2022-09-29 00:32] #2314 closed

[2022-09-29 00:32] eder-matheus commented on #2314
Great! I've just merged the fix with master.

[2022-09-29 01:04] antonblanchard opened #2320 "ppl: hungarian_solver_.solve called with zero length matrix"
I have another test case that is hitting issues in PPL. This time in `HungarianAlgorithm::solve`:

[code]

If it doesn't reproduce, this patch should trip it:

[code]

Test case: [io_placement_multiplier_asap7_base_2022-09-28_14-32-2.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9669860/io_placement_multiplier_asap7_base_2022-09-28_14-32-2.tar.gz)

[2022-09-29 01:06] antonblanchard commented on #2320
Unsure if this is correct, but this avoids it:

[code]

[2022-09-29 01:27] antonblanchard commented on #2320
@eder-matheus FYI

[2022-09-29 20:44] eder-matheus commented on #2320
Thanks, @antonblanchard! Your fix is correct. We perform this check in the `findAssignmentForGroups` function, but I probably missed the `findAssignment` at that time. The fix is in this PR: https://github.com/The-OpenROAD-Project/OpenROAD/pull/2322

[2022-09-29 21:16] #2320 closed

[2022-10-02 02:05] Xies3 opened #2326 "LVS check is incorrect"
[6_final_lvs.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9691486/6_final_lvs.zip)
I run the drc and lvs check where the lvs check is conducted by netgen after running the Makefile in OpenROAD-flow-scripts/flow. There are no errors found in drc while the result of lvs showed that there's a mismatch of circuit 1 and circuit 2. Could you please help me with this problem. Thank you ver

[2022-10-02 04:12] maliberty commented on #2326
I am not a netgen user and have no idea how to debug problems related to other tools.  If you can point out something that is specifically wrong with the OR output I can take a look at that.  This is not a complete test case and can't be debugged in any case.

[2022-10-02 04:55] Xies3 commented on #2326
Yes, so there are still unconnected areas in the generated cdl file.

发自 Outlook<http://aka.ms/weboutlook>
________________________________
发件人: Matt Liberty ***@***.***>
发送时间: 2022年10月2日 12:12
收件人: The-OpenROAD-Project/OpenROAD ***@***.***>
抄送: Xies3 ***@***.***>; Author ***@***.***>
主题: Re: [The-OpenROAD-Project/OpenROAD] LVS check is incorrect (Issue #2326)

I am not a netgen user and have no i

[2022-10-02 04:57] maliberty commented on #2326
That is not enough of a description to take any action.

[2022-10-02 16:16] jjcherry56 commented on #2236
I discovered that this is inconsistent with paths from inputs without set_input_delay to registers.
As of OpenSTA commit
af35dfb 2022-09-23 paths output ports respect sta_input_port_default_clock
the path will not be reported unless sta_input_port_default_clock is 1.

[2022-10-03 03:54] Xies3 commented on #2326
Yes. In the 6_final lvs report, some nets are mismatching and I think that is because some names of instances are not in the library. So is that openroad used some instances that were not in the library and added them to the gds? Thank you very much.

[2022-10-03 05:28] maliberty commented on #2326
What instances?  If you don't give a specific problem don't expect any action.

Also you have not provided a complete test case allowing me to reproduce the result.

[2022-10-03 05:40] vijayank88 commented on #2326
@Xies3
Its good to try this design with `OpenLane flow` https://github.com/The-OpenROAD-Project/OpenLane as it had all signoff checks tools integrated.
If still LVS failures there, file github issue.

[2022-10-03 06:26] maliberty commented on #2326
If the same problem happens in OL the same data will be needed - a specific problem and a complete test case.  I am not clear this is a tool integration issue.  It not clear whether this is a yosys, OR, KLayout, netgen, or user error problem yet.

If you are using ORFS then "make final_report_issue" should package a test case.

[2022-10-03 16:23] vvbandeira commented on #2107
Closing as stale. Please re-open or file a new issue in case this is still relevant.

[2022-10-03 16:23] #2107 closed

[2022-10-03 22:06] antonblanchard commented on #566
Now the detailed router is properly integrated into OpenROAD, this is no longer relevant. Closing.

[2022-10-03 22:06] #566 closed

[2022-10-03 22:14] antonblanchard commented on #1535
(Going through some of my older bugs). I agree with deprecating the options, I don't see much point in them.

[2022-10-03 22:17] antonblanchard commented on #1836
Thanks @maliberty, I'm no longer seeing this.

[2022-10-03 22:17] #1836 closed

[2022-10-03 22:49] maliberty commented on #2277
@luis201420 any update on this?

[2022-10-05 03:21] maliberty commented on #2326
Please close this if no further action is needed.

[2022-10-05 14:08] maliberty commented on #1618
Stale

[2022-10-05 14:08] #1618 closed

[2022-10-06 12:40] vijayank88 opened #2339 "Resizer unable to optimize fanout for GF180 PDK"
Testing `aes` design with GF180 PDK through `OpenLane` flow.
Using `OpenROAD 4174c3ad802d2ac1d04d387d2c4b883903f6647e`

`resizer.log`
[code]
Test case:
[issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9724859/issue_reproducible.zip)

[2022-10-06 16:52] saicharan0112 commented on #2326
@maliberty This is related to OpenFASOC/temp-sense generator. With the latest version of openroad, the drc check for the generated gds file, the following message is generated

[code]

Also this is reflected in the lvs check where there is a device mismatch for this exact cell.

Please note that this is not observed from the version [2.0_5006_g503c27e77](https://anaconda.org/LiteX-Hub/openroad/2.0

[2022-10-06 17:06] saicharan0112 commented on #2326
I have also mentioned this in the skywater-pdk slack and here is the conversation thread - https://open-source-silicon.slack.com/archives/C016YSAP6TZ/p1665075690355409

[2022-10-06 17:20] msaligane commented on #2326
Looks like it is a Magic issue. @saicharan0112 Can you open a github issue in Magic?

[2022-10-06 17:21] #2326 closed

[2022-10-06 17:33] maliberty commented on #2339
Please run this with the latest OR and package a test case from that: incompatible database schema revision

[2022-10-06 18:50] maliberty commented on #2339
I don't see any max_fanout specified in gf180

[2022-10-06 20:16] antonblanchard commented on #2339
The SDC file has a fanout limit:

[code]
but the liberty file is missing:

[code]

Same problem as we had on sky130.

[2022-10-06 20:28] maliberty commented on #2339
@proppy @QuantamHD PDK issue...

[2022-10-06 20:29] QuantamHD commented on #2339
Looking now.

[2022-10-06 20:33] maliberty commented on #2339
@louiic see the note from Anton

[2022-10-06 20:35] QuantamHD commented on #2339
@maliberty @antonblanchard I don't see a `default_fanout_load` in the NDA'd liberty. So we'll need to add it.

[2022-10-06 20:52] QuantamHD commented on #2339
What is a sensible default?

[2022-10-06 21:15] antonblanchard commented on #2339
I think 1, that's what we changed the sky130 PDK to use in https://github.com/RTimothyEdwards/open_pdks/commit/86f9b0c385d32b2d65fd789427f2ea3f0b7331d3

[2022-10-06 22:26] louiic commented on #2339
Ethan,

I tried setting default_max_fanout in .LIB … did not help.

Louii

[2022-10-06 22:37] antonblanchard commented on #2339
Works for me. Are you sure your SDC has a `set_max_fanout` statement and your liberty file has `default_fanout_load : 1`?

baseline:

[code]

With the fix:

[code]

Are you sure you are setting

[2022-10-06 22:39] maliberty commented on #2339
@antonblanchard  What happens to the area/power with this change?

[2022-10-06 23:01] louiic commented on #2339
Anton,

Did all these … did not help

.LIB

  default_max_fanout : 1 ;
  default_fanout_load : 1 ;

.SDC

set_max_fanout 20 [current_design]

Louii

[2022-10-07 01:26] antonblanchard commented on #2339
I was investigating why the design specified a max fanout, but OpenROAD ignored it. No idea what it does for area/performance.

@vijayank88 what is the issue here? As @maliberty mentions the design makes timing.

[2022-10-07 02:44] vijayank88 commented on #2339
with gf180 there are slew violations post routing. So just back traced to placement and found fanout issue. so raised this.
`max slew violation = 132`
`max cap violation = 32`

[2022-10-07 06:32] vijayank88 commented on #2339
@antonblanchard
I have updated liberty file as follows:
[code]
Still having same fanout issue. Can you share snippet where its got updated?

[2022-10-07 06:50] antonblanchard commented on #2339
@vijayank88 can you be more specific when you talk about "fanout issue"? Do you mean you have slew and capacitance violations when measured after global placement, or do you mean that the SDC fanout constraint is not being obeyed?

I see 0 slew and capacitance violations using your original test case, but I did have to convert your old odb by writing out a def on an old checkout of openroad and re

[2022-10-07 06:57] vijayank88 commented on #2339
@antonblanchard
Issue is sdc fanout constraint not obeyed.
Latest test case:
[issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9731376/issue_reproducible.zip)

[2022-10-07 09:27] antonblanchard commented on #2339
I took your most recent zip, made the following change:

[code]

And I see it work as expected:

[code]

[2022-10-07 10:21] vijayank88 commented on #2339
@antonblanchard
Thanks. By updating `default_fanout_load : 1.0000000000 ;` into `liberty` files resolved fanout issue.
Can you please once verify is any other parameters to be updated in `.lib` files of GF180 PDK?
We can request @proppy to update this in PDK.

[2022-10-07 17:32] vvbandeira commented on #2154
@Elon-J any updates? Were you able to fix the issue with the suggestion?

[2022-10-07 19:10] jjcherry56 commented on #2339
@vijayank88 @louiic @QuantamHD all confused default_max_fanout with default_fanout_load.
Contrary to common sense, fanout is defined by the liberty pin attribute fanout_load, which defaults to
the library attribute default_fanout_load, NOT the connections in the netlist.
If default_fanout_load is 0, the pin is not counted in the fanout of the driver and there can never be fanout violations. We wen

[2022-10-07 19:19] QuantamHD commented on #2339
@jjcherry56 What modification to the liberty file would you suggest?

[2022-10-07 19:44] jjcherry56 commented on #2339
The only change required is fixing default_fanout_load to 1

[2022-10-07 21:37] habibayassin opened #2343 "Par tool tests fail in Ubuntu 22"
Running `./test/regression par` in Ubuntu 22.04 with gcc version 11.2.0 causes the following tests to fail. Meanwhile, they pass on Ubuntu 20 with gcc version 9.4.0 and on Centos 7 with gcc version 4.8.5.

[code]

diffs file
[code]

@maliberty

[2022-10-08 02:40] saicharan0112 commented on #2326
@maliberty As promised, here is the conclusion of this issue. The issue is with the update made to pdn file in https://github.com/The-OpenROAD-Project/OpenROAD/pull/2289 where power connections are done in a different way.

[2022-10-08 04:12] maliberty commented on #2343
This is going to be painful.  Where is there an ubuntu 22 machine that I can try this on?

[2022-10-08 06:30] QuantamHD commented on #2343
You should be able to create one in Google Cloud

[2022-10-08 09:25] vijayank88 opened #2346 "global routing failed"
OpenLane CI failures for latest OpenROAD updates: https://github.com/The-OpenROAD-Project/OpenLane/pull/1303

OpenROAD Commit: `OpenROAD v2.0-5170-gd919ca2d4 `
Test case:
[issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9738869/issue_reproducible.zip)

Logs:
[code]

[2022-10-08 09:36] vijayank88 commented on #2346
As per log if I change the `DIODE_INSERTION_STRATEGY` flow works fine and completes global routing stage.

[2022-10-08 16:31] habibayassin commented on #2343
there is a machine on GCP named "test-vm" I created recently that is ubuntu 22 based

[2022-10-10 05:06] antonblanchard commented on #2297
I had a quick look at this. As an experiment, I created a simple placement test:

[code]

And modified it with another incremental global placement pass, and a repair_design pass in case that created violations:

[code]

Critical path slack improved in all non trivial ASAP7 test cases:

[code]

gcd and uart are trivial, but it's good to see that things didn't get worse:

[code]

I presume we'd wan

[2022-10-10 13:13] lulu9312 opened #2349 "pdn : Secondary power net does get routed to instances in voltage domain"
There is a secondary power net VREG which is defined for a voltage domain. There are some instances that are placed in the voltage domain. The VREG net does not get routed to the instances even though their pins are defined as POWER in their respective lef files.
 Here are some screenshots for the same :
![vreg_not_connected](https://user-images.githubusercontent.com/61928883/194874017-ddd73b80-23

[2022-10-10 13:27] Blebowski opened #2350 "DFT insertion"
Hello,

please take this issue as question only.

I would be curious what is the status of OpenRoad when it comes to DFT, is there a plan to eventually support
things like scan chain insertion, scan compression, ATPG(SAF, TF), Fault grading, etc?

I have searched for some open-source solutions, but it seems to me there is nothing practically usable.

[2022-10-10 15:43] maliberty commented on #2349
@arlpetergadfort thoughts?

[2022-10-10 15:45] maliberty commented on #2350
There is currently no plan but we would be glad to have submissions.  The only OSS tool I know about is https://github.com/AUCOHL/Fault with the open  OL issue https://github.com/The-OpenROAD-Project/OpenLane/issues/966 to integrate it.

[2022-10-10 15:55] #2106 closed

[2022-10-10 15:57] arlpetergadfort commented on #2349
@maliberty PDNgen doesn't route to instances (Except for blocks and pads). It's not clear what the expectation is here. This seems similar to the question about the point-to-point routing.

[2022-10-10 16:28] QuantamHD commented on #2350
We link in the program [ABC](https://github.com/berkeley-abc/abc) which has commands for ATPG, so there are some tools that you could use to integrate.

[2022-10-10 16:35] #1922 closed

[2022-10-10 18:03] arlpetergadfort commented on #2349
There is for the VDD and VSS, the secondary nets, do not get rails.

[2022-10-10 23:00] antonblanchard opened #2354 "rsz: repair_design not repairing all slew violations"
While running some global placement experiments I noticed `repair_design` didn't fix all slew violations. To reproduce you need the following change to OpenROAD, which just reduces the percentage of nets that are optimised for timing from 10% to 1% (I wasn't easily able to create a reproducer without it unfortunately):

[code]

`repair_design` completes without error:

[code]

But there are slew v

[2022-10-11 00:01] maliberty commented on #2346
I'm testing a fix now.

[2022-10-11 04:06] maliberty commented on #2346
Apparently my fix takes care of the one design I looked at but there are still others that have issues...

[2022-10-11 04:56] rovinski commented on #2349
Yes, this sounds like the same feature request as #2209.

[2022-10-11 05:51] vijayank88 commented on #2346
@maliberty
Thanks. Let me know if you need test case for other issues.

[2022-10-11 07:48] rutvikkk2203 commented on #2038
I have changed the netlist and in that I got the error which you got the
TritionRoute one. So now I am going through the conversation which you
shared the link to insert the tie cells.

On Tue, 12 Jul 2022 at 11:11, vijayan ***@***.***> wrote:

[2022-10-11 07:58] WS-Snyder commented on #1753
The failure of cmake to build a GUI version is 100 % caused by
find_packages(Qt5) is return the paths(s).

I used cmake version 3.18.4 on Debian 11 (bullseye).

I will rebuild the entire tree on an Ubuntu 20.04.4 version and
see if the problem is resolved.

Thanks
Warren

[2022-10-11 08:02] vijayank88 commented on #1885
Yes. I used 0.30 as target density

On Thu, Jul 21, 2022, 7:45 PM Matt Liberty ***@***.***> wrote:

[2022-10-11 08:35] vijayank88 commented on #2038
It's CentOS gcloud with 32 core and 128GB ram

On Fri, Jul 8, 2022, 6:47 PM rutvikkk2203 ***@***.***> wrote:

[2022-10-11 08:38] mattvenn commented on #1692
Apart from the non reported error, what is the fix?

On Mon, 14 Mar 2022, 18:45 Matt Liberty, ***@***.***> wrote:

[2022-10-11 15:24] maliberty commented on #2346
Thanks but I extracted another myself

[2022-10-11 15:25] maliberty commented on #1753
Where is your QT installed?  If it is in a non-default location it may be that find_packages can't find it.

[2022-10-11 15:43] maliberty commented on #1692
This issue is quite old.  Has anyone tried this with the current OR and the rewritten pdngen?

[2022-10-11 15:49] mattvenn commented on #1692
haven't seen this recently, so probably safe to close.

[2022-10-11 15:49] #1692 closed

[2022-10-11 17:48] maliberty commented on #2346
@luis201420 you can ignore the reproducer here and use the one I sent you for y_huff in slack

[2022-10-11 18:04] jjcherry56 commented on #2354
I cannot reproduce this.  I get different results from you using OR
commit 64a40a83a Merge pull request #2351 from
The-OpenROAD-Project-staging/gui-fanout on macos and linux (and those
results do not agree with each other).  This is not surprising, I see
this all the time and you did not state what OR commit shows the
problem.  If you write the def or db after global placement it may be
possible t

[2022-10-11 20:38] antonblanchard commented on #2354
@jjcherry56 You're right, I should have just saved the def post global placement. I retested on 93f69d5c5922 with an updated test case and it reproduced:

[repair_design_slew-2.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9759506/repair_design_slew-2.tar.gz)

[2022-10-11 21:06] antonblanchard commented on #2339
I created https://github.com/google/gf180mcu-pdk/issues/81

[2022-10-11 22:42] jjcherry56 commented on #2302
fixed in 883125a3b

[2022-10-11 22:42] #2302 closed

[2022-10-11 22:51] maliberty commented on #2343
MLpart is hard to debug legacy code and after several hours I don't see a real path to convergence.  We are planning to replace it with TritonPart so I don't think it is worth the time to sort this out.  I suggest we just disable this test and move on.

[2022-10-11 23:32] jjcherry56 commented on #2354
Thanks, I can reproduce it now

[2022-10-12 01:23] antonblanchard commented on #2277
This helps, however I have no idea if the pin access vias are meant to be accounted for in  `makeParasiticsToPin` or `makeRouteParasitics`. The second pin via is still missing:

[code]

[code]

[2022-10-12 05:44] maliberty commented on #2277
I think you are pursuing a phantom problem.  In grt we just assume the cells are at the gcell center as we don't know the real routing topology below that granularity.  You can see the resistor is added in grt
[code]
it just gets discarded by rc reduction as it doesn't lead to anything since the net is in a single gcell.  We could do something special for a net entirely in one gcell but it still w

[2022-10-12 06:50] antonblanchard commented on #2277
I might be. I'm trying to reduce the differences I see between STA post global routing and STA post detailed routing. I understand some differences are unavoidable, but when I went looking at R and C differences of individual nets in one of my designs, this issue came up many times.

Maybe it isn't a big deal in the scheme of things, but we are also using these nets to do our linear regression to

[2022-10-12 20:20] mithro opened #2361 "Add some good examples from antonblanchard/vlsiffra as a regression test / benchmark"
@antonblanchard just released the vlsiffra project. See the tweet @ https://twitter.com/antonblanchard/status/1580154261962657792 

Some interesting aspects;
 * vlsiffra is written in the Amaranth HDL language which allows it to be very configurable, including
 * vlsiffra currently supports the SkyWater sky130hd, GlobalFoundries GF180MCU and ASAP7 PDKs and standard cell libraries.
 * vlsiffra only

[2022-10-12 20:20] mithro commented on #2361
See associated issue on the vlsiffra report @ https://github.com/antonblanchard/vlsiffra/issues/15

[2022-10-12 22:00] maliberty commented on #2277
The PR above is to address you concerns.  It will have to go through a full testing cycle but feel free to give it a try.  I now see:
[code]

[2022-10-13 05:22] vijayank88 opened #2364 "Post routing timing not met with STA"
Testing this design with GF180 PDK with OpenLane flow.

OpenROAD Commit: 79313e90ded2667486b33a87effb23bc56d41bf1

Description:

The problem is design meets timing till global routing stage, but post routing its not met timing.

Global routing log:
[code]
Post routing Timing report:
[code]
Attached global route test case and post routing timing report test case.

[2022-10-13 11:38] antonblanchard commented on #2364
Openlane doesn't have any RC parasitic estimates for either sky130 or gf180 - the values in the TLEF are not good enough. Without reasonable estimates global routing and detailed routing STA are going to diverge.

ORFS has scripts to calculate them from a series of real designs.

[2022-10-13 14:21] tspyrou commented on #2364
@vijayank88 can you take the setrc.tcl file from openroad-flow-scripts/flows/platforms/sky130 that matches the platform for this testcase and source it in this run? If the timing is much better then this needs to become an openlane issue. Thanks @antonblanchard !

[2022-10-13 21:18] maliberty commented on #2277
Some issues in testing need a bit of time to validate

[2022-10-13 22:50] antonblanchard commented on #2277
Thanks @maliberty I'm running some tests to see if it has improved things.

[2022-10-14 06:29] vijayank88 commented on #2364
@antonblanchard
[set_rc.tcl](https://github.com/The-OpenROAD-Project/OpenLane/blob/3ee8cf0da0b5292557e3f3ae398194d65970a6d2/script/openroad/common/set_rc.tcl) sourced in OpenLane flow.
But I'm not seen `::env(VIAS_RC)` `::env(LAYERS_RC)` configuration anywhere defined.
Do you aware where it's been used?

[2022-10-14 12:10] vijayank88 commented on #2364
@tspyrou
I've copied [setRC.tcl](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/platforms/sky130hd/setRC.tcl) from ORFS flow and ran. But not seen any improvement wrt timing report.
Changed only  layer name `met` to `Metal`. Is RC values need any update?

[2022-10-16 14:45] #2277 closed

[2022-10-16 22:07] antonblanchard opened #2377 "grt: parasitic estimates don't use pin access locations"
I'm running tests with `pin_access` called before `global_routing`. I notice a number of short nets have significantly higher resistances. In this case (`_03345_`) grt estimates 88 ohms but after detailed routing it is 41 ohms. Capacitance is also off by an order of magnitude.

Looking at the debug:

[code]

The yellow dots show the points grt is using. It seems it always selects the bottom left p

[2022-10-17 09:33] antonblanchard commented on #2377
The issue is with `_25664_/Y`, and if I'm reading this right, pin access did choose a location on the right of the cell:

[code]

It looks like the issue is GRT is using pin access, but the GRT parasitics are not.

[2022-10-17 15:22] maliberty commented on #2377
I think you are putting to much focus on very small nets that have very little impact on timing.  The percentage error sounds impressive but the absolute values are trivial.  I'll look at this if you want but I suspect it has little to do with the aps.  You'll need to provide a test case.

[2022-10-17 17:01] vvbandeira commented on #2182
Hi @gbrown40, could you try with the latest commit. We recently merged #2375 which might help your issue. Also, you probably should remove the pip version since is very old -- it has not been updated in over a year.

[2022-10-17 18:01] #2133 closed

[2022-10-17 19:50] antonblanchard commented on #2377
That's fair. At a high level I'm trying to reduce the differences I see in STA between grt and drt. I am still concerned that these small nets are contributing to errors when calculating our RC parasitic estimates (ie ORFS `util/correlateRC.py`), but I'm yet to prove if it is.

[2022-10-19 15:58] gbrown40 opened #2382 "Having trouble reading in lef files"
When I read in lefs from the open source Ariane RISC-V design, I am getting issues like:

[WARNING ODB-0176] error: undefined layer (metal1) referenced
[WARNING ODB-0186] macro XOR2_X2 references unknown site FreePDK45_38x28_10R_NP_162NW_34O

Looking at the lef files, layers that cannot be found when reading in do exist, so I'm not sure why they are causing problems. These issues cause the lef to

[2022-10-19 16:10] QuantamHD commented on #2382
Could you provide a link to the tech lef you are using?

[2022-10-19 16:37] lulu9312 opened #2383 "Standard cells of type buffer are not connected to power"
Buffer cells does not connect to power rails.

**Here's the screenshot :**
![std_buf](https://user-images.githubusercontent.com/61928883/196748347-79432a1b-3379-46fc-8181-ba303e76e290.png)

I saw a similar issue while running gcd design as well.

[2022-10-19 17:03] lulu9312 commented on #2383
I tried uploading file to reproduce the issue but I don't know for some reason it's not uploading.

[2022-10-19 17:36] maliberty commented on #2382
Please package this as a standalone test case (lefs & tcl script) and upload it.

[2022-10-19 17:38] maliberty commented on #2383
Only certain file types are allowed by GH so perhaps that is your issue.  Do you have a global_connect statement to connect these instances?

[2022-10-19 20:49] QuantamHD opened #2386 "FMTLib OpenROAD Compile"
**Describe the bug**
New versions of FMTLib no longer allow formatting of user defined types.

**Expected Behavior**
OpenROAD should compile with newer versions of fmtlib. We should add a CI check to make sure that OpenROAD compiles with new versions of fmtlib so that we don't introduce more cases like this.

**Environment**

Debian Testing

[2022-10-19 20:51] maliberty commented on #2386
I think fmt has been horrible broken by their new changes.  See https://github.com/fmtlib/fmt/issues/3088 (and https://github.com/fmtlib/fmt/issues/3081).

[2022-10-20 04:53] lulu9312 commented on #2383
Yes. I have used global_connect statement.
Here's the file to reproduce this case:
[detail_route_ldo_sky130hvl_base_2022-10-20_10-22.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9826400/detail_route_ldo_sky130hvl_base_2022-10-20_10-22.tar.gz)

[2022-10-20 14:09] tspyrou commented on #2364
@vijayank88 in the timing report after placement based timing optimization, does openroad think that the timing is met? If no, this is an openroad issue, if yes this is a setRC.tcl setup issue. Can you let me know?

[2022-10-20 14:59] vijayank88 commented on #2364
@tspyrou
Placement stage timing met and resizer log:
[code]
So, its a `setRC.tcl` setup issue.

[2022-10-21 03:26] maliberty commented on #2383
It appears that you need to run your global connect statements again as the instance in question must have been created afterwards.

@arlpetergadfort does you recent change in odb provide a way to do this from the db or do the commands need to be run again?

[2022-10-21 03:47] antonblanchard opened #2395 "grt: read_guides doesn't clear existing guides from database"
**Describe the bug**
`read_guides` partially appends to the previous guides, such that RC parasitic estimates change.

**Expected Behavior**
I would expect either the previous guides to be completely cleared, or the old guides and new guides should be successfully merged.

**Environment**
[code]

**To Reproduce**

With the attached test case, `doit_0.tcl` uses the data directly in the database aft

[2022-10-21 08:37] antonblanchard commented on #2377
Fix has been merged, closing

[2022-10-21 08:37] #2377 closed

[2022-10-21 12:29] arlpetergadfort commented on #2383
@maliberty if the flow is fully in ODB, then yes, the rules are saves in the database and they can be rerun at anytime with `global_connect`.

[2022-10-21 16:04] eder-matheus commented on #2395
@antonblanchard Could you check this PR: https://github.com/The-OpenROAD-Project/OpenROAD/pull/2397? I may still see some differences in the debug prints on how the topology was constructed, but they should be equivalent, and the parasitic values should be the same.

Also, you should not see the crash again.

[2022-10-21 19:28] #2395 closed

[2022-10-21 19:54] antonblanchard commented on #2395
Thanks @eder-matheus. This may be a different issue, but I still see a significant difference in the RC parasitic estimates between using the guides in the db, and `read_guides`:

With the same test case and using the guides from the db, things looks reasonable. The parasitic resistance estimate is 364 ohms:

[code]

Running the test where we read use `read_guides`, the parasitic resistance estima

[2022-10-21 20:08] antonblanchard commented on #2395
Thinking about it some more, it almost certainly is an unrelated issue. I'm happy to open a new issue if you prefer.

[2022-10-21 20:10] eder-matheus commented on #2395
Thanks for the feedback, @antonblanchard. I think a new issue would be better to avoid confusion with two different issues here, if you don't mind.

[2022-10-22 03:37] antonblanchard opened #2399 "grt: RC parasitic estimates wrong with read_guides"
**Describe the bug**
There are issues with RC parasitic estimates when using `read_guides`.

**Expected Behavior**
RC parasitic estimates should be the same, whether the data was sourced from the odb or `read_guides`

**Environment**
[code]

**To Reproduce**

The following test case shows the issue:

[code]

The connectivity appears wrong. An example of what is expected (parasitic estimates calcul

[2022-10-24 06:00] openroadie commented on #2382
@maliberty I can take a look once the test case is available.

[2022-10-24 17:23] maliberty commented on #2383
@lulu9312 what flow are you using?  ORFS? OL? other?

[2022-10-24 18:04] gbrown40 commented on #2382
Sorry for the late reply, where should I upload the files?

[2022-10-25 13:20] lulu9312 commented on #2383
@maliberty I am using ORFS flow. I have added global_connect statement before grobal route, now the cells are connected to power.

![buf_correct](https://user-images.githubusercontent.com/61928883/197778945-8cb8dd1b-6ed4-4fb6-adf2-8b6bce110998.png)

[2022-10-25 13:37] #2383 closed

[2022-10-26 08:15] JiaDYuan commented on #2221
Hi,  I want to ask how to use the DFFRAM or openRAM in the ORFS flow to place and route a Rocket core?

[2022-10-26 18:20] donn opened #2418 "suggestion: include fmt and spdlog as submodules?"
Building OR is something of a problem now on some operating systems given that fmt recently had a new major version release which package managers such as brew and pacman have upgraded to.

As you already include abc in the build process which is much larger than either of those packages, I'm wondering why not simply build fmt and spdlog? You get the ability to pin both versions to avoid this kind

[2022-10-26 18:39] donn opened #2419 "`openroad -python` API breaks"
**Describe the bug**
There are a number of API breaks when it comes to `openroad -python` as of late: First, `-exit` is now required as otherwise OpenROAD will drop into a command prompt, which was previously not the case (but overall easy to work around); more importantly, `openroad -exit -python -m` to load a Python module no longer works *at all*. This impedes [DFFRAM](https://github.com/AUCOHL

[2022-10-26 18:50] maliberty commented on #2419
@proppy would you take a look?  It seems related to your changes.

[2022-10-26 19:33] QuantamHD commented on #2418
I'd advocate against this approach. I think it's probably better to stay compatible with both versions.

https://github.com/The-OpenROAD-Project/OpenROAD/issues/2386

[2022-10-26 20:54] rovinski commented on #2419
I wonder if this was a supported feature or unintended consequence. It obviously seems useful.

I think a question arises about whether `-python` is supposed to be an "ordered" or "unordered" flag (I can't find proper taxonomy for this name convention). Is `-python` _supposed_ to change the parsing of all arguments after it, or is that unintentional? Do we expect `openroad -exit -python` to work b

[2022-10-27 00:13] proppy commented on #2419
Yes spotted this too, see https://github.com/The-OpenROAD-Project/OpenROAD/issues/2287 and https://github.com/The-OpenROAD-Project/OpenROAD/pull/2288 as an attempt to fix it.

does calling `placeram.py` as a script workaround the issue?

My understanding from the chatter on #2287 was that it was never quite documented/supported. If that's a behavior the project cares about we should make sure it's

[2022-10-27 01:21] #2418 closed

[2022-10-27 19:02] gbrown40 commented on #2382
Here are the lef files I am trying to read in:
[lefs.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9882416/lefs.zip)

[2022-10-28 05:44] vijayank88 commented on #2382
@gbrown40
May I know which OpenROAD version?
`openroad --version`

[2022-10-28 11:38] vijayank88 commented on #2364
@tspyrou
Shall I transfer this issue to OpenLane directly?
Because some of MPW CI designs as well facing same issue.
Placement/CTS/Global routing stage slack met. But during signoff stage facing setup/hold violations and flow get failed.

[2022-10-28 13:43] kareefardi opened #2429 "`extract_parasitics` crash"
**Describe the bug**

crash after running `extract_parasitics`.

**Expected Behavior**

proper exit with an error message or a warning.

**Environment**

[code]

**To Reproduce**

attached is a test case with the relevant files (.def, .lef, extraction rules file and flow.tcl) [test-case.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9888881/test-case.tar.gz)

**Logs**

stack trace:

[2022-10-28 19:42] donn commented on #2419
@proppy

Nope. PlaceRAM uses relative imports, so a module is required. I guess another workaround would be to create a standalone file that imports the module but that is… jank

[2022-10-28 22:14] tspyrou opened #2432 "Get GCD antenna fixing to work in sky130hd in a flow.tcl based unit test // It works in hs but not hd."
Its best to work on these one at a time.

[2022-10-28 22:15] tspyrou commented on #2432
@jjcherry56 fyi

[2022-10-28 22:39] tspyrou opened #2433 "Global placer should not print internal debug messages to the user"
**Describe the bug**

**Expected Behavior**

**Environment**

[code]

**To Reproduce**

**Logs**

[code]

**Screenshots**

**Additional context**

[2022-10-29 00:58] eder-matheus commented on #2432
@tspyrou @jjcherry56 I've worked with gcd this week, and I think I found the problem. Here's the scenario:

* Before `global_route` and `repair_antennas` commands, we run `pin_access` to use the results in grt.
* The `repair_antennas` command is appropriately detecting the violations based on the global routing results and inserting the diodes as expected.
* After `repair_antennas`, the detailed r

[2022-10-29 03:49] maliberty commented on #2433
What messages?

[2022-10-29 05:55] vijayank88 commented on #2382
I'm not used python API. But you're using  2 months old commit. https://github.com/The-OpenROAD-Project/OpenROAD/search?q=49fdec96d&type=commits . Update OpenROAD and test it.

[2022-10-29 15:14] jjcherry56 commented on #2432
I suspect drt is severely lacking when it comes to incremental changes and
it will be very error prone to try and add incrementality. Is there an API
to remove the drt data structures (which stupidly copy the entire db) and
just start from scratch as a workaround/short term solution?

On Fri, Oct 28, 2022 at 5:58 PM Eder Monteiro ***@***.***>
wrote:

[2022-10-31 09:41] proppy commented on #2419
Looking at this it seems that we can easily restore the previous behavior by simply calling `Py_Main` with the original `argc` and `argv` but that would effectively means that we ignore the `-exit` flag, since `Py_Main` will exit the interpreter and effectively loose its context.

So before "fixing" this regression I think we need to agree on which usecases we want to support:
A. users should be a

[2022-10-31 15:07] maliberty commented on #2419
If the user doesn't give -exit then a REPL should remain open.  (A) doesn't make that clear so I'm not sure what "similar behavior" means.

[2022-10-31 15:10] proppy commented on #2419
Similar behavior as the regular python command line interpreter (same flags, same behavior wrt to exit criteria and status).

Even if a file parameter is specified? If that's the case do we care about the interpreter context being the same for the file execution, and the interactive REPL?

[2022-10-31 15:12] maliberty commented on #2419
It happens all the time that I want to run a script and leave the tool open to inspect the results.  How would I do that with your proposal where it exits without -exit being specified.

[2022-10-31 16:40] proppy commented on #2419
Then we need find a way to satisfy what @donn is after (forwarding the flag verbatim to the python interpreter) and what you're after (sharing the interpreter state between a script execution and an interactive session) without changing (too much?) the cli calling convention.
PS: I'm curious how the cli managed to accomodate both use cases before the refactor in #1812 (https://github.com/The-OpenR

[2022-10-31 16:48] maliberty commented on #2419
Bash handles this scenario with --
[code]
So we could have

openroad -python -exit -- -m module

The other alternative is to say everything after -python is passed to Py_Main directly.  Either is ok so long as it is clearly documented.

[2022-10-31 17:07] proppy commented on #2419
But would you prefer it to be implemented with the current `-exit` behavior? or rely on the built-in handling of `-i` and `PYTHONINSPECT` by `Py_Main`?

[2022-10-31 17:14] maliberty commented on #2419
I don't think it makes sense to have both -i & -exit.  Switching from -exit to -i would be nice for compatibility with python but would be a pain in all other regards.

I also don't understand the python decision that -i implies "The PYTHONSTARTUP file is not read."  That potentially makes -i change the results which I find undesirable.  We separate -no_init from -exit which seems better to me.

I

[2022-10-31 17:43] eder-matheus commented on #2432
I've added a clear function that runs before pin_access, which is now working. I'll update my table with the comparison of antenna violations, and if the numbers look good, I'll create a PR.

[2022-10-31 23:09] eder-matheus commented on #2432
@jjcherry56 @tspyrou Here is the updated table after the fix on drt:
<img width="1139" alt="image" src="https://user-images.githubusercontent.com/43450810/199119955-0a1258df-bd89-4586-b8fd-104f16b7a4e0.png">

- We can see a large reduction in the number of DRT antenna violations now, but it is still far from optimal. I'm investigating some designs to understand why there are still violations in th

[2022-11-01 18:58] jjcherry56 commented on #2354
fixed in OR e589eac58

[2022-11-01 18:58] #2354 closed

[2022-11-01 19:55] maliberty commented on #2221
You would run openram to generate the ram and then add the LEF to the P&R flow with the gds used for the final gds generation.  There is no direct link between the two.

[2022-11-01 20:12] maliberty commented on #2429
The DEF is bad but OR needs to improve its error handling.  In BLOCK\[2\].RAM32.SLICE\[1\].RAM8.DEC0.AND7/D it starts:
[code]
which starts on met1, vias down to li1 and then has a via from met1 to met2 which is not a correct path.  The path should be layer contiguous.

I'll fix OR to give a better message but magic needs to generate a better DEF.

[2022-11-01 22:13] jjcherry56 commented on #2432
I am not an antenna expert but I don't believe the proximity of the diode to the load is an issue. The diode just provides a path to the substrate if too much charge accumulates on the wire during fabrication.

I would focus on aes because it is the smallest design that has significant residual violations.
I am going guess that the problem is "almost" violating nets that grt/drt differentces push

[2022-11-01 22:49] tspyrou commented on #2433
All those ones about the nesterov iterations. I was thinking that those should be debug messages.

[2022-11-02 10:30] #2429 closed

[2022-11-02 13:42] maliberty commented on #2433
There needs to be some sort of progress message on a long running command.  What do you suggest?

[2022-11-02 15:23] tspyrou opened #2454 "add ortools to /etc/Dependency.sh before hier_rtlmp merges and let people know"
**Describe the bug**

**Expected Behavior**

**Environment**

[code]

**To Reproduce**

**Logs**

[code]

**Screenshots**

**Additional context**

[2022-11-02 15:24] tspyrou commented on #2454
@maliberty fyi

[2022-11-02 20:00] #2454 closed

[2022-11-03 14:22] arlted opened #2460 "write_verilog command and hierarchy in a netlist"
Hi,
Does the write_verilog command in openroad have a switch for keeping hierarchy in a netlist? I used the read_verilog command in openroad to read a top level netlist file that instantiates two modules, but when i tried to write it out using write_verilog, a flattened netlist was generated. Is it possible to keep the hierarchy of a netlist in openroad?

Thanks,
Ted

[2022-11-03 14:24] maliberty commented on #2460
Not currently though we have some work underway that could allow it in the future.

[2022-11-03 14:28] arlted commented on #2460
Thanks Matt!! Looking forward to it.

[2022-11-03 19:46] tingho0823 opened #2464 "Unable to verify the installation of OpenRoad using clone and build method"
Hi ,
I am using Ubuntu 22.04 in WSL (Windows Subsystem for Linux). I am trying to verify my installation of OpenROAD using clone and build and getting error by following the website.
[https://openroad.readthedocs.io/en/latest/user/BuildLocally.html](url)

The error showed that the command for openroad -help is not found.

![Screenshot 2022-11-04 034337](https://user-images.githubusercontent.com/76

[2022-11-03 19:59] rovinski commented on #2464
Does `OpenROAD-flow-scripts/tools/install/OpenROAD/bin` exist? If not, then the binary was not installed properly.
Or if you have Docker installed, it might be inside the Docker container.

[2022-11-04 02:36] vvbandeira commented on #2464
@tingho0823 if the binary does not exists as Austin mentioned, please upload the following:
[code]

[2022-11-04 15:35] tingho0823 commented on #2464
Hi @vvbandeira , the  OpenROAD-flow-scripts/tools/install/OpenROAD/bin  does not exist like Austi mentioned.Here is my dependency.log ,env.log, build.log
[build.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/9939864/build.log)
[env.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/9939866/env.log)

[dependency.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/99398

[2022-11-04 16:37] tingho0823 commented on #2464
I found out that i only can run the `etc/DependencyInstaller.sh` in `\OpenROAD-flow-scripts/tools/OpenROAD`. here is the dependency.log

[dependency.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/9940366/dependency.log)

[2022-11-05 01:42] tingho0823 commented on #2464
I try to run `./build_openroad.sh` again but it failed at 98%
![image](https://user-images.githubusercontent.com/76089746/200095560-40eb6a29-913c-484a-8867-cd50a452a136.png)

[2022-11-05 05:30] rovinski commented on #2464
Your log shows several
[code]
Is it possible you are running out of memory? By default the build script uses all available cores to build in parallel. You can reduce the number of parallel processes with `./build_openroad.sh --threads N` where `N` is the number of threads. If you have e.g. an 8-core machine you might try 4 threads instead.

[2022-11-05 12:30] hpretl opened #2470 "Feature: Allow compressed files (`.gz`) for various file types."
**Describe the bug**

This is no bug but a feature request.

Since more and more PDKs and PDK variants get available disk space becomes an issue, also for large designs.  According to the OpenROAD documentation (Nov 04, 2022) some filetypes are already supported:

**Expected Behavior**

Allow `gzip` compression on all potentially large file types, as `.lib`, `.lef`, `.def`, `.gds`, etc., across th

[2022-11-05 17:07] tingho0823 commented on #2464
Thanks @rovinski  and @vvbandeira for helping! Much appreciated. I am able to use OpenRoad now.

[2022-11-05 17:12] #2464 closed

[2022-11-06 18:43] tingho0823 opened #2471 "GDS file is missing after make Design_Cofig"
Hi ,
I am using Ubuntu 22.04 in WSL (Windows Subsystem for Linux).I build OpenRoad locally.
Now  i try to  `make DESIGN_CONFIG=./designs/sky130hd/ibex/config.mk` but the final GDS file is missing.
I suspect that I installed **KLayout** in wrong path. Below show the output after  I `make Design_CONFIG` and the path of KLayout installed. If the KLayout is installed in wrong path, where should i inst

[2022-11-06 20:33] tingho0823 commented on #2471
**Latest Update**
I try to reinstall  Klayout in  `/OpenROAD-flow-scripts` and run `make DESIGN_CONFIG=./designs/sky130hd/ibex/config.mk` and the output is shown i got signal number 11 error

![image](https://user-images.githubusercontent.com/76089746/200193674-2c678232-5b93-4a21-8d37-ef0457590663.png)

[2022-11-06 21:57] rovinski commented on #2471
Please use the issue template so that we can help you most efficiently.
Please attach your flow log.

[2022-11-07 05:54] vijayank88 commented on #2471
@tingho0823
Make sure using latest commits from master.
Can you check where klayout installed `which klayout`

Do run the flow again and check:
[code]

[2022-11-09 11:44] kareefardi opened #2482 "`extract_parasitics` crash"
**Describe the bug**

crash after running `extract_parasitics`.

**Expected Behavior**

proper exit with an error message or a warning.

**Environment**

[code]

**To Reproduce**

attached is a test case with the relevant files (.def, .lef, extraction rules file and flow.tcl)
[test-case.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9970650/test-case.tar.gz)

**Logs**

stack trace:

[2022-11-09 16:53] maliberty commented on #2482
I see you have NDRs like:

  - met2_width_280
     + LAYER met2 WIDTH 280 ;

which is invalid.  In the DEF manual it states "Every nondefault rule must specify a width for every layer."  This is violated in your design.  How were these NDRs generated?

[2022-11-09 19:55] kareefardi commented on #2482
They were generated by magic and I believe that they could be fixed. Is that the cause of the crash?

[2022-11-09 20:49] maliberty commented on #2482
Yes.  We can make the DEF reader reject your input but that's about all.

[2022-11-09 20:58] RTimothyEdwards commented on #2482
@maliberty :  NDR errors are all mine, as I implemented the generation and parsing of non-default rules in magic fairly recently.  I read through the DEF spec but I did not see such a rule requiring all layers in each non-default rule (although, like pretty much the entire spec, the language is ambiguous. . . That could be read to mean only that every LAYER statement must have an associated WIDTH,

[2022-11-09 21:02] maliberty commented on #2482
@RTimothyEdwards its not a good spec.  I am basing it on the LAYER statement in NONDEFAULTRULES
![image](https://user-images.githubusercontent.com/761514/200940853-70fc0440-02eb-47ed-b01e-2d6631c21c0f.png)

and also the second sentence in
![image](https://user-images.githubusercontent.com/761514/200940980-e6f627c4-b9b7-4d9d-b71c-c49f6495bb09.png)

[2022-11-09 21:11] RTimothyEdwards commented on #2482
@maliberty :  The first quote matches my understanding and implementation of the nondefault rule.  The second sentence appears to refer only to vias since it's in the middle of a paragraph about vias, and (in my reading) indicates that every via layer must have a specified width.

[2022-11-09 21:13] maliberty commented on #2482
I don't believe it only applies to vias.

[2022-11-10 17:24] kareefardi commented on #2482
An updated def ([chip_io.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9983211/chip_io.zip)) doesn't crash and produces a spef ([chip_io.nom.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/9983222/chip_io.nom.zip))
However the resultant spef has a problem where nets have empty `*CONN` section. such as line `12143`
[code]
I am not entirely sure if these are due to these wa

[2022-11-10 17:47] maliberty commented on #2482
The shapes in this net are not connected to the pin shapes.  In short you still have a bad DEF:
![image](https://user-images.githubusercontent.com/761514/201169015-cb1e5b3d-556e-42b5-a9d4-774c33cc0cc4.png)

You can see pin shapes at the top and left that are highlighted but have no shapes reaching them.

[2022-11-10 22:06] RTimothyEdwards commented on #2482
@maliberty :  Can you please give me a coordinate where the net and pin are disconnected in the above screenshot?

[2022-11-10 22:08] maliberty commented on #2482
@RTimothyEdwards  There isn't a single connected pin so pick any from the DEF provided

[2022-11-10 22:28] RTimothyEdwards commented on #2482
@maliberty :  Okay, I see it now.  I seem to have broken something related to wire extensions while trying to fix something else.

[2022-11-11 16:14] #2419 closed

[2022-11-12 10:36] mingodad opened #2488 "Grammar railroad diagram"
Using this tool https://www.bottlecaps.de/convert/ to convert https://github.com/The-OpenROAD-Project/OpenROAD/blob/429a272dae6e384dcdc7ebc99bdc4ecb0f66f8a1/src/odb/src/lef/lef/lef.y and https://raw.githubusercontent.com/The-OpenROAD-Project/OpenROAD/7f985d5e0a07ebb08ccff8c4453abec95d747a26/src/odb/src/def/def/def.y into an EBNF understood by https://www.bottlecaps.de/rr/ui and manually replacing

[2022-11-12 14:27] maliberty commented on #2488
That's clever.  What do you propose we do with it?

There are places where it would be nice to inline the rules in the diagram, e.g.
![image](https://user-images.githubusercontent.com/761514/201478735-f3f5832b-8795-4931-b957-5527e9479956.png)
![image](https://user-images.githubusercontent.com/761514/201478753-28310625-68ce-48d1-b82a-d558086bab6d.png)
![image](https://user-images.githubusercontent.

[2022-11-12 18:36] mingodad commented on #2488
I hope it'll help document the language and also debug/develop the grammar, you can download the railroad diagram and add to the documentation.

[2022-11-12 18:39] mingodad commented on #2488
Also notice that the railroad diagram is navigable so we can click on `[spacing_type]` to jump to it's definition, if the definition is not singular it always appear separated.

[2022-11-12 20:58] maliberty commented on #2488
If you compare the diagrams on https://www.json.org/json-en.html they are more readable.  In general the [reference manual](https://www.ispd.cc/contests/18/lefdefref.pdf) gives a fuller definition and description.

[2022-11-14 16:35] maliberty commented on #2470
We already support compress .lib but could do so for other files.  Note that gds isn't read by OR but by KLayout (or Magic in OL).

[2022-11-14 17:19] tspyrou commented on #2482
It looks like this is not an openroad issue.

[2022-11-14 18:03] kareefardi commented on #2482
The cause of the crash isn't an openroad issue. The crash itself is an openroad issue

[2022-11-14 18:05] maliberty commented on #2482
We can add an error in DEF parsing.

[2022-11-14 18:45] maliberty commented on #2470
gzip lef & def are also already supported.  Is there anything to do here?

[2022-11-14 19:59] #2482 closed

[2022-11-15 01:27] QuantamHD opened #2497 "PDNGEN Array Spacing Violation"
It looks like PDNGen may not be complying with a particular array spacing rule in GF180MCU.

https://github.com/efabless/caravel_user_project/issues/185

Specifically

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu7t5v0/blob/d3798681284ea9b96bfd57bfda20948ac86767e4/tech/gf180mcu_5LM_1TM_9K_7t_tech.lef#L111

[2022-11-15 02:59] maliberty commented on #2497
@arlpetergadfort thoughts?

[2022-11-15 13:08] arlpetergadfort commented on #2497
@maliberty @QuantamHD looks real, not sure why its missing this (it might be honoring the LEF85 ones and missing the non-LEF58, with a testcase I would be able to replicate and fix the issue.

[2022-11-15 13:29] maliberty commented on #2497
@arlpetergadfort this is related to gf180 caravel and I've asked for a test case already from efabless

[2022-11-15 13:31] maliberty commented on #2497
@kareefardi please attached the test case to this issue.

[2022-11-15 14:11] arlpetergadfort commented on #2497
@maliberty Looking around the LEF parser, I cannot see where the array spacing data is stored? There is clearly handling for it in the lef parser itself, but I can't see where it gets added to ODB.

[2022-11-15 16:52] QuantamHD commented on #2497
@arlpetergadfort It looks like it's set in odb here.

https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/odb/src/lefin/ArraySpacingParser.cpp#L64

[2022-11-15 16:59] arlpetergadfort commented on #2497
@QuantamHD those are only the LEF58_ARRAYSPACING rules as far as I can tell. (it's only triggered on the LEF58_ARRAYSPACING keyword).

[2022-11-15 17:06] arlpetergadfort commented on #2497
This is where that keyword is added to the lefiLayer, but that data is never access again: https://github.com/The-OpenROAD-Project/OpenROAD/blob/c653563d31c25f39cc23f84c3d487aea7ca30136/src/odb/src/lef/lef/lefiLayer.cpp#L3750

[2022-11-15 17:47] maliberty commented on #2497
It looks like we don't store it currently for the base rule but do for the property.  That just means somebody has to add the  code to query the lef parser and build up the odb structure.  @arlpetergadfort is this something you want to handle or do you prefer I do it?

[2022-11-15 17:50] ekliptik commented on #2386
I got it to build with new versions through the provided workaround. I added `add_compile_definitions(FMT_DEPRECATED_OSTREAM)` to CMakeLists.txt of fmtlib, built and `make install`ed it, then I also built spdgen and OpenROAD from source.

[2022-11-15 17:51] maliberty commented on #2386
Is it necessary to recompile fmtlib in order to use FMT_DEPRECATED_OSTREAM?  Can you just add it to OR?

[2022-11-15 20:41] azwefabless opened #2503 "Requesting new feature on the ability to support multi via requirements on clock and "special" data nets"
I have been unable to determine if dual (or triple) via can be implemented in SKY130 for clock and other designated special nets as the default connectivity instead of single via.  The purpose is 3 fold:

1) Reduce clock net timing variation across corners by reducing the portion of the clock impedance that is consumed by via by either 2x or 4x.  This reduces the probability of hold time violation