[2022-01-05 15:27] mbalestrini opened #1514 "sta: report_checks clock reconvergence pessimism bug"
Running the same report_checks gives different results after calling another report_checks between them:

```report_checks .... -through mprj/wrapped_quad_pwm_fet_drivers_5```   >>> ```-0.69    clock reconvergence pessimism```
```report_checks .... -through mprj/wrapped_quad_pwm_fet_drivers_5/_3655_```   >>> ```-0.69    clock reconvergence pessimism```
```report_checks .... -through mprj/wrapped_q

[2022-01-05 16:55] jjcherry56 commented on #1514
The variable $::env(PDK_ROOT) is not set in the script and the pdk data is not in the test case.

[2022-01-05 18:56] maliberty commented on #1505
We use power_pins & ground_pins  so it is unlikely they are ignored.  Perhaps there is some change in behaviour.

[2022-01-05 19:01] maliberty commented on #1514
@mbalestrini it is best to use https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md to package the test case.

[2022-01-05 19:37] mbalestrini commented on #1514
Didn't know about or_issue.py
I'll use it and upload the result test case

[2022-01-05 20:12] mbalestrini commented on #1514
I think this or_issue.py script is oriented to an openlane flow error. This error came up running a custom sta script with the results from different flows (caravel, user_project_wrapper), and doesn't use .def files
I made a new zip the includes the pdk files needed: https://videogamo.com/tmp/asic/sta_crpr_issue_with_pdk.zip

[2022-01-05 23:58] maliberty commented on #1512
I appreciate the pictures but it is also helpful to have instance/pin names to know exactly what we are talking about.

[2022-01-06 00:17] maliberty commented on #1512
What were your global route settings to reproduce your guide file?

[2022-01-06 00:52] antonblanchard commented on #1512
This adds the global route step to the above tarball: [macro-pin-access-grt.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7818642/macro-pin-access-grt.tar.gz)

I'll find some of the offending pin names.

[2022-01-06 01:03] maliberty commented on #1512
I think this is the general problem in grt that it doesn't know about pin access.  It is just picking the middle of the shape as the access point and since it is so large a shape drt doesn't look far enough out to find a detour.

We have some work to move pin access earlier in the flow so that it's results are available to grt.  I think that will solve this issue once it lands (hopefully soon but

[2022-01-06 01:04] maliberty commented on #1512
I can test my theory once I have your grt setup.

[2022-01-06 01:14] antonblanchard commented on #1512
Thanks @maliberty that makes sense. In parallel I will look at why magic is creating such large pins (it seems to merge the rest of the metal on the layer into the pin).

If I use the ORFS scripts to convert the def to lef I get small pins. This also gives me a workaround for now.

[2022-01-06 04:43] maliberty commented on #1512
another possible workaround is macro pin extension though I haven't tried it.

[2022-01-06 05:14] maliberty commented on #1512
@eder-matheus I ran the grt provided and with "draw_route_guides {soc0.processor.icache_0._014_\[53\]}" I see the guide does go down through a fully blocked m3 layer.  That is surprising to me.  Would you look at that?  I know we don't do via congestion but even so we have to consider that a via requires a shape and there has to be less than 100% blockage.

[2022-01-06 05:28] maliberty commented on #1512
@eder-matheus interestingly adding pin_access doesn't help

"set_macro_extension 2" does work as a workaround to get a better guide.

[2022-01-06 10:03] antonblanchard opened #1518 "grt creates guides under obstructed layers when it doesn't need to"
I'm getting a short near a macro where there is loads of free routing space nearby:

![short-under-macro](https://user-images.githubusercontent.com/2029971/148363019-4f874990-45cc-4f3d-a562-8c33a27bb1e6.png)

I think the problem is that the macro has a slightly smaller obstruction on met1 vs all other layers. The route guide for `_012772_` looks like this (I added the macro obstructions to this pi

[2022-01-06 10:15] antonblanchard commented on #1518
Test case: [grt-track-under-obstruction.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7821047/grt-track-under-obstruction.tar.gz)

[2022-01-06 17:59] maliberty commented on #1518
We have seen something similar with chameleon.  This area under the shelf of m2 allows for no errors in track assignment as there is no way to uncross wires.  In that case we worked around it with macro extension.

We already remove capacity for blockages so I don't think we need to penalize extra for that.  We do need to penalize for cases where you are restricted to planar routing due to a block

[2022-01-06 18:01] maliberty commented on #1518
@antonblanchard if you want to tackle this yourself and give a PR you are welcome to.  It will probably be a bit before we can get it fixed (Eder is out next week).

[2022-01-06 23:03] eder-matheus commented on #1509
PR with the fiz merged.

[2022-01-06 23:03] #1509 closed

[2022-01-08 01:47] jjcherry56 commented on #1514
This is really an opensta issue and has nothing to do with openroad.
Fixed by
e6d5e2d7d Merge pull request #1527 from jjcherry56/sta_report_thru

[2022-01-08 01:47] #1514 closed

[2022-01-09 08:35] iruhm opened #1528 "OpenROAD GUI: is it possible to generate by script a jpeg or png from a selection?"
I have this small TCL script and I would like to directly script the jpeg or png generation to get the figure with the highlighted nets

for {set i 0} {$i < 10} {incr i} {
    select -type Net -name clknet_$i* -highlight $i
}

[2022-01-09 13:26] maliberty commented on #1528
See https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/scripts/save_images.tcl for examples

[2022-01-10 12:13] piegamesde opened #1530 "Compile error with newer boost version"
[code]

See also https://github.com/The-OpenROAD-Project/OpenROAD/issues/866

The latest boost version known to work is 1.69, the earliest version reported not to work is 1.75.

Please fix compilation with newer boost versions. If you do not plan on doing this anytime soon, then please pin down the dependency so that it already fails during configuration.

[2022-01-10 13:52] vijayank88 commented on #1530
@piegamesde
new boost version required is 1.76
[code]

[2022-01-10 16:59] maliberty commented on #1530
Platform integrators complain about pinned versions

[2022-01-10 19:58] QuantamHD commented on #1530
We may want to throw an error on known bad versions of boost or bundling a known good version.

[2022-01-11 15:20] piegamesde commented on #1530
Bad wording on my side. I meant specifying the supported version range in the build system. It is better to have an error message early on that says "you are using a version we don't support" than getting a random compile error and trying to figure out its cause. But I see that this can be rather difficult, especially if the dependency does not follow SemVer.

-----

I tried building latest master

[2022-01-11 16:13] maliberty commented on #1530
We don't test with each and every boost version so its hard to know what is supported beyond the one we do test with.   Usually some #ifdef can solve it if you dig a bit.  Unfortunately boost changes their APIs from time to time.

[2022-01-11 21:23] jameyhicks commented on #1360
@Manarabdelaty what is the workaround? I've run into this problem also.

[2022-01-12 00:50] antonblanchard commented on #1518
@maliberty Thanks, I'm still trying to dig myself out of some other bugs right now. Will update the issue if I do get some time.

[2022-01-12 01:10] antonblanchard opened #1535 "odb: SITE statement is allowed in both tech and library LEF"
I tried importing the sky130 PDK with separate `openroad -tech` and `openroad -library` commands, but it failed because the tech LEF has a `SITE` statement, and odb assumes it can only appear in a library LEF. The spec suggests it is allowed in both tech and library LEF.

Not a high priority, since ORFS and Openlane create a merged LEF and load it in one go.

[2022-01-12 04:30] maliberty commented on #1535
@osamahammad21 not urgent as Anton notes but good for a background task.

[2022-01-12 19:02] tspyrou commented on #1505
@abk-openroad fyi for Colin.

[2022-01-12 20:08] tspyrou commented on #1360
@eder-matheus it looks like the workaround is not working, @donn mentioned this today.
Please take a look at this.
A possible workaround might be to run the pin_access command before GR.

[2022-01-13 12:30] Colin-Holehouse commented on #1505
The pdngen code was updated to not require the specification of power_pins and ground_pins, insterad the code would look at all the pins on the macro for signal types POWER and GROUND. This works in the case where all POWER pins are to be connected to the same POWER net and all GROUND pins are to be connected to the same GROUND net.

Clearly that is not the requirement here. With the older code ba

[2022-01-13 19:05] Mark-at-Apex opened #1549 "write_sdf writing single (IOPATH A Z (0.00:0.00)) for some instance pins, and correct (IOPATH B Z (1.23::1.23) (1.23::1.23)) for others of same cell type"
We are starting to use OpenSTA fairly successfully, reading about 210K lines of verilog with about 514 standard cell types, with delay models using rise and fall resistances and pin capacitances for each.

We are trying to run gate-level simulations, with sdf annotation, written using OpenSTA's write_sdf command, and it is seemingly working successfully, except that about 6% of the IOPATH lines in

[2022-01-13 20:02] maliberty opened #1550 "USEMINSPACING OBS OFF breaks sky130 hd chameleon_hier"
re: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/commit/9da2d0659588f37dfea7771b7de6d623b486b050

@antonblanchard this has broken the ORFS test sky130 hd chameleon_hier.  Do you have time to look into it?  The router fails with

[ERROR DRT-0073] No ap for ibex_core/HADDR[10].

I guess the "USEMINSPACING OBS OFF" makes the pin inaccessible.

[2022-01-13 20:03] maliberty commented on #1550
@vvbandeira FYI

[2022-01-13 22:02] antonblanchard commented on #1550
I can have a go. sky130hd chameleon_hier dies in detailed placement with my setup, so I need to sort that out first:
[code]

[2022-01-14 09:54] antonblanchard commented on #1550
@maliberty the issue is we only have minimum clearance around the pins:
![bad_pin](https://user-images.githubusercontent.com/2029971/149495132-59293607-a9aa-4d51-a16b-f88ed011b191.png)

Creating a wide spacing clearance fixes it:

![good_pin](https://user-images.githubusercontent.com/2029971/149495223-a1499edc-f5d8-4215-8b7c-c475aec3d8e4.png)

Which I guess is expected since the blockage around it

[2022-01-14 14:51] maliberty commented on #1550
I think backing it out is best (would you make a PR to do so?).  I pointed out the same issue was likely with your other PR due to the min spacing assumption.

[2022-01-14 16:05] Mark-at-Apex commented on #1549
Not sure how this got closed by me, I am new to all the buttons here, I must have pushed one I didnt realize.

[2022-01-14 17:18] Mark-at-Apex commented on #1549
Thanks Tom, there is virtually no SDC in force at least as we start the write_sdf command, we are "learning" the circuti, and don't know yet how to apply the SDC, plus it is a very asynchronous circuit.  But I can look at report_calc for sure.  I wonder too if there are "automatic" ways that timing arcs are getting disabled

[2022-01-14 17:48] Mark-at-Apex commented on #1549
The results from report_dcalc look like this:
% help report_dcalc
report_dcalc [-from from_pin] [-to to_pin] [-corner corner_name] [-min] [-max]
   [-digits digits]
% report_dcalc -from MI1373/MI1370/X105613/A -to MI1373/MI1370/X105613/ZN -digits 2 -max
Library: NXP7105_first_liberty
Cell: SC_INV_100_60
Arc sense: negative_unate
Arc type: combinational
A ^ -> ZN v
Delay = 0.10 + 1.87 * 3.29 = 6.24

[2022-01-14 17:58] tspyrou commented on #1549
@Mark-at-Apex did you mean to close this?

[2022-01-14 17:59] tspyrou commented on #1549
@Mark-at-Apex sorry I see you meant to close it. Re-open if you have more questions.

[2022-01-14 17:59] Mark-at-Apex commented on #1549
Yes, I think you explained it enough for me to move forward, as I said, I need to understand the loop and constant reports more but that is just documenation I need to read.  Sorry, I didn't realize this analysis happened as part of write_sdf

[2022-01-14 22:19] Mark-at-Apex commented on #1549
Tom,
I am trying to actually identify the loops.  I do see that the timing arc with the 0.00 delay is the arc which has been disabled to break the loop.  But OpenSTA.pdf on pages 31-32 has the report_disable_edges command, and it then references a report_disable_timing command, which unfortunately when I try it, only gives me:

% report_disable_timing
invalid command name "report_disable_timing"

[2022-01-14 22:23] Mark-at-Apex commented on #1549
sorry, I cut and pasted the wrong outputs above, it should have been:

% probe inst MI102/X108826
cmd=<probeInst MI102/X108826>
SC_NOR2B2_90_25 MI102/X108826 (
	.A1	( X106072_ZN ),
	.ZN	( MI102/X108826_ZN ),
	.A2N	( MI102/X108828_ZN ),
	.VS	( MI102/VS ),
	.GS	( GND ),
	);

and
% probe net MI102/X108826_ZN
found MI102/X108826_ZN
netName = MI102/X108826_ZN
cmd=<probeNet MI102/X108826_ZN>
wire MI102/

[2022-01-15 04:50] maliberty commented on #1549
Its report_disabled_edges

[2022-01-15 21:07] donn opened #1555 "Detailed Placement Failed"
[code]

[reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7875887/reproducible.tar.gz)

This is likely something wrong with how we're handling diode strategies in OpenLane.

[2022-01-16 01:39] maliberty commented on #1555
What are you trying to do here?  You seem to have placed antenna cells everywhere and are re-running placement with CELL_PAD='4' which means tons of spacing is required around each antenna cell.  This seems like a methodology issue rather than a placement issue.

[2022-01-16 01:40] maliberty commented on #1555
The antennas cells are highlighted:
![image](https://user-images.githubusercontent.com/761514/149644019-2ae69a89-d71a-4ceb-af4f-2f46531cc9f5.png)

[2022-01-16 01:56] donn commented on #1555
Ah, gotcha. I'm just figuring out why diode insertion strats 2, 5 were failing- didn't write those.

[2022-01-16 01:56] #1555 closed

[2022-01-17 16:44] Mark-at-Apex commented on #1549
yah, that report only shows one arc in the loop, which matches the one in the SDF with 0.00 delay, but it doesn't help me find the rest of the arcs in the loop.  I am trying to identify combinational latches which I may want to replace with cells that have better sequential timing arcs.

[2022-01-19 03:13] QuantamHD opened #1563 "Integrate Google's AI Macro Placer: Now Open Source"
We should integrate Google's AI Macro Placer into OpenROAD. https://github.com/google-research/circuit_training

[2022-01-19 04:20] maliberty commented on #1563
I suggest starting with a loose integration into either ORFS or OL.  @QuantamHD is this something you want to tackle?

[2022-01-19 04:55] QuantamHD commented on #1563
Do we have any macro heavy designs?

[2022-01-19 05:21] maliberty commented on #1563
bp_* and swerv* have the most of the public test cases.

[2022-01-19 22:58] maliberty commented on #1549
I don't know of a tool for that but there are some developer debugs in sta that might help.  "sta::set_debug loop 2" will report on loop breaking in the timer (set before running sta).

[2022-01-20 22:09] Mark-at-Apex commented on #1549
That seemed to be quite helpful, but I would alert you to the following issue I cannot explain:

If I start in this way:
% sta::set_debug loop 2
% read_liberty NXP7105_liberty.lib

 % source read_veri.tcl

and then do
% source write_sdf.tcl > write_sdf.set_debug.log

Then I do get a big log:
      1 loop: Loop
      2 loop:  MI1373/MI1370/X30703A/Q -> MI1373/MI1370/X54375/A1
      3 loop:  MI1373/

[2022-01-20 22:16] maliberty commented on #1549
You could have zero delay for another reason (eg constant propagation).    Unless you see something that you specifically are concerned about I don't feel the need to look further.

[2022-01-20 23:35] Mark-at-Apex commented on #1549
Ok, earlier above I learned how to use the resport_disabled_edges command to identify the constant pins, and I added that to my analysis, and for my design, there are 12725 0.00 delays in SDF which can also be found in the loop report.  And there are 956 0.00 delays in the SDF which can also be found in the constand report, and there are no other 0.00 SDF delays, which don't fall into one of those

[2022-01-20 23:35] #1549 closed

[2022-01-23 06:53] iruhm opened #1576 "get_nets -of_objects returns a list of valid nets and a NULL"
I had to catch the NULL in the list of nets to avoid a script error.
Is this behaviour of get_nets intended or a bug?

This is the script part that I added to flow.tcl to get a robust clock net routing:

# Global routing
create_ndr -name mult -spacing { *2 } -width {met1:met4 *3}
set nets [get_nets -of_objects [get_fanout -from [get_full_name [sta::get_clocks *]]] -quiet]
foreach net $nets {
  if

[2022-01-23 07:56] antonblanchard opened #1577 "drt: routing finishes with 0 violations, but creates a short on met1"
While chasing an LVS issue in a design, it looks like detailed routing created a short on met1 without reporting it as a violation:

[code]

But there is a short between nets `net718` and `_017753_` on `met1`. This is a screenshot of just met1:

![drt-short](https://user-images.githubusercontent.com/2029971/150668775-ed10b56b-6e38-442a-a249-8b6b6ff958b8.png)

Coordinates: `1448.994`, `167.121`

[2022-01-23 07:59] antonblanchard commented on #1577
Testcase: [drt-drc-bug.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7920019/drt-drc-bug.tar.gz)

[2022-01-23 15:08] maliberty commented on #1576
Please provide a test case

[2022-01-24 05:31] iruhm commented on #1576
[Uploading run_all_aes_sky130hd_base_2022-01-23_21-53.tar.gz…]()

get_nets command is part of run_all_aes_sky130hd_base_2022-01-23_21-53/scripts/pre_global_route.tcl
without the comments the layout is generated with the custom clock tree routing rule

[2022-01-24 05:42] iruhm commented on #1576
[run_all_aes_sky130hd_base_2022-01-23_21-53.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7922886/run_all_aes_sky130hd_base_2022-01-23_21-53.tar.gz)
get_nets command is part of run_all_aes_sky130hd_base_2022-01-23_21-53/scripts/pre_global_route.tcl
without the comments the layout is generated with the custom clock tree routing rule

[2022-01-24 16:25] #1576 closed

[2022-01-25 15:29] eder-matheus commented on #1360
I've fixed a small bug in the `grt` code that uses the access points from `drt`. I've tested the falling design running the `pin_access` command and it is working properly now.

[2022-01-25 16:32] kareefardi opened #1582 "opensta get_cells -filter not filtering when called alongside -of_objects"
As the title says,
[code]
while this doesn't.
[code]
A quick look at the source code and seems like the -filter handler may not be properly scoped (unless that is intentional, then it should reflect in the documentation)

Thanks.

[2022-01-25 17:43] osamahammad21 commented on #1577
Working on it

[2022-01-25 19:10] #1360 closed

[2022-01-25 19:34] miniskar opened #1584 "Floorplan with constraint on number of pins"
I am getting a below error while synthesizing the opensource RISCV  using OpenRoad tools during the floorplan. I have used freepdk45 for my work. Can someone guide me how to resolve this error ?

OpenROAD 1 v2.0-880-gd1c7001ad
Error: sc_floorplan.tcl, 101 PPL-0024
floorplan/0/floorplan.log:[ERROR PPL-0024] Number of pins 1521 exceeds max possible 1247.

[2022-01-25 19:51] maliberty commented on #1584
You have more pins than can fit around the perimeter of your design.  You need either fewer pins, less space between pins, or a larger die area.

[2022-01-25 22:29] GuzTech opened #1585 "Error building odb"
After checking out `master` and running `./build_openroad.sh --local`, I get several errors when building odb:

[code]

I am using GCC version 11.1.0 (and clang 13.0.0 if that is used).

[2022-01-25 23:50] tspyrou commented on #1582
This is a bug, the filter should be respected.

[2022-01-26 16:33] dralabeing commented on #1585
@vijayank88 can you test this?

[2022-01-26 17:06] maliberty commented on #1585
Can you try building with ALLOW_WARNINGS=ON

[2022-01-26 17:10] GuzTech commented on #1585
@maliberty I assume like this `ALLOW_WARNINGS=ON ./build_openroad.sh --local`?

[2022-01-26 17:15] maliberty commented on #1585
You would need ./build_openroad.sh --local --openroad-args ALLOW_WARNINGS=ON

[2022-01-26 17:17] GuzTech commented on #1585
That gives me the following:

[code]

[2022-01-26 17:33] maliberty commented on #1585
Perhaps
 ./build_openroad.sh --local --openroad-args "-D ALLOW_WARNINGS=ON"

[2022-01-26 17:42] GuzTech commented on #1585
That did the trick! I can now try the GUI mode that you demonstrated :)

[2022-01-26 17:45] maliberty commented on #1585
Great.  The plan is to swap so that is the default outside of CI but at least you have a solution for now.

[2022-01-26 17:45] #1585 closed

[2022-01-26 19:23] jjcherry56 commented on #1582
fixed

[2022-01-26 19:23] #1582 closed

[2022-01-26 20:34] eder-matheus commented on #1512
It is possible that the pin_access didn't help due to the bug that I've fixed this week. I've tried the design with the latest master branch and the guide going through the m3 layer is not there anymore. Here is the comparison:

Previous global route:
<img width="1410" alt="Screen Shot 2022-01-26 at 17 30 57" src="https://user-images.githubusercontent.com/43450810/151242339-7bd16ed6-fd76-47b1-91df

[2022-01-26 20:46] eder-matheus commented on #1518
@maliberty Should this be applied only in the case of stacked routing obstructions (like in macros)? Just to make sure, the idea is to "extend" the 1st routing layer blockage so it is aligned with the 2nd layer blockage? In this way, we would avoid these areas where the detailed router cannot detour.

[2022-01-26 21:13] maliberty commented on #1512
Great - I'm glad PA fixes the known issue.  Are you looking at the 32 drcs?

[2022-01-26 21:16] maliberty commented on #1518
@eder-matheus yes extend to blockage either literally or by removing all capacity from the m1 gcells that are blocked above completely .

[2022-01-27 17:09] #1584 closed

[2022-01-28 21:14] eder-matheus commented on #1518
@maliberty @antonblanchard I've implemented an initial version of the fix for this issue, and the guides for the net mentioned above (net `_012772`) looks like this after my fix:
![image](https://user-images.githubusercontent.com/43450810/151622241-94c8d12d-9586-4a4f-966c-189a9d4cedb8.png)

[2022-01-28 21:26] antonblanchard commented on #1518
Much better. Thank you @eder-matheus!

[2022-01-29 22:18] antonblanchard opened #1597 "drt creates met1 wire stubs on sky130hd designs"
I notice quite a lot of met1 wire stubs on sky130hd designs. It appears when we are just connecting through met1:

![stub2](https://user-images.githubusercontent.com/2029971/151679175-a632fcc1-328b-428f-8b46-9bc90e3077e7.png)

So I thought it might be a design rule (like a minimum area rule). But it also appears at the end of longer wires, but not always:

![stub1](https://user-images.githubuserco

[2022-01-29 23:19] maliberty commented on #1597
is that a separate shape or part of the via?

[2022-01-30 02:07] antonblanchard commented on #1597
I think it's a separate shape (not sure how to be sure). I see the L1M1 and M1M2 vias and the associated met1 rectangles. The stub is just a rectangle of met1 with a net name.
![stub3](https://user-images.githubusercontent.com/2029971/151683851-d7b13447-527f-41b0-848c-b756f2981527.png)

LEF and DEF files:
[merged_spacing.lef.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7965157/merged

[2022-01-30 03:45] maliberty commented on #1597
That case is a stacked via and it doesn't meet min area without a patch metal on met1 so I don't see a problem at that coordinate.

[2022-01-30 07:27] antonblanchard commented on #1597
@maliberty Thanks. One last question at `423.755, 469.300`, net `us30.a[6]`. Here met1 extends in 3 directions from the stacked via. Shouldn't need a stub there should we?

![stub4](https://user-images.githubusercontent.com/2029971/151690684-9ae631cc-7f51-4201-8f64-3fb9802dcc8c.png)

[2022-01-31 16:43] maliberty commented on #1597
That one is more interesting.  There is a stack via there as well as met1 segments.  My guess is that it routed the stacked via first and patched it.  Then it added the other segments later and didn't remove the patch.  Could you package a test that produces this DEF?

Its not strictly a problem to have the extra patches though in some case it might lead to suboptimal routing if the patch blocks a

[2022-01-31 21:04] antonblanchard commented on #1597
Here's a packaged up test. I switched to the sky130hd jpeg test because it was smaller. `656.51500, 783.80000` net `_029496_`.

[stub-issue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7974230/stub-issue.tar.gz)

[2022-01-31 21:35] maliberty commented on #1597
Thanks, smaller is always better.

[2022-02-01 14:10] osamahammad21 commented on #1535
@maliberty In the current model, the site ownership belongs to dbLib. Should it be moved to dbTech?

[2022-02-01 14:31] maliberty commented on #1535
@antonblanchard what did you mean by "openroad -tech" and "openroad -library"?  The openroad executable does not take those command line options?  In general ORFS does load in two steps:

  read_lef $::env(TECH_LEF)
  read_lef $::env(SC_LEF)

[2022-02-01 14:34] osamahammad21 commented on #1535
@maliberty I think he means read_lef -tech/-lib

[2022-02-01 14:55] maliberty commented on #1535
@antonblanchard if you do
[code]
it works as does:
[code]
only
[code]
fails.   In ORFS we don't use either -tech or -library and I don't really think they are very useful.  I'd rather just deprecate them unless you see a use case where it matters.

[2022-02-01 18:29] Syndace opened #1603 "`bench_read_spef` crashes"
I am following [the documentation](https://openroad.readthedocs.io/en/latest/main/src/rcx/doc/calibration.html) regarding the calibration of OpenRCX. I used Cadence Innovus to extract the "golden SPEF". The following step, `generate_rules.tcl`, crashes at `bench_read_spef $golden_spef`, with following stack trace:

[code]

I've tried passing the golden SPEF using an absolute path too.

In fact, it

[2022-02-01 19:08] maliberty commented on #1603
I don't see that when I try it:

openroad> bench_read_spef
[ERROR STA-0407] bench_read_spef requires one positional argument.
STA-0407

it makes suspicious of your build.  In your other crash did you read_def first?  See https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/rcx/calibration/script/generate_rules.tcl

[2022-02-01 19:45] #1518 closed

[2022-02-01 19:56] Syndace commented on #1603
What you did (typing `bench_read_spef` and then pressing enter) doesn't cause a crash for me either. Typing `bench_read_spef` and then pressing tab twice for tab-completion crashes for me. Or using `bench_read_spef` to read my golden SPEF.

I've also just reproduced it, on a system that had never run OpenLane before:
[code]
(this time I've added `<tab>` where I pressed tab for auto-completion)

Al

[2022-02-01 21:28] maliberty commented on #1603
It is a readline issue and I reproduced it and will fix that.  However I suspect the real problem is you haven't loaded a design.

[2022-02-01 21:32] maliberty commented on #1603
Tab completion fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/1605

[2022-02-01 21:34] maliberty commented on #1603
The underlying problem is that tcl readline tries the command with '---' which it accepted as the filename.  Since no design is loaded you get the crash.  It now gives an error message instead.

[2022-02-01 22:32] Syndace commented on #1603
Hmm. Do you mean "design loaded" as in "prep -design foo"? That sounds kind of wrong, the OpenRCX calibration is a one-time PDK-level operation that should not require any design to be loaded, if I understand it correctly. Anyway, thanks for being so quick to prepare a fix, I'll try it tomorrow.

[2022-02-01 22:34] maliberty commented on #1603
If you look at the link I provided above you'll see it is reading in the patterns.def.  You have to have something to annotate spef against - it isn't a netlist by itself.

[2022-02-01 23:19] Syndace commented on #1603
So you're not talking about `prep -design foo`, but `load_lef` and friends. Got it. As I said I ran the whole script before, including those commands. I just tried again with a build containing your fix and even though I run the whole script - including `read_lef $TECH_LEF` and `read_def EXT/patterns.def`, I still get the `[ERROR RCX-0497] No design is loaded.` output. Here's the full log:
[code]

[2022-02-01 23:25] Syndace commented on #1603
Also just in case, here's me entering the commands manually one after another:
[code]

[2022-02-02 00:03] maliberty commented on #1603
I don't see that:

openroad> bench_read_spef foo.spef
[INFO RCX-0001] Reading SPEF file: foo.spef
[INFO RCX-0286] Number of corners in SPEF file = 0.

[2022-02-02 10:48] Syndace commented on #1603
Thanks, that was the hint I needed. If it's neither the command, nor the DEF file, it must be the LEF. It works when I load the phys LEF in addition to the tech LEF. Seems like you expect something to be defined in the tech LEF which isn't there in my case.

Anyway, it works, so I'm happy and I guess the issue can be closed :)

Slightly offtopic: is there any reference for what is considered "good

[2022-02-02 10:48] #1603 closed

[2022-02-02 19:45] eder-matheus commented on #1512
@maliberty @antonblanchard Sorry for the delay on it. I've run the design again with the latest OpenROAD (where we have the update for the macro obstructions) and with the pin_access cmd before the global route. Below is a brief summary of the state of this design:

- GRT ends with congestion. Here is the final congestion report:
![Screen Shot 2022-02-02 at 14 56 41](https://user-images.githubuser

[2022-02-02 19:48] eder-matheus commented on #1512
Here is the tarball with the final routing and the DRC report. You can load it with the script `load_final_dr.tcl`.
[1512_final_dr.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7989557/1512_final_dr.tar.gz)

[2022-02-02 19:52] maliberty commented on #1512
@eder-matheus is your tar with layer adjustments on or off?

[2022-02-02 19:53] eder-matheus commented on #1512
Adjustments on.

[2022-02-02 21:04] antonblanchard commented on #1512
I was trying to reproduce the DRC issues, using a recent checkout (0192cb7a083e) and I hit this:

[code]

[2022-02-02 21:28] maliberty commented on #1512
@eder-matheus would you provide the router inputs so I can see what's happening in pa.

@antonblanchard would you provide a testcase tgz for your crash

[2022-02-02 21:33] eder-matheus commented on #1512
Here they are. Just untar them into the directory.
[router_inputs.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7990200/router_inputs.tar.gz)

[2022-02-02 22:16] antonblanchard commented on #1512
@maliberty I just reran the original test case above to hit that fail:

[code]

[2022-02-02 23:29] antonblanchard commented on #1577
Thanks @osamahammad21! Any clues here?

[2022-02-02 23:33] maliberty commented on #1577
There is a lot of discussion going on.  The basic issue is that the short falls right on the boundary between two workers and there is some conflict over ownership of the shapes and markers.  It is getting attention.

[2022-02-03 04:46] antonblanchard commented on #1577
Thanks @maliberty, that gives me a possible workaround (running with `ROUTING_CORES=1`)

[2022-02-03 05:06] maliberty commented on #1577
Its not such the number of threads as it is the boundary condition.  I don't think it will help but you can try.

[2022-02-03 05:11] QuantamHD commented on #1577
Do we need to run convolutions over the routing grid,  or is there a more efficient solution here?

[2022-02-03 06:07] maliberty commented on #1577
There's just a bug that needs fixing

[2022-02-03 12:44] osamahammad21 commented on #1577
Changing the number of threads won't change a thing. I have a local change that solves this violation. But the real problem I see here is that 0 violations doesn't actually mean 0 violations. This is because of the nature of GC being run on separate workers not on the whole design, so it's affected by what the drWorker initializes it with.

[2022-02-03 15:01] 20Mhz opened #1614 "Add support to query liberty attributes through get_property"
The request is to add support to query liberty attributes through tcl.

Example:
[code]

[2022-02-04 09:55] ashkanr65 opened #1618 "installation problem"
Hi,
I am trying to install OpenRoad. However after the command "cmake .." I get this error.
Does anybody have any idea how can I solve this issue?
![image](https://user-images.githubusercontent.com/35424938/152508950-ee507e3a-0890-4d3d-8f5b-913513922e31.png)

[2022-02-04 15:33] maliberty commented on #1618
Have you installed the dependencies with ./etc/DependencyInstaller.sh per https://openroad.readthedocs.io/en/latest/main/README.html

It looks like you are missing spdlog

[2022-02-04 16:05] ashkanr65 commented on #1618
I installed the dependencies and but I get the same error. I have even installed spdlog separately and I received the same error.

[2022-02-04 17:26] vijayank88 opened #1619 "Design failed with DRC violations"
Using OpenLane flow latest tag for this run.
During detailed routing flow failed with (Metal spacing and short violations) DRC errors.
sky130_fd_sc_hd__o221a_1 cell creating issues.
[run1_droute_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8005027/run1_droute_packaged.zip)

Attached tar file for reference.

[2022-02-04 17:40] vijayank88 opened #1620 "global routing failing with routing congestion high"
Using OpenLane flow latest tag for this run.

Used relative die size calculated by yosys. Used full core utilization still flow failing with routing congestion too high error.

Attached reproducible tar file for reference.
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8005086/openroad_issue_reproducible.zip)
MPW repo: https://github.com/yongatek/caravel_y

[2022-02-07 14:37] Stephanommg commented on #1597
It is not clear to me whether this is a real problem and is expected to be solved or if @antonblanchard is simple curious to know why this happens.

This behavior is expected, due to what @maliberty said: a patch is place to solve a min area viol, then, another wire is connected to the shape, so the patch is not required anymore, but the router doesn't remove it.

[2022-02-07 18:56] antonblanchard commented on #1597
@Stephanommg I've been having routing issues with some of my designs, and looking for all areas that could be improved. Seems like there might be a small degradation in met1 routing capacity due to this issue. Not a high priority, but I would think it is worth fixing.

[2022-02-07 19:35] Stephanommg commented on #1597
@antonblanchard ok, I am currently investigating the best way to proceed with a solution.

[2022-02-07 19:55] maliberty commented on #1597
@tspyrou flagged this as a higher priority but it sounds like it isn't.  Your other two issues seem more important.

[2022-02-08 04:51] rovinski commented on #1597
Seems like there could be a patch cleanup step after routing which removes patches if the minArea constraints are otherwise satisfied. If it comes after the end of DR then it saves wirelength but doesn't improve routing. If it comes between DR iterations, it would free up routing but possibly cause instability; I'm not sure.

[2022-02-08 15:23] Stephanommg commented on #1597
@rovinski  My first idea was to clean the patches after each net is routed, but this way we would have 2 code logic, one for creating and other for removing, while we can just create the necessary patches after the net is routed. So I have chosen this approach.

[2022-02-08 15:57] rovinski commented on #1597
@Stephanommg I recall Banqi saying that they tried adding patches after routing, but there are circumstances where the route doesn't allow any patches without creating a violation. So I think removing the first approach might work better.

[2022-02-09 09:54] rovinski commented on #1597
Consider the following:
![image](https://user-images.githubusercontent.com/3936698/153171376-17f29e9a-12bd-410a-91a1-b1acda26c85c.png)
DR doesn't do patch metal until after all routes.
It connects pin 1 with M2 and a via and pin 2 in M1. Pin 2 is fine for metal area, but pin 1 is not. Pin 1 cannot have a patch added either because it is blocked by the route to pin 2.

I don't know how often this c

[2022-02-09 14:38] Stephanommg commented on #1597
AFAIK, the pin shape is guaranteed to have the minimum area met.

[2022-02-09 14:58] #1577 closed

[2022-02-09 14:59] osamahammad21 commented on #1577
@antonblanchard The pr is merged into master, so the issue is fixed now.

[2022-02-09 16:55] rovinski commented on #1597
Well if you run into DRC problems you might want to look at this / related problems.

[2022-02-09 18:57] dralabeing commented on #1619
@maliberty This is an MPW design. Should this be re-assigned to OpenLane?

[2022-02-09 20:07] maliberty commented on #1619
If it packaged as a standalone testcase (independent of OL) then it is ok for it to be reported here.

[2022-02-10 13:15] vijayank88 commented on #1619
@maliberty @dralabeing
The above design ran successfully with MPW-4 shuttle without any DRC errors. Used PL_TARGET_DENSITY =0.6.

As a try reduced PL_TARGET_DENSITY=0.55 run successfully without DRC errors.

[2022-02-10 21:36] maliberty opened #1634 "Add check for off-grid dbBPin shapes"
In https://github.com/The-OpenROAD-Project/OpenLane/issues/912 the root cause was an off-grid IO pin that lead to a pin access failure (all APs fail with off-grid errors).

We should have a pre-check at the start of routing that runs gc on each of the dbPin to give a clearer warning about such a problem.

[2022-02-11 11:07] rovinski commented on #1634
On a related note, maybe it's a good idea to force `place_pin` to snap to the manufacturing grid.

[2022-02-12 06:31] vijayank88 commented on #1618
@ashkanr65
Have you installed both -run and -dev?
      ./etc/DependencyInstaller.sh -run      # installs dependencies to run a pre-compiled binary
       ./etc/DependencyInstaller.sh -dev   # installs dependencies to compile the openroad binary

Try to clone again in new directory and install it

[2022-02-14 05:14] DarylK78 opened #1640 "resizer failing with macro placement"
I've created a floorplan with some Skyway RAM macros placed, and am not getting an error in the placement step:

[ERROR DPL-0019] detailed placement failed on _102266_
Error: resizer.tcl, 76 DPL-0019

Is there way to get more information about this error?
[openroad.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8058021/openroad.tar.gz)

[2022-02-14 05:37] vijayank88 commented on #1640
@DarylK78
The attached format is not valid.
Please compress `openroad_issue_reproducible` directly  with .zip and attach here. Don't compress again with .gz extension

[2022-02-14 10:53] antonblanchard commented on #1512
Thanks @eder-matheus and @maliberty. I'm not seeing any issues now.

[2022-02-14 10:53] #1512 closed

[2022-02-14 17:06] DarylK78 commented on #1640
I've uploaded the zipped version here.

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8062611/openroad.zip)

[2022-02-14 17:30] vijayank88 commented on #1640
@DarylK78
Is this `openroad_issue_reproducible` generated by openlane flow or do you made any manual edits for zip?
Still I'm see `.gz` extension. See after unzip
[code]

[2022-02-14 17:35] DarylK78 commented on #1640
Sorry about that, try this one

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8062785/openroad.zip)

[2022-02-15 01:45] Stephanommg commented on #1597
@antonblanchard the solution is on master branch. In the end I tested with other designs and forgot to test with this one, so I await for your confirmation that it really solved the problem for this design. Also, the feature is by default turned off since it increased runtime. You need to activate it using the -clean_patches flag in the tcl with the router parameters.

[2022-02-15 05:35] vijayank88 commented on #1640
@DarylK78
[code]
missing sky130_sram_macros directory.

[2022-02-15 16:23] DarylK78 commented on #1640
Sorry again, I added those directories and tested the run.sh script to verify the issue is reproduced.

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8072790/openroad.zip)

[2022-02-16 06:14] maliberty commented on #1640
You have a fair amount of placement density coming into this step before repair_design is even run:
![image](https://user-images.githubusercontent.com/761514/154206336-63aacade-4379-4b4c-99fe-a2ba9c2adce2.png)
It fails detailed placement even before repair_design.You also have a lot of violations of max slew & cap that exacerbates the problem.    When you design with 60k placeable instances genera

[2022-02-16 06:58] vijayank88 commented on #1640
@DarylK78
Update your config.tcl with `set ::env(CELL_PAD) 2` and its resolves DPL error at my end.
Also consider @maliberty response to avoid routing/timing problems.

[2022-02-16 15:49] #1381 closed

[2022-02-16 15:52] DarylK78 commented on #1640
Thanks for the helpful responses.  A few notes:

1) I am using the default synthesis settings from OpenRoad.
2) When I tried this same design without doing any manual macro placement, it was unable to route due to the macros being placed directly on top of one another.  With the pins being along the top and bottom, this was an issue which is why I tried to move them apart a bit.
3) In my experienc

[2022-02-16 16:05] maliberty commented on #1640
1) Yosys does synthesis not OR.  Do you mean default OL settings in general?
2) File an issue if that happens
3) My experience is that a small halo should be left around the macro to leave room for buffering and routing.  If it works for you that's fine.

[2022-02-16 16:19] DarylK78 commented on #1640
Yes, I did mean the default OL settings for synthesis with yosys.

[2022-02-16 16:31] maliberty commented on #1640
There are many OL flow settings that affect OR and I'm wondering about those more than yosys.

[2022-02-16 16:33] DarylK78 commented on #1640
I can submit my synthesis setup if that would be helpful?

[2022-02-16 18:37] maliberty commented on #1619
@Stephanommg please take a look at why this isn't able to route cleanly.  It doesn't look especially dense or complex.

[2022-02-16 18:49] DarylK78 commented on #1640
After placement I am running into routing congestion, can you take a look and give some suggestions?

[2022-02-16 18:57] #1640 closed

[2022-02-16 19:02] DarylK78 opened #1646 "global routing failing"
Running a design with 60K placeable gates, seeing routing congestion issues and not sure how to debug.

I am unable to attach my operoad.zip as it say "is not included in the list"

[2022-02-16 22:00] maliberty commented on #1646
Perhaps it dislikes the extension or you have the issue in https://github.com/github/hub/issues/1479

Try changing it to .zip1 and see if it works.

[2022-02-17 00:00] DarylK78 commented on #1646
Actually seems to be an issue with the filesize, is there a max on how large files to upload can be in the comments?

[2022-02-17 00:02] maliberty commented on #1646
Probably but idk.  You can always put the file in some cloud storage and provide a link (eg google drive, dropbucket).

[2022-02-17 01:21] Stephanommg commented on #1619
@maliberty  The design seems a heavy one. Very slow since from the beginning and present persisting violations until the end. I ran it with my clipsize increase feature and it worked well, leaving no violation at the end. I still didnt look it in the GUI to see if the problem is really congestion.

[2022-02-17 06:05] vijayank88 commented on #1646
@DarylK78
Yes there is file size limitation to attach here. If you're facing issue, upload file in your personal repo and share link here.

[2022-02-17 15:46] Stephanommg commented on #1619
@maliberty  By looking with the GUI the problem really seems congestion
![image](https://user-images.githubusercontent.com/1700817/154517085-30ee63a8-38ab-4cbe-8b67-d7a38dd7cee4.png)
I think the clipsize increase is the right solution here. It is working well on general, it is just ispd19_test10 that is having some timeout problems, so I am currently searching for the right iteration window to act

[2022-02-17 16:30] maliberty commented on #1619
@Stephanommg ok this can wait on your clipsize work.  There is a workaround with lower density.

[2022-02-20 07:11] iruhm opened #1653 "[ord::get_db_block] findNet for a bus signal"
I would like to find a bus signal net with findNet:

`[ord::get_db_block] findNet us00.a\[6\]`
NULL
`[ord::get_db_block] findNet us00.a[6]`
NULL

The get_nets command is working with this command

`get_nets us00.a\[6\]`
_906fffb8b5550000_p_Net

What is the correct command to get the odb__dbNet for the bus signal?
I used the sky130hd/aes design for testing.

[2022-02-21 02:29] maliberty commented on #1653
_f021110a00000000_p_odb__dbNet

_f021110a00000000_p_odb__dbNet

[2022-02-21 02:29] #1653 closed

[2022-02-21 05:27] DarylK78 commented on #1646
I was able to get the archive to a manageable size, this was run with the PL_TARGET_DENSITY at 0.25 and the FP_CORE_UTIL at 25.  Still seeing too much congestion

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8106460/openroad.zip)

[2022-02-21 06:46] vijayank88 opened #1655 "Routing congestion too high error"
I'm using OpenLane Tag: [2022.02.21_02.33.47](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.21_02.33.47)
wb_interconnect is mpw-3 shuttle precheck passed design.

If I use same design in current OR App, failed at global routing. Log as follows:
[code]
Issue reproducible tar file attached here.
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROA

[2022-02-21 11:11] vijayank88 commented on #1646
@DarylK78
Core has enough free space. But still I'm seeing high congestion near macro and std cell area as well.
[code]
Can you try this setting in your OpenLane config.tcl and re-run the flow.

Possible try to place macros manullay based functionality.

[2022-02-21 15:02] maliberty commented on #1424
In the future UPF support will also require TCL for the same reason as SDC.
I looked at the wasi docs and it seem rather immature with lots of caveats.  I don't want to add extra headaches.

I'm still unclear if you are proposing an identical interface in python as tcl or a more programmatic one.

[2022-02-21 15:31] kareefardi commented on #1505
Hello. Any update on this?

[2022-02-21 17:16] mithro commented on #1505
I believe that @msaligane has done something like this in his OpenFASoC designs?

[2022-02-21 17:26] msaligane commented on #1505
@kareefardi we are currently working on this with @minghungumich and @Colin-Holehouse

However, we have enabled 2 voltage domains in our sensors, ldo using custom scripts to workaround issues.

The issue you filed doesn't provide me with the whole picture of what you are trying to do. Can you please help me understand or provide a testcase of what you're trying to do?

[2022-02-21 23:32] proppy opened #1659 "openroad python bindings should cover sta"
Currently openroad python bindings only cover the `odb` module, it would be nice to be able to also access sta which seems to be already distributed as a standalone library:
https://github.com/The-OpenROAD-Project/OpenSTA/blob/master/CMakeLists.txt#L436

With existing SWIG binding:
https://github.com/The-OpenROAD-Project/OpenSTA/blob/master/app/StaApp.i

[2022-02-21 23:33] proppy commented on #1424
To go back to my original issue https://github.com/The-OpenROAD-Project/OpenROAD/issues/1424#issue-1079742993, I'm just suggesting that we support importing the current python binding outside of the python interpreter embedded in the openroad process (`from openroad import odb` from a regular `python` process), we can discuss the scope of those bindings in a separate issue #1659.

[2022-02-22 05:01] maliberty commented on #1659
There is significant code in TCL around those binding (https://github.com/The-OpenROAD-Project/OpenSTA/tree/master/tcl).  It isn't as helpful as odb to expose the raw interface.  I think this falls under the general heading of dealing with meaningful python bindings.

[2022-02-22 05:18] proppy commented on #1659
Is the API surface covered by the SWIG binding a subset of what's exposed thru `libOpenSTA`?
https://github.com/The-OpenROAD-Project/OpenSTA/tree/master/include/sta

[2022-02-22 05:51] maliberty commented on #1659
I haven't check but most likely it is

[2022-02-24 18:47] eder-matheus commented on #1428
@donn My last update in grt (https://github.com/The-OpenROAD-Project/OpenROAD/pull/1668) fixes the crash on this testcase, even using `li1` as min routing layer. I will close the issue for now, but please let me know if you face any other problems.

[2022-02-24 18:47] #1428 closed

[2022-02-24 18:49] eder-matheus commented on #1430
@kauser-rl My latest update on grt has fixed #1428 segfault, that is probably the same issue you were facing. Could you try the latest commit on OpenROAD? If you still see the segfault, feel free to open this issue again. Thanks!

[2022-02-24 18:49] #1430 closed

[2022-02-28 00:25] antonblanchard opened #1677 "DRT fails with checkConnectivity break error"
I'm seeing the following error during DRT of the attached design. Interestingly the error mentions layer 6 (`met5`), which should be disabled with `-top_routing_layer met4`. I don't see any met5 in the global route guides, so I presume it isn't coming from there.

Test case: [connectivity-issue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8149727/connectivity-issue.tar.gz)

Just

[2022-03-01 04:29] antonblanchard opened #1679 "CTS post CTS optimization makes things worse"
I've been trying to reduce clock tree max delay and skew in some sky130hd designs. One thing I have noticed is that the post CTS optimization almost always makes things worse. As an example:

Enabled:
[code]

Disabled:
[code]

These are post DRT numbers, just to be sure the difference was real. I experimented with making the threshold for fixing larger (currently set at 5x), but that didn't seem t

[2022-03-01 04:35] maliberty commented on #1679
Its something of a leftover from before we had repair_clock_nets and it is pretty simplistic.  If it works better without I would just turn it off.

[2022-03-02 17:22] eder-matheus commented on #1620
@vijayank88 I was able to run the global route in this design by reducing the global adjustment (`GLB_RT_ADJUSTMENT`) from `0.3` to `0.25`.  Do you know if the global placement is using the `routability_driven` flag? Perhaps we just need a slightly better placement to make the global route finishes properly with the current configuration.

[2022-03-02 18:11] eder-matheus commented on #1655
@vijayank88 Similar to https://github.com/The-OpenROAD-Project/OpenROAD/issues/1620, I was able to complete the global routing with no errors by reducing the global adjustment (`GLB_RT_ADJUSTMENT`) from `0.3` to `0.1`. What is the placement density of this design?

[2022-03-02 18:41] eder-matheus commented on #1646
I see this in the congestion map:
<img width="669" alt="image" src="https://user-images.githubusercontent.com/43450810/156426850-6f680650-c9c4-49bd-b764-ef9e502f4a36.png">
Perhaps the placement density is too large? The global router ends with high congestion even when I don't use the resources adjustments.

[2022-03-03 00:38] mousaq92 commented on #1655
Hello,

(GLB_RT_ADJUSTMENT) "0.1" does pass global routing. However, all I see are filler cells in the design. Please correct me if I am mistaken.

![image](https://user-images.githubusercontent.com/98984518/156473627-a1821f45-ecbc-4dbc-9df1-ac260d062567.png)

[2022-03-03 00:40] mousaq92 commented on #1646
How do you get these heat maps in the GUI?

[2022-03-03 00:44] eder-matheus commented on #1655
@mousaq92 In the `Display Control`, look at `Instances` and check what is selected to be shown. You probably have to add the "StdCells" option. Check the figure below:
<img width="268" alt="Screen Shot 2022-03-02 at 21 44 08" src="https://user-images.githubusercontent.com/43450810/156474267-74cc21c6-7a4e-4293-9f01-f55e64c42303.png">

[2022-03-03 00:47] mousaq92 commented on #1655
Got it thanks.

[2022-03-03 00:48] eder-matheus commented on #1646
In the `Display Control`, go to `Heat Maps` and select what heat map you want to visualize. In the figure below, I'm showing only the routing congestion heat map:
<img width="304" alt="Screen Shot 2022-03-02 at 21 46 36" src="https://user-images.githubusercontent.com/43450810/156474560-d02fd897-945f-43c6-9e7b-2c09e38316aa.png">

[2022-03-03 00:56] mousaq92 commented on #1646
Thanks.

[2022-03-03 06:58] vijayank88 commented on #1620
@eder-matheus
I've tested with OR commit `OpenROAD 3eafa6da2942ec22d27e2208c99c7a449af34fbf` and faced congestion issue with OpenLane tag: openlane 2022.02.10_02.15.04
in OpenLane `set ::env(PL_ROUTABILITY_DRIVEN) {0}` default set.
With latest tags OR commits got updated. Let me try again with changes and update you on this.
Thanks...

[2022-03-03 07:02] Sya0 commented on #1646
@mousaq92, @eder-matheus
Sorry to interrupt but is this klayout?

[2022-03-03 08:03] vijayank88 commented on #1646
@Sya0 its OpenROAD GUI
Command to use: `openroad -gui`

[2022-03-03 08:49] vijayank88 commented on #1655
@eder-matheus
By reducing the global adjustment (GLB_RT_ADJUSTMENT) from 0.3 to 0.1 resolved congestion issue.

[2022-03-03 08:49] #1655 closed

[2022-03-03 08:56] vijayank88 commented on #1620
@eder-matheus
By reducing the global adjustment (GLB_RT_ADJUSTMENT) from 0.3 to 0.25 resolved the congestion issue.

[2022-03-03 08:56] #1620 closed

[2022-03-03 17:25] DarylK78 commented on #1646
I took the advice to a add macro channels, and now it is able to global route but runs into issues with diodes

See latest run here:

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8179731/openroad.zip)
.

[2022-03-04 22:39] growly opened #1684 "PDN generation fails, unclear why"
I'm running openroad through openlane (tag: 2022.02.08_01.48.52). The openroad version seems to be:

[code]

I am passing in an experimental DEF ([test.def.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8189108/test.def.zip)). Openroad fails to run the PDN generation step, failing with this unhelpful error:

[code]

I looked at what I think is the [source](https://github.com/The-OpenR

[2022-03-05 05:55] vijayank88 commented on #1684
@growly
are you running openlane for MPW?
Try to update latest OpenLane tag: [2022.03.03_02.36.44](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.03.03_02.36.44), if issue repeats attach openorad_issue_reproducible tar file generated by tool.

[2022-03-08 08:00] QuantamHD commented on #1679
Wouldn't it be better to auto detect a worse result, and just no-op?

[2022-03-08 21:03] growly commented on #1684
The problem has gone away with

1. Using the [2022.03.03_02.36.44](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.03.03_02.36.44) version of OpenLane
2. Setting the `FP_PDN_HPITCH` and `FP_PDN_VPITCH` parameters to something smaller than the size of the design (I got the hint from #1008)

[2022-03-09 19:32] luis201420 commented on #1646
@DarylK78 Could you upload the tarball containing the stage before the global placement?

[2022-03-09 20:18] DarylK78 commented on #1646
This one is the tarball of the placement step I believe

[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8217858/openroad.zip)

[2022-03-09 20:25] DarylK78 commented on #1646
This one runs the init_floorplan

[floorplan.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8217977/floorplan.zip)

[2022-03-09 20:57] eder-matheus commented on #1646
Thanks very much, @DarylK78!

[2022-03-09 21:18] ravi-varadarajan commented on #1646
I examined the congested areas and it is due the dense concentration of combinational cells (4 input nor or ao22/oa22) in the congested area. You should be able to resolve this by using non zero  global and detailed placement padding. We will also examine the init_floorplan tarball -- thanks

[2022-03-09 21:24] nmoroze opened #1688 "Trouble building LEF parser for macOS/Windows"
I noticed a couple errors in CI for the SiliconCompiler project when trying to build the si2 LEF parser out of `src/odb/src/lef` after updating to a recent version of OpenROAD. On macOS, the error is:

[code]
[source](https://github.com/siliconcompiler/siliconcompiler/runs/5473173740?check_suite_focus=true#step:9:228)

This seems to be related to [this](https://github.com/The-OpenROAD-Project/Open

[2022-03-11 15:02] donn opened #1690 "Ugly loop in detailed routing"
While the design passes detailed routing fine, magic later finds an issue with one of the metal1 holes:

\[Removed: see https://github.com/The-OpenROAD-Project/OpenROAD/issues/1690#issuecomment-1067179723 \]

See https://github.com/RTimothyEdwards/open_pdks/issues/236 for Tim's image

This is a blocker for mpw-5.

[2022-03-12 05:37] vijayank88 commented on #1690
Relevant to another issue: https://github.com/The-OpenROAD-Project/OpenLane/issues/954
----------------------------------------
Metal3 minimum area < 0.24um^2 (met3.6)
----------------------------------------

[2022-03-14 02:37] maliberty commented on #1690
Where in the layout is this hole to be found?

[2022-03-14 03:05] maliberty commented on #1690
The linked issue says

`The attached screenshot was taken at position (181.675um, 880.160um), (181.860um, 880.315um) `

which makes no sense as the design isn't that large:
[code]

That location is outside the DIEAREA.

[2022-03-14 03:06] maliberty commented on #1690
@RTimothyEdwards would you respond to the above about error location

[2022-03-14 07:42] donn commented on #1690
That's on me, I uploaded a different layout with the same issue. @maliberty @RTimothyEdwards

I'll upload a new one in a bit.

[2022-03-14 09:44] donn opened #1692 "PDN Generation issue for some macros"
Truthfully, I'm not 100% sure if this is just a config issue but, for some macros, for reasons I cannot discern, pdngen creates vertical straps that covers the macros, ignoring the halo setting.

![Screenshot from 2022-03-14 11-27-52](https://user-images.githubusercontent.com/12652988/158144218-25054caf-d8b3-4715-87b1-2473aea122bc.png)

* Reproducible:
[pdngen.tar.gz](https://github.com/The-OpenRO

[2022-03-14 09:44] donn commented on #1692
fyi @mattvenn

[2022-03-14 15:25] maliberty commented on #1690
@donn whichever is smaller is better :)

[2022-03-14 16:54] maliberty commented on #1692
The straps are on met4 & met5 and the LEF for rgb_mixer has no OBS above met3 so why shouldn't there be a straps there?

The more interesting question is why aren't the power pins connected.  I'll look at the config as I get a chance (just digging out from vacation).

[2022-03-14 17:20] mattvenn commented on #1692
the interesting thing for me is that some designs work and others don't.
I didn't pickup on the OBS - what adds that in the flow/config?

[2022-03-14 17:39] mattvenn commented on #1692
quite hard to see, but there are some 'via like' things on met4

![image](https://user-images.githubusercontent.com/634220/158228426-aa7776bf-e4d3-41a4-bcf0-b5b90705e71f.png)

![image](https://user-images.githubusercontent.com/634220/158228470-b48782ed-6c77-495f-bd3a-746d733ad86b.png)

that are on the met5, but they drop down to nothing on the macro.

another interesting thing is that the macro de

[2022-03-14 20:46] maliberty commented on #1690
I can reproduce it now and will take a look.

[2022-03-14 21:05] maliberty commented on #1690
There is no MINENCLOSEDAREA rule in the LEF for met1 so there is no reason for the router to think this is illegal.  Why does magic think so?  @RTimothyEdwards @donn

[2022-03-14 21:09] maliberty commented on #1690
@Stephanommg this is some ugly routing (even if not illegal per LEF):
![image](https://user-images.githubusercontent.com/761514/158261600-23a8c055-d2dc-4127-9216-92e0ab37c33c.png)

Would you take a look when you have a chance.  It isn't urgent.  Be sure to use the reproducible.tar.gz above.

[2022-03-14 22:47] gkamendje opened #1693 "Platform Bringup KLayout technology file description"
The document `PlatformBringUp.md` describes how to generate a KLayout technology file `.lyt` . While doing so, it suggests to "load the previously generated `.lyp` file" before describing the steps to generate the KLayout property file. I think the order of the two chapters should be swapped.
Having some screenshots in both the sections that describe how to generate` .lyt` and `.lyp` files would b

[2022-03-14 22:49] maliberty commented on #1693
If you feel inclined to improve it and submit a PR that would be great.  If not it will go in the work queue.

[2022-03-14 22:53] gkamendje commented on #1693
I think, I could give it a trial.

[2022-03-14 23:39] RTimothyEdwards commented on #1690
@maliberty :  (1) There _is_ a MINENCLOSEDAREA rule in the LEF file for metal1 if you are using the technology LEF file from open_pdks.  (2) Regardless of whether or not the LEF file declares MINENCLOSEDAREA, it's still a SkyWater DRC rule, and magic flags it.

[2022-03-14 23:44] RTimothyEdwards commented on #1690
@Donn:  (@maliberty ) :  The problem is that with the change to min/max/nom versions of the technology LEF file, the MINENCLOSEDAREA patch to the technology LEF file somehow vanished.  The issue is in open_pdks somewhere and I am investigating.  Please feel free to close this issue, as it is not an OpenROAD problem.

[2022-03-15 00:02] RTimothyEdwards commented on #1690
@donn :  I'm still not sure why the patch failed, but I'm testing a fix now.

[2022-03-15 04:21] maliberty commented on #1690
I'll leave this open for the routing quality concern but will not worry about the holes issue.

[2022-03-15 11:41] Colin-Holehouse commented on #1692
@donn - concerning the original issue you raised:
Straps are placed over the stdcell rows. For this testcase the stdcell rows are continuous across the entire design, hence the straps are across the entire design. In order to prevent this, the rows should be cut such that they do not overlap with the macro placements.

@maliberty - the connectivity issue you're seeing needs a little more explanati

[2022-03-15 11:53] donn commented on #1692
@Colin-Holehouse The working example also has rows across the whole thing. Except the difference is the straps stop just fine there.

[2022-03-15 12:38] Colin-Holehouse commented on #1692
@donn The macro rgb_mixer instantiated by pdngen.tar.gz has blockages up to met3, whereas the macro wrapped_rgb_mixer instantiated by working.tar.gz has blockages up to met4.
The fact that there are any blockages on met4 causes the macro halo to be used to cut the met4 stdcell grid lines.
I can modify the code to also check the layers used by pins to determine which layers to cut - is this a chang

[2022-03-15 13:26] mbalestrini commented on #1692
I think the LEF file is created in magic by openlane, using `lef write -hide`
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/magic/lef.tcl

From magic: `Option -hide generates an abstract view that has all interior detail removed, leaving only pins and obstruction layers covering the entire cell with cut-out areas for the pins`
I think as rgb_mixer only has PINS on met4 it do

[2022-03-15 23:04] eder-matheus commented on #1646
The latest version of OpenROAD have a fix for the diodes issue. Can you try that?

[2022-03-16 00:05] DarylK78 commented on #1646
I was able to get it to route by using DIODE_STRATEGY 4 and turning off fill.

I'm also seeing a lot of slew violations which might be affecting the diode issue (nets are too long).  I will go back to placement and try some additional things, and also attempt to use the latest version of openroad as well.

[2022-03-16 16:27] maliberty commented on #1692
I don't see any OR issue to fix here.  Is there any reason to keep this open?

[2022-03-16 17:24] DarylK78 opened #1702 "resizer leaving max slew violations after placement"
In running global placement, the resizer is leaving large max slew violations.  I have tried setting the max wire length to 1000 which should cause these nets to be buffered, but they are still being left with large transitions
[openroad.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8266833/openroad.zip)
.

[2022-03-16 20:09] mattvenn opened #1703 "Unconnected PDN node on net vccd1"
[code]
repo here: https://github.com/mattvenn/zero_to_asic_mpw5

run make user_project_wrapper should fail
might need to run make install to get caravel/openlane scripts first

[reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8271990/reproducible.tar.gz)

![image](https://user-images.githubusercontent.com/634220/158681367-90d3a26f-7584-42fc-b17b-483f0162f3aa.png)

[2022-03-17 05:55] vijayank88 commented on #1702
@DarylK78
Missing
[code]
Also post log message.

[2022-03-17 10:27] donn commented on #1692
@maliberty @Colin-Holehouse Maybe add a warning for if pins are found? Don't auto-avoid, just add a warning.

[2022-03-17 14:15] Colin-Holehouse commented on #1703
Given that there are no rails (FP_PDN_ENABLE_RAILS='0'), then there are no transistors being supplied off these segments of metal.

If rails are enabled, there is a connection to these stripes through the stdcell rails - when I set FP_PDN_ENABLE_RAILS='1' I get the following result:

[code]
So, whilst I agree that the report sections of the grid are disjoint, the fact that there are no connections

[2022-03-17 14:55] VidyaChhabria commented on #1703
@Colin-Holehouse @maliberty  Is this something that check_power_grid should not be reporting as an error? Let me know if it needs a change.

[2022-03-17 16:47] DarylK78 commented on #1702
Can you please try run.sh?  That is the one I tested before I posted the tarball

[2022-03-18 05:57] vijayank88 commented on #1702
@DarylK78
Are you talking about this slew violations?
[code]

[2022-03-18 16:22] DarylK78 commented on #1702
Yes

[2022-03-18 22:38] antonblanchard opened #1708 "Resizer produces long chains of buffers"
https://github.com/The-OpenROAD-Project/OpenLane/issues/960 mentions issues with resizer buffer insertion. Here is a test case, where the output of 1 DFF feeds the input of 24 others.

The buffers inserted by the resizer:

[code]

The DFFs have between 0 and 5 buffers inserted:

[code]

A 3:3:3 tree of buffers would reduce the max depth by 2.

[resizer-buffer-insertion.tar.gz](https://github.com/T

[2022-03-22 11:54] vijayank88 commented on #1702
@DarylK78
Its based manual macro placement right?
![Screenshot from 2022-03-22 17-20-04](https://user-images.githubusercontent.com/85787913/159476103-b627af77-b22e-48c7-93f0-bc224154b391.png)
Place the macros close to core edges and based on net connection.

[2022-03-22 14:16] maliberty commented on #1702
If the macros on the left have any pins on their left edge it will be impossible to buffer them as there is no space to do so.   I suggest you not place them hard against the edge and see if that helps.

[2022-03-23 01:23] antonblanchard opened #1714 "CTS produces clock trees with large max delay and large skew"
I've been struggling with timing issues when taping out Microwatt on sky130. Part of the issue appears to be CTS which is producing clock trees with large max delay and large skew. An example is attached:

[code]

Looking at the stats for `user_clock2`:

[code]

8ns of max delay and 1.8ns of skew. If you look one of the paths through the clock tree, there are a whole lot of buffers:

[code]

If I

[2022-03-23 05:23] maliberty commented on #1708
I see it creating
![image](https://user-images.githubusercontent.com/761514/159629438-ba655e44-d586-4cf5-9f98-3c9450f18972.png)

How would your 3:3:3 tree look and would it avoid any max cap/slew/length violations?

[2022-03-23 18:52] maliberty commented on #1714
Note the delays are not the min & max insertion delays, they are the min/max delays associated with the max skew.

[2022-03-23 19:07] maliberty commented on #1714
I can get a still better result by reversing the order of the buffers in

set ::env(CTS_CLK_BUFFER_LIST) {sky130_fd_sc_hd__clkbuf_8 sky130_fd_sc_hd__clkbuf_4 sky130_fd_sc_hd__clkbuf_2};

The largest buffer should be first (I have an open task for a new hire to make this insensitive to ordering).  With that I get:

Clock user_clock2
Latency      CRPR       Skew
_136997_/CLK ^
   3.34
_135370_/CLK ^

[2022-03-23 20:14] maliberty commented on #1714
@sewkim @abk-openroad this is an autotuner opportunity

[2022-03-23 20:16] maliberty commented on #1714
https://github.com/RTimothyEdwards/open_pdks/issues/242

[2022-03-23 21:01] maliberty commented on #1714
@antonblanchard what are you hoping happens here with OR?  These are OL overrides so I'm not sue what we can do about it in the software.  I do think it is interesting to see if we can find better values through autotuning.

[2022-03-24 02:37] antonblanchard commented on #1714
@maliberty Thanks for the CTS_CLK_BUFFER_LIST tweak. My aim is to improve CTS via any means, so openlane tuning is good stuff.

As I've been removing buffers in the clock tree, I'm a little worried I'll end up with clock tree slew issues. It feels like an input to CTS should be a max slew (as well as max skew and perhaps max delay), but having said that, what is the upper bound on clock slew befor

[2022-03-24 15:31] maliberty commented on #1714
Some conventional wisdom:

- maxtran should never be more than 1/8 (ideally, 1/10) of the clock period

- library maxtran is usually MUCH too large compared to realistic maxtran in real designs (e.g., with a too-large maxtran you lose too much crowbar current / internal power, and have too much vulnerability to crosstalk aggressors and consequent delay shifts)

- at clock leaves especially, design

[2022-03-25 14:55] donn opened #1718 "pdngen does not read RC values from the lef file successfully"
Despite the met3 resistance values being specified in the merged lef file being read, pdngen fails with "met3 resistance not found in DB. Check the LEF or set it using the 'set_layer_rc' command.".

* Logs:
[code]

* Reproducible:
[rep.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8351597/rep.tar.gz)

[2022-03-25 14:57] donn commented on #1718
cc @marwaneltoukhy

[2022-03-25 23:33] tspyrou commented on #1718
@osamahammad21 if you have time to look at this over the weekend please take a look. I think Matt is our until Monday.

[2022-03-26 00:49] maliberty commented on #1718
I took a quick look and the message is just wrong.  It is via3 that is missing resistance and that is true.

[2022-03-26 01:16] #1718 closed

[2022-03-27 09:02] antonblanchard commented on #1714
@maliberty thanks for all the info, that helps a lot.

I see a call to `repair_clock_nets` in `scripts/openroad/cts.tcl`:
[code]

[2022-03-29 16:27] DarylK78 commented on #1702
I will try moving the macro to the top edge to see if that helps.

The pins for the OpenRAM macros are on the top and bottom so being along the left/right edge shouldn't be an issue.

Is there a way to get the tool to recognize long wires and buffer them appropriately to fix these issues?

[2022-03-30 06:16] antonblanchard opened #1729 "set_min_delay is not a liberty replacement"
I'm trying to add constraints for a hard macro created by OpenROAD/Openlane and integrated into my design. I need constraints because we don't support liberty file creation yet, so the hard macro has no timing information.

This works:

[code]

But that requires you to estimate the clock tree delay to the CLK pin on the macro. I tried to specify a delay referenced to the CLK pin of the macro:

[co

[2022-03-30 08:14] antonblanchard opened #1730 "SEGV in sta::ConcreteCell::findPort during CTS"
The following test case hits a SEGV in the STA code during CTS:

[code]

[cts-segv.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8378470/cts-segv.tar.gz)

[2022-03-30 21:02] Stephanommg commented on #1677
Please test with this branch: https://github.com/The-OpenROAD-Project-private/OpenROAD/tree/secure-TR_APsWithShapes

I made a fix for other connectivity error so perhaps their cause was the same.

[2022-03-30 21:05] maliberty commented on #1677
@Stephanommg he will not have access to the private repo.   If you make a PR and label it so sync public that will copy over the branch to the staging repo where he can see it.

[2022-03-30 21:10] maliberty commented on #1677
@antonblanchard you can see it at The-OpenROAD-Project-staging:secure-TR_APsWithShapes

[2022-03-30 21:15] Stephanommg commented on #1677
Link:  https://github.com/The-OpenROAD-Project-staging/OpenROAD/tree/secure-TR_APsWithShapes

[2022-03-30 21:32] antonblanchard commented on #1730
I realise what is going on - I was working on the cell exclude lists for openroad and somehow excluded clock cells. So it's definitely an invalid configuration, but might be nice to error out rather than SEGV.

[2022-03-30 22:20] maliberty commented on #1730
There was a check that each buffer exists in LEF but not one for Liberty.  I'm adding that so you'll get an error instead of a crash.

[2022-03-30 23:53] antonblanchard commented on #1730
Thanks @maliberty!

[2022-03-31 05:46] vijayank88 commented on #1702
@DarylK78
Yes during repair_design tool try to find long wire length and try to optimize it. For your design its more than 2400um max wire length (Just close numbers). Check your logs

[2022-03-31 07:08] antonblanchard opened #1736 "sta: issues with set_max_fanout"
I'm trying to set a max fanout for all pins in a design. My understanding is this should do it:

[code]

But that doesn't appear to work since I end up with nets much higher fanouts (ie the resizer didn't repair them), and STA also doesn't report any max fanout violations.

Working with @maliberty and @tspyrou, we tried a number of other possible ways to add a fanout constraint:

[code]

All seeme

[2022-03-31 13:31] maliberty commented on #1702
I've started to look at this and I think there is a potential resizer issue here.  The RAMs have a very tight input transition constraint but it should be achievable.

[2022-03-31 15:23] tspyrou commented on #1736
Note the manual says list of ports or cells are the objects supported but
set_max_fanout 5 [get_cells -hier *] gives this error.
[ERROR STA-0467] unsupported object type Instance.
Error: base.sdc, 13 STA-0467

[2022-03-31 16:18] jjcherry56 commented on #1736
The problem is the liberty file. "fanout" is not the number of loads, it is defined by the liberty fanout_load attribute on input pins and in this library the default value is zero:

    default_fanout_load : 0.0000000000;

change it to 1 and you will see the expected behavior

  default_fanout_load : 1.0;

[2022-03-31 16:18] #1736 closed

[2022-03-31 16:21] tspyrou commented on #1736
@antonblanchard can you file an issue on openlane to fix this liberty?

[2022-03-31 18:59] DarylK78 commented on #1702
I agree, given that there is plenty of room I would expect the re-sizer to add buffers or re-size until transition times are met.

[2022-03-31 19:28] mousaq92 commented on #1677
How can I checkout this branch? I can try to check this if that's ok. Do I need to re-install OpenROAD? Thanks.

[2022-03-31 21:03] antonblanchard commented on #1736
Thanks @jjcherry56, I verified that fixing the liberty file fixed the issue.

I'm not sure if we have modify the liberty files in open_pdks (so we can fix this ourselves), but I submitted a PR against the sky130 repo at https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd/pull/7

[2022-03-31 23:09] jjcherry56 commented on #1702
The issue isn't about long wires.
The issue is the max slew, which is unrealistically small in the sram inputs.

This is another example of a completely unrealistic ram model from the [fake ram generator](https://github.com/bespoke-silicon-group/bsg_fakeram).
I noticed a lot of problems with the fake ram liberty files used by the openroad nangate45 regression
tests so I spent a lot of time fixing

[2022-04-01 00:24] tspyrou commented on #1702
@DarylK78 if you try openroad through openlane I believe that have manufacturable realistic rams in their sky130 setup.

[2022-04-01 23:33] jjcherry56 commented on #1729
The problem is that your -from is not a valid exception point. If it is a pin it has to be and endpoint (output port or clocked setup/hold constrained input). Even if the constraints were supported on random pins (which would not be compatible with bigco) it would not do what I think you want it do do. I can't tell what you are trying to do from the descripion, but I think you have a black box (th

[2022-04-02 00:57] antonblanchard commented on #1729
Thanks @jjcherry56 that is exactly the issue - OpenROAD has no way to produce timing data for hard macros, so DFFRAMs as well as my gate level multiplier and register file are all black boxes.

Thanks for the suggestion, I'll try constructing SDF files instead.

[2022-04-02 00:57] #1729 closed

[2022-04-02 01:11] antonblanchard commented on #1729
I just realised we are producing SDF files, but we have no way to use them in Openlane. I'll look into that issue.

[2022-04-02 02:23] jjcherry56 commented on #1729
That isn't the SDF you are looking for. It is gate level annotation. You want it at the block level. It is a hack to use sdf because it is not context sensitive (input slew/ouput load dependent). But it does capture goes into goes otta relationships that is better than nothing.

Once upon a time OpenSTA had model generation capabilities, but in the general case it is a nightmare to get right (para

[2022-04-03 07:55] armleo opened #1747 "[Feature request] Routing only specific nets"
Can OpenRoad implement a TCL command for routing only specific nets? Looks like FastRoute will route the nets it has been asked to route. So this should be a fairly simple feature to implement.

The reason for this is that I wanted to extend OpenLane to route some PDN/Mixed signals. However, it seems that the only reasonable way to do this is by asking FastRoute to route these signals before Place

[2022-04-03 14:40] maliberty commented on #1747
PDN signals are routed by pdngen not fastroute.  Would you describe further what you are trying to do.  Note that you would also have to enhance the detailed router as well.

[2022-04-03 15:02] armleo commented on #1747
I am trying to route mixed signals from PADs to GPIOs located inside a Caravan template without any manual work. For this I made a custom NONDEFAULTRULE in LEF and I can observe that these rules are followed by both global and detailed router.

However, since the timings for these nets are disabled in SDC the observed routes are not the shortest paths, since there signals between PADs and GPIO mod

[2022-04-04 15:26] tspyrou commented on #1702
Please re-open if needed.

[2022-04-04 15:26] #1702 closed

[2022-04-04 16:07] jjcherry56 commented on #1688
What bison/flex are you using? I build using the homebrew versions with
    # flex/bison override apple version
    export PATH="/opt/homebrew/opt/bison/bin:$PATH"
    export PATH="/opt/homebrew/opt/flex/bin:$PATH"

to ignore the broken ones in /usr/bin installed by xcode.

[2022-04-04 17:35] jjcherry56 commented on #1714
repair_clock_nets is only to deal with the unbuffered wire from the pad/pin to the clock tree root. It doesn't do anything to the tree itself.

The skews in your reports are all reasonable so I don't see what you are worried about.

What exactly are you trying to improve? Insertion delay is a necessary evil that you can't remove.
It can cause hold issues if the input arrivals do not account for it

[2022-04-05 00:37] jjcherry56 commented on #1702
I did find a number of issues in the resizer relevant to this issue. There are only a few buffers that will meet that tight of a requirement even right next to the ram input. It is not able to fix all the violations but it does a lot better. The PR is winding its way through the testing process.

[2022-04-05 04:37] WS-Snyder opened #1753 "openroad build can't find_package(Qt5)"
cmake ..
indicates that Qt5 can't be found; tho Qt5 and qtcreator are working fine.
There is no findqt5.cmake but there is a findqt4.cmake from a previous install.
research indicates that qt5 no longer uses findxxx.cmake.
Is there a way to force the build to create a gui version, maybe using
the qtpaths shell command?

[2022-04-05 05:14] maliberty commented on #1753
What version of cmake do you have?  Is your qt 5in the default location?

[2022-04-05 05:17] DarylK78 commented on #1702
I looked at the rams from openroad and they have the same 0.04ns transition requirement on their inputs.

[2022-04-05 15:39] #1478 closed

[2022-04-05 23:53] antonblanchard commented on #1736
@tspyrou FYI the fix is now in open_pdks, and I also submitted a PR for ORFS. I see a commit in a PR from @jjcherry56 to take care of the OpenROAD tests.

[2022-04-05 23:53] antonblanchard commented on #1708
I need to rerun the tests now that we've got to the bottom of https://github.com/The-OpenROAD-Project/OpenROAD/issues/1736

[2022-04-06 00:03] jjcherry56 commented on #1702
I have no idea where you were looking to find "rams from openroad" but the ones in openroad/test/nangate45/fakeram*.lib and openroad-flow-scripts/flow/designs/nangate45 use this:
    default_max_transition : 0.227;
because I regenerated them as I described above.
There are no sky130 rams in either repo that I am aware of.

[2022-04-06 01:20] DarylK78 commented on #1702
Sorry, I was referring to the skyw_130 RAMs included in the OpenLane distribution from EFabless, which are "released" by them and apparently suitable for production, but as I said they have the same issues outlined here.  Those aren't "openroad" RAMs, I apologize for the confusion.

I believe those were created using the OpenRAM memory compiler, and the models that my testcase has were generated b

[2022-04-06 01:50] jjcherry56 commented on #1702
As I pointed out above I fixed the problems and posted the repo location. I have not bothered to try and integrate the changes with the bsg ram generator. At the very least the ram should look like a min size buffer, not something from a completely unrelated technology.

[2022-04-06 16:17] QuantamHD opened #1756 "Global Placer Improvement Discussion Topics"
It has been mentioned that the global placer is non-ideal. I want to create this meta-issue to track what improvements are needed to improve the quality of the results.

What tasks can we complete to improve the quality?

# Open Questions/Tasks
- [ ] Does timing or routability driven routing improve QoR?

[2022-04-06 16:18] QuantamHD opened #1757 "Restructuring: Improvements Ideas"
What improvements are needed in the restructuring code to improve the quality of results?

- [ ] Measure results of the current restructuring code.
- [ ] Allow restructuring to take in timing information after global place

[2022-04-06 16:28] maliberty commented on #1756
@ravi-varadarajan would you mention what improvements you have in progress.

[2022-04-06 16:29] maliberty commented on #1757
Someone needs to start by analyzing the current results.  Last I looked we got surprisingly little timing improvement when restructuring.

[2022-04-06 16:30] QuantamHD opened #1758 "Meta: Top Five Task You Wish Were Done Today"
What are the top five tasks you wish were done today? i.e. 5 most impactful tasks for the project

[2022-04-06 16:30] maliberty commented on #1757
Longer term we need to measure the benefit of a restructuring by going further into the flow than just abc (e.g up to timing after global placement).

[2022-04-06 16:32] QuantamHD opened #1759 "Meta: Top 3 Painpoints the Toolchain"
What are the top three pain points of OpenROAD for chip design?

@antonblanchard
@arlpetergadfort
@maliberty
@proppy

[2022-04-06 16:32] antonblanchard commented on #1756
@QuantamHD I've often wondered if the routability and time driven options help or not. Both are currently disabled by default in Openlane:

[code]

[2022-04-06 16:37] QuantamHD commented on #1756
Thanks @antonblanchard I'm going to spend the next quarter trying to improve the tools significantly so your feedback is very valuable.

[2022-04-06 17:27] ravi-varadarajan commented on #1756
Hi  @antonblanchard  and @QuantamHD  - In our runs with ORFS we turn on both ROUTABILITY_DRIVEN and TIMING_DRIVEN  as default and have observed  overall better QoR with those options turned on.

Having said that I am currently tuning both those options in the global placement flow and will be updating master with changes after metrics validation over the next next few weeks and any feedback is app

[2022-04-06 17:40] QuantamHD commented on #1756
@ravi-varadarajan Are there any algorithmic improvement we could make beyond just taking advantage of the parameters?

[2022-04-06 17:53] maliberty commented on #1758
My list
- Restructuring (rmp)
- Post-drt final fixing flow which will require incremental detailed routing.  This would replace the 'eco' flow in OL.
- Turn on the post-grt fixing flow in ORFS
- Enable RTL-MP and hierarchical synthesis with selective flattening
- Improved CTS (better clustering, GH-tree, improved buffer selection, smart NDRs)

[2022-04-06 18:05] QuantamHD commented on #1756
Are these the placement fences you're talking about?

<img width="665" alt="image" src="https://user-images.githubusercontent.com/3784748/162039457-f033d262-0c12-4421-a65f-defa1e376825.png">

My understanding of the above is we want to tag a sub graph in the netlist, and make sure it sits only in some polygonal region. Is that correct?

[2022-04-06 18:05] QuantamHD commented on #1758
@antonblanchard @arlpetergadfort Would love to hear from you as well

[2022-04-06 18:08] maliberty commented on #1756
Yes though fences can be hard or soft (see FENCE vs GUIDE on REGION in DEF).

[2022-04-06 18:18] ravi-varadarajan commented on #1756
yes -- fence, region, guide support is being planned -- We are currently looking at looking at those constraint sin DREAMPlace to see what is currently supported.

Apart from the region constraints, we are also experimenting with doing away with a uniform global GP_PADDING value that is applied to all instances and instead use the structural netlist analysis and also the incremental groute interfa

[2022-04-07 01:40] antonblanchard commented on #1729
@jjcherry56 does OpenSTA support wildcards on port names? I couldn't find anything concrete in the spec itself but the changelog says:

[code]

So I think wildcards on port names is legal in SDF v3.0. This is my attempt at a block level SDF for a macro with 3 64 bit inputs (a, b, c) and one 64 bit output (o).

[code]

It works with a[0] a[1] etc, but not a*

[2022-04-07 04:28] maliberty commented on #1759
@donn

[2022-04-07 11:54] antonblanchard commented on #1756
Another potential idea - I wonder if the placer could do a better job on designs with lots of macros. When we were debugging some issues last year, it seems like global placement places instances over the macros and when complete we just move them to the nearest legal place.

[2022-04-07 14:01] maliberty commented on #1756
RTL-MP is the replacement to the current macro placer.  You can try it out in ORFS, see https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/designs/gf12/coyote/config_hier.mk for an example of the control variables needed.  There is work underway to make it the default.

[2022-04-07 14:03] maliberty commented on #1756
Though the instances on macros problem is unrelated to that change.  RTL-MP is just about better macro placement.

[2022-04-07 14:04] ravi-varadarajan commented on #1756
@antonblanchard  Please contact if you need help in setting up the flow.  To use RTL-MP you will need Verilog hierarchy in the input netlist.

[2022-04-07 16:52] donn commented on #1759
Question is maybe better suited for our chip designers: @kareefardi

Me personally, I have no complaints, just would like a Python interface, which is a monumental effort.

[2022-04-07 17:55] arlpetergadfort commented on #1758
My list:

- CTS, the tree built something makes fixing setup/hold worse by poorly selecting buffers, improving CTS would help with that I think.
- Resizer setup repair gives up too soon when fixing setup violations, that could be improved with a better stop criteria, etc.
- Detail placement allowing specification of minimum gap (not just padding).

I'm sure there are more, but these are the ones a

[2022-04-07 19:33] arlpetergadfort commented on #1759
@QuantamHD
1. Parasitic extraction, requiring a different tool to jumpstart the PDK bring up
2. Yosys/ABC synthesis, generates a netlist that requires a lot of additional work to meet constraints.

I'm sure there are more, but these are the two that stand out the most to me at the moment.

[2022-04-07 19:52] arlpetergadfort commented on #1758
@maliberty yes, exactly. Without it increasing density would become extremely difficult.

[2022-04-07 20:02] kareefardi commented on #1759
I am not sure what is the state of any of these today but mainly my struggles are:

- automatic macro placement
- signal routing with multiple macros
- (multiple domain) power routing of multiple macros

[2022-04-08 01:28] msaligane commented on #1759
- System Verilog support in Yosys. The generated netlist doesn't work (probably I am doing something wrong but it isn't an easy flow)
- Power planning and routing
- Timing results are really hard to understand (No hockey stick trend yet)

[2022-04-08 03:39] maliberty commented on #1759
@msaligane would you elaborate on your last point.

[2022-04-08 12:04] antonblanchard commented on #1756
I'm still currently doing manual macro placement but will test the macro placer at some point.

The issue I was thinking of is how global placement interacts with lots of (or large) macros. The fact it places instances over the areas occupied by macros and then fixes it up afterwards makes me think the routability and timing optimisations aren't doing much.

I could see a case where we have a lot

[2022-04-08 14:36] mithro commented on #1759
@hzeller / @kgugala -- See @msaligane's comment about SystemVerilog above.

[2022-04-08 15:11] ravi-varadarajan commented on #1756
In the default flow, the global placement engine (in the presence of Macros
and std cells) will create overlaps between macros and stdcells. The
default macro placer in OpenROAD  uses this placement as a seed and fixes
the macro locations after which a second pass of global placement is done
during which there are placement blockages over the fixed hardmacors and
hence there are no overlaps betwee

[2022-04-08 18:25] maliberty commented on #1759
Lack of timing model generator for hierarchical flows.  LEF abstract generator improvements would then follow.

[2022-04-08 23:39] antonblanchard commented on #1758
- +1 for "Post-drt final fixing flow which will require incremental detailed routing."
- +1 for "Improved CTS"
- VHDL/GHDL support. This is being worked on and I unfortunately haven't had time to test and offer feedback yet.

[2022-04-08 23:39] antonblanchard commented on #1759
- +1 for "Lack of timing model generator for hierarchical flows". Even a basic (and pessimistic) liberty file generator would be very useful.
- +1 for "ABC/synthesis". We don't pass FFs, manually instantiated standard cells or other black boxed things to ABC, so are missing a lot of optimisations including the ability to do register retiming. I've looked into this but tripped up on what looks like

[2022-04-10 06:50] antonblanchard commented on #1756
@ravi-varadarajan I'm talking about these sort of issues: https://github.com/The-OpenROAD-Project/OpenROAD/commit/16becc678531e7ea034fc18e8f41e2481b899966. Aren't we moving cells more or less randomly, without any thought to routability or timing?

[2022-04-10 09:30] antonblanchard commented on #1756
It's not as bad as I thought, but you can see that many of the cells that overlap the macro end up just to the top left or top right of the macro:

![global_placement](https://user-images.githubusercontent.com/2029971/162610560-c6df69fc-6a1f-4151-9c15-b862d759dbb0.png)
![detailed_placement](https://user-images.githubusercontent.com/2029971/162610566-bfe13760-1692-4f92-bc94-f6df2a01ebc1.png)

[2022-04-10 13:23] cbalint13 opened #1764 "OpenROAD regressions with boundary checks [-Wp,-D_GLIBCXX_ASSERTIONS]"
There are no failing [regressions](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/test/regression) on latest a1cd122fe9bf2e6cb7b2b05be43c50dc5599d8f2 (2022/04/10) **unless** boundary checks are enabled.

**Suggestions:**
* for the betterment we could try enable ```-Wp,-D_GLIBCXX_ASSERTIONS``` compile flags and lets start investigate each failure.

* boundary check enabled environment

[2022-04-10 13:57] maliberty commented on #1756
@ravi-varadarajan gpl doesn't guarantee that it won't leave an instance inside a blockage, it just increases the cost of that location and therefore reduces the likelihood.  dpl has code to deal with such cases somewhat crudely.

[2022-04-10 14:07] maliberty commented on #1764
We should definitely fix the issues this flag catches.  However it will have a runtime performance cost.  Are you saying every release package has this flag on all the time, not just during development?

[2022-04-10 14:40] cbalint13 commented on #1267
@QuantamHD
@maliberty

OpenROAD +LTO on means:
   - 636,005,720 vs 830,627,144 **unstripped** binary.
   - 44,501,056 vs 50,634,568 **stripped** binary.
   - 3m56.108s vs 3m57.196s regression **runtime**.

LTO is more about size optimisation (speed would second by a chance)
IMO is safe to enable LTO it gains some significant amount in smaller size.

---

### Setup conditions:

* OpenROAD git hash:

[2022-04-10 17:12] cbalint13 commented on #1764
* I will try involve and PR some of enumerated regression fixes when time permits.

* IMHE  for ```GLIBCXX_ASSERTIONS``` the cost isn't noticeable, compilers do a great job "hiding it".
* There is a discuss on it's performance concerns here: https://www.spinics.net/lists/fedora-devel/msg257877.html

* **YES** absolutely **all released** production .rpm packages in rhel/fedora land contains it (eve

[2022-04-11 00:03] maliberty commented on #1764
I've fixed a bunch of these (https://github.com/The-OpenROAD-Project/OpenROAD/pull/1765).  The last all seem to come down the tmg* code which is really bad code in odb.  Maybe its time to finally clean it up as fixing anything in there is excruciating.

[2022-04-11 03:25] gkamendje opened #1766 "[ERROR GRT-0061] Layer NW is less than the min routing layer (METAL1)"
I the technology LEF file of my  platform, I do see the following layer definition:
[code]

In the `pdn.cfg` file I  set a global connection to VDD on all VNW pins using:
[code]
in the  platform `config.mk` file I do have the following
[code]
and in `fastroute.tcl` I do have the following line
`set_routing_layers -signal $::env(MIN_ROUTING_LAYER)-$::env(MAX_ROUTING_LAYER)`
I am getting the followi

[2022-04-11 05:37] vijayank88 commented on #1766
@gkamendje
Can you please attach reproducible test case?
Are running the project through OpenROAD or OpenLane and share which version OpenROAD do you tried?

[2022-04-11 06:17] gkamendje commented on #1766
@vijayank88
I am running the project through OpenRoad. The LEF files I am using are proprietary. Is there a way to share the LEF files without publicly disclosing them?

[2022-04-11 06:19] vijayank88 commented on #1766
@gkamendje
For proprietary files please check with @maliberty. They will help you on fixing this issue.

[2022-04-11 06:20] maliberty commented on #1766
Where in your config is NW mentioned outside the LEF itself?  Are you using OpenROAD-flow-scripts or OpenLane or something else to run the tool?

[2022-04-11 06:37] gkamendje commented on #1766
@maliberty
I am using OpenROAD-flow-scripts. NW is not mentioned anywhere except in my tech LEF file. In the `pdn.cfg`, I did add the line  `{inst_name .* pin_name VNW} `  given that the macro LEF file defines the pins `VNW` which are used as power.

[2022-04-11 13:22] maliberty commented on #1766
That error only comes from the define_layer_range, define_clock_layer_range, or set_global_routing_layer_adjustment commands based on the layer name(s) given.   You must be issuing one of those commands with NW as the argument.

I'm guessing NW is nwell and that is a strange place to have power pins.  Doesn't the macro have tapcells internally?  Are the VNW pins marked as power pins in the LEF?

C

[2022-04-11 18:05] QuantamHD commented on #1267
LTO was broken because of the QT components. We would need some additional work to selectively disable it around the GUI.

[2022-04-11 18:06] QuantamHD commented on #1267
Auto-FDO would also be worth doing.

[2022-04-11 18:16] QuantamHD commented on #1756
@maliberty Is another round of gpl run after the illegal instances are moved?

[2022-04-11 18:32] maliberty commented on #1756
@QuantamHD No dpl just moves them off and places them as usual.

[2022-04-11 18:36] QuantamHD commented on #1756
Maybe that would be something worth taking a look at? My thoughts are kind of can we try to find a minimizing location for the instances stuck on the macro.

So either trying to place it next to it's fan-in/out or putting it somewhere off the macro in a semi intelligent way, and then re-runing gpl?

[2022-04-11 18:39] maliberty commented on #1766
Do you have anything else in your fastroute.tcl ?  I don't really think the pdn.cfg relates to this issue.
@tspyrou for thoughts on NDA

[2022-04-11 18:41] maliberty commented on #1756
Is min-displacement semi-intelligent?  That's what we do now. I'm not sure this is really a big source of trouble in most cases.

[2022-04-11 18:44] QuantamHD commented on #1756
That seems reasonable. It seemed like Anton was suggesting that the instances just got moved to some legal location, which I thought might lead to unreasonably long routes in some cases. If this isn't an issue then no need to attack that area.

[2022-04-11 18:44] msaligane commented on #1759
@maliberty This is what I meant by the hokey stick (or knee). Below is the expected timing on a RISC-V core when I push the clock:
![image](https://user-images.githubusercontent.com/48068702/162547909-0b9f1cb8-86ca-4cb4-80df-04aa3e6daea4.png)

This is a reference from [Ketkar, et al ICCAD02] with area instead of power but the two correlates:
![image](https://user-images.githubusercontent.com/48068

[2022-04-11 18:47] maliberty commented on #1759
@msaligane what do you see if you construct a delay/area plot with OR?  We do very little with power opt so I don't expect much of an optimal result there.

[2022-04-11 18:52] gkamendje commented on #1766
I do not think that is related to pdn.cfg either.
Here is the content of fastroute.tcl. set_routing_layers is commented out as you can see as a workaround the issue.
[code]

[2022-04-11 19:04] maliberty commented on #1766
would you add a puts "$::env(MIN_ROUTING_LAYER)-$::env(MAX_ROUTING_LAYER)" just to make sure the right values are set here and not NW.

[2022-04-11 19:43] gkamendje commented on #1766
Put the suggested debug information at the beginning of fastroute.tcl show that the correct values are passed. I wonder how I could query the value of all layers found by the tool.
[code]

[2022-04-11 20:14] tspyrou commented on #1766
@gkamendje if you post a public key I can give you access to an sftp server where you can upload private data. If you need us to sign an nda  we can do that.

[2022-04-11 20:17] maliberty commented on #1766
What version of OR are you using?  That command takes layer names not integers for a long time now.

[2022-04-11 22:55] gkamendje commented on #1766
@maliberty
Good catch! The settings in the design config.mk (with the integers) was overriding what I had in the platform config.mk with strings.
Thanks again

[2022-04-11 22:55] #1766 closed

[2022-04-12 03:55] antonblanchard commented on #1729
Here is the test case (`resizer_timing.tcl` and `resizer_timing-5.tcl`): [liberty-macro-hold-test.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8469429/liberty-macro-hold-test.tar.gz)

[2022-04-12 04:17] jjcherry56 commented on #1729
If you want to see hold time checks you have to use report_checks -path_delay min (you are using max).
Removing all the -from/-to arg that prevent you from seeing the critical path, before resizing it looks like this:

Startpoint: _118386_ (rising edge-triggered flip-flop clocked by user_clock2)
Endpoint: microwatt_0.soc0.bram.bram0.ram_0.memory_0
          (rising edge-triggered flip-flop clocked

[2022-04-12 04:35] antonblanchard commented on #1729
@jjcherry56 Of course! I was trying to improve my Fmax and noticed these long paths, but I guess they are unavoidable, because as you say we are just meeting the slack margin.

[2022-04-12 06:42] proppy commented on #1764
@cbalint13 do you recommend that we also enable this for https://github.com/hdl/conda-eda/tree/master/pnr/openroad? maybe that could be something enable for CMake for all Release build?

[2022-04-12 06:58] cbalint13 commented on #1764
@proppy ,

You can for all else but not for ```openroad``` ,I suggest not yet, until all regression tests pass.

* For RHEL / Fedora ```opernroad``` [native packages](https://copr.fedorainfracloud.org/coprs/rezso/VLSI) I had to disable it.
* See disabling receipt line 81: https://copr-dist-git.fedorainfracloud.org/cgit/rezso/VLSI/openroad.git/tree/openroad.spec#n81

With it, ```openroad``` will fa

[2022-04-12 16:49] maliberty commented on #1764
@cbalint13 cvc issues should be filed at https://github.com/d-m-bailey/cvc

[2022-04-12 21:40] jjcherry56 commented on #1729
Not entirely unavoidable. If you crank down the cycle time it will look for other places to add the hold buffers and not disturb the setup (when possible).

[2022-04-12 22:37] Stephanommg commented on #1619
Can this issue be closed?

[2022-04-12 22:38] Stephanommg commented on #1677
Please check the master branch and report back if its solved.

[2022-04-12 23:28] antonblanchard commented on #1677
It's still reproducing as of commit be66da7a5d3c18a69683b72e691c43d55d3e2fe7

[2022-04-13 04:57] maliberty commented on #1764
All designs pass but some of the ISPD routing benchmarks have issues that need looking into.

[2022-04-13 10:15] cbalint13 commented on #1764
* Nice ! That was very fast :)
 * Maybe offtopic (again), IMHO it't worth watching progress on ```-fanalyser``` in [GCC Land](https://developers.redhat.com/articles/2022/04/12/state-static-analysis-gcc-12-compiler) .

[2022-04-13 15:41] #1764 closed

[2022-04-14 17:36] QuantamHD opened #1779 "Resizer/repair_design Should Perform a Multi-VT Repair Flow."
This issue is for discussing the costs and benefits of a multi-Vt flow.

After some discussion internally at Google it seems like it would be relatively easy to swap in multi-Vt cells during repair design in order to improve PPA on the critical path.

The flow would be as follows

1. Identify the critical path. Replace all cells in critical path with LVT cells.
2. Rerun STA, if there's a new criti

[2022-04-14 17:48] tspyrou commented on #1779
This flow should be executed after detailed routing with the VT swapping occurring between cells with identical physical footprints.  It can be done earlier in the flow but the critical path may change with the detailed routing so this is best.

[2022-04-14 17:59] QuantamHD commented on #1779
That seems a bit more complicated. Could we start with the simple path based approach, and see what happens? I suspect there will still be a performance improvement albeit a little bit more muted.

[2022-04-14 18:38] tspyrou commented on #1779
The Net based approach is actually simpler. Its a loop.
while there is a net with negative slack take the worst slack net and VT swap the net's driver until timing passes or all failing nets are at the fastest VT. No need to look at paths. The slack of all nets on the critical path is the same.

[2022-04-14 19:00] Stephanommg commented on #1677
FYI, I already am aware of what the problem is and I will be working on solving it in the next week.

[2022-04-14 19:02] maliberty commented on #1779
You'll have to make sure you aren't hurting hold while fixing setup.  Both algorithms look to be greedy but maybe that is a good place to start.

[2022-04-14 19:04] QuantamHD commented on #1779
Okay sweet. The only other feedback I've gotten is that this is a nice first approach, but in the future it would be good to get power numbers in the optimization hull, and formulate it as an ILP problem, but that's a step for another day...

If we do add this optimization we should also make it the default flow for sky130 so all the MPW's benefit from the new flow.

[2022-04-15 09:10] #1684 closed

[2022-04-18 02:31] proppy commented on #1759
- lack of packaging and limited surface of the Python API (related to #1424 and #1659)
- lack of machine-readable logs/parameters/metrics export (METRICS2.1?) outside of ORFS (related to #1669)
- cross platform packages w/ gui enabled for OSX / Windows (related to https://github.com/hdl/conda-eda/issues/193)

[2022-04-18 04:45] antonblanchard commented on #1729
I've taken another look at this, and I think the resizer is not picking the best place to fix the hold violation. Here's a test case with a huge hold constraint of 100ns between the RAM macro CLK and EN0 pins, a similarly huge setup constraint of 100ns and a clock period of 250ns, just to exaggerate the effect.

The baseline (`base.tcl`) ends up fixing about half the hold violation, at which time

[2022-04-19 18:55] varakely opened #1797 "Build hangs on Ubuntu20.04"
Everything went fine until the build:
./etc/Build.sh
Instructions used: https://github.com/The-OpenROAD-Project/OpenROAD

It hangs on 58%.

Any advice please.

[2022-04-19 18:59] vvbandeira commented on #1797
Can you provide the complete log?

[2022-04-19 19:05] varakely commented on #1797
Thanks for prompt response. Unfortunately cant copy all log at the moment, here is the last part:
Can it be from limited available memory ?

[ 58%] Linking CXX static library liblef.a
cd /home/ubuntu/bin/OpenROAD/build/src/odb/src/lef && /usr/local/bin/cmake -P CMakeFiles/lef.dir/cmake_clean_target.cmake
cd /home/ubuntu/bin/OpenROAD/build/src/odb/src/lef && /usr/local/bin/cmake -E cmake_link_scrip

[2022-04-19 19:17] vvbandeira commented on #1797
The build script run in parallel, the error will be before the section you pasted. Please re-run as follows:
[code]
Then upload the build.log file here.

[2022-04-20 02:14] shenki commented on #1186
Someone reported this bug:

 https://bugs.launchpad.net/ubuntu/+source/liblemon/+bug/1827886
  https://lemon.cs.elte.hu/trac/lemon/ticket/628

And send this commit to the Debian packging:

  https://salsa.debian.org/med-team/liblemon/-/merge_requests/2

Which was merged. This fixed the package for the person who opened the bug, but broke lemon's cmake detection for everyone else.

Given upstream l

[2022-04-20 05:15] shenki opened #1800 "Update ABC fork"
There's been a build fix submitted upstream by @antonblanchard:

https://github.com/berkeley-abc/abc/pull/160

This has now been merged. Can we get the openroad fork of ABC updated to include this fix?

[2022-04-21 07:57] vijayank88 commented on #1797
@varakely
Try this way, it may helps:
If you installed `dependencies` with https://github.com/The-OpenROAD-Project/OpenROAD#install-dependencies
follow `Build by hand` https://github.com/The-OpenROAD-Project/OpenROAD#build-by-hand

[2022-04-21 23:46] antonblanchard commented on #1756
Another interesting thing. This is the top left corner of the above design when I enabled antenna fixups:
![antenna_diodes](https://user-images.githubusercontent.com/2029971/164568535-dc508291-26ea-4d31-b3cb-2f8f26774cdd.png)

Most of that is antenna diodes. I do wonder if they are in the best spot. FYI this is Microwatt, which is now in ORFS.

[2022-04-21 23:52] antonblanchard commented on #1756
This might be a byproduct of the macro having a halo on the north edge that extends right out to the edge of the die. At one stage I was having trouble with islands of unpowered met1, but that should only happen on the east and west edges so we could open it up a bit on the north and south side.

On this issue - when placing met1 rails could we check to see if the area was unable to be powered (ie

[2022-04-22 05:06] rovinski commented on #1759
We wrote a paper on this. See sections 5 & 6: https://dl.acm.org/doi/pdf/10.1145/3400302.3415734

I still believe that most of the QoR gains need to be gained from synthesis (automatic clock gating, physical synthesis - let alone timing-based synthesis).
Most of the usability gains need to be from improved documentation, although more automation would be nice too.
I'll add another one to the list,

[2022-04-23 18:56] QuantamHD opened #1803 "More accurate STA without CCS/SI"
I found this paper that combines spice with NLDM STA that results in a more accurate timing model. Perhaps we could look at this as an alternative to implementing CCS and SI, if our current approach fails.

https://utd-ir.tdl.org/bitstream/handle/10735.1/6333/ETD-5608-013-WANG-8922.39.pdf?sequence=6&isAllowed=y

[2022-04-23 20:46] QuantamHD commented on #1803
Seems like the method is pretty reasonable. Basically use NLDM to find all the questionable critical paths where the impedance is much greater than the resistance, or wherever there's a question around whether or not a path would might be a violation.

Then you take those paths, and extract them into spice netlists. Run them through spice and you have a really accurate critical path.

We could do

[2022-04-23 20:49] QuantamHD commented on #1803
@tspyrou What do you think?

[2022-04-24 21:48] antonblanchard commented on #1729
That makes sense. Perhaps the issue is the resizer doesn't look for other places in the path to fix the hold violation once it has used up all the available setup slack.

[2022-04-24 22:00] jjcherry56 commented on #1729
I am working on it. I can get your example to "work" but of course there is fallout and getting it all to work is taking a while.

[2022-04-24 22:31] antonblanchard commented on #1729
Thanks @jjcherry56!

[2022-04-25 03:38] maliberty commented on #1759
@QuantamHD what is the ultimate goal of this discussion?

[2022-04-25 03:47] maliberty commented on #1803
Simulating critical paths is nothing new.  OpenSTA already has write_path_spice.  It isn't always simple as you have to form the correct stimulus and initial conditions to actually get spice to work.

Many designs will have loads of critical paths near zero slack (that the nature of optimization).  I think you'll wind up simulating a tremendous amount.  It also makes optimization much harder to im

[2022-04-25 03:55] QuantamHD commented on #1759
To gather issues from the community, and help me understand where I could allocate resources to improve the toolcahin.

People do a lot with the tool, and this thread was helpful to understand the current areas where the tool struggles.

[2022-04-25 04:18] maliberty commented on #1759
@QuantamHD do you have sufficient input to make that decision and allocate resources?

[2022-04-25 12:16] antonblanchard opened #1805 "read_def SEGVs when loading DEF"
The DEF in question likely has issues, but we shouldn't SEGV when trying to load it. (The DEF came out of the caravel project, I need to look at how it was generated.)

There is a lot of complaining before the SEGV:

[code]

The backtrace of the SEGV:

[code]

Test case: [openroad-gui.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8554408/openroad-gui.tar.gz)

[2022-04-25 12:32] antonblanchard commented on #1805
I'm guessing it was created by magic.

[2022-04-25 14:31] maliberty commented on #1805
It has bad vias, e.g.:
   - via2_280_280
      + RECT via2 ( -140 -140 ) ( 140 140 )
      + RECT via3 ( -140 -140 ) ( 140 140 ) ;

two cuts and no enclosure.  Still we need a better error message instead.

[2022-04-25 15:23] QuantamHD commented on #1803
It seems like even I'd we spend an enormous amount of compute power on it, it would be better than nothing.

[2022-04-25 16:11] tspyrou commented on #1803
@QuantamHD this could work for final signoff timing, but would not work in optimization. We need an accurate and fast model for optimization that can be run in the context of incremental timing.

[2022-04-25 16:21] QuantamHD commented on #1803
Maybe as a hybrid model you could optimize based on a depessimized (0% buffer) NLDM incremental timing, and use the spice model to pick up any errors, and fix as a final step with an incrementally perssimized (increase by buffer by 2%) NLDM on any broken nets.

From what I've been reading it should also be possible to identify which paths would be the most likely candidates for the Miller effect.

[2022-04-25 17:38] #1805 closed

[2022-04-25 22:00] maliberty commented on #1756
We remove rows that can't be powered so if you have sites you should be able to power them.

[2022-04-25 22:02] maliberty commented on #1756
@antonblanchard which of the many OL antenna fixing strategies are you using?  I think it best to take this discussion to a new issue with a test case.

[2022-04-26 01:18] antonblanchard opened #1809 "Microwatt gets SEGV in antenna repair"
I tried enabling antenna repair on the Microwatt design and hit a SEGV. A test case: [antenna-fail.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8558902/antenna-fail.tar.gz)

Backtrace of the SEGV:

[code]

[2022-04-26 12:30] varakely commented on #1797
It still stops on 58%
[ 58%] Building CXX object src/odb/src/lefin/CMakeFiles/lefin.dir/lefTechLayerSpacingEolParser.cpp.o
cd /home/ubuntu/bin/OpenROAD/build/src/odb/src/lefin && /usr/bin/c++  -DBOOST_ALL_NO_LIB -DSPDLOG_COMPILED_LIB -I/home/ubuntu/bin/OpenROAD/src/odb/include -I/usr/include/tcl -I/home/ubuntu/bin/OpenROAD/src/odb/include/odb -I/home/ubuntu/bin/OpenROAD/src/odb/src/lef/lef -I/home

[2022-04-26 12:33] vvbandeira commented on #1797
@varakely please run as instructed and provide the full log file, without it we do not have enough information to understand the problem.

[2022-04-26 14:32] tspyrou commented on #1803
@QuantamHD yes, that is how it was done 20 years ago. Its very slow in runtime but workable when there are only a small number of violations.

[2022-04-26 15:19] tspyrou commented on #1800
@vvbandeira can you take this one?

[2022-04-26 16:57] maliberty opened #1812 "Add Python API"
Multiple parties have requested a Python API to Openroad.  Python is more popular than TCL in general and especially in the machine learning community.  A proposal for such an API is [here](https://docs.google.com/document/d/e/2PACX-1vSNVgum66oml5bOw41hNSjWuyuBe4wF7S1AXGXPwXOuloRRgchw9dEjPr_ZfQu39FbC_4EK8e12rA8p/pub).

This issue is for community members to give feedback.  The spec uses initialize

[2022-04-26 17:01] maliberty commented on #1809
Partial fix in https://github.com/The-OpenROAD-Project/OpenROAD/pull/1811

[2022-04-26 18:33] mithro commented on #1803
We have a lot more cpu compute then 20 years ago! :-)

[2022-04-26 19:40] maliberty commented on #1803
We have a lot bigger chips that we did 20 years ago ... same Moore's law at work.

[2022-04-26 20:41] mithro commented on #1803
Well, the designs done on 130nm have actually gotten **smaller** as they are mainly microcontrollers rather than high performance CPU hardware (as the high performance CPU has moved to more advanced nodes).

[2022-04-26 20:44] maliberty commented on #1803
You don't need CCS for 130nm, you need it for advanced nodes.

[2022-04-26 21:44] QuantamHD commented on #1803
I guess the question is would this be a beneficial thing to work on between now and a ccs implementation, or should we just start figuring out how to make a ccs implementation from scratch?

[2022-04-26 22:04] maliberty commented on #1803
I would rather make progress towards our desired state than take a side trip that doesn't contribute to the end goal.

[2022-04-26 22:25] vvbandeira commented on #1800
#1815 should fix this. Just waiting on ORFS and secure CI to move forward.

[2022-04-26 23:21] arlpetergadfort commented on #1058
@maliberty yes, I think so. With -secondary_net options.  It would be good if the OP could verify it works for them, but there are test cases that address this in pdn

[2022-04-27 06:53] varakely commented on #1797
@vvbandeira I am using AWS EC2 Ubuntu20.04
grep MemTotal /proc/meminfo
MemTotal:         992204 kB

df -k .
Filesystem     1K-blocks    Used Available Use% Mounted on
/dev/root        8065444 6079276   1969784  76% /

[2022-04-27 15:36] grotival commented on #1812
I've heard this API is planned to raise exceptions internally?

At Google exceptions are really hard to work with, would it be possible pipe them out somehow? Using absl::StatusOr would be great (but I think some parts of OpenROAD are using boost so that might not make sense) but really any other way than an exception would work.

[2022-04-27 15:57] vvbandeira commented on #1800
PR merged.

[2022-04-27 15:57] #1800 closed

[2022-04-27 16:52] maliberty commented on #1812
What does 'pipe them out' mean?  Given that they are a native part of both [C++](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Re-throw) and Python I'm not clear why we should be non-idiomatic.  Can't you just catch them and convert them to whatever you wish?

[2022-04-27 17:19] Stephanommg commented on #1677
FYI, the problem is solved, but it is still going through some tests.

[2022-04-27 17:19] #1619 closed

[2022-04-27 18:59] grotival commented on #1812
There are more arguments pros & cons but I think the integration in larger systems is the most convincing to me:

[code]

`pipe them out` would be: not raising the exception but rather populate a pointer through all the functions calls and let the caller decide what to do (raise the error or do something else).

If you decide it's not worth doing, we still have a way around that though:
what to do

[2022-04-27 19:02] maliberty commented on #1812
This is a python API so are you objecting to python exceptions or c++ ones?  The c++ exceptions would be converted to python ones by swig.  Or are you planning to build directly on the c++ API?

[2022-04-27 20:29] grotival commented on #1812
oh sorry, just the C++.

I indeed do not boost or stl, I use absl

[2022-04-27 20:51] maliberty commented on #1812
There is no chance that we will convert away from those.  I imagine most packages you integrate will have the same issue as both libraries are quite common.  Do you wrap everything you use?

I think the last line is the most telling "Things would probably be different if we had to do it all over again from scratch.".

[2022-04-27 20:54] maliberty commented on #1812
https://github.com/abseil/abseil-cpp/blob/1ae9b71c474628d60eb251a3f62967fe64151bb2/absl/base/internal/throw_delegate.cc#L109 is pretty icky - it just calls std::abort rather than throw which allows no handling at all (if ABSL_HAVE_EXCEPTIONS is off).

[2022-04-27 21:05] QuantamHD commented on #1812
Yes. Any exception generating third_party lib that Google pulls in has to be wrapped before it can be used outside of third_party code.

[2022-04-27 21:06] maliberty commented on #1812
Then I think that is the path Google will have to take here in you are using the C++ api directly.  Presumably Python users wouldn't need the wrapper.

[2022-04-27 21:10] grotival commented on #1812
I agree with you, in a perfect world, we would throw and catch exceptions. But given the complexity of the systems backward compatibility is important too. Most of Google (except 3rd party code) is like that because Google is large enough to do that.

No big deal if you don't think it's a good idea/tractable for OpenROAD C++ API, I'll do it on my side, it should not be too bad. Esp since that code

[2022-04-27 21:36] maliberty commented on #1812
Maybe with enough swig-fu you can convince %exception to give you what you want and we could make it a compile option.

[2022-04-28 00:26] jarvis-lorry opened #1816 "How to update OpenROAD on ubuntu 20.04.4"
I have version v2.0-880-gd1c7001ad of OpenROAD installed.  How do I install the latest version?  I can't clone the github on top of my existing version.

[2022-04-28 05:34] vijayank88 commented on #1816
@jarvis-lorry
Follow below steps from OpenROAD directory:
[code]

[2022-04-28 20:19] jarvis-lorry commented on #1816
Thank you, @vijayank88
I've been able to install the update of OpenROAD.  Now I have to install the latest version of klayout.

[2022-04-29 05:27] vijayank88 commented on #1816
@jarvis-lorry
As update on OpenROAD got fixed, closing this issue

[2022-04-29 05:27] #1816 closed

[2022-04-30 21:51] jjcherry56 commented on #1729
it should work now
f790f0d31 master origin/master Merge pull request #1819 from The-OpenROAD-Project-staging/secure-rsz_hold

[2022-05-01 11:10] antonblanchard commented on #1729
Thanks @jjcherry56, I've tested it and it does resolve the issue. It's made a huge difference to the fmax we can achieve with Microwatt on sky130hd. Nice work!

[2022-05-02 01:03] proppy opened #1827 "GRT: Routing congestion too high on shakti-soc"
Getting routing congestion error
[openroad_issue_reproducible.7z.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8600238/openroad_issue_reproducible.7z.zip)
 when trying to get https://gitlab.com/shaktiproject/cores/shakti-soc.git thru OpenROAD:
[code]

The issue can be reproduced using this notebook https://colab.research.google.com/gist/proppy/ff8ea5e98e1c90ca35705dbae9c602b9/shakti-

[2022-05-02 06:05] vijayank88 commented on #1827
@proppy
Can you please attach file only with `.zip` or `.tar.gz` extension?
Unable to extract the `.7z.zip` contents

[2022-05-02 10:59] proppy commented on #1827
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8602385/openroad_issue_reproducible.tar.gz) (compressed in bz2 to be extracted to `tar xvjf`)

[2022-05-02 13:10] vijayank88 commented on #1827
its hanging more than 2 hours, still not completed:

[code]

[2022-05-02 13:20] proppy commented on #1827
It did fail ultimatly with the following error:
[code]

See the following logs: [15-resizer.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/8603091/15-resizer.3.log)

[2022-05-04 05:44] vijayank88 commented on #1827
@maliberty
Please check this issue. Its more than 12Hrs OpenROAD hangs with `[INFO GRT-0101] Running extra iterations to remove overflow.` at my end.

[2022-05-05 05:11] varakely commented on #1797
Yes the problem came from small server resources. Successfully built on .large server.

[2022-05-05 06:38] varakely opened #1834 "gui::show crashes"
Re-install OpenRoad doesn't help

OpenROAD v2.0-3517-gc519b10f8
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which must be honored.
openroad> gui::show
qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
Th

[2022-05-05 11:28] #1797 closed

[2022-05-05 11:52] vvbandeira commented on #1834
On #1797 you mentioned you were using AWS cloud, is this still the case? What is your X environment? Are you using VNC?

[2022-05-05 14:59] varakely commented on #1834
@vvbandeira, yes I am running in AWS and ssh from RealVNC session with proper DISPLAY set. Thanks.

[2022-05-05 21:37] antonblanchard opened #1836 "initFloorplan() always snaps to grid"
I was looking through warnings during a tape out and saw:

[code]

I printed out the values, and it does look like the size of my macro is not a multiple of site:

[code]

But it also seems like the comparison will never be true, because we are comparing a value that has been converted to Dbu:

[code]

I presume this is harmless, but it would be nice to fix so the warning goes away.

[2022-05-06 17:11] QuantamHD opened #1838 "Differentiable Placement Technique"
Top Line Performance Numbers:
33% improvement in WNS

Have we looked at this technique? https://guozz.cn/publication/tdpdac-22/tdpdac-22.pdf

[2022-05-06 18:29] maliberty commented on #1838
I'll look at the paper but note that dreamplace is not timing driven so WNS is not something they directly target.  Replace in OR has a timing driven mode so it may not show the same delta.

[2022-05-06 22:16] QuantamHD commented on #1812
@maliberty Should we move forward with implementation now?

[2022-05-06 22:37] antonblanchard opened #1840 "dpl: standard cells flipped"
I tried taping out Microwatt/Caravel using Openlane with a recent OpenROAD and https://github.com/The-OpenROAD-Project/OpenLane/pull/1059 applied. I'm seeing a strange problem where all standard cells appear to be flipped, such that they are powered backwards.

Test case is at:  [reverse-dpl.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8643804/reverse-dpl.tar.gz)

[2022-05-06 22:39] antonblanchard commented on #1840
I started looking through dpl, and noticed a few things:

- `Opendp::checkPowerLine` doesn't appear to check any height=1 cells at all
- We go to a lot of trouble to work out where the power and ground rails are (eg `Opendp::findRowPower`). Do we need to do that or just look at the orientation out of odb?

[2022-05-07 00:44] antonblanchard commented on #1840
I'm not sure if it matters but there are an odd number of met1 rails in this design

[2022-05-07 04:05] maliberty commented on #1840
findRowPower is just wrong as it is going to look at the ring not the first row in your test case.  Probably it worked before by luck depending on which ring is first.

[2022-05-07 05:18] maliberty commented on #1840
Its more than just that.  I agree orientation should be enough.

[2022-05-07 16:09] maliberty commented on #1812
Yes.  I've started an implementation but keep getting side tracked.  There is some complications with the app level callbacks that I think need to be moved into odb callbacks instead.

[2022-05-07 22:52] maliberty commented on #1838
It relies on elmore delay which is less accurate.  It makes no mention of Ceff so I don't know if they just assume it is a second order effect or what.  It doesn't look extensible or CCS or SI.  With all that said it might be sufficient for global placement where accuracy is less crucial.  Dreamplace 4.0 is not public so it is hard to say what they are really comparing against in their table of re

[2022-05-08 03:52] #1840 closed

[2022-05-08 11:50] antonblanchard commented on #1840
Thanks @maliberty, I can confirm it fixed the original issue.

[2022-05-10 15:29] QuantamHD commented on #1812
@maliberty Could you throw your WIP on a branch so I can take a look? I'd love to throw in a few cycles at it.

[2022-05-10 15:54] maliberty commented on #1812
@QuantamHD I'll clean it up later today and do that.

[2022-05-10 15:55] maliberty commented on #1659
Replaced by #1812

[2022-05-10 15:55] #1659 closed

[2022-05-10 21:37] ripudamank2 opened #1848 "problem with abc"
root@embedded:/home/embedded/Documents/OpenROAD/third-party# cd abc/
root@embedded:/home/embedded/Documents/OpenROAD/third-party/abc# ls
root@embedded:/home/embedded/Documents/OpenROAD/third-party/abc# ls -al
total 8
drwxr-xr-x 2 root root 4096 maj 10 23:33 .
drwxr-xr-x 3 root root 4096 maj 10 23:33 ..
root@embedded:/home/embedded/Documents/OpenROAD/third-party/abc#

when  i tried to do git pull f

[2022-05-10 21:42] maliberty commented on #1848
git submodule update --init --recursive

[2022-05-10 21:54] ripudamank2 commented on #1848
yes i did it . Now its compiling . thank you .

Is there any tutorial how to use Openroad for ASIC design ?

[2022-05-10 22:16] maliberty commented on #1848
You'll want to take a look at a flow that uses openroad.  You could try [OpenROAD-flow-scripts](https://openroad.readthedocs.io/en/latest/user/GettingStarted.html) or [OpenLane](https://openlane.readthedocs.io/en/latest/)

[2022-05-10 22:22] ripudamank2 commented on #1848
if i want to integrate other PDK , how i can do that like ASP7 or 45nm pdk?

[2022-05-10 22:24] maliberty commented on #1848
https://openroad.readthedocs.io/en/latest/contrib/PlatformBringUp.html

[2022-05-10 22:24] maliberty commented on #1812
https://github.com/The-OpenROAD-Project/OpenROAD/pull/1849 which should be viewed as just where I am today.

[2022-05-10 22:25] ripudamank2 commented on #1848
thank you

[2022-05-10 22:25] #1848 closed

[2022-05-11 06:36] proppy commented on #1827
@antonblanchard mentioned he was also fighting with GRT congestion issues for his MicroWatt 64-bit tapeout for [MPW-5](https://platform.efabless.com/projects/795) and [MPW-6](https://platform.efabless.com/projects/840).

I suggested the following tweaks to workaround this:
- reducing PL_TARGET_DENSITY
- reducing GLB_RT_ADJUSTMENT (0.3 → 0.2)
- enabling PL_ROUTABILITY_DRIVEN (which could be enabled

[2022-05-11 12:16] mattvenn commented on #1692
still hitting this on mpw-5c

[2022-05-11 12:30] mattvenn commented on #1692
changing size 300x300 to 100x250 made the pdn bug go away

[2022-05-12 21:19] VidyaChhabria opened #1853 "DRT fails to find a path"
Hi,

I modified ORFS to add fixes (repair_timing) post GR. The attached testcase fails to find a path between pin and source aps. See below.

Testcase is at: [detail_route_ibex_asap7_base_2022-05-12_13-20](https://drive.google.com/file/d/1W69BFWmWcHfdh9VmiOq2HBymEksctLlv/view?usp=sharing)

[code]

[2022-05-12 21:36] VidyaChhabria commented on #1853
@WenjingJiang21 FYI.

[2022-05-13 16:52] #1677 closed

[2022-05-13 18:08] egorxe opened #1856 "Resizer crash with set_max_delay"
It seems that resizer can't correctly handle internal combinational paths constrained with set_max_delay. I am attaching OpenLane packaged example containing a line of SKY130 buffers constrained like this:
[code]
This leads to a crash during *repair_timing -setup* command with the following stack trace:
[code]

Crash comes from NULL dereference in the following line, but I'm not sure where to prog

[2022-05-14 01:27] maliberty commented on #1856
@vvbandeira hit a similar issue with bp_dual.

[2022-05-14 12:22] jjcherry56 commented on #1856
Once you resubmit this as a tcl script that can be run with openroad I will look at it.  It should not depend on a shell script for variable state.

[2022-05-14 15:00] egorxe commented on #1856
Do you consider only input pins of combinational cells as valid start points and outputs as end points? Commercial EDAs I worked with supported inputs and outputs for both (as well as hierarchical pins in non flat designs). This limitation is not a problem, but there is no way to know about it, may be some kind of warning should be produced then SDC is loaded?

[2022-05-15 13:28] jjcherry56 commented on #1856
my bad, the start/endpoints are fine; it is mcp and false paths that have restrictions.
fixed in 50ec2e3c5e36b0c9fc0bf55b2a3f8b3a51936b43

[2022-05-15 13:28] #1856 closed

[2022-05-16 09:31] mattvenn commented on #1692
How would I know if I was using the new pdn?
this is tested on mpw-6c (sorry my comment above was wrong when I said mpw-5c).

[2022-05-16 15:59] maliberty commented on #1692
It was turned on in commit 0c611a3422f0a9691c10776f951efd32887e85e5.   If you see the use of -secondary_power in scripts/openroad/pdn.cfg then you are  on the new one.

[2022-05-16 23:47] Stephanommg commented on #1853
The problem is solved and the fix is going through some tests before it is merged into the master branch.

[2022-05-17 03:35] angl-dev opened #1868 "AntennaRepair inserts diodes within blockage around hard macros"
### Problem

Function `AntennaRepair::insertDiode` places antenna-fixing diodes and avoids overlapping with existing insts. If a "legal" location is found, the inserted diode is placed in "FIRM" status ([src/grt/src/AntennaRepair.cpp:299](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/grt/src/AntennaRepair.cpp#L299)) and therefore will not be legalized by detailed placement. Howe

[2022-05-17 03:51] maliberty commented on #1868
Please provide a test case demonstrating the issue.

[2022-05-17 10:21] vijayank88 opened #1869 "repair_timing -setup segfault"
Using currently: OpenROAD v2.0-3478-g1dcf04bbf along with OpenLane tag : 2022.05.17_01.52.42

Trying to use @antonblanchard design from https://github.com/antonblanchard/microwatt-mpw5/blob/main/verilog/rtl/multiply_add_64x64.v

Got failed during global routing, with below error:

[code]

Attached test case:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8

[2022-05-17 14:10] mattvenn commented on #1692
then the answer is no

[2022-05-17 15:16] maliberty commented on #1869
Note the seg fault is not from global routing but from repair_timing -setup

[2022-05-17 20:41] leon575777642 commented on #1868
Hi @maliberty, sure I would be happy to create a reproducable test case. I am unsure what to include though. Could you give me some instructions on how to create a reproducable test case?

In addition, our repo is available publicly (https://github.com/getziadz/caravel_mpw5_prga). The problem can be reproduced by running `make prga` at the root of the repo.

[2022-05-17 20:55] maliberty commented on #1868
See https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-05-17 21:43] leon575777642 commented on #1868
Great! Here is the auto-generated reproducible package. Let me know if you need any other files.

[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8711715/openroad_issue_reproducible.tar.gz)

[2022-05-17 22:07] maliberty opened #1872 "Support for MEOL layer?"
### Discussed in https://github.com/The-OpenROAD-Project/OpenROAD/discussions/1871

<div type='discussions-op-text'>

<sup>Originally posted by **GuzTech** May 17, 2022</sup>
Hello everyone!

I'm in the process of bringing up a new platform which is going well. I am running into a problem with a local interconnect layer which is specified as a `MASTERSLICE` with `LEF58_TYPE` = `MEOL`, so it is not

[2022-05-17 22:14] maliberty commented on #1872
@osamahammad21 we are missing a few LEF58_TYPE values including MEOL in lefin/lefTechLayerTypeParser.cpp.  Please guide Mohamed for adding all the missing values to odb.  (You can reassign this to him once he accepts the project invite).

[2022-05-18 02:54] antonblanchard opened #1875 "PDN has issues with thin areas of met1 rails"
I wanted to see how OpenROAD handles very small areas between the perimeter of the core area and placed macros. I took a working design (40um macro halo with the macros 40um in from the left and right edges), and changed to a 20um halo, such that we have 20um of space for met1 rails. The design went from passing LVS to failing.

Although I haven't root caused it to the PDN stage, I do see some str

[2022-05-18 03:12] maliberty commented on #1875
@arlpetergadfort comments?

[2022-05-18 03:35] antonblanchard commented on #1875
I'm closer to understanding why LVS failed. It looks like extraction hasn't connected VPB to VPWR in these areas, eg:

[code]

I'm not yet sure if this is real, or a magic extraction issue.

[2022-05-18 03:42] antonblanchard commented on #1875
I notice there are no well tap cells, just end caps and filler cells:

![no_well_tap](https://user-images.githubusercontent.com/2029971/168952664-b0f653c9-f149-4cfc-bc06-56fa2f6ba443.png)

[2022-05-18 11:06] GuzTech commented on #1872
Just wanted to let you know that I added `MEOL` to the enum `LEF58_TYPE` in `db.h` and the following to `lefin/lefTechLayerTypeParser.cpp:74`:

[code]

This did remove the warning but TritonRoute still cannot find the `lil` layer but I do not know if that if that is related to this issue.

[2022-05-18 11:28] osamahammad21 commented on #1872
That's a different issue. we should update TritonRoute to consider MEOL masterslice layers as well. for now, TritonRoute supports only one hard-coded masterslice layer with the name "FR_MASTERSLICE" I am fixing that now in parallel with supporting more LEF58_TYPE values.

[2022-05-18 15:06] dearmrlv opened #1877 "How to use mpl2 module?"
I build the OpenROAD app successfully, but when I ran mp_test1.tcl under ./src/mpl2/test/, I met errors. The log info is as follows:
$ openroad < mp_test1.tcl
OpenROAD v2.0-3615-gf4a99dadf
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which must be honored.
[INFO ODB-0222] Reading LEF f

[2022-05-18 15:12] dearmrlv commented on #1877
I also tried to built the project via gcc-8.5.0, but the same error appeared. Below are the versions of my dependencies:
tcltk-8.5
boost-1.76.0
spdlog-1.10.0

[2022-05-18 15:13] dearmrlv commented on #1877
Another question, is mpl2 providing the same function as mpl?

[2022-05-18 15:41] maliberty commented on #1877
mpl2 is intended to replace mpl once it is fully qualified.    Can you provide a test case for the crash?

I doubt those dependencies have any relation to the crash.

[2022-05-18 16:20] dearmrlv commented on #1877
the test case is in the master branch of OpenROAD project, ./src/mpl2/test/mp_test1.tcl,
https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/mpl2/test/mp_test1.tcl
and I built the project successfully with the dependencise mentioned above.
I got this crush when I run the following command under OpenROAD/src/mpl2/test:
openroad < mp_test1.tcl

I found that in.the file OpenROAD/test/reg

[2022-05-18 16:31] jjcherry56 commented on #1869
fixed by 1250124454c8741c67973cf5c96c75e73fbfe8c9

[2022-05-18 16:31] #1869 closed

[2022-05-18 19:40] egorxe opened #1879 "overlapping path delays not respected"
If one set_max_delay constraint terminates (-to) on combinational cell where another one starts (-from) one or both of these constraints are lost. I'm attaching a simple example. Two first SDC lines should create two timing paths:
[code]

But none are reported:
[code]

If we comment out any one of these two first SDC lines the remaining path will be reported as normal:
[code]

Interestingly if we

[2022-05-18 21:46] Stephanommg commented on #1853
The fix is on the master branch now.

[2022-05-18 21:46] #1853 closed

[2022-05-18 23:03] arlpetergadfort commented on #1875
The grid looks okay when spot checking. The missing straps were removed because they didn't connect to anything so their presence is not need. I see connections down met1 for both VDD and VSS, so they should be connected.

What I also see is PDNGEN added a huge number of ports for power and ground on the edges, which are probably not needed, so I might take a look at that later unless it is contri

[2022-05-18 23:11] mithro commented on #1424
FYI  - You will need to build OpenROAD against the "manylinux" platforms - https://github.com/pypa/manylinux#docker-images

[2022-05-18 23:12] mithro commented on #1424
@umarcor has been helping us get GitHub Actions running on a bunch of other repositories.

[2022-05-18 23:40] antonblanchard commented on #1875
The straps are indeed unused (There are 4 voltage domains and only 1 is used in this design). It is a bit interesting that in some areas all the unused met4 straps were removed (eg down the bottom), but at the top one unused strap is still there, and at the lower left 3 extra ones are left. In all cases the unused voltage domains are not connected to anything (apart from the power ring)

I guess t

[2022-05-19 00:03] proppy commented on #1424
Looks like https://cibuildwheel.readthedocs.io/en/stable/ can also help achieve this.

[2022-05-19 00:21] proppy commented on #1424
Both are being maintained under @pypa so that should be future safe to depends on it.

[2022-05-19 00:27] umarcor commented on #1424
@proppy pypi-publish is actually a shell wrapper calling twine: https://github.com/pypa/gh-action-pypi-publish/blob/master/twine-upload.sh. Nowadays, it's not worth using a Container Action for such task. A Reusable Workflow or a Composite Action is enough. See https://github.com/pyTooling/Actions/#context.

[2022-05-19 00:48] umarcor commented on #1424
That's a feature of twine. See:

- https://github.com/pypa/gh-action-pypi-publish/blob/master/twine-upload.sh#L51-L54
- https://github.com/VUnit/vunit/blob/master/.github/workflows/push.yml#L168-L174
- https://github.com/pyTooling/Actions/blob/main/.github/workflows/PublishOnPyPI.yml#L70-L80

Might be interesting. So far pyTooling has been focused on building, testing, and generating docs/reports,

[2022-05-19 05:37] Paebbels commented on #1424
Adding a `twine check` call is a welcome addition to pyTooling. Is signing the package with PGP also required? @umarcor, I think we should support this too, right?

Is there also a need for [twine verify-upload](https://pypi.org/project/twine-verify-upload/)?

But for supporting the PyPI test repository, I don't see a use case. What additional knowledge would be gained from a pipeline step uploadi

[2022-05-19 08:24] proppy commented on #1424
It seems that @pypa maintains https://github.com/pypa/cibuildwheel for this, so maybe pyTooling could be refactored as a composite action that uses both?

[2022-05-19 08:31] proppy commented on #1424
Let's move the meta discussion to https://github.com/pyTooling/Actions/issues/47 and keep this issue about the specifics of the OpenROAD implementation.

[2022-05-19 09:30] dearmrlv commented on #1877
I located the bug. The bug is that the TCL command: `rtl_macro_placer -report_file` cannot correctly set user define value to var `report_file` in C++ code, and `report_file` remains its default value which is wrong in the test case.
I configure the corresponding code in OpenROAD/src/mpl2/src/mpl.tcl, line 70 manually, and re-compile the while project, and finally I ran mpl2 without error.
I'm not

[2022-05-19 09:48] vijayank88 opened #1884 "Flow failed to complete global routing with routing congestion"
`Description`
This is MPW-5 passed design. WIth latest openroad its failed to complete global routing.

MPW-5 repo: https://github.com/ISL-ECE-CEG-AU/GPS_Baseband/blob/main/openlane/user_project_wrapper/config.tcl

`Logs`

[code]

Attaching Test case here:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8727975/openroad_issue_reproducible.zip)

[2022-05-19 09:58] vijayank88 opened #1885 "Resizer routing timing failing with routing congestion"
`Description`
This is MPW-5 passed design. WIth latest openroad its failed to complete global routing.

MPW-5 repo: https://github.com/htfab/asicle/blob/main/openlane/user_project/config.tcl

`Logs`

[code]

Reproducible test case:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8728060/openroad_issue_reproducible.zip)

[2022-05-19 11:12] antonblanchard commented on #1875
I think this is the reason LVS is failing. you can see end cap cells, but no well tap cells:

![tap-issue](https://user-images.githubusercontent.com/2029971/169279732-e44820d8-39c9-42d4-9635-d4ede447ea6c.png)

I guess it's a bit of a corner case, since it's such a thin area, but shouldn't we be adding well tap cells?

Test case: [tap.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8

[2022-05-19 14:58] maliberty commented on #1875
Any row should always have at least a tap cell or endcap (containing a welltap) otherwise it won't function.

[2022-05-19 17:59] maliberty commented on #1877
#1887 fixes -report_file

[2022-05-19 18:34] maliberty commented on #1884
Macros should bring their pins to the outer edge and block their core (especially analog macros), not:
![image](https://user-images.githubusercontent.com/761514/169374733-988d4b0f-e47e-40e2-8c27-9362dd075c62.png)

[2022-05-19 18:41] maliberty commented on #1885
We had this discussion elsewhere - this is not a helpful description of the problem.  In MPW-5 you may have generated different input to grt and the problem is elsewhere.    You need to identify where in the flow the divergence starts and file an issue about that.  I need a case where the old results and the new results for the same input differ substantially.

You have an area of very high placem

[2022-05-19 20:22] maliberty commented on #1868
The rows are cut around the macro according to the halo so there are no legal placement sites inside the halo.  I can't see any instances of an antenna diode inside the halo.  Would you provide an example of what you mean in your test case.

[2022-05-19 20:24] maliberty commented on #1868
Diodes in yellow:
![image](https://user-images.githubusercontent.com/761514/169398201-e380cb28-4c5c-4478-a584-f196eb20b756.png)

[2022-05-19 20:31] maliberty commented on #1868
The diode must in a row to be marked FIRM:
[code]

[2022-05-19 20:56] antonblanchard commented on #1875
I wasn't sure if the cells we use for end caps on sky130hd (`sky130_fd_sc_hd__decap_3`) provide a welltap or not (eg if the layout is just missing pin and label layers that magic can use for extraction).

Even if it did, there's no for OpenROAD to know is there? As such, It seems like it should have added tap cells.

I think I see why we aren't adding them. We try to, but the overlap check fails:

[2022-05-19 20:58] maliberty commented on #1875
I believe tapcell assumes that endcaps contain a welltap

[2022-05-19 21:14] stefanottili opened #1888 "OpenRoad fails to route ispd19_test6 with 1 macro pin corner spacing violation."
OpenRoad fails to route ispd19_test6 with a macro pin corner spacing violation.
There is plenty of space to solve this pin access as can be seen on all the other pins of all the other macros.

get input lef/def from https://www.ispd.cc/contests/19/

OpenROAD-flow-scripts/tools/install/OpenROAD/bin/openroad -threads 8 -log log -gui ispd19_test6.or

ispd19_test6.or:

read_lef ispd19_test6.input.lef.

[2022-05-19 22:09] maliberty commented on #1888
We run this design nightly and it ends with 0 DRVs.  See https://jenkins.openroad.tools/job/OpenROAD-Nightly-Public/654/execution/node/478/log/

I'm not sure why you see a violation.

[2022-05-19 22:12] maliberty commented on #1888
The tests are run with https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/drt/test/run-ispd.py

[2022-05-19 22:21] maliberty commented on #1875
There is no problem here.  You have set the decap as your endcap and they are within the 13um tapcell dist.  The only issue is choosing decap as a endcap which it is not really.

[2022-05-19 22:24] maliberty commented on #1875
Btw, if you are going to push your macros close to the edge you should avoid putting top level pins in that tight routing channel if possible.
![image](https://user-images.githubusercontent.com/761514/169414399-e35bc821-8da1-44ac-a9e0-936433460b9f.png)

[2022-05-19 22:45] maliberty commented on #1836
I was fixing up ifp for python and I think I've eliminated this problem in the process (both values are dbu now).  Would you verify this is ok to close?  There is no test case.

[2022-05-19 23:19] leon575777642 commented on #1868
Hi @maliberty thanks for looking into this. The error I got was the following:

[code]

Due to the error I did not get the def with the inserted diodes, so I cannot verify if the diodes are indeed placed in the halo. Is there any way to get the def with the illegal diodes?

One thing to note is that I was using commit `8d53e9b018dec98fa63e907ddeb6c5406f035361` since that is what MPW-6 uses in thei

[2022-05-19 23:21] maliberty commented on #1868
8d53e9b018dec98fa63e907ddeb6c5406f035361 is from Feb 17.  When I run with the current OR head I don't see the above errors.  Why is MPW-6 so far behind?  @donn

[2022-05-19 23:25] maliberty commented on #1868
I see the mpw-6b tag points at a slightly later version.

[2022-05-20 03:23] dearmrlv commented on #1877
Another **ERROR**.
When running the test case from OpenROAD/test/aes_nangate45.tcl with mpl2 utilized, errors occured. The log attached below:
[logs.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/8735632/logs.txt)

And here is the test case
[partition.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8735642/partition.zip)

unzip the test case file and enter the "partition"

[2022-05-20 03:26] maliberty commented on #1877
I'll take a look but not that aes has no macros so mpl2 is kinda pointless.

[2022-05-20 03:33] stefanottili commented on #1888
I'm running on a M1 with 16GB and logs using 4,6,8 cores look nearly identical.

But comparing the 32-thread nightly log to my M1 logs, these are the differences I can spot:

a) OpenROAD v2.0-3644-gc852a71d0 vs OpenROAD v2.0-3674-g6bcd930ce
b) global_route was run without -verbose vs I ran with
c) Number of guides:     4718916  vs  Number of guides:     1906703
d) [INFO DRT-0176] GCELLGRID X -1 DO

[2022-05-20 05:49] maliberty commented on #1888
The ispd benchmark comes with guides so you shouldn't be running global route at all.

[2022-05-20 16:21] stefanottili commented on #1888
Why not ?
Starting point is a legal placement that is known to route.
And it’s not a congestion problem, just pin access to one of the macro pins.
The pin is even wide enough to be covered by multiple tracks, so no offgrid pin access necessary.

[2022-05-21 17:30] maliberty commented on #1888
That contest was for detailed routing so the global routing was fixed.  We run it as it was run in the contest.  We could try to do what you are doing but that would be a separate effort and isn't currently a priority (more of a grt test at that point).

[2022-05-21 18:56] stefanottili commented on #1888
loading the guide still leaves me with this one macro pin access violation, even with --latest OpenROAD v2.0-3684-ga120f938e

read_lef ispd19_test6/ispd19_test6.input.lef.gz
read_def ispd19_test6/ispd19_test6.input.def.gz
detailed_route -guide ispd19_test6/ispd19_test6.guide -output_drc 5_route_drc.rpt -verbose 1
exit

comparing the 32-thread linux regression log file against the 8-thread M1 Mac l

[2022-05-22 14:39] ilesser commented on #1834
I am having the same issue after I built the open road flow with docker, using master updated as of today.

For reproducing the error I simply load the docker image and then open openroad enablign the gui.
The setup_env.tcl has no changes from master. This is the log I get and this is the run_docker.sh:

[code]

[code]

I checked /usr/share/X11 and the xkb directory is missing.

Could this be a pr

[2022-05-22 15:15] mirkat1206 opened #1894 "GPL question about LEF/DEF of a newbie"
Hello, I am studying LEF/DEF format and trying to put them into RePlAce to get a global placement result and its HPWL.

However, RePlAce runs very slow with my baby LEF/DEF files compared with the much complex gcd testcase.
Is there any problems with my LEF/DEF files?

Here is my LEF file:
[code]

And here is my DEF file:
[code]

[2022-05-22 15:19] ilesser commented on #1834
I don't think the error is related to X server because I can succesfully open klayout without issues:

![image](https://user-images.githubusercontent.com/16288620/169702497-7c53849e-803a-443c-827b-8518aa63b09a.png)

So the problem is definetely related to Qt 5

[2022-05-22 15:21] maliberty commented on #1834
Try install xkb or using the openlane docker image.

[2022-05-22 15:21] mirkat1206 commented on #1894
And I met *NEGATIVE HPWL ERROR* in the final result.
Any suggestions for this problem?

![image](https://user-images.githubusercontent.com/55183618/169702524-37dc45a5-fe36-4142-82f3-40fa9663b028.png)

Appreciate your help!

[2022-05-22 15:33] ilesser commented on #1834
@maliberty I didn't know what to install so I installed this:

[code]

After that the error is slightly different:

[code]

I am using a docker image I built using the build_openroad.sh with the lastest master from today.

Is there a way to download a docker image already built by OpenRoad or by someone else?

[2022-05-22 15:37] arlpetergadfort commented on #1834
You could try to get more of the QT error information by setting `export QT_DEBUG_PLUGINS=1`
This might help you see if something is missing.

[2022-05-22 15:56] ilesser commented on #1834
Here are my logs obtained with `openroad -gui 2>&1 |tee qt_debug.log`:

* `qt_debug.without_xkb.log`: Log before running the `yum install` command
* `qt_debug.with_xkb.log`: Log after running the `yum install` command

The install command is the same I showed earlier: `yum install libxkbcommon libxkbcommon-devel libxkbfile libxkbfile-devel xorg-x11-xkb-extras xorg-x11-xkb-utils xorg-x11-xkb-utils-

[2022-05-22 17:40] ilesser commented on #1834
I tried recompiling the docker images from the tag `v2.0` becauser I thought that would be more stable, but there are many errors during the image building so I couldn't do it.

Just to clarify, this issue is only related to the GUI. The whole flow works well until it wants to use the GUI

[2022-05-22 20:57] maliberty commented on #1894
Would you package a test case

[2022-05-22 22:26] ilesser commented on #1834
After some debugging I see that the crash leaves TCL in [line 139 of src/gui/src/gui.tcl](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/gui/src/gui.tcl#L139):

[code]
After that it goes to [line 276 src/gui/src/gui.i](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/gui/src/gui.i#L276):

[code]
An finally to [line 479 of src/gui/src/gui.cpp](https://github.com/Th

[2022-05-22 23:08] maliberty commented on #1834
There was very recently a bug that turned up in save_images.  Please try with the latest code to make sure you have that fix.

[2022-05-22 23:34] arlpetergadfort commented on #1834
@maliberty I don't think it has anything to do with save_image since @ilesser said at first this issue arose when calling `openroad -gui` which does not call any of that code referenced.
I believe, but correct me if I'm wrong, kLayout bundles Qt so the system Qt installation would not matter.

Looking around online there appears to be similar issues (https://forum.qt.io/topic/93247/qt-qpa-plugin-c

[2022-05-23 01:09] antonblanchard commented on #1875
[code]

@rtimothyedwards should we be using something other than `decap_3` for the endcap cells? (eg something with a tap)

[2022-05-23 08:36] ilesser commented on #1834
@maliberty I am using the latest version of OpenRoad-flow-scripts. I will try later forcing OpenROAD app to the latest version.

@arlpetergadfort Thanks for the tip, I tried intalling `libxcb-xinerama0` but couldn't find it. Later I will try to add more sources to yum to see if I can install it.

[2022-05-23 16:22] maliberty commented on #1424
Is this moving towards a conclusion?

[2022-05-23 16:49] maliberty commented on #1834
@vvbandeira can you build a docker image with build_openroad.sh and try this out?

[2022-05-23 16:50] maliberty commented on #1424
I have no experience with pip or its configuration files, etc.  We don't package at all today.  Can you give a more specific set of steps?

[2022-05-23 16:52] maliberty commented on #1888
You can always file an issue if you think something needs improving.

[2022-05-23 17:00] gkamendje opened #1898 "clock_tree_synthesis is causing Openroad to crash"
I am using the latest version of ORFS and  the call to clock_tree_synthesis in scripts/cts.tcl is systematically causing Openroad to crash pretty early in the process. I have no clue on how to start debugging this. Not sure what exactly is causing the issue and how to guide someone else to reproduce it. I have double checked the synthesized netlist as well as the pin placement and everything seems

[2022-05-23 17:10] umarcor commented on #1424
Do not care about "pip" for now. Let's focus on "Python setup files". Some examples:

- https://github.com/chipsalliance/f4pga/blob/main/f4pga/setup.py#L72-L97
- https://github.com/cocotb/cocotb/blob/master/setup.py#L88-L136
- https://github.com/edaa-org/pyEDAA.ProjectModel/blob/main/setup.py#L41-L48

So, conceptually it's very similar to any other "recipe" (say deb, rpm, conda...). You declare th

[2022-05-23 17:21] vvbandeira commented on #1834
Yes. I will give it a try @maliberty

[2022-05-23 18:43] vvbandeira commented on #1834
@ilesser can you try installing the following packages in the docker image and then running `openroad -gui` again?
[code]

[2022-05-23 19:04] ilesser commented on #1834
@vvbandeira I tried installing that but I still get a similar error.

Here is the log I get:
[error.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/8757468/error.log)

[2022-05-23 19:16] ilesser commented on #1834
I also tied `yum distribution-synchronization` but it didn't help. I get the same error

[2022-05-23 19:21] 0962221289 commented on #1898
![image](https://user-images.githubusercontent.com/104688635/169891320-958b3f45-86b3-4117-823e-6806d1d6e045.jpeg)

[2022-05-23 19:45] ilesser commented on #1834
@vvbandeira  Adding those lines to the docker command work!

Now I can open the GUI without any errors and I didn't have to install anything, it works with the image I compiled.

[code]

This is my run_docker.sh:

[code]

[2022-05-23 20:00] vvbandeira commented on #1834
@ilesser that is great. You will probably want to install those packages, in my testing I was not able to use the keyboard before installing them. You can also try to remove one by one of the options I gave to you to see which are really needed. @varakely can you try the proposed solutions here to see if they also apply to you?

[2022-05-23 20:05] #1877 closed

[2022-05-23 20:47] ilesser commented on #1834
That is correct @vvbandeira keyboard was not working at first, but after running `yum install -y xorg-x11-server-Xorg xorg-x11-xauth mesa-dri-drivers` it worked!

I want to say that I have been using Cadence tools for a decade now and I am pretty impressed by the openROAD flow.
Kudos to everyone that contributed! I would like to try to contribute to the development.

[2022-05-23 20:49] maliberty commented on #1834
I'm glad you are up and running.  You are most welcome to contribute in whatever fashion interests you.

[2022-05-23 21:01] gkamendje commented on #1898
The `make cts_isse`  command includes Foundry files in the tar bundle it creates. What would be the best way to share this file without violating any NDA?

[2022-05-23 21:03] maliberty commented on #1898
You can't transfer a testcase with private PDK data.  Which PDK are you using?  If we have it in house I could take the test case without the PDK.

[2022-05-23 21:13] gkamendje commented on #1898
I am using SMIC180. I will try to see if I can reproduce the issue with a public PDK.

[2022-05-23 21:18] maliberty commented on #1898
If you can't reproduce it on a public PDK then @tspyrou might be able to help with NDAs.

[2022-05-23 22:01] gkamendje commented on #1898
I have tried reproducing it on an public PDK but no luck so far.
Is there any recommended procedure for compiling Openroad in debug mode? I could try firing up GBD and see how far I can get.

[2022-05-23 22:07] maliberty commented on #1898
I usually use from the top of ORFS:
[code]
then
[code]

[2022-05-24 04:54] proppy commented on #1424
A bit more background:
The goal of https://github.com/The-OpenROAD-Project/OpenROAD/pull/1849, is to expose a subset of the OpenROAD C++ API as a regular [python extension](https://docs.python.org/3/extending/extending.html), and not really to replace the main OpenROAD executable with a Python entrypoint.

In addition to the example that @umarcor pointed to for the "Python setup files", https://pa

[2022-05-24 11:13] vijayank88 opened #1903 "Facing segfault during global placement RePlace"
**`Issue Description:`**

With `set ::env(PL_ROUTABILITY_DRIVEN) {1};` configuration facing abnormal exit by tool.

**`Log:`**
[code]
**`Workaround Used:`**
If I disable `set ::env(PL_ROUTABILITY_DRIVEN) {0};` tool complete the global placement stage.

**`Test case: `**
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8762071/openroad_issue_reproducible.zip)

[2022-05-24 17:57] GuzTech commented on #1872
I just pulled the latest version of OpenROAD and I can confirm that at least OpenDB does not complain about the MEOL layer anymore.

[2022-05-25 02:42] maliberty commented on #1424
@proppy I'm happy to have you start with odb

[2022-05-25 04:47] gkamendje opened #1908 "make gui_* causing OR to crash in ORFS"
I am using ORFS and updated my git directory a couple of days ago to OpenROAD v2.0-3729-g713ef39fc. Now, running `make gui_2_floorplan.odb`  for example will cause the tool to crash (see the stack trace below).
I do not see this behavior with the previous version of OR I was running OpenROAD v2.0-3236-ge9d9ebe5f.
I am running Ubuntu 20.04 in WSL2
[code]

[2022-05-25 05:09] maliberty commented on #1908
You need to update again.  That bug was fixed a few commits later.

[2022-05-25 13:22] gkamendje commented on #1898
@tspyrou any update regarding the NDA?

[2022-05-25 13:51] maliberty commented on #1908
That feature was added when we switched to odb files (make gui_<step>.odb).  It was similar when we use def files between steps.

[2022-05-25 18:00] QuantamHD opened #1910 "Hierarchical Support Needed"
Hi @maliberty,

We have another internal user of OpenROAD, and they're trying to run more analysis with OpenSTA and OpenROAD. They would like to preserve the hierarchy information. @saywhite can add more details.

What would be the fastest path to getting OpenDB to preserve this hierarchy information?

[2022-05-25 18:06] maliberty commented on #1910
standalone opensta can keep the full hierarchical netlist for timing.

[2022-05-25 18:27] QuantamHD commented on #1910
@saywhite added some custom functions to standalone STA, but noticed they stopped working once linked into OpenROAD. Namely, to list out all the hierarchical modules. The previous statement could be incorrect. @saywhite can you add more details?

[2022-05-25 18:40] maliberty commented on #1910
odb has physical information but is a flat db
standalone sta is a fully hierarchical model but has no physical information

Ideally we want both physical information and full hierarchy but we don't have that and its a lot of work.  We settled on have odb have an instance tree for now.  Full hierarchy affects more than the db but since sta is an analysis tool it doesn't have to deal with netlist ed

[2022-05-25 20:55] saywhite commented on #1910
During dbSTA link_design:
[code]
the verilog_network is the network object created here, which calls openSTA's concreteNetwork function;
In makeDbModule, the network_ seems to be aware of hierarchical instances (I also verified through testcases).

[code]

So I have three questions:

1) which part flattens the design?
2) is concreteNetwork a flattened or hierarchical network?
3) what happens to op

[2022-05-25 20:59] maliberty commented on #1910
Your answer is already in the code you posted: Verilog2db.  It builds a flat odb from the dbVerilogNetwork built during sta's read_verilog.   dbNetwork is an adaptor to the flat odb that sta then uses.

I already said that openSTA built-in network is not used in OR.  It has no physical information and is not suitable.

[2022-05-25 21:15] QuantamHD commented on #1910
Can we keep the hierarchical information as metadata rather than making it structural? So instances and nets could keep track of what module they are in and who their parents are without impacting the current API?

For networking modifications we could just make a simple rule that fan in controls your "hierarchy label" with some conflict resolution algorithm based on alphabetical order, or somethi

[2022-05-25 21:18] maliberty commented on #1910
Flat nets in odb are not in a single module but represent a whole collection of hierarchical nets that span modules.   Instances already do keep track.

The solution to this problem is known and substituting something hackier isn't desirable.  If you want to work on this problem I'm glad to offer guidance.

[2022-05-25 21:19] maliberty commented on #1910
It would be more helpful to know what you are trying to accomplish

[2022-05-28 02:18] YihangQiu opened #1921 "Segmentation fault when running GRT"
For tinyRocket_nangate45, I can run through the full flow with OpenRoad, but when I use my own design to turn on routability in the global placement phase, I get an error due to a call to GRT. The error is reported as shown in the figure. I don't know what caused the segment error and would appreciate a reply.

![image](https://user-images.githubusercontent.com/65992277/170805710-1d2ca5a2-a7d8-48b

[2022-05-28 03:14] maliberty commented on #1921
Can you provide a test case?

[2022-05-28 08:14] YihangQiu commented on #1921
Okay, but the design file is not convenient for public. Can we contact by email? My email address is edayhq@126.com

[2022-05-29 18:50] luccareinehr opened #1922 "qt5-default package from DependencyInstaller.sh is deprecated"
Hi,

Newer versions of Debian do not have the qt5-default package in their repositories anymore (see [this forum post](https://askubuntu.com/questions/1335184/qt5-default-not-in-ubuntu-21-04)). Thus, running the Dependency Installer script gives a "package is not available" error.

I'm using Ubuntu 22.04

[2022-05-30 09:53] vijayank88 commented on #1921
@YihangQiu
Run `make global_routing_issue` and share test case here.

[2022-05-30 22:17] antonblanchard opened #1927 "RSZ: hold repair creates setup violations"
I'm struggling to resolve setup violations while taping out Microwatt. While the design has a lot of setup slack, it appears that hold repair is consuming all that slack and creating setup violations.

There are no complaints from the resizer:

[code]

But we end up with setup violations. As an aside - I wonder if we need a way to specify the setup slack margin when doing hold repair. At the momen

[2022-05-30 22:33] msaligane commented on #1927
@minghungumich FYI.

[2022-05-30 22:43] #1872 closed

[2022-05-30 23:25] antonblanchard commented on #1927
Note that @jjcherry56 fixed a similar issue in https://github.com/The-OpenROAD-Project/OpenROAD/issues/1729. In that case we'd fail to fix the hold violations after consuming all the setup slack.

This looks a bit different since we resolved all the hold violations and there were no errors from the resizer. Perhaps we are pushing the design too close to zero setup slack, and going just over.

[2022-05-31 00:44] jjcherry56 commented on #1927
You have an interesting point that the commands do not account for. Hold fixing uses available setup slack, which isn't going to respect your setup margin. I need to add separate margins to handle it. In in any event hold fixing should not cause setup violations unless -allow_setup_violations is on.

[2022-05-31 02:48] gkamendje commented on #1898
I attached gdb to a run of `make cts`. it looks like the call to  `sta::Vertex::bfsInQueue (this=0x0, index=sta::BfsIndex::other)` `OpenROAD/src/sta/graph/Graph.cc:1292` is causing the segmentation fault. I am attaching the full gdb log to this message.

I noticed the following but I am not sure if it has anything to do with the issue.
[code]
@tspyrou any update regarding the NDA?

[gdb.log](https

[2022-05-31 05:08] jjcherry56 commented on #1927
I haven't unpacked this yet but I will point out that any design that takes 7000 buffers to fix hold violations probably has something seriously wrong with it. Examples that I have seen are broken liberty ram models, input/output delays that ignore the latency of the clock, or gated clocks that CTS is clueless about handling. If the hold violations were not so horrendous the setup slack would be s

[2022-05-31 07:29] antonblanchard commented on #1927
I've been trying to build up the liberty files from STA output and I'm sure I'm getting a lot wrong. Do you see anything in the liberty files that are obviously bad?

An example of what I'm doing, for the a[*] input to the multiplier:

[code]

hold delay: 4ns
setup delay: 10 (next clock) - 4 (hold delay) - 0.63 (excess setup slack) =  5.37 (rounded up to 5.5)

[code]

[2022-05-31 08:01] GuzTech commented on #1872
Thanks for updated version! :+1: I again pulled in the latest version of OpenROAD, but I still have the same problem. I'll quote from the discussion that lead to this issue:
[code]

Is this related to this issue, or is it something else and should I create a different issue for it?

[2022-05-31 15:46] saywhite commented on #1910
Thanks Matt for clarification. I think verilog2db should already satisfy my need for hierarchical instance tracing purpose in this case. I was just curious about the role of STA's built-in network since the behavior is different when invoking the openSTA standalone. We can close this ticket now.

[2022-05-31 15:48] #1910 closed

[2022-05-31 23:22] antonblanchard commented on #1927
Makes sense, let me package everything up and send it your way.

[2022-06-02 11:33] donnie-j commented on #1927
Anton, are you writing a tool to do this?  This is IMHO one absolutely key piece of infrastructure that is missing.

[2022-06-02 14:44] jjcherry56 commented on #1927
Liberty files are inadequate to support hierarchical flows. They have no way to express boundary parasitics or sdc exceptions that cross the block boundary or transparent latch behavior. ILM models were developed for this reason
but even those have issues and have been supplanted in commercial flows. It is an extremely difficult problem.

[2022-06-02 14:58] maliberty commented on #1927
Even a basic ILM generator would be better than nothing.  We don't have SI or CCS to deal with yet so I think it would suffice for most skywater users.

[2022-06-03 02:13] jjcherry56 commented on #1927
fixed in ed7cb4e7e rsz repair_hold

[2022-06-03 02:13] #1927 closed

[2022-06-04 07:21] Elon-J opened #1933 "After run the flow successfully, the DRC is not clean"
When I try to increase the output load ability of my block, after passing the OpenRoad flow successfully, the DRC is not clean. What should I adjust?
Attach my detail_route_issue_file:

[detail_route_NON_CLK_GEN_sky130hd_base_2022-06-04_07-30.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8837249/detail_route_NON_CLK_GEN_sky130hd_base_2022-06-04_07-30.tar.gz)

Attach my block repos

[2022-06-04 07:22] Elon-J commented on #1933
<img width="437" alt="image" src="https://user-images.githubusercontent.com/88715865/171989190-1551505f-5146-4763-8252-ce3b018dbfe9.png">

[2022-06-04 07:24] Elon-J commented on #1933
I also have try many verisons including adjust different core areas.

[2022-06-04 07:28] vijayank88 commented on #1933
@Elon-J
Please execute following commands from `flow` directory and attach zip file.
[code]

[2022-06-04 07:30] Elon-J commented on #1933
OK

[2022-06-04 07:33] Elon-J commented on #1933
I have updated my first comment.

[2022-06-04 07:49] vijayank88 commented on #1933
@Elon-J
Detail routing completed with 0 DRC errors.
[code]
Its something error coming from KLayout.

Please try to load and check those overlapping error.

[2022-06-04 07:57] Elon-J commented on #1933
@vijayank88 , Thank you very much! Let me check it!

[2022-06-04 07:59] Elon-J commented on #1933
@vijayank88 , By the way, actually I also check it using magic, there are also some DRC errors.

[2022-06-04 09:49] msaligane commented on #1933
@Elon-J can you add the drc report and maybe zoomed in screenshots. That would be helpful to understand what is wrong.

[2022-06-04 09:50] vijayank88 commented on #1933
@msaligane please check this slack channel conversation: https://skywater-pdk.slack.com/archives/C0161A4A59V/p1654326142362839

[2022-06-04 09:58] msaligane commented on #1933
@vijayank88 thanks!
@Elon-J what is your fix for the buf_16?

[2022-06-04 19:14] Elon-J commented on #1933
@msaligane , I just try to increase the drive ability to generate a new CLK, and this problem has been fixed.

[2022-06-05 14:17] titan73 opened #1934 "cmake does not check for readline.h header package"
I installed libreadline-dev package in ubuntu 22.04 to fix the problem but that would be better to catch it during cmake.

[  6%] Building CXX object third-party/abc/CMakeFiles/libabc.dir/src/base/main/mainUtils.c.o
cd /home/titan/OpenROAD/build/third-party/abc && /usr/bin/c++  -I/home/titan/OpenROAD/third-party/abc/src -O3 -DNDEBUG -Wall -Wno-array-bounds -Wno-nonnull -Wno-maybe-uninitialized -Wn

[2022-06-05 18:17] GuzTech commented on #1872
Interestingly, after #1928 I now get a different error:
[code]
where the relevant parts in the LEF file are:
[code]

Since I saw that you removed the comparison with `LEF58_TYPE::MEOL` in the function `addMasterSliceLayer()`, I actually removed the comparison with NWELL, PWELL and DIFFUSION as well since I have master slices that are of these types too. But that also gives the same error.

[2022-06-05 21:19] vvbandeira commented on #1834
@varakely were you able to use the GUI so we can close the issue?

[2022-06-06 06:44] Ryabkomv opened #2221 "Rocket Mini to GDSII failed at step 15"

[2022-06-06 06:46] antonblanchard opened #1940 "DRT: met3 min area violation"
I'm seeing a single met3 minimum area violation when taping out Microwatt using a recent OpenROAD (commit 0b8b7ae255f8fbbbefa57d443949b84e73eed757).

The issue is at 1147.305, 965.775

![magic-drc](https://user-images.githubusercontent.com/2029971/172107929-d78923be-b205-4658-a8ab-1b398ac46427.png)

The DRC issue was found with magic, but I was able to reproduce it with the klayout DRC deck.

Test

[2022-06-06 10:48] osamahammad21 commented on #1872
@GuzTech as I told you before we only support one masterSlice layer per tech in tritonroute. So in the end you would have the layers stacked as following:
Masterslice layer
Cut layer
Routing layer
Cut layer
...
No other masterslice layer in between layers.

[2022-06-06 16:04] maliberty commented on #1940
Does the router show any drcs?

[2022-06-06 21:10] antonblanchard commented on #1940
It completes without any DRC errors:

[code]

[2022-06-07 07:15] GuzTech commented on #1872
@osamahammad21 Ah ok, I misunderstood when you first explained it then. That means that for now we cannot use our PDK with OpenROAD for P&R.

Thanks for the hard work! :+1:

[2022-06-07 08:15] osamahammad21 commented on #1872
@GuzTech Is your APK public?
If yes could you share it please?
If not, could you give me an idea on how the layers are stacked so that I could understand what needs to be supported?

[2022-06-07 15:35] #1834 closed

[2022-06-07 19:48] Elon-J opened #1943 "When I try to connect every macro block into a big one I meet this problem"
How can I connect the VPWR and VGND in my Macro blocks to the top-level power ring using pdn.cfg? Attach my pdn.cfg file.

[pdn.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/8856700/pdn.txt)

[2022-06-07 21:16] msaligane commented on #1943
@Elon-J Your GitHub issue has no details and no test case. Jianwei: Please provide as much details as possible so others could help you!

[2022-06-08 00:05] arlpetergadfort commented on #1943
@msaligane @Elon-J based on the file it appears they are using the deprecated version of PDNgen, so they should probably start by updating to the current version

[2022-06-08 00:12] QuantamHD opened #1945 "Tapcell: Closed Source PDK Feature Request"
I'm using a PDK + Standard Cell Library that has special end cap cells for both the top, bottom, left and right cells. It also has corner cells for each corner of the macro and core area rectangles (TR, TL, BR, BL). It doesn't seem like tapcell supports this. Can we add this feature?

[2022-06-08 06:04] advancedtigerdenempr opened #1946 "Unknown CMake command "swing_lib""
denis@Tiger:~/OpenROAD/build$ cmake ..
-- OpenROAD version: v2.0-3970-g3aeb17a7c
-- System name: Linux
-- Compiler: GNU 9.4.0
-- Build type: RELEASE
-- Install prefix: /usr/local
CMake Error at src/CMakeLists.txt:18 (include):
  include could not find load file:

    openroad

-- TCL library: /usr/lib/x86_64-linux-gnu/libtcl.so
-- TCL header: /usr/include/tcl/tcl.h
-- TCL readline library: /usr/li

[2022-06-08 09:17] #1946 closed

[2022-06-08 11:18] GuzTech commented on #1872
@osamahammad21 Thank you for wanting to look into it! It's a commercial PDK so unfortunately I cannot share it, but I can give an overview of how layers are stacked. There are two types of via rules that are like this:

[code]
and
[code]

Does that help? Just let me know if you need any more information :+1:

[2022-06-08 21:36] QuantamHD commented on #1945
So upon closer inspection it looks like the cells in the PDK are technically named differently, but are really just rotations of each other. I feel like we should probably support the differently named cells, but it's not incorrect per say since OpenROAD seems to be doing to the rotating.

[2022-06-09 11:55] proppy opened #1947 "Stacktrace in GRT for "Extra Run for hard benchmark""
[code]
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8870040/openroad_issue_reproducible.zip)

[2022-06-09 17:02] vijayank88 opened #1950 "Fanout violations during global routing"
@tspyrou
As I tried APU design with GF180 PDK, during global routing seeing rise in fanout count causing timing violations of WNS with -234ns.

Attached DEF and `groute.tcl`

Log snippet: Complete log available in attachment.
[gftest1_groute_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8872416/gftest1_groute_packaged.zip)

[code]

[2022-06-09 17:28] tspyrou commented on #1950
@jjcherry56 can you look at this one?

[2022-06-09 18:38] vvbandeira commented on #1947
@luis201420 can you take a look at this?

[2022-06-09 19:09] jjcherry56 commented on #1950
Please package a complete testcase with all of the data to run it. The only thing in this tarfile is a def file and a command file and references to undefined variables.

[2022-06-10 03:06] vijayank88 commented on #1950
@jjcherry56
Its private PDK. I am not sure what are the files to attach here. I will send as Email. Thanks.

[2022-06-10 16:05] jjcherry56 commented on #1950
It is fine to reference the PDK in or1:/platforms etc but I have to be able to run it in openroad (not shell, not openlane) with all of the design files and variables.

[2022-06-10 16:31] vijayank88 commented on #1950
@jjcherry56
Here I attached and able to reproduce the same issue.
[gftest1_groute_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/8880524/gftest1_groute_packaged.zip)

Library removed as its private PDK. Please point your local path for this library `set ::env(LIB_SYNTH_COMPLETE) {./lib/GF018hv5v_mcu_sc7_TT_1P8V_25C.lib};` in `run.tcl`

[2022-06-10 17:57] luis201420 commented on #1827
I tried to reduce the GLB_RT_ADJUSTMENT but it still has a lot of congestion. @proppy could you run the design reducing the PL_TARGET_DENSITY and then upload the tarball containing the stage of global route?

[2022-06-10 19:21] luis201420 commented on #1947
Yes, I can.
I ran this but didn't get the same error, I got this output after running global route.
[code]

[2022-06-10 22:44] vvbandeira commented on #1947
Thanks @luis201420.

@proppy which version of `openroad` did you use?

Also, @luis201420 can you check to see if this is another instance of the problem with `nangate45/bp_fe_top` and the steiner tree difference we were talking about over email?

[2022-06-11 00:43] jjcherry56 commented on #1950
There is no  GF180.git repo in either of the 2 places I know to find it: or1:/platforms and /home/zf4_projects/OpenROAD-guest/platforms. So where is it hiding?

[2022-06-11 16:14] QuantamHD commented on #1898
@gkamendje In your PDK what signal type is the input of your buffer? I'm also using a proprietary PDK, and ran into a segfault because OpenROAD didn't support clock type for the clock buffer cells. I submitted https://github.com/The-OpenROAD-Project/OpenROAD/pull/1952 if you want to give that a try.

[2022-06-11 16:19] QuantamHD opened #1953 "Let's include some images in the README"
The README should include some statistics and pictures about the number of number of successful tape outs.

We should also include pictures of the GUI. These will serve as draws to get people involved.

[2022-06-11 16:19] QuantamHD commented on #1953
We should also list PDK support in the README as well

[2022-06-12 00:25] gkamendje commented on #1898
@QuantamHD Thanks for notifying. In my case, buffer cells have `SIGNAL` as clock input type. As I mentioned previously, the problem is related to a call to `sta::Vertex::bfsInQueue (this=0x0, index=sta::BfsIndex::other)` in the file `OpenROAD/src/sta/graph/Graph.cc:1292` while it is trying to find the clock pins of the clock network (see the gdb log below). I need some further investigation to und

[2022-06-13 01:57] proppy commented on #1947
@vvbandeira `OPENLANE_TAG=2022.02.23_02.50.41`.

[2022-06-13 16:25] vvbandeira commented on #1947
@proppy could you try with the latest version of OL? @luis201420 can confirm, but I would assume he used the latest release of OR, thus looks like the issue has already been fixed upstream.

[2022-06-13 16:38] maliberty commented on #1922
@vvbandeira any progress on this?

[2022-06-13 16:39] maliberty commented on #1933
Is this resolved?

[2022-06-13 16:51] maliberty commented on #1943
@Elon-J do you still need help?  There is nothing further we can do without action from you.

[2022-06-13 17:48] luis201420 commented on #1947
@vvbandeira I think this bug was fixed with #1742.

[2022-06-13 18:16] #1943 closed

[2022-06-13 18:29] #1933 closed

[2022-06-13 19:07] QuantamHD opened #1955 "Post Detailed Placement Pin Optimization"
Would it be possible to move pins around post DP? I see a lot of longer wires in my design, and it seems like it would make sense to have some kind of optimization to move the pins closer to their sinks.

![image](https://user-images.githubusercontent.com/3784748/173426713-3758b54d-7dd3-48ce-bda0-7708d2ef0ba1.png)

[2022-06-13 19:09] maliberty commented on #1955
You could probably rerun the pin placer and have it update the locations.  I haven't tried it but I expect it would work.  You should not do so after grt/drt though.

[2022-06-13 19:09] maliberty commented on #1955
(btw, your image is cutoff)

[2022-06-13 19:22] QuantamHD commented on #1955
Image is intentionally cut off.

[2022-06-13 21:10] QuantamHD opened #1957 "Allow GUI Interactivity During Command Execution"
@arlpetergadfort What would it take to make the GUI interactive during command execution? I'd love to get this to work.

Some of the complexities off the top of my head.

* Preventing write operations during command execution.
* GUI elements potentially getting deleted.

Let me know if I'm missing something else.

[2022-06-13 21:20] maliberty commented on #1957
odb doesn't have any locking around modifications so you would have to be very careful to avoid the GUI accessing data while an algorithm is writing it.

[2022-06-13 22:55] maliberty commented on #1957
I think a small white list of operations we want to support is the most tractable thing to define/implement.  Do you have key operations you want to perform?

@arlpetergadfort for your thoughts.

[2022-06-14 00:20] QuantamHD commented on #1957
Mostly pan, zoom, layer flipping, heat maps.

[2022-06-14 01:38] jjcherry56 commented on #1950
@tspyrou pointed me to the pdk. I had to make some changes to the run script to make it work, but got it to run.
I don't see anything in the groute.tcl script that changes the fanout of a gate (it does global routing, not repair_design). So the problem is further back in the flow. The timing reported by groute.tcl when I run it does not show a path with a large fanout gate. Here is the same path I

[2022-06-14 02:23] jjcherry56 commented on #1950
The groute.tcl script seg faults while trying to do antenna repair in everybody's favorite opendb wire code.
There is some chance those "fanouts" were diodes that were inserted during antenna repair that managed to
complete because the memory corruption on your run didn't cause a seg fault. Use the following command
to look at the connections on the net:
report_net -connections -verbose _1462_

re

[2022-06-14 02:55] jjcherry56 commented on #1950
It is indeed an antenna repair that is the culprit. Compiling with optimization on disables an assertion check that causes it to fail.

[2022-06-14 17:01] maliberty commented on #1872
Are you actually routing signals outside the stdcells on the MEOL (or POLY) layers or is it just a matter of successfully ignoring them?

[2022-06-14 18:28] GuzTech commented on #1872
@maliberty We just give it a Verilog design and call flow.tcl. The standard cells use a contact, metal #1, and nwell layer, but also have several statements that reference the lil layer which is the MEOL layer:

- ANTENNAPARTIALMETALAREA
- ANTENNADIFFAREA
- ANTENNAMAXAREACAR
- etc.

Again, thanks for taking the time. Much appreciated! If you need any more info, I'll be happy to help.

[2022-06-14 20:13] Stephanommg commented on #1940
The fix is on master branch now.

[2022-06-14 20:13] #1940 closed

[2022-06-15 13:50] maliberty commented on #1872
I'm trying to understand if we can just ignore that layer and associated vias or not.

What layer are the std cell pins on in LEF?  What are the immediately above cut & routing layers.  Where is you MEOL layer in relation to those?

[2022-06-15 14:34] GuzTech commented on #1872
The standard cell i/o pins are on the metal 1 and contact layers, and power pins are on the NWELL / PWELL layers. The lil layer (MEOL) is only referenced in the statements I mentioned before. In the stack, the MEOL layer apparently is between the highest two metal layers.

[2022-06-16 06:15] antonblanchard opened #1962 "RSZ: setup repair has issues with latch time borrowing"
When building Microwatt using OpenSTA created liberty files, I see setup repair giving up almost immediately:

[code]

The path with zero setup slack appears to be:

[code]

Which makes sense, since it is a path with a latch (in DFFRAM), and it does report 0 slack, however it seems to have the ability to borrow more time:

[code]

Test case: [microwatt-resizer-2.tar.gz](https://github.com/The-Open

[2022-06-16 11:16] antonblanchard commented on #1962
Attaching the SPEF and gate level verilog for RAM512

[RAM512.spef.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8918233/RAM512.spef.gz)
[RAM512.v.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8918237/RAM512.v.gz)

We have A0[] -> clock gating cells -> latches -> A0[] -> output register -> Do0[]

I'm trying to work out where the above timing path is coming from. A0 feeds

[2022-06-17 03:56] antonblanchard commented on #1962
@jjcherry56 I'm guessing it's `LibertyCell::inferLatchRoles()`.

I also think the liberty file is modelling a multi cycle path for A0 (input setup/hold referenced to CLK in the first cycle and a second cycle async path of A0 -> Do).

[2022-06-21 00:22] #1934 closed

[2022-06-21 00:25] vvbandeira commented on #1934
@titan73 the issue was with the third-party ABC submodule. We have disabled the use of readline for ABC (since we use the C++ API) as per their documentation. If the problem persists, please file an issue with the upstream repo. Thanks.

[2022-06-21 03:33] jjcherry56 commented on #1962
There is a lot going on here. The place to start is by verifying the timing model for the ram. As the doc says, it is not designed to work with latches (there are many issues). But in this case it may just skate by because there is only one latch between the input and outputs. Modeling borrowing across multiple latches is something liberty is not up to. But there has been no testing on my end with

[2022-06-22 03:51] antonblanchard commented on #1962
@jjcherry56 agree with simplifying the test case. I've built the smallest DFFRAM I can (8x8), and have a trivial wrapper around it with no logic. I then compare a hierarchical STA using spef files in OpenSTA vs the liberty file in OpenROAD.

Pins EN0, WE0 and A0 appear to match. We didn't infer the clock gated latch on Di0* however:

[code]

vs what comes out of the hierarchical STA:

[code]

I'm

[2022-06-22 04:15] antonblanchard commented on #1962
I verified that the output issue (Do0) goes away when I use a larger DFFRAM configuration (32x8) which registers the output (instead of connecting tristate buffers directly to the output). I think we could ignore that issue.

[2022-06-22 04:58] antonblanchard commented on #1962
I just realised I was running with a modified OpenROAD (which disabled latch inference), sorry for the confusion. The problems I now see with the RAM8 test case:

- We still didn't infer a latch for Di0 (explained in a previous comment).

- We infer a latch for both EN0 and A0, where they are actually a clock gate cell, which we can't borrow timing from:

liberty:
[code]

spef:

[code]

[2022-06-22 12:18] antonblanchard commented on #1962
I built a larger DFFRAM (256x8). This is a set of 2 smaller DFFRAMs each with FFs at the output, followed by a 2:1 mux.  The 2:1 mux creates a combinatorial dependency between A0[5-7] and Do0, and `inferLatchRoles` looks at Do0, finds the connection to A0 and calls `makeLatchEnable`.

Test case: [RAM256.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8957416/RAM256.tar.gz)

[2022-06-22 12:48] vijayank88 commented on #1885
@maliberty
I tried with different density, still its failing.
Check CI for `asicle` in https://jenkins.openroad.tools/blue/organizations/jenkins/OpenLane-MPW-CI-Public%2Funstable-small-1/detail/PR-51/1/pipeline/287

[2022-06-22 18:53] maliberty commented on #1885
Same comment as before, please isolate the issue

[2022-06-23 05:57] vijayank88 commented on #1950
@jjcherry56
sorry for responding late.
My access to GF180 restored recently. Complete OpenLane flow got setup and ran `APU` design again with `gf180mcuC`.
The test case I shared with you is `gf180mcuA` PDK lib.
With latest lib i am not facing fanout violations.

There are slew violations, its related ANTEANNA.
Post routing sta report:
[code]

[2022-06-23 11:27] vijayank88 commented on #1950
`aes_core` design has fanout issue again.

[code]

[2022-06-23 13:50] donn opened #1987 "Crash During Clock Tree Synthesis"
* Tested on: OpenROAD v2.0-4149-gf2466c46e (f2466c4)

Appears that there's a crash during CTS on a particularly complex design.

[code]
[reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8967839/reproducible.tar.gz)

[2022-06-23 16:24] jjcherry56 commented on #1950
Did you update the version of openroad you are using to include commit 062004eff that includes the change I described in a previous post?
The testcase you originally submitted works as intended with the latest version of openroad when I run it.

Inserted antennas will always show up as "fanout" because they are connected to the net.

I can't tell if you have changed the pdk or not.
If you are goin

[2022-06-23 21:31] maliberty commented on #1987
What is the purpose of:
[code]
_5096_ is an AOI gate not a clock gating cell.  Why divide by 1?
(I'll fix the crash but I'm not clear what the expect result is).

[2022-06-23 23:33] #1987 closed

[2022-06-24 04:38] Chaitanya27111 opened #1994 "Partitioning algorithm"
Which algorithm has been used by PartiotionMGR for partitioning?

[2022-06-24 05:01] maliberty commented on #1994
MLPart is the default.

[2022-06-24 20:49] antonblanchard opened #1995 "RSZ: setup repair on asap7 dies with "unsupported path type" error"
When testing a design with the ASAP7 PDK, I hit an error when doing setup repair:

[code]

This also reproduces with the gcd test in ORFS. An issue tarball: [cts_gcd_asap7_base_2022-06-25_06-25.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/8980613/cts_gcd_asap7_base_2022-06-25_06-25.tar.gz)

[2022-06-24 22:26] jjcherry56 commented on #1962
I've been looking at correlating the RAM8. I fixed on bug that affected the CLK->Do0 paths. Hierarchical parasitic annotation only works on the "interior" nets. So the using the RAM8 spef with the wrapper doesn't work correctly. The worse issue is that the stupid default wire load models step in and pollute the net. I suggest you comment out the default_wire_load_mode line in the sky130 liberty. I

[2022-06-24 22:42] #1953 closed

[2022-06-25 21:03] jjcherry56 commented on #1995
I ran scripts/cts.tcl with the latest OR and it does not reproduce this issue. I honestly don't see any way the code could get to that line since it is inside a debugging function that isn't called by any user commands.

[2022-06-26 10:55] antonblanchard commented on #1995
@jjcherry56 sorry for that, I was sure I rebuilt from pristine upstream source but obviously one of my debug patches was still applied.

[2022-06-26 10:55] #1995 closed

[2022-06-27 23:26] antonblanchard commented on #1962
@jjcherry56 thanks, I was able to replicate your results after making those changes.

Is there any hope of getting the latch inference right for the EN0, A0 and Di0 pins? If I use `read_liberty -no_latch_infer` that fixes the EN0 and A0 pins, so only Di0 is incorrectly identified as not being a latch. However, since Di0 has a fair bit of slack and a design likely won't need to borrow time on these

[2022-06-29 01:16] jjcherry56 commented on #1809
I did a lot of work on antenna repair lately and it does not error any more.
The sky130hd LEF has some problems with antenna support.
I updated the OR versions but not ORFS or openlane.
Specifically, MACRO sky130_ef_sc_hd__fakediode_2 should be
 CLASS CORE ANTENNACELL
and the PIN DIODE is missing
ANTENNADIFFAREA  0.434700 ;
sky130hs has issues also.

But with those changes OR still struggles with

[2022-06-29 12:11] antonblanchard commented on #1809
@jjcherry56 thank you!

`sky130_ef_sc_hd__fakediode_2` is a bit weird in that it is used by other (non openroad) antenna fixup strategies in openlane, and is eventually either removed or replaced with a real diode. Having said that, `sky130_fd_sc_hd__diode_2` does need the `CLASS CORE ANTENNACELL` fix.

[2022-06-29 14:49] jjcherry56 commented on #1809
sky130_fd_sc_hd__diode_2 should have class CLASS CORE ANTENNACELL and NOT have ANTENNAGATEAREA.

[2022-07-01 00:30] #1809 closed

[2022-07-01 01:14] antonblanchard opened #2011 "rmp: Multi output gates not supported"
If either a gate level design or tech mapped design (eg adder cell mapping) has multi-output gates, rmp fails:

[code]

Yosys looks to solve this by replacing the BLIF format with AIGER/XAIGER, which does support multiple outputs.

[2022-07-01 01:15] antonblanchard commented on #1962
Ok, will open a new issue.

[2022-07-01 03:06] maliberty commented on #2011
rmp is not production worthy so this is the least of the problems but something to consider when we work on it further

[2022-07-01 11:53] antonblanchard opened #2013 "STA infers a latch from a liberty model with a negative edge triggered clock gate cell"
I'm seeing issues with the following test case: [RAM8-new.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/9028580/RAM8-new.tar.gz)

The issue is with the `EN0` and `A0*` inputs. Both feed into a clock gate cell, which is clocked by the inverted clock. A hierarchical STA shows it correctly:

[code]

Using a generated liberty model, STA in OpenROAD thinks `EN0` feeds into a latch:

[c

[2022-07-01 11:54] antonblanchard commented on #1962
Opened https://github.com/The-OpenROAD-Project/OpenROAD/issues/2013

[2022-07-01 11:54] #1962 closed

[2022-07-02 02:26] jjcherry56 commented on #2013
I changed the latch inference to require unate D->Q arcs and it looks like it solves this issue. I did not update the OR submodule yet.

[2022-07-03 00:43] jjcherry56 commented on #1809
BTW, pull request #2010 fixes a major bug in antenna repair that was causing it to add excessive diodes. it actually works on microwatt now. you will have to move filler placement to after antenna repair though.

[2022-07-03 12:12] antonblanchard commented on #2013
Thanks @jjcherry56 this does look to have fixed it. Closing.

[2022-07-03 12:12] #2013 closed

[2022-07-05 15:04] titan73 commented on #1934
Morover defining the variable must apparently be done before "add_subdirectory(abc)".
This works:

if (NOT USE_SYSTEM_ABC)

  set(ABC_USE_NAMESPACE "abc")

  # abc does not have "platform" support for macos so force it to use stdint.h
  if (CMAKE_OSX_SYSROOT)
     set(ABC_USE_STDINT_H 1)
  endif()

  set(READLINE_FOUND FALSE)
  add_subdirectory(abc)

endif()

[2022-07-05 15:27] vvbandeira commented on #1934
Can you try on your system and if it works, please file a PR.

Yes. If there are changes upstream to be added to OpenROAD, please file an issue.

[2022-07-05 15:50] titan73 commented on #1934
Yep sure. Will do.

[2022-07-05 16:49] maliberty commented on #1884
Is there any further update here or should this be closed?

[2022-07-06 01:48] QuantamHD opened #2027 "PDN insufficient width alternative strategy for not enough core area"
[code]

Ran into the following PDN error with a small core area of 30,30um. With the following grid strategy, which was directly translated from the original PDN file for Sky130.

[code]

Given that this did pass before is there an alternative strategy we could take in regards to small core area blocks? Perhaps by centering the strap insteading of heeding the offset value? @maliberty @arlpetergadf

[2022-07-06 01:55] arlpetergadfort commented on #2027
@QuantamHD with an area of 30 x 30, you are lucky to get 1 set of straps in on met4 and met5 (you should consider lowing those or just use a ring with a single strap in the middle).
In this instance, the user is specifying you want the straps offset that much with a given pitch. I don't think PDNgen should override the given parameters unless the there is a compelling reason to.

[2022-07-06 03:45] maliberty commented on #2027
Do you have a screen shot of the PDN formerly generated?

[2022-07-06 05:55] vijayank88 commented on #1884
@maliberty
Its a question. Whether Tritonroute will handle analog and digital blocks together to route.?
MPW-5 repo: https://github.com/ISL-ECE-CEG-AU/GPS_Baseband/blob/main/openlane/user_project_wrapper/config.tcl
Above the user repo and used openlane flow for routing the design. But now facing congestion issue.
I am not able to understand your statement: `Macros should bring their pins to the ou

[2022-07-06 06:02] antonblanchard opened #2031 "How to resolve large differences between placement parasitics and global route parasitics"
I'm trying to improve the frequency of my gate level multiplier when taping out on ASAP7. The slowest path after global routing was not the slowest path before global routing, and this path stands out because of how much worse it got.

Looking into this path, `net38` stands out since it got significantly worse (both in delay and slew):

STA before global routing (ie placement parasitics):
[code]