[2021-05-04 21:41] maliberty commented on #628
I tweaked your test case to run with the latest openroad and I can see the virtual size of openroad exceed 8Gb.  However I would expect that would just lead to swapping no an out of memory error.  Do you have swapping enable / have sufficient swap inside your container?

[2021-05-04 21:55] maliberty commented on #628
You do not have 4k instances, you have 116,189 instances.  There are 127 instances of crc32_table * 883 std cell per instace = 112,141 instances plus some 4k top level std cells.

Resizer will add some buffers too.  Increasing the die area increases the fill cell count so you get to 809,675 instances by the time detailed routing starts with 126k nets to route.

For this scenario the memory usage s

[2021-05-04 21:58] #628 closed

[2021-05-04 22:10] stevvik commented on #628
Matt, thank you for answer! Where did you take this statistic for instances? I got 4K by summing all gates after yosys (near the end of its log). I sow a big number of instances in openroad log, but decided that it is not a number of gates, but a total number of placed instances, for example, including vias. 

— Евгений Столбиков

среда, 5 мая 2021 г., 0:55 +0300 от ***@***.***  ***@***.***>:

[2021-05-04 22:30] maliberty commented on #628
We print the number at various points in the flow but you can always do:

set blk [ord::get_db_block]
puts "Num insts = [llen [$blk getInsts]]"

[2021-05-04 22:53] stevvik commented on #628
Thank you. And what are the ‘instances’ in your case? Are they a standard cells only or another topology figures too?

— Евгений Столбиков

среда, 5 мая 2021 г., 1:30 +0300 от ***@***.***  ***@***.***>:

[2021-05-04 22:56] maliberty commented on #628
placeable instances - standard cells or macros or fill cells.  Basically anything that would appears in the COMPONENTS section in DEF.

[2021-05-05 17:07] maliberty commented on #606
I believe this is resolved; @antonblanchard would you confirm and close.

[2021-05-06 02:35] Jenny-Tan opened #629 "dl.bintray.com 403 forbidden"
Operating System: Ubuntu 20.04

When I run
[code]
I got the following message:
[code]
It seems that this website is down.

After I run
[code]

I got the following message
[code]
Is there a way to properly install all the dependencies? Thank you.

[2021-05-06 03:41] maliberty commented on #629
You have an old version, this is already fixed, see

https://github.com/The-OpenROAD-Project/OpenROAD/blob/2d4e8c5d8d3422dfb8888013e7a088b2a445df03/etc/DependencyInstaller.sh#L39

[2021-05-06 05:22] Jenny-Tan commented on #629
Thank you for your response!

After I tried the new version, I still cannot install the boost library.

[code]

It turns out that the `./tool/build` is an empty directory. I tried to fix this problem by downloading the `build` directory and rebuild the boost. Then I found that many of the other directories for building the boost is empty.

I wonder what should I do with this problem? Thank you!

[2021-05-06 15:48] maliberty commented on #629
We build our docker containers this way so I am not sure what is different in your setup.  @vvbandeira any thoughts on this?

[2021-05-10 20:37] Raynchowkw opened #632 "Unable to build OpenRoad"
### Install dependencies
`sudo etc/DependencyInstaller.sh -dev` to install dependencies.
There occur some errors maybe because I downloaded dependencies manually several versions ago according to error messages and Dockerfile line by line.
The error message is:
[code]

---
### Build by hand
`cmake`.  Error message:
[code]

---
### Build using support using script
`$ ./etc/Build.sh`. Error message:

[2021-05-11 01:39] Raynchowkw commented on #632
Yes, Centos 7. I will try soon.

[2021-05-11 12:47] quentinw91 opened #633 "PdnGen errors when stdcell power name is different than "VDD""
Hi,
When I try to make floorplan on my platform, ```pdn.tcl``` crashes with a weird empty array error:
[code]

This looks to be coming from the fact that the power pins of the stdcell are different than "VDD" and "VSS"...

TESTCASE:
To reproduce it, I created a test platform (based on the nangate45, but without any macros).  In the _OK testcase, the ```pdn.tcl``` runs fine, while it crashes on the

[2021-05-11 16:58] Raynchowkw commented on #632
In which step I should do these "source" and in which directory?
I guess I should do this just before "cmake" to get the compiler versions, right?
How to verify I "source" successfully?
When I do the first "source", it runs without giving any message,
but when I do the second, it says: "Can't read /etc/scl/conf/llvm-toolset-7.0, llvm-toolset-7.0 is probably not installed."
I guess this may be beca

[2021-05-11 17:23] Raynchowkw commented on #632
Thanks.
I check g++ and clang++ versions and they are correct.
To solve the llvm problem, I find it in the denpencyInstaller.sh.
I run the whole "_installCentosDev() {" part manually.
And then I run "`$ cmake`" or `$ ./etc/Build.sh` again.
The "compile flags" problem has been gone, but they are both stuck at
[code]
which is the same as the result of `$ ./etc/Build.sh` I ran before.
What does "miss

[2021-05-11 18:09] Raynchowkw commented on #632
Yes. I can see it.

[2021-05-11 20:16] maliberty commented on #632
I looked at FindThreads.cmake and it tries to test compile:

#include <pthread.h>

static void* test_func(void* data)
{
  return data;
}

int main(void)
{
  pthread_t thread;
  pthread_create(&thread, NULL, test_func, NULL);
  pthread_detach(thread);
  pthread_cancel(thread);
  pthread_join(thread, NULL);
  pthread_atfork(NULL, NULL, NULL);
  pthread_exit(NULL);

  return 0;
}

Can you try that wi

[2021-05-11 20:35] maliberty commented on #632
I put the above in bar.cc and ran:

g++ -o bar -pthread bar.cc

[2021-05-11 21:22] maliberty commented on #632
Then you have threads installed ok.  Would you try removing tools/OpenROAD/build and rebuilding with the correct compiler set.  Maybe there is some stale data.

[2021-05-11 22:44] Raynchowkw commented on #632
The build script can run to the end now. It says:
[100%] Built target trTest
But at the beginning, among lines of "detecting ...", "found ...", there is a line:
-- Could NOT find VTune (missing: VTune_LIBRARIES VTune_INCLUDE_DIRS)
Does it matter?

[2021-05-11 22:59] maliberty commented on #632
No, vtune is optional and can be ignored for your purposes (it is for runtime profiling).  I think you have a good build :)

[2021-05-11 23:43] ahmednofal opened #634 "Documentation for reports generated by check_antennas"
Thank you for your work on this project. The antenna violations reported by `check_antennas` command are dumped in a report file. It is not clear what the syntax of that file is and how to read it.

Can you please offer some documentation or guidance for that ?

[2021-05-12 03:17] #632 closed

[2021-05-18 01:45] jjcherry56 commented on #608
This was fixed by 12dd3fc61

[2021-05-18 01:45] #608 closed

[2021-05-18 14:16] Raynchowkw commented on #632
Hi @maliberty ,
I want to add
[code]
so that I don't need to source these compilers every time.
in my bashrc, but I cannot find it in Centos 7.
Do you know what's the equivalent of bashrc in Centos 7?
Thanks.

[2021-05-18 14:53] maliberty commented on #632
It .bashrc and it will be the same on every platform.  I think you are missing the dot.

[2021-05-18 15:02] Raynchowkw commented on #632
Thanks. I've got it. It's ~/.bashrc.
I know the . before bashrc, but I just didn't know its location.

[2021-05-18 15:13] Yang-Yihang opened #643 "OpenRCX regression testing"
After changing the extRules file from the default file `ext_pattern.rules` to `patterns.rules` (the same as existing `patterns.rulesok`) generated by `generate_rules.tcl`
https://github.com/The-OpenROAD-Project/OpenROAD/blob/be6a3a955857542f34bf8c46cf7cc3fde5763977/src/rcx/test/gcd.tcl#L15

I got the following `gcd.log`

[INFO ODB-0222] Reading LEF file: sky130hs/sky130hs.tlef
[INFO ODB-0223]

[2021-05-19 04:55] jjcherry56 commented on #269
I recently found and fixed an issue that may have prevented your design from running. If it still matters you could try again.

[2021-05-20 02:32] GeraldoPradipta commented on #643
@Yang-Yihang Please make sure that you are using the latest repo version of rcx, I couldn't reproduce the error on my end.
The rcx regression test is working just fine on my end.

[2021-05-20 16:04] #643 closed

[2021-05-21 22:03] rovinski commented on #586
@maliberty I actually see this on my Ubuntu 20 machine as well.

[2021-05-21 23:26] maliberty commented on #586
I can't reproduce this using Ubuntu on WSL2
% lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description: Ubuntu 20.04.2 LTS
Release: 20.04
Codename: focal

@rovinski since you can would you debug this a bit?

[2021-05-24 17:57] ahmednofal commented on #634
Hello, thank you for the response, any progress in this regard, should I close the issue?

[2021-05-24 18:01] maliberty commented on #634
I know @msaligane is busy with a tapeout at the moment so it might be a bit until he responds.  If you have a specific question I can try to help.

[2021-05-24 18:09] msaligane commented on #634
Sorry for the delay.
@maliberty where should I add the doc for this?

[2021-05-24 18:16] maliberty commented on #634
You can make a src/ant/doc directory to hold your module docs.  Please add a link to it from the top-level README.

[2021-05-24 23:00] rovinski commented on #586
@maliberty I'm not really sure how to start tracking this down. I don't know where the `history.tcl` file exists. I do know that this only shows up for me when running an interactive shell - it doesn't happen when loading a script.

Here's the stack trace(s) from when the error is printed (breaking on syscalls to write):
[code]
I'm guessing the `??` are probably important but I don't have debuggin

[2021-05-24 23:01] rovinski commented on #586
Note that this is similar to #102

[2021-05-24 23:02] maliberty commented on #586
@jjcherry56 any ideas?

[2021-05-24 23:10] jjcherry56 commented on #586
I have seen issues with history.tcl issues in opensta over the years but frankly they are mysterious. history.tcl is one of the tcl libraries in the tcl install directory next to init.tcl.

I don't use tcl_readline because I run openroad inside emacs that has a real editor. I have never been able to get tcl_readline to compile in my environment.

[2021-05-25 14:05] Jenny-Tan commented on #629
I got the following error when running ``sudo ./etc/DependencyInstaller.sh -dev``
[code]
Then when I run ``cmake ..`` I got
[code]
Not sure what should I do with it.

[2021-05-25 14:51] maliberty commented on #629
Clearly boost didn't get installed so that's why cmake fails.

I tried the steps manually and I see something is odd.
    % wget https://github.com/boostorg/boost/archive/refs/tags/boost-1.72.0.tar.gz -o boost-1.72.0
   % tar -xf boost-1.72.0.tar.gz
   % ls
boost-1.72.0  boost-1.72.0.tar.gz  **boost-boost-1.72.0/**

The subdirectory is boost-boost-1.72.0 not boost-1.72.0 which is why cd fails.  @v

[2021-05-25 15:59] vvbandeira commented on #629
I think this could be related to the recent change to where we download the tar file. I will take a look.

[2021-05-25 21:17] rovinski opened #679 "TritonRoute GR errors out"
Not providing a guide file to `detailed_route` causes TritonRoute GR to run, but it errors out.

OpenROAD version:
[code]

System info:
[code]

Backtrace:
[code]

testcase:
[detail_route_gcd_nangate45_base_2021-05-25_17-19.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6542446/detail_route_gcd_nangate45_base_2021-05-25_17-19.tar.gz)

[2021-05-25 21:50] QuantamHD commented on #679
Is there some potential benefit to the Triton Route global router, or do we think that fastroute will provide better results?

I ask because I think it's potentially splitting resources by having two global routers that might be better spent on a single global router. @maliberty

[2021-05-25 22:04] maliberty commented on #679
The claim from BX was that WXL is better is some ways.  It shares the pin access code with TR which is one current advantage.
 @eder-matheus did some study but in general it has been languishing.  I integrated it so that it wouldn't become impossible later as the code bases diverged.  However it has no unit tests so it seems something has gone wrong.  If it is easy to fix I would do so but I'm not

[2021-05-25 22:04] maliberty commented on #679
You can lookup the "TritonRoute-WXL: The Open Source Router with Integrated DRC Engine" paper for more details.

[2021-05-26 15:16] vvbandeira commented on #629
@Jenny-Tan can you try again with latest master branch? I just merged a possible fix with #676

[2021-05-27 01:08] Jenny-Tan commented on #629
I just did it. The boost library is now found but there are still errors.
[code]
Should I manually install spdlog?

[2021-05-27 03:54] maliberty commented on #629
Yes try it manually.  In general it would be helpful to have a log of when you ran DependencyInstaller.sh so we could see what happened.

[2021-05-27 22:44] donn opened #685 "Documentation on using the Python SWIG interface for things like OpenDB?"
According to @mithro this project has official Python SWIG support now, but there appears to be no documentation for it and/or any way to build and use it. Can someone in the know weigh in?

[2021-05-27 22:47] maliberty commented on #685
We are deprecating standalone opendb's python executable in favor of "openroad -python".  The later has the same database apis as opendb but it doesn't support all the same commands as the tcl interface to openroad does.

[2021-05-27 22:51] donn commented on #685
Ah, I have no interest in the executable per se. The app I'm building (https://github.com/cloud-v/dffram) uses a Python API, i.e.:

[code]

Is there a way to make post-standalone OpenDB OpenROAD behave similarly? I have an odd Frankenstein I'm maintaining that couples some of the old standalone OpenDB code to achieve this.

[2021-05-27 22:54] maliberty commented on #685
could your python code run inside openroad?

[2021-05-27 22:55] donn commented on #685
I would have to assess what running "inside openroad" entails first (any pointer to documentation for that would be appreciated) but I am not opposed to the idea.

[2021-05-27 22:57] maliberty commented on #685
Unfortunately there isn't any documentation yet (nor was there any for opendb python).  Basically it would replace your python interpreter so openroad -python ... instead of python ....

We could also look at exporting just a python library like we used to for loading into a standard interpreter if needed.

[2021-05-27 22:57] donn commented on #685
Let me toy around with `openroad -python` and report back, then.

[2021-05-27 23:48] QuantamHD commented on #685
It's not too bad @donn I have the import module working in bazel. You basically get a .so and a .py out of the make file swig module in src/OpenDB. You then read it that .py file in the normal way, and it will attempt to dynamically link that .so file in the same directory it exists in.

[2021-05-27 23:51] donn commented on #685
@QuantamHD Mind sharing your build commands?

[2021-05-28 02:49] donn commented on #685
NVM- Cmake worked fine if you just "import opendb". I'm gonna test if this works overall… Just that there's some Python 3.8 syntax that needs to be unexisted in my project first.

[2021-05-28 03:52] donn commented on #685
Alright, that appears to have worked fairly simply: no need to mess with shared objects or anything, just `openroad -python` suffices. You can then just `import opendb` and everything works as Opendbpy previously did.

Though another gotcha is the locale is set to ascii for some reason so you'd need to set these environment flags: `-e LC_ALL=en_US.UTF-8 -e LANG=en_US.UTF-8`.

But overall, yeah. I

[2021-05-28 14:12] nishita2626 opened #686 "Unable to install OpenROAD using clone and build from sources"
Hi -

I am using Ubuntu 20.04 in WSL (Windows Subsystem for Linux). I am trying to install OpenROAD using clone and build and getting error.

[https://openroad.readthedocs.io/en/latest/user/GettingStarted.html](url)

$ git clone --recursive https://github.com/The-OpenROAD-Project/OpenROAD-flow
$ cd OpenROAD-flow
$ ./build_openroad.sh --local

I have installed all the install dependencies tools and

[2021-05-28 14:56] maliberty commented on #686
I think the docs need a bit of updating.  Please run etc/DependencyInstaller.sh -dev which should get you the needed Qt library.

[2021-05-28 15:00] QuantamHD commented on #686
To add some more context I believe the issue is related to this question https://askubuntu.com/questions/1034313/ubuntu-18-4-libqt5core-so-5-cannot-open-shared-object-file-no-such-file-or-dir

With the solution being to run the strip command `sudo strip --remove-section=.note.ABI-tag /usr/lib64/libQt5Core.so.5`

Which if you follow @maliberty's advice will be run as part of etc/DependencyInstaller

[2021-05-28 16:47] nishita2626 commented on #686
Hey I'm getting this message after executing -

-bash: etc/DependencyInstaller.sh: No such file or directory

[2021-05-29 01:15] maliberty commented on #686
Are you running it in your OpenROAD directory?  You might try ./etc/DependencyInstaller.sh in case you don't have the current directory in your PATH.

[2021-05-29 03:14] QuantamHD commented on #685
@donn can we consider this issue closed? I'll make another issue to update the documentation on the openroad -python command.

[2021-05-29 03:15] QuantamHD opened #688 "Update documentation on the existence of the python openroad interpreter"
In issue #685 a user asked about the python support in OpenROAD. Since OpenROAD put in the effort to enable this feature we should publicize it in the documentation and explain its current limitations.

[2021-05-29 04:16] donn commented on #685
Yeah, that'll be it.

[2021-05-29 04:16] #685 closed

[2021-05-29 04:19] nishita2626 commented on #686
Please check this image.

![error2](https://user-images.githubusercontent.com/84976778/120057706-cc30a480-c062-11eb-851e-7cfb2ddf5aa9.jpg)

[2021-05-29 04:54] maliberty commented on #686
You need to cd into tools/OpenROAD

[2021-05-29 05:18] nishita2626 commented on #686
There is no such directory named tools/OpenROAD

[2021-05-29 14:53] maliberty commented on #686
Then you forgot to do 'git submodule update --init --recursive'

[2021-05-29 16:54] nishita2626 commented on #686
Yes I had forgotten but even after executing this I'm getting the same error. Kindly help.

![error4](https://user-images.githubusercontent.com/84976778/120078195-d9ce4480-c0cb-11eb-8d27-530c1d24722b.jpg)

[2021-05-29 17:30] maliberty commented on #686
You need to run as root, you can use sudo

[2021-05-30 03:58] nishita2626 commented on #686
Thank you so much! OpenROAD has been installed successfully. You've been a great help. Thanks again.

[2021-05-30 21:20] maliberty commented on #686
Glag you succeeded.

[2021-05-30 21:20] #686 closed

[2021-05-31 06:37] donn opened #690 "Why isn't diamond search height an input?"
While updating OpenLane to use a relatively recent OR commit, I was met with this:

https://github.com/The-OpenROAD-Project/OpenROAD/blob/b762efa78105daa31935d6d18345f86680a91543/src/dpl/src/Opendp.cpp#L132

There's been a patch in the OpenLane repo forever that allows this number to be provided as an optional input. but naturally the codebase has changed significantly since then.  Is there any re

[2021-05-31 07:10] QuantamHD commented on #690
This is my non-authoratative opinion.

I think a PR here would be nice with caveat that options in general are counter to the projects goals.

OpenROAD's goal is to simplify the IC design process with full automation. The existing EDA tools are completely overrun with options that make it extremely difficult to get a useable result out of them.

I think a PR to add this as an option would be best

[2021-05-31 07:53] donn opened #691 "Significance of RSZ-0022"
Potential stupid quesstion incoming:

[code]
I should quite hope there are no buffers considering that there aren't any in the design, which is a smoke-test single inverter. What am I doing wrong here?

[2021-05-31 08:09] QuantamHD commented on #691
In general we need a reproducible test case to address issues. This is usually in the form of the TCL script used to run the command and its required files.

However, It looks like the line in question is complaining that resizer was run and it couldn't find any buffers in your cell library i.e. liberty file. https://github.com/The-OpenROAD-Project/OpenROAD/blob/ba7cb6557354a3280959e8122f184da8667

[2021-05-31 11:15] donn commented on #691
Well... there simply wasn't a liberty file loaded. We didn't need one for older versions, curiously. Wonder when that changed.

Thanks.

[2021-05-31 11:15] #691 closed

[2021-05-31 13:32] maliberty commented on #690
Please explain why it needs to be an option?  Is there a specific issue that can't be resolved without it?  We did make a change to handle instances placed on macros automatically which was the only reason for needing to increase the limit that I know of.

[2021-06-01 05:45] donn commented on #690
Then I believe that settles that.  Apologies, I'm just taking a deep dive into OpenLane's OpenROAD scripts and I'm trying to make sense of some of the inconsistencies.

[2021-06-01 05:45] #690 closed

[2021-06-01 08:29] donn opened #695 "Regression: key "VPWR" not known in dictionary"
Another oddity while updating the OpenROAD version on OpenLane:

[code]

Here are the relevant files. Please note that they're tarred, xzipped and gzipped, in that order, to be uploadable to GitHub (Simple .gz compression does a horrendous job of compressing the liberty file and .xz files cannot be uploaded to GitHub.)

[packaged.tar.xz.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/65

[2021-06-01 17:25] QuantamHD commented on #695
This seems similar to #633. It seems there is some kind of naming issue with the pdn config.

[2021-06-02 08:18] nishita2626 opened #700 "Unable to build PDNSim"
Hi -

I have installed all the pre-requisites mentioned here [https://github.com/The-OpenROAD-Project/PDNSim](url) but I am unable to build it. Could you please let me know how do I solve this error?

![PDNerror1](https://user-images.githubusercontent.com/84976778/120447714-7cc2df00-c3a8-11eb-96b8-51f84a02a538.jpg)

Thanks.

[2021-06-02 14:19] maliberty commented on #700
The standalone repo is archived as pdnsim has been integrated to openroad.  I suggest just using openroad but if you required the standalone version then @VidyaChhabria is the author and could help.

[2021-06-02 15:38] nishita2626 commented on #700
Okay, thanks!

[2021-06-02 15:44] VidyaChhabria commented on #700
I would agree with @maliberty here.  The latest of pdnsim is integrated into OpenROAD and the standalone is not being developed anymore so I suggest using openroad. The related commands for PDNSim can be found at the far end of the [README ](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/README.md) and a simple test to run PDNSim is [here](https://github.com/The-OpenROAD-Project/Open

[2021-06-02 15:51] #700 closed

[2021-06-02 17:07] AyushOza07 opened #702 "could not connect to x display"
hello, I am using centos 8 for openroad and facing error will using command openroad  - gui

bash-4.2$ openroad -gui
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-'
qt.qpa.screen: QXcbConnection: Could not connect to display
Could not connect to any X display.

[2021-06-02 17:10] maliberty commented on #702
Can you run any X application?  It sounds like you don't have DISPLAY set.

[2021-06-02 18:39] vscheyer opened #703 "openlane RePlAce diverged at initial iteration"
I'm trying to create a layout using openlane, and I ran into this error that says

[code]

I took a look at the RePlAce repo, but I wasn't able to find this error there: https://github.com/The-OpenROAD-Project/RePlAce

The design is quite small as it's just the digital part of an ADC. I tried formatting the config.tcl file appropriately for a small layout based on this wiki: https://github.com/The

[2021-06-02 19:15] maliberty commented on #703
It would be helpful if you could package this as a standalone test case (eg without source $filename that isn't included).

[2021-06-02 20:54] vscheyer commented on #703
Oh sorry about that! Should I upload the openlane design src folder?

[2021-06-02 20:57] maliberty commented on #703
I don't know the best way to package a test case from OpenLane.  @donn is there a mechanism like 'make issue' in OpenRoad-flow-scripts that produces a standalone tgz with all relevant files?

[2021-06-02 20:59] vscheyer commented on #703
I'm happy to write a test script or package this however is helpful, just not sure how to do this. Thanks for pointing me to Donn!

[2021-06-02 21:04] maliberty commented on #703
The ideal is a tgz that when unpacked you can just run "openroad bug.tcl" and the problem is reproduced without needing to have anything more than a working openroad in your path.

[2021-06-02 21:05] maliberty commented on #703
The smallest/fastest reproducer is also desirable.

[2021-06-03 04:16] AyushOza07 commented on #702
yeah i am able to open x application.
i was running waylant before but now i have switched to x11 server in which i am able to open x application like klayout but openroad is not able to connect to x server

i can see x server running by systemctl

[2021-06-03 05:08] donn commented on #703
There is no official mechanism but I've been contending with this script here. It works mostly OK.

[code]

[2021-06-03 05:20] maliberty commented on #702
What platform are you on?

[2021-06-03 07:38] rovinski commented on #703
@vscheyer it should probably be noted that your Verilog code is buggy.
1. `initial` constructs are not synthesizable in ASICs (only FPGAs). This is because it is not possible to control the state of a register when the power is first turned on.
You should instead use a reset signal which is asserted when the device turns on, and then de-asserted when the clock inputs are stable. Something like:
[c

[2021-06-03 13:32] AyushOza07 commented on #702
Centos 8.3 aarch64

[2021-06-03 15:20] QuantamHD commented on #702
Are you running openroad in docker?

If so running this command might fix it `xhost +local:docker`

[2021-06-03 15:21] maliberty commented on #702
I don't have access to an arm based machine to test.  I'm guessing you need to set QT_QPA_PLATFORM  but I'm not certain what the right setting would be.  See https://doc.qt.io/qt-5/embedded-linux.html  It looks like it is try xcb.  It looks like wayland is supported too: https://www.qt.io/blog/2018/05/29/whats-new-in-qt-5-11-for-the-wayland-platform-plugin

[2021-06-03 15:45] AyushOza07 commented on #702
yes i am running operoad in docker

[2021-06-03 16:13] QuantamHD commented on #702
You need to run that command in the host session, so outside docker in bash.

[2021-06-03 16:31] mithro commented on #702
https://hdl.github.io/containers/#_tools_with_gui

[2021-06-03 16:32] mithro commented on #702
The page at https://hdl.github.io/containers/#_tools_with_gui has a lot of information about running GUI apps in containers.

[2021-06-03 16:35] AyushOza07 commented on #702
$ xhost +local:docker
non-network local connections being added to access control list

after this i again tried to run command openroad -gui but same problem occurred again

bash-4.2$ openroad -gui
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-'
qt.qpa.screen: QXcbConnection: Could not connect to display
Could not connect to any X display.

[2021-06-03 16:53] maliberty commented on #702
As a quick experiment try "xhost +" which will disable all access controls and determine whether this is the issue or not.  'xhost -' will restrict access again.

[2021-06-03 22:48] vscheyer commented on #703
@donn thanks for your help! I tried using your ruby script to make a tarball to reproduce my issue. I've never done this before so I hope I did it correctly, please let me know if I need to try again.
[digADC_packaged.tar.xz.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6594715/digADC_packaged.tar.xz.gz)

[2021-06-03 23:02] vscheyer commented on #703
@rovinski thank you for those pointers! I'm mostly familiar with using verilog on FPGAs since that's what I've done in classes, so that's helpful to know how `initial` constructs work with ASICs. The blocking vs. non-blocking advice is also helpful. I'll take a look at the clock situation too! The idea was to have multiple externally generated clocks that are synced up in the rest of the system, b

[2021-06-04 02:12] QuantamHD commented on #703
There's not much in that file. It's missing most of the required information like the def, lib and lef files.

[2021-06-04 06:39] donn commented on #695
Any ETA on a fix? I'm blocked on this.

[2021-06-05 07:41] vscheyer commented on #703
@QuantamHD oh yeah that makes sense. Perhaps you or @donn could help me clarify something about generating a usable tarball? From what I can tell, the script that Donn shared (above) requires changes on the following lines. I replaced  `run_path` to match my design (digADC, run 03-06_22-55:

[code]
What does `op_pdn.tcl` do? Is that specific to the test case and should I change it?

When I run the

[2021-06-05 09:19] PiyushSaini97 opened #708 "Unable to build OpenROAD. Error code 1"
Hi -

I am using Ubuntu 20.04 and have been trying to install OpenROAD in the system. I've already cloned it in my home directory using the following -
$git clone --recursive https://github.com/The-OpenROAD-Project/OpenROAD.git
$cd OpenROAD-flow
$./build_openroad.sh --local

At the final step I encounter error. See image -
![Error 1](https://user-images.githubusercontent.com/85390797/120886668-b30

[2021-06-05 14:31] maliberty commented on #708
That's odd as there is no obvious error.  If you run the strip command yourself do you get an error or a non-zero exit code (eg echo  $? in bash right afterwards)?

[2021-06-05 14:58] PiyushSaini97 commented on #708
It returns non-zero (in my case it is **2**) exit code.

[2021-06-05 15:00] maliberty commented on #708
That sounds like no such file - does the file you are trying to strip exist?

Were there any other errors earlier in the build process?

[2021-06-05 15:01] PiyushSaini97 commented on #708
No errors. Just encountered some warnings while cloning OpenROAD.

[2021-06-05 17:30] maliberty commented on #708
Something is not right.  Please do a new checkout and build and capture the full output.

[2021-06-05 17:58] vscheyer commented on #703
Thanks @maliberty for opening an issue about packaging openlane errors!

[2021-06-05 18:42] PiyushSaini97 commented on #708
I removed the files and reinstalled everything again. Also, updated the dependencies using the command **./etc/DependencyInstaller.sh** which I referred from here :
https://github.com/The-OpenROAD-Project/OpenROAD/issues/686

It worked for me this time. Maybe one of the file was missing while cloning.

Thank you for your help.

[2021-06-06 03:08] #708 closed

[2021-06-06 13:39] donn commented on #703
@vscheyer `or_script` is supposed to point to the OpenROAD script causing the failure, i.e. in your case, `./scripts/openroad/or_replace.tcl`.

Additionally, you should replace `"/usr/local/pdk/sky130A/libs.tech/openlane/config.tcl"` with wherever you installed your PDK.

[2021-06-06 19:26] vscheyer commented on #703
Thanks @donn ! I changed it so that `or_script` points to `./scripts/openroad/or_replace.tcl`, and I made sure that line 40 points to the config.tcl file for my openlane install. I tried running your script again with seemingly more success. I'm getting a few warnings about missing files though, and I'm not sure if that is detrimental or not. Is there something I should do to fix this?

[code]

He

[2021-06-06 20:03] donn commented on #703
Yeah those are normal, they're all outputs. The ruby script cant tell whats an input and whats an output, so it just tries to copy everything.

[2021-06-06 21:59] vscheyer commented on #703
Ok great! Thanks for clarifying. If anyone is able to reproduce the issue using that tarball I'd love to see if I can resolve the diverging RePlAce error. I've tried playing around with the parameters a bit more but still no luck.

[2021-06-07 03:32] maliberty commented on #703
you need to include 7-pdn.def

[2021-06-07 09:02] osamahammad21 commented on #695
@maliberty  depends on [OR-1015](https://openroad.atlassian.net/browse/OR-1015?atlOrigin=eyJpIjoiZDExMmI5M2Q5MTYzNDliYjg1NzVjMjk0ZTc2NjEwMmQiLCJwIjoiaiJ9)

[2021-06-07 13:32] donn commented on #695
Ah, met with the JIRA blackhole. Welp. Is there any workaround at least? Problem is when I just tried renaming the pins to VDD and VSS other facilities appeared to break.

[2021-06-07 13:41] maliberty commented on #695
Jira summary: the suggested solution leads to a crash so there is no solution or workaround yet.

[2021-06-07 13:45] donn commented on #695
Heck. Well, keep me apprised.

[2021-06-08 09:17] nishita2626 opened #713 "make: *** No rule to make target 'platforms//config.mk.'"
Hi -
I have added a new design in Makefile, vedic8x8 and have commented the default design. See image

![makefile](https://user-images.githubusercontent.com/84976778/121157297-0bcb6d80-c867-11eb-86f0-8ef0f92f0d54.jpg)

This is the config.mk file for vedic multiplier in the OpenROAD-flow/flow/designs/nangate45/vedic8x8

![configmk](https://user-images.githubusercontent.com/84976778/121157846-85fbf2

[2021-06-08 15:04] maliberty commented on #713
The 'Permission denied' is likely the root of the problem.  Can you do

cat designs/nangate45/vedic8x8/config.mk

and see if the file is readable?

[2021-06-08 15:10] nishita2626 commented on #713
It shows permission denied.

[2021-06-08 15:42] maliberty commented on #713
Sounds like you have a basic unix file permission issue.  Try chmod u+r designs/nangate45/vedic8x8/config.mk

[2021-06-08 15:54] nishita2626 commented on #713
chmod: cannot access 'designs/nangate45/vedic8x8/config.mk': Permission denied

[2021-06-08 16:12] maliberty commented on #713
This really a file permission issue rather than an openroad issue that you'll need to resolve at your side.  ls -l designs/nangate45/vedic8x8/config.mk is your starting point to see what's going on.

[2021-06-08 16:12] #713 closed

[2021-06-09 16:40] vscheyer commented on #703
@maliberty Do you mean I need to add it to the tarball? Or I need to do something so it shows up in my design folder to make the error go away? Right now I can find a 7-pdn.def file in `digADC/runs/03-06_22-55/tmp/floorplan/`

[2021-06-09 16:54] maliberty commented on #703
When I unpack digADC_packaged_2.xz.gz all I see are:

% ls
base.sdc            merged_unpadded.lef  run*
digADC.synthesis.v  or_replace.tcl       trimmed.lib

There is no def.

[2021-06-09 16:55] maliberty commented on #703
More precisely
_build/03-06_22-55_or_replace.tcl_packaged/base.sdc
_build/03-06_22-55_or_replace.tcl_packaged/merged_unpadded.lef
_build/03-06_22-55_or_replace.tcl_packaged/digADC.synthesis.v
_build/03-06_22-55_or_replace.tcl_packaged/trimmed.lib
_build/03-06_22-55_or_replace.tcl_packaged/run
_build/03-06_22-55_or_replace.tcl_packaged/or_replace.tcl

there is no digADC/runs/03-06_22-55/tmp/floorpl

[2021-06-09 16:58] donn commented on #703
Try this script @vscheyer: https://github.com/The-OpenROAD-Project/OpenLane/blob/develop/or_issue.py

The ruby script was kind of ad-hoc, this is designed to be more general.

[2021-06-09 19:05] maliberty commented on #695
Fwiw this was the suggestion:
![image](https://user-images.githubusercontent.com/761514/121413849-f3b52600-c91a-11eb-8eb6-7319377064d6.png)

[2021-06-09 20:00] donn commented on #695
Eh, I'll give it a shot.

[2021-06-09 20:05] vscheyer commented on #703
Oh awesome, thank you @donn ! I just tried that script and it seems like it worked. Here's the result:
[03-06_22-55_or_pdn_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6626593/03-06_22-55_or_pdn_packaged.tar.gz)

[2021-06-09 20:20] maliberty commented on #703
We are getting warmer as I have the def, but this is a replace issue and you've given a script to run pdngen.  Fwiw this script doesn't run either:

[INFO ODB-0134] Finished DEF file: ./tmp/floorplan/7-pdn.def
can't read "::env(PDN_CFG)": no such variable

@donn would you fix this issue with the script not getting all the dependencies and advise on how to properly package a global placement issue.

[2021-06-09 20:37] donn commented on #703
@vscheyer Ensure that you pass `-s ./scripts/openroad/or_replace.tcl` instead of `-s ./scripts/openroad/or_pdn.tcl`

[2021-06-09 21:03] vscheyer commented on #703
Ah my bad! Here's the result using `-s ./scripts/openroad/or_replace.tcl`
[03-06_22-55_or_replace_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6626882/03-06_22-55_or_replace_packaged.tar.gz)

[2021-06-09 21:24] maliberty commented on #703
The data is all there but I had to update the script to the current OR style:

read_lef ./tmp/merged_unpadded.lef
read_def ./tmp/floorplan/7-pdn.def
global_placement -density 0.5

When I run that through the current OR I don't get any error:

INFO GPL-0021] MacroInstsArea: 0
[InitialPlace]  Iter: 1 CG Error: 0.00000006 HPWL: 920280
[InitialPlace]  Iter: 2 CG Error: 0.00000000 HPWL: 109720
[Initial

[2021-06-09 21:24] #703 closed

[2021-06-09 23:23] donn commented on #703
Well, hey! At least we verified the packager script works.

Sorry for the inconvenience, @vscheyer. I'll ping you when OpenLane's version of OR is up to date.

[2021-06-10 16:59] nishita2626 opened #719 "Question: how to specify clock nets in verilog code"
Hello-

I have created a new design and have made all appropriate files and folders to store the results. After writing _make_ command, I am getting the error that no clock nets have been found.

![cts](https://user-images.githubusercontent.com/84976778/121565631-42a5ad00-ca3a-11eb-9b40-5d34d563028b.jpg)

Could you please let me know what changes are to be made in my code for resolving this issue?

[2021-06-10 17:03] maliberty commented on #719
@mathursanjiv I think this should be a warning not an error and CTS should just return as there is no work to do.

You could work around this by hacking up flow/scripts/cts.tcl to just skip cts and repair_clock_nets

[2021-06-10 20:24] ibrahimkhairy commented on #695
OK, I'll have a look

[2021-06-10 22:03] vscheyer commented on #703
Thanks for your help @donn and @maliberty ! I'll keep an eye out for the OR update in OpenLane

[2021-06-11 01:58] rovinski commented on #719
This is similar to #299

[2021-06-11 02:55] maliberty commented on #719
The more things change, the more they stay the same.  Probably this cropped up due to the logger conversion.

[2021-06-11 03:12] nishita2626 commented on #719
So is there some report I need to update?

[2021-06-11 03:38] maliberty commented on #719
No its clear what the problem is from this report.

[2021-06-11 03:42] nishita2626 commented on #719
I mean what is the next step I should follow?

[2021-06-11 03:49] maliberty commented on #719
You can either wait for a fix or use the workaround I suggested earlier:

You could work around this by hacking up flow/scripts/cts.tcl to just skip cts and repair_clock_nets

[2021-06-11 05:22] QuantamHD opened #726 "Security Scan is currently throwing an error"
@tspyrou @jjcherry56 it looks like PR #723 introduced a new lib file that isn't in the security repo.
![image](https://user-images.githubusercontent.com/3784748/121634998-64069900-ca3a-11eb-9a1a-2bf3712a614e.png)

[2021-06-11 05:42] rovinski commented on #726
Looks like it needs to be updated to ignore symlinks.

[2021-06-11 15:51] jjcherry56 commented on #726
@rovinski that's what I thought, but the real issue is that the test directory was not whitelisted because it was new. it should be working now.

[2021-06-11 15:51] #726 closed

[2021-06-14 11:51] donn opened #735 "Pins Not Being Properly Exported"
OR commit: 1dae3ba766284714256c53813a117f3a0062279c

PDNGEN does not appear to export VDD and VSS as pins, rather, only as specialnets. Not really sure what's going on here.

[or_upgrade_test_or_pdn_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6648050/or_upgrade_test_or_pdn_packaged.tar.gz)

[2021-06-14 18:06] #719 closed

[2021-06-14 19:50] vvbandeira commented on #702
Hi, I was able to get gui applications working inside docker with
[code]
I used a VNC session with Centos7, but should work for others

[2021-06-15 02:09] peijunh commented on #614
It seems that using the latest version will give this error?

CMake Error in /OpenROAD/build/CMakeFiles/CMakeTmp/CMakeLists.txt:
  Target "cmTC_2ef56" requires the language dialect "CXX17" , but CMake does
  not know the compile flags to use to enable it.

CMake Error at /usr/local/share/cmake-3.14/Modules/CheckIncludeFileCXX.cmake:92 (try_compile):
  Failed to generate test project build system.

[2021-06-15 03:01] #702 closed

[2021-06-15 04:10] maliberty commented on #614
You need:  source /opt/rh/devtoolset-8/enable

[2021-06-15 04:15] peijunh commented on #614
Do I need to do it before docker run or after?

[2021-06-15 05:34] maliberty commented on #614
after (inside the container)

[2021-06-15 06:06] peijunh commented on #614
Thanks for your reply, but it seems that there is still error.

CMake Error at src/CMakeLists.txt:118 (add_subdirectory):
  The source directory

    /OpenROAD/src/sta

  does not contain a CMakeLists.txt file.

-- The C compiler identification is GNU 8.3.1
-- Check for working C compiler: /opt/rh/devtoolset-8/root/usr/bin/cc
-- Check for working C compiler: /opt/rh/devtoolset-8/root/usr/bin/cc --

[2021-06-15 11:23] donn commented on #634
You never ended up committing that documentation file. We're kind of blocked by this. Any ETA?

[2021-06-15 11:49] vvbandeira commented on #614
@peijunh did you remove the old build directory?

Also, there's a build script to minimize config/setup errors. Can you try to use it instead of manually calling `cmake` and `make`?
[code]

[2021-06-15 13:57] peijunh commented on #614
@maliberty @vvbandeira Thank you for the help, the docker sucessfully build the openroad. And the command openroad --version gives feedback. But when I quit the openroad docker container, the openroad command becomes unknown. So should I always use docker image to run openroad? or the openroad is actually installed in my system but I just don't know?

[2021-06-15 14:02] vvbandeira commented on #614
@peijunh the `docker run` command creates a container (similar to a VM), everything you run/use/install after `docker run` is isolated from your local system (unless you mount a volume), thus openroad not being available outside docker is the expected behavior.

[2021-06-15 15:08] maliberty commented on #634
@msaligane please give an eta

[2021-06-15 15:13] msaligane commented on #634
I will work on this tonight. Apologies I have been busy with the tapeout and other misc. things.

[2021-06-16 13:44] nishita2626 opened #743 "how to write def file for a new design for IR analysis"
@VidyaChhabria could you please help me with the commands for writing a def file for a new design? The def file for the default gcd design was already present in the folder OpenROAD/src/psm/test. Now that I want IR report for a new design, which requires reading def file, what are the steps to be followed to write one?

[2021-06-16 18:11] donn commented on #735
Potentially helpful (or useless info): I once was re-running the scripts haphazardly while updating the or_issue script and it appears to have generated pins. Not sure what the exact repro steps here, but thought I should mention it.

[2021-06-16 20:15] PDN-BeGAN commented on #743
@nishita2626  What is the the file that you havethat represents the new design you want to run?  If you do not have a DEF, I am guessing you have RTL/gate-level netlist? PDNSim requires at minimum a placed design with PDN stripes defined as input.   Refer the [OpenROAD-flow-scripts](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts) repo on how to perform floorplan, placement and gener

[2021-06-16 20:17] VidyaChhabria commented on #743
@nishita2626 What is the the file that you havethat represents the new design you want to run? If you do not have a DEF, I am guessing you have RTL/gate-level netlist? PDNSim requires at minimum a placed design with PDN stripes defined as input. Refer the OpenROAD-flow-scripts repo on how to perform floorplan, placement and generate a PDN-synthesized and placed-DEF from a RTL/gate-level netlist. Y

[2021-06-16 20:17] #743 closed

[2021-06-17 15:22] msaligane commented on #634
@ahmednofal can you be more specific on what is unclear on the report? I can maybe add some explanations if the report is unclear.

[2021-06-18 09:00] donn commented on #634
How to interpret the report at all. There are many symbols and abbreviations that do not appear to be standard. All the report can successfully tell us now is that there are violations, the data without context is not particularly useful.

[2021-06-18 13:00] zekungao opened #761 "TritonCTS `runTritonCTS` segment failed in gtest"
Excuse me, I am now learning codes of `TritonCTS` and try to use gTest to test it.
While running `runTritonCts()`, core dumped,
I was running same flow with `test/simple_test.tcl`

Here's my codes:

    const char* defName = "src/TritonCTS/test/16sinks.def";
    const char* lefName = "src/TritonCTS/test/Nangate45/Nangate45.lef";
    const char* libName = "src/TritonCTS/test/Nangate45/Nangate45_typ

[2021-06-18 15:08] maliberty commented on #634
Mehdi is working on a document but I suggest you look at the lef/def manual as it is the basis for all the checking and has a lot of explanation of the terms.

[2021-06-19 04:44] msaligane commented on #634
I added some more documentation.  You will need to dig a little more to understand how the ratios are calculated. I added a simple example of how it is done (step-by-step).

[2021-06-19 06:03] maliberty commented on #761
I'm not clear why you don't just
[code]
to run this test.  Why write your own driver that is mostly calling tcl_eval?

[2021-06-21 02:17] zekungao commented on #761
It is because i wanna do unit tests for every functions in TritonCTS,
and in case their functions changed if i modify some codes.

`openroad simple_test.tcl` runs well
but it only do a global regression for TritonCTS.

Is it impossible to call functions individually in `TritonCTS`?
Sry to disturb you with a stupid question

[2021-06-21 03:05] maliberty commented on #761
No worries I'm just trying to understand so I can best help you.  In your code you are calling cts->runTritonCts which is the top level entry point you would get from calling the tcl command.  Is your goal to have more fine grained tests or just setup different situations that would lead to more coverage.  The later is easier to do and would require less c++ coding but sometimes it is tricky to hi

[2021-06-21 04:01] zekungao commented on #761
Thank you for your understanding.
Indeed, i'm going to *have more fine grained tests*.
I tried every functions before `writeDateToDb()` individual , for example `buildClockTrees` and `populateTritonCts`
They all run correctly.

I have test all parts of `TritonCTS` in gtest except this one.
If it is difficult to achieve, maybe I should give it up temporarily.

[2021-06-21 13:30] quentinw91 commented on #633
Hi,
any updates on this ?

[2021-06-21 14:53] maliberty commented on #633
@Colin-Holehouse @ibrahimkhairy @osamahammad21 please update with the current status.

[2021-06-21 15:19] osamahammad21 commented on #633
@quentinw91 You have to update pdn::global_connections in the pdn.cfg as well with the new names:
set pdngen::global_connections {
    VDD_TEST {
        {inst_name .* pin_name VDD_TEST}
    }
    VSS_TEST {
        {inst_name .* pin_name VSS_TEST}
    }
}

Note: Since this is a core design  you need to add the pins layer in pdngen::specify_grid

pdngen::specify_grid stdcell {
    name grid
    ra

[2021-06-21 15:24] osamahammad21 commented on #695
@donn power pins are generated now as instructed in [the comment](https://github.com/The-OpenROAD-Project/OpenROAD/issues/695#issuecomment-858010283) . Also you will need to update pdngen::global_connections with the power and ground names. For openlane, just set FP_PDN_ENABLE_GLOBAL_CONNECTIONS to 1

[2021-06-21 15:37] donn commented on #695
Will try & report

[2021-06-21 18:42] donn commented on #735
Apparently, fix is best suited for `open_pdks`? https://github.com/osamahammad21/open_pdks/commit/5aa6367857b2209bd186a9cad5735894f782fb6c

@osamahammad21 Can you confirm?

[2021-06-22 04:11] maliberty commented on #761
Is this a project you are doing with the intention to submit it or just for your own use?  If the former we should discuss how this would integrate as we don't currently use gtest.

[2021-06-22 05:07] zekungao commented on #761
It is *just for my own use* and not urgent.
I'm now doing this just for learning algorithm and codes of `TritonCTS`.
So if this will cost you too much energy, I don't think there is any need to waste your precious time.
I can just use another way to do the same thing, maybe, gtest is not necessary.
----------------------------------------------------------------------------------------------------

[2021-06-22 06:06] maliberty commented on #761
I don't know off hand why it crashes.  The initialization sequence is a bit involved so you might have missed a step.  You could debug writeDataToDb as a learning exercise as well.

[2021-06-22 10:41] quentinw91 commented on #633
Thanks, that fixed the pdngen issue.
But I now face a segmentation fault at the next step (global routing)
[code]

Looks like the possibility to have IO placement (and not just core design) modified the way to setup platforms, but it is not clear to me what was changed.   I was able with previous versions of OpenRoad to create a new platform by simply looking at what was done in nangate45, but thi

[2021-06-22 11:48] donn commented on #634
https://openroad.readthedocs.io/en/latest/search.html?q=antenna&check_keywords=yes&area=default

[2021-06-22 14:53] maliberty commented on #633
Please don't tack entirely new issues on to this report.  Please open a new issue for global route.  This issue is resolved by your reporting.

[2021-06-22 14:53] #633 closed

[2021-06-22 15:08] quentinw91 commented on #633
Hi,
Sorry, it was difficult for me to see if the issue that i am facing is related or not to the global connection definition.  So difficult to know if it is a follow-up of the fix proposed in this one or something else.  But no problem, I will open a new issue...

[2021-06-22 15:17] quentinw91 opened #774 "Global placer SegFaults on floorplan output"
Hi,
I am trying to setup a new platform for this flow.  I took the files from the nangate45 example (removed some stuff like the macro definitions), but the flow errors with a segmentation fault after the floorplan.
[code]

It can be reproduced with the following testcase:
[20210622.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/6695488/20210622.zip)

[2021-06-22 17:00] eder-matheus commented on #774
@quentinw91 Your script is calling global_router before global_place. I was able to run without errors with this script:

[code]

[2021-06-22 17:37] maliberty commented on #774
@eder-matheus please fix it so you get an error message rather than a segv.

[2021-06-22 20:49] #774 closed

[2021-06-23 07:56] quentinw91 commented on #774
Yeah, sorry, I was trying to reproduce the issue and got confused with the scripts while debugging.  I am also able to run your script, but I still have an issue when I try to run global_place.tcl:
[global_place_gcd_test_plat_base_2021-06-23_07-43.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6699998/global_place_gcd_test_plat_base_2021-06-23_07-43.tar.gz)

[2021-06-23 11:53] eder-matheus commented on #774
@quentinw91 Looks like you're using an old version of our flow scripts. In your platforms/test_plat/fastroute.tcl, it calls the `global_route` command, while our new scripts don't do it anymore. Check the new fastroute.tcl script here: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/platforms/nangate45/fastroute.tcl

[2021-06-23 12:15] osamahammad21 commented on #735
@donn yes, you have to specify the pins metal layer in the pdn config. I will close that now since the solution is known.

[2021-06-23 12:15] #735 closed

[2021-06-23 12:17] quentinw91 commented on #774
Oh ok, that's where it was coming from... Thanks !

[2021-06-24 08:20] donn opened #789 "[ERROR DRT-0206] checkConnectivity error"
[code]

[droute_issue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6707537/droute_issue.tar.gz)

[2021-06-24 08:28] donn commented on #695
Oh yeah this is fixed now. Thanks for the help.

[2021-06-24 08:28] #695 closed

[2021-06-24 14:54] maliberty commented on #789
There was a revert yesterday related to this cfd649c6d3f6fa3dd166f65fe6501f4847c9c08c:

Merge pull request #784 from The-OpenROAD-Project-staging/drt-revert …
maliberty committed 19 hours ago

Is your run from after that time?  If not, could you retry it?

[2021-06-24 16:47] #634 closed

[2021-06-24 22:33] mooredan opened #792 "ERROR GPL-0306 RePlAce diverged at wire/density gradient Sum."
This is a very minimal design: two inverter connected together.  Get to global_placement and end up with the error:

global_placement -verbose 3
[INFO GPL-0002] DBU: 1000
[INFO GPL-0003] SiteSize: 1500 14400
[INFO GPL-0004] CoreAreaLxLy: 0 0
[INFO GPL-0005] CoreAreaUxUy: 13500 14400
[INFO GPL-0006] NumInstances: 2
[INFO GPL-0007] NumPlaceInstances: 2
[INFO GPL-0008] NumFixedInstances: 0
[INFO GPL-

[2021-06-25 03:58] maliberty commented on #792
Sometimes the placer has issues with very small designs (it reaches a solution so early it thinks something went wrong).  I'll take a look.

[2021-06-25 04:01] #540 closed

[2021-06-25 04:03] maliberty commented on #570
We run with the sky130 lefs for hd & hs.  Please provide a lef file that shows the issue or let's close this.

[2021-06-25 09:54] mooredan commented on #792
Here's a self-contained test case to duplicate the issue.

openroad -exit cmd.tcl

Tested with latest code base.

Thanks.
[OpenRoad_tc1.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6715337/OpenRoad_tc1.tar.gz)

[2021-06-25 12:03] mooredan commented on #792
I've done some tracing, and it looks like the nan values are originating from FFT::doFFT()'s call to ddct2d()
The binDensity_ array is populated with nan

This is during NesterovPlace::init()

Comparing to a larger design, the binDensity_ array does get set with real values during this time

[2021-06-25 12:09] mooredan commented on #792
...and check out the NumBins: for this minimal design: 4194304     a slightly larger design (a 8 bit gray counter) has 16

[2021-06-28 13:58] QuantamHD commented on #792
You can disable the initial placement and see if that works as a workaround for this issues

[2021-06-28 14:09] maliberty commented on #688
@osamahammad21 would you take care of this?  We just need a short entry in the docs about it and the limitations (ie only opendb apis are present)

[2021-06-28 14:10] #570 closed

[2021-06-28 16:54] #792 closed

[2021-06-28 19:24] mooredan commented on #792
Confirmed that the commit fixed this issue. Thank you.

[2021-06-29 06:31] mooredan opened #798 "Simple two cell design, strange routing"
This is a simple two cell design that I'm using for learning and evaluation -- it's two inverters and two ports:

![Screenshot from 2021-06-28 23-15-52](https://user-images.githubusercontent.com/441535/123747312-9ea86800-d867-11eb-8c5d-fa6cd553e12e.png)

Ports and pins are in metal1 -- the routing looks obvious: just three pieces of metal1 and you're done.  However, the router does something stran

[2021-06-29 17:40] #789 closed

[2021-06-29 20:17] maliberty commented on #798
We avoid routing on m1 as that tends to lead to pin access problems (not in this simple case but in general).  However the scenic routes will be investigated.

[2021-06-29 20:44] Stephanommg commented on #798
@mooredan the straight wire segments on metal1 didnt happen because there are high routing costs for running over/into the pins, due the the reasons Matt mentioned above.

Still, speaking the net a, it seems it could go metal2, and go straight to the left IO pin, and then go metal1. This didnt happen because TritonRoute forbids via access on IO pins at the moment.

Thus, in these very simple scena

[2021-06-29 21:01] maliberty commented on #798
We generally don't see IOs on m1 so that is unusual.  In other layers planar access works well.  @mooredan is there anything more to pursue here?

[2021-06-29 22:23] mooredan commented on #798
This isn't a modern process so routing resources are limited with only three layers of metal, and a couple of more complex cells use some metal2.  Just looking at it from the perspective of what would a human do in these situations where a simple and obvious route in metal1 wouldn't occupy those precious metal2 resources.

Looking on the left hand side, it did do the route in metal1 (it did so too

[2021-06-30 23:37] mooredan opened #805 "pdn: only one via inserted where two could fit"
AMI C5N process.

I'm running pdn and getting this result where metal2 (lavender) and metal3 (pink) power strapping overlap. Only one via is being inserted where two would actually fit.

![Screenshot from 2021-06-30 16-14-11](https://user-images.githubusercontent.com/441535/124042874-aaf30900-d9be-11eb-807d-c9b6ccae0e55.png)

The overlap area is 2.2um x 0.9um, via size is 0.5um x 0.5um and design

[2021-07-01 22:29] JiaDYuan opened #807 "how to install full dependencies on MacOS?????"
jiadyuan@JiadongdeMacBook-Pro OpenROAD % ./etc/DependencyInstaller.sh -dev
Darwin is not supported
we only support Linux at the moment
usage: ./etc/DependencyInstaller.sh -run[time]
       ./etc/DependencyInstaller.sh -dev[elopment]

[2021-07-01 22:48] maliberty commented on #807
mac is not a platform we support directly.  There are some mac users but they have to setup their environment.  If you can use docker that is simpler to get going, otherwise try homebrew.

[2021-07-01 22:49] #807 closed

[2021-07-01 22:59] JiaDYuan opened #808 "There was always an Error 2 happened when installing openroad"
[ 44%] Built target lefzlib
make[2]: Nothing to be done for `src/OpenDB/src/def/CMakeFiles/def.dir/build'.
[ 44%] Built target zutil
[ 44%] Built target def
make: *** [all] Error 2

I am running on MacOS, I have installed all the dependencies. Then run sudo ./etc/Build.sh. However whatever I tried, there was always an Error 2 happened....

[2021-07-01 23:00] maliberty commented on #808
You need to include more of the log.  Likely there was an error further up

[2021-07-01 23:03] JiaDYuan commented on #808
[ 44%] Swig compile OpenRoad-py.i for python
cd /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src && /usr/local/Cellar/cmake/3.20.1/bin/cmake -E make_directory /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src/CMakeFiles/openroad_swig_py.dir
cd /Users/jiadyuan/Desktop/OpenROAD-flow-scri

[2021-07-01 23:05] maliberty commented on #808
do you have swig installed?  Did it give an error?

[2021-07-01 23:07] JiaDYuan commented on #808
jiadyuan@JiadongdeMacBook-Pro build % brew install swig
Updating Homebrew...
==> Auto-updated Homebrew!
Updated Homebrew from 89aeaffd9 to e20ec394b.
Updated 2 taps (homebrew/core and homebrew/cask).
==> New Formulae
s4cmd
==> Updated Formulae
Updated 18 formulae.
==> Updated Casks
Updated 7 casks.

Warning: swig 4.0.2 is already installed and up-to-date.
To reinstall 4.0.2, run:
  brew reinstall

[2021-07-01 23:09] JiaDYuan commented on #808
-- OpenROAD version: 1
-- OpenROAD git sha: cf744a3734204ef12378150d429acf32af385ea4
-- System name: Darwin
-- Compiler: AppleClang 12.0.5.12050022
-- Build type: RELEASE
-- Install prefix: /usr/local
-- TCL library: /usr/local/lib/libtcl8.6.dylib
-- TCL header: /usr/local/include/tcl.h
-- TCL readline library: /opt/local/lib/libtclreadline.dylib
-- TCL readline header: /opt/local/include
-- Found

[2021-07-01 23:10] maliberty commented on #808
The stamp file is just a timestamp of when swig ran.  If it is failing it is likely because swig is failing.  Would you attach a full build log?

[2021-07-01 23:16] JiaDYuan commented on #808
Swig compile OpenRoad-py.i for python
cd /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src && /usr/local/Cellar/cmake/3.20.1/bin/cmake -E make_directory /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/tools/OpenROAD/build/src/CMakeFiles/openroad_swig_py.dir
cd /Users/jiadyuan/Desktop/OpenROAD-flow-scripts/too

[2021-07-01 23:18] maliberty commented on #808
That is part of the swig installation so there is something wrong with your install.
https://github.com/swig/swig/blob/master/Lib/python/python.swg

[2021-07-01 23:18] #808 closed

[2021-07-01 23:38] JiaDYuan commented on #808
Solved the problem, if installing the openroad on MacOS, need more dependencies, as for swig, still need swig-python

brew install swig-python

[2021-07-01 23:39] maliberty commented on #808
If you find the right recipe and want to contribute it back as documentation that would be welcome.

[2021-07-06 04:14] #606 closed

[2021-07-06 04:23] jjcherry56 commented on #575
I don't think it makes any sense to divide by zero and then test for nan.
Check for the zero before dividing.

[2021-07-06 17:48] maliberty commented on #798
Do you think such simple cases occur often?  It can really only happen between adjacent pins.  We have focused on 130nm and below for which this isn't a concern.

It never really routed in m1 so much as the m1 shapes happened to touch in the process of going up and down to m2.

[2021-07-06 18:49] mooredan commented on #798
Sure, if it's possible and within the design rules, then it can occur.  My concern is needlessly utilizing the upper level routing resource when it isn't necessary to do so.  I did confirm that if the input and output pins were place on metal2 (in the same locations), then a much cleaner route occurs -- however it still is using metal2 for the intermediate route when a small piece of metal1 would

[2021-07-06 18:54] maliberty commented on #798
It certainly could occur but I expect it will be very low frequency so the actual savings will be small.  I'm not basing this on any hard data and am open to being proven wrong on a more realistic design.

[2021-07-07 15:45] #575 closed

[2021-07-08 20:44] #561 closed

[2021-07-12 02:36] #761 closed

[2021-07-12 21:37] QuantamHD opened #842 "rcx: RCX regression test has different results depending on platform"
Platform Version
[code]

In the CI the test src/rcx/test/generate_pattern.ok generates the following log.

[code]

However, on my machine this tests failed with the following log.

[code]

The test generates `[INFO RCX-0437] RECT li1 ( 9910 85 ) ( 10080 16915 )  jids= ( 1 2 )` which does not appear in the prod CI

[2021-07-13 16:04] maliberty opened #846 "synchronize/commonize swig customization between tcl & python"
OpenDB/src/swig/tcl/ and OpenDB/src/swig/python have different mappings.  Make them common where possible or equivalent where not.

[2021-07-13 18:43] donn opened #849 "Apparent Rounding Error When Creating Floorplan Rows"
I want to initialize exactly 35 rows. The command I'm using is as follows:

[code]

There has been a regression since 4d4d7205fd0292dbf3fae55fad9109b3f0bd5786 where it creates one less row.

This appears to be a rounding or off-by-one of some kind given that adding +0.1 creates the correct number of rows.

Additionally, when using my custom placer, which utilizes the entire grid, the last *column*

[2021-07-13 19:26] maliberty commented on #849
The value is 95.2 and it is scaled to meters by distance_ui_sta and back to microns in InitFloorplan::metersToDbu.  However the scaling to meters is done with a float not a double which leads to rounding issues.

In gdb:

(gdb) p value
$43 = 95.200000000000003
(gdb) p (value * 1e-6f) * 1e6
$44 = 95.199999759643106
(gdb) p (value * 1e-6) * 1e6
$45 = 95.200000000000003

$44 is what we are getting wh

[2021-07-14 10:52] quentinw91 opened #853 "Prevent TritonRoute from creating custom Vias"
Hi,
I have defined horizontal and vertical Vias in my tech file:
[code]

But TritonRoute gives a warning that it needs to create a new custom VIA:
[code]

It creates new VIAs, with a cross shape like the following:
![custom_via](https://user-images.githubusercontent.com/66719560/125609677-d2b1e45e-9eee-4ae0-93c9-f1306cf28617.png)

This works fine in this case, but on another platform (i cannot rel

[2021-07-14 13:25] maliberty commented on #853
This code hasn't changed in a long time so I'm surprised you have a new issue.  Do you know what the via used previously was for this layer?  Do you only have square via enclosures in your other platform?

There is an internal switch to disable via generation but there is no user control currently.

[2021-07-14 13:25] maliberty commented on #853
Also what sort of rule does the generated via violate?

[2021-07-14 15:54] quentinw91 commented on #853
Well, I am working on a platform where the VIA enclosure needs to be increased if another VIA is stacked on top of the first one.  So TritonRoute created the new VIAs with the default enclosure. And did not take the VIAs that I defined (with increased enclosure) to avoid this issue.  I guess it could be solved by redefining the enclosure in the tech file, but this cross shape also prevents inserti

[2021-07-14 15:54] #853 closed

[2021-07-14 17:03] maliberty commented on #853
I'm glad open-source allows you to fix your issue :)

We could consider making via selection/generation smarter in the future though it would be difficult without a LEF to work with.

[2021-07-14 17:42] quentinw91 commented on #853
Yep, this is really nice !
This enclosure rule is quite special.  It is on an older technology, and I have never seen anything like this on another technology (even in the same foundry).  So to be honest, I am not sure that modifying the tool for this is worth it...  And I am not even sure that the LEF format lets you define the enclosure of a VIA depending on the fact that it is stacked or not.
I

[2021-07-15 04:03] rovinski commented on #853
Seems like `ENABLE_VIA_GEN` should just be settable via tcl. I could make a quick PR if desired.

[2021-07-15 13:52] quentinw91 commented on #853
That would be nice if you don't mind !

[2021-07-15 16:47] #586 closed

[2021-07-17 13:36] zml opened #866 "Fedora build error:"
I ran into the following error while trying to build (manually) on Fedora 34 (5.11.20-300.fc34.x86_64).:

[code]
I also share here the `cmake ..` output :

[code]
Thanks

[2021-07-17 13:45] zml commented on #866
I am sorry, I have just re-read in the dependency list : **boost 1.68 (1.75 will not compile)**.
I am closing the issue.

[2021-07-17 13:45] #866 closed

[2021-07-18 00:40] rovinski commented on #866
@maliberty can we fix up the CMake find_package to better enforce this? Currently we just have:
https://github.com/The-OpenROAD-Project/OpenROAD/blob/a5a56584fed1523f384e2944ee8439256ab5e12d/src/CMakeLists.txt#L70

We could do this if 1.68 is the only version that works:
[code]
Or this if 1.68 - 1.74 work:
[code]

[2021-07-18 03:33] maliberty commented on #866
That would probably be better.  It's been on the todo list for a while to look at what changed in the newer boost versions.  I'll try to take a look soon.

[2021-07-18 07:26] rovinski commented on #853
@quentinw91 this is done, you can use `detailed_route -disable_via_gen` with 1a9a8b6

[2021-07-20 14:08] maliberty commented on #798
I'm going to close this as there is no further action on this simple case.  If you have a more realistic case in the future please (re)open an issue for it.

[2021-07-20 14:08] #798 closed

[2021-07-22 21:25] maliberty opened #907 "finish opendb logger conversion"
There are still a fair number of calls to notice and other functions in dbLogger.h.  Please finish the conversion to the new logger.

[2021-07-22 22:36] nmoroze opened #908 "Feature request: support "HALO" annotation in DEFs"
I want to be able to initialize a floorplan based on a provided DEF file where a component has a "HALO" annotation, and noticed this currently isn't supported (`initialize_floorplan` outputs "error: HALO on component is unsupported"). Are there plans to add this feature eventually? It'd be helpful for my use case.

Thanks!

[2021-07-22 23:04] maliberty commented on #908
It would be helpful to have the exact message which makes it easier to see where in the code the problem is.  Even better is a small test case.

[2021-07-22 23:08] maliberty commented on #908
I see, it is one of our old pre-logger messages.  Are you in need of ROUTEHALO too?  Are you applying this to a macro?  If so that macro placer supports a halo option though it has to be specified outside of DEF.

[2021-07-23 03:18] nmoroze commented on #908
Thanks for the prompt reply! We don't need ROUTEHALO, and yes, we are applying it to a macro. Thanks for the note about the macro placer - I think that could be a helpful workaround, but for our case it would ultimately be ideal to read the DEF file annotation (I'm trying to prepare a floorplan that could in theory be fed into a variety of tools with minimal tool-specific configuration).

[2021-07-23 06:15] yurivict opened #909 "cpp_tests fails"
Results directory: https://people.freebsd.org/~yuri/openroad-test-results.tgz

Version: 2.0
OS: FreeBSD 13

[2021-07-23 07:16] yurivict opened #910 "ispd18_sample fails with diffs"
[code]

[2021-07-23 07:18] yurivict opened #911 "ext_pattern, gcd, 45_gcd diffs"
[code]

Version: 2,0
OS: FreeBSD 13

[2021-07-23 13:52] maliberty commented on #908
I agree that the macro placer should be able to pick up the halo from DEF as well.  We are in the middle of bringing up a new macro placer so I'll suggest this for the new one (@ravi-varadarajan).

[2021-07-23 14:52] maliberty commented on #911
Similar issue in https://github.com/The-OpenROAD-Project/OpenROAD/pull/806

[2021-07-23 15:01] mooredan commented on #911
That pull request fixes this by adding formatting to the RCX-0436 message for the _mergeResBound double variable in src/rcx/src/netRC.cpp

[2021-07-24 03:12] vvbandeira commented on #629
@Jenny-Tan were you able to install and build? If so, please close the issue.

[2021-07-24 03:14] vvbandeira commented on #614
@vivekkrajan any updates? Were you able to use docker?

[2021-07-24 13:20] vivekkrajan commented on #614
Thanks, Yes, able to make progress. This issue is closed.

From: Vitor Bandeira ***@***.***>
Sent: Friday, July 23, 2021 8:14 PM
To: The-OpenROAD-Project/OpenROAD ***@***.***>
Cc: Rajan, Vivek K ***@***.***>; Mention ***@***.***>
Subject: Re: [The-OpenROAD-Project/OpenROAD] Unable to install OpenRoad using Docker (#614)

@vivekkrajan<https://github.com/vivekkrajan> any updates? Were you able to us

[2021-07-24 13:53] #614 closed

[2021-07-25 21:52] mooredan commented on #911
@yurivict Please pull from master and verify if this issue is resolved.

[2021-07-25 22:51] yurivict commented on #911
Thanks.

I will verify with the next release.

[2021-07-26 12:33] zml opened #921 "[ERROR DRT-0073] no ap for Instance/pin in a design with just 8% utilization"
As mentioned in the Gitter discussion, I have been constantly getting the **[ERROR DRT-0073] no ap for (...)** when running the `detailed_route` step.

In an effort to find out the root cause for this issue I have reduced the design to a [ Minimum Working Example - mwe.tar.gz](https://drive.google.com/file/d/1hHTpQJTrkNwJY7ddwkiOwFEsqDvCgXsX/view?usp=sharing.).

This design example has   8% utiliz

[2021-07-26 23:34] Stephanommg commented on #921
The problem is with STDLIB_3bdec cell, pin yz[0]. You are creating a port for each rect, when you could create a single port for all of them (at least for those that are in touch with each other). If you create a port for all the pin shapes it should work. Still, the macro definition is not wrong and I think TR should handle this situation, but if you want a quick solution, you can do as I suggest

[2021-07-26 23:47] maliberty commented on #921
Putting touch shapes in different ports is wrong, see the LEF manual:
   Each PORT of the same PIN is considered weakly connected to the other PORTs

If they are touching shapes they are not weakly connected.  We might be able to route anyways but it is not correct modeling.

[2021-07-27 08:15] zml commented on #921
Thanks for such a quick feedback.
I confirm that modifying the LEF in this way solves the issue and I am able to get a fully routed DEF on this design sample!

Still, I am now trying to do the same on the original design and I get this error one just one cell.
I am trying to check if this is still a LEF issue with the particular std cell.

Do you have any  hints on how to debug this kind of errors

[2021-07-27 16:10] zml commented on #921
I have been able to avoid this error by slightly changing the pin location of STDCELL.
Thanks very much for the great support.

[2021-07-28 11:38] zml commented on #921
I am sorry to re-open the issue, but could you please help me debug a similar error, on a different STD cell ?
This time I do not have _weakly connected_ PORTs, so I guess it should be related with a different issue here.
The error I get is  `[ERROR DRT-0073] no ap for I150_16581/s`, which corresponds to the **s** port of a SR-latch.

The files are at: [ Minimum Working Example 2 - mwe2.tar.gz](ht

[2021-07-28 16:41] Stephanommg commented on #921
Hi zml, no worries.

For debugging, you can used the flag -gui when you call openroad, but you also need to add, in you cmd.tcl, before detailed_route command, the following command:

detailed_route_debug -pa

You can also use the flag -pin (for this command) to track a specific pin. Use the following format for pin name: <instName>:<pinName>. Example:

detailed_route_debug -pa -pin inst0:A

Howev

[2021-07-28 17:05] Stephanommg commented on #921
The problem is that you have an obstacle over a small pin and TR is trying to create access points accessible only by vias.

![image](https://user-images.githubusercontent.com/1700817/127365630-fed818c6-c259-499f-aaeb-4422b1f57420.png)

I will further investigate why it is not allowing planar access.

[2021-07-28 17:22] maliberty commented on #921
@Stephanommg this sort of situation is what nearby grid APs were created for.  There is a similar situation in skywater.  I'm not sure if they are possible for this shape or not.  In general this isn't a good cell design practice.

[2021-07-28 17:36] Stephanommg commented on #921
This is the full picture with nearby aps. It seems that any via that will be used will be still close to the obstacle.
![image](https://user-images.githubusercontent.com/1700817/127368891-914fe045-3341-40e7-882e-229b14fbef43.png)

@zml By default TR doesnt allow planar access to access points in M1.

[2021-07-28 18:08] Stephanommg commented on #921
@zml you can set VIA_ACCESS_LAYERNUM in src/global.cpp to something less then 2 to allow planar access to those access points, but do this at you own risk since this is non-default in TR.

[2021-07-28 18:20] donn opened #934 "Add Warning For Routing Iterations Greater Than 64"
The fact that TritonRoute accepts values >64 for drouteEndIterNum and sets it to 64 automatically has caused some confusion:

https://github.com/The-OpenROAD-Project/OpenLane/issues/303

I'd add a warning, but it's your call.

[2021-07-28 20:27] zml commented on #921
Just to make sure I am getting this right.
Does that  mean that TR will always try to connect with M2 + Via directly and would not try to create a vertical M1 path  ?
Because if simply increase M1 rectangle height of the  **PIN s**   as follows :
[code]
The error no longer occurs.
Thanks

[2021-07-28 21:09] maliberty commented on #921
Right, in general routing on m1 may make other pins inaccessible.  To avoid those complications we just assume via access and check for compatibility of via access.  More work could be put into this area but that's the current strategy and it tends to work ok when pins are not blocked like this one.

Making the pin bigger likely means we find a way to drop a via on it and the problem is gone.

[2021-07-28 21:15] zml commented on #921
I get it. Many thanks.

[2021-07-28 21:15] #921 closed

[2021-07-28 23:27] ravi-varadarajan commented on #908
@nmoroze  To confirm your use model you are initializing a floorplan with   read_def -floorplan_initialize and in the COMPONENT section of the DEF there is  +HALO which is currently throwing an error.  You would like this to be to used as the halo specification for the component.  Also if there is a global halo specification as in the call _**macro_placement**_  command, would this be additive?

[2021-07-28 23:30] maliberty commented on #908
@ahmadelrouby please take care of the opendb part of this problem (taking the halo from def and storing it).

[2021-07-28 23:32] ravi-varadarajan commented on #908
If it is stored as a PORPERTY on the COMPONENT, we can use during macro placement

[2021-07-28 23:40] maliberty commented on #908
There is a dbInst::getHalo but oddly not setHalo.  There is a field to store the data so we just need to hook it up and make it functional.  There is no field for a soft halo but we could add a bit if needed.

[2021-07-29 02:28] mooredan commented on #578
Sharing the contents of the demonstration script for discussion:

[code]

If this were modified to:

[code]

no output is produced.  Therefore, reading a verilog file does not sufficiently populate a database that could be written out, other processing is needed.

Reading this particular DEF file holds an alternate (maybe the same) representation of the spm design.  Reading the DEF does sufficient

[2021-07-29 04:31] nmoroze commented on #908
That's correct! I haven't thought about how this would interact with a global halo specification. Maybe the HALO in the DEF could take priority, since it's more specific? I won't be needing a `macro_placement` command for my use case though (all macros will be placed in the provided DEF), so I have no specific needs for how those two should interact.

[2021-07-29 22:55] jjcherry56 commented on #578
I don't have to guess.
DEF and OpenDB have no notion of busses so the bus bits are stored individually.
write_verilog has to reconstruct the bus.
The correct solution to annotate the "first" port bit in the DB so it can be written correctly.

[2021-07-30 02:28] #934 closed

[2021-07-30 15:15] QuantamHD commented on #849
I believe the previous PR fixed this @donn can you confirm

[2021-07-30 16:24] donn commented on #849
It did. Thanks, all.

[2021-07-30 16:24] #849 closed

[2021-08-01 12:36] just22 opened #943 "Building OpenROAD without OpenSTA sources"
Greetings,

I've just started the OpenROAD porting to OpenBSD; in the official port tree we already have OpenSTA as standalone tool; I'm wondering if it's possible to build OpenROAD without compiling the OpenSTA sources too.

If that's is supported (or even not fully supported, but the effort is low), please give me some hints on how to proceed.

Thanks and Regards

--
Alessandro

[2021-08-01 13:56] maliberty commented on #943
It isn't supported and I don't think it would make sense as many parts of the system depend on opensta.

[2021-08-01 13:56] #943 closed

[2021-08-04 02:08] mooredan commented on #805
Pull request merged.

[2021-08-04 02:08] #805 closed

[2021-08-04 18:56] praharshapm opened #964 "Dependency Issue"
I am trying to install the dependencies using etc/DependencyInstaller.sh, but I am getting error that:
E: The repository 'http://ppa.launchpad.net/saltmakrell/ppa/ubuntu focal Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.

I am attaching screenshot as well. Am I missing any step?
![Screenshot from 2021-08-05

[2021-08-04 19:37] vvbandeira commented on #964
@praharshapm this looks unrelated to OpenROAD. Does the error also occurs if you run `sudo apt update`?

[2021-08-04 19:48] praharshapm commented on #964
Oh, you are right. I am also getting same error for `sudo apt update`. Looks like there is some other issue. Thanks

[2021-08-04 19:50] #964 closed

[2021-08-05 12:22] donn opened #965 "Routing "Killed""
https://github.com/The-OpenROAD-Project/OpenLane/issues/497

[05-08_13-27_or_groute_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/6938507/05-08_13-27_or_groute_packaged.tar.gz)

[2021-08-09 21:50] maliberty commented on #965
I ran it with the head of OR (cb60cd1859458b0089c7d9bdb483bc95cf1c9ce3) without error.

[2021-08-09 21:51] maliberty commented on #965
Btw, if it dying it will be in repair_antennas not global_route.

[2021-08-10 16:53] maliberty commented on #578
@jjcherry56 could you just store this in a dbBoolProperty?

[2021-08-10 17:19] maliberty commented on #965
@donn would you test the latest OR in OL and see if this is resolved?

[2021-08-12 10:12] donn commented on #965
It appears that there is a regression of some kind (I would wager another metric’s output has changed,) so I will need to take a look at that first. Apologies for the delay.

[2021-08-13 21:13] #578 closed

[2021-08-19 07:52] donn opened #1008 "Unexpected error: can't read "stripe_locs(met4,GROUND)""
Regression. Not sure what it means.

[code]

[openlane_test_or_pdn_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7012651/openlane_test_or_pdn_packaged.tar.gz)

[2021-08-19 17:23] vvbandeira opened #1009 "Review and update GPL documentation"
@mgwoo could you take a look and check if the [gpl README](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/gpl/README.md) and [gpl doc folder](https://github.com/The-OpenROAD-Project/OpenROAD/tree/master/src/gpl/doc) is updated and all files are accessible from the main read me file?

Also, @abk-openroad raised the following questions during a review:
- Is CImg still a noteworthy

[2021-08-19 17:28] vvbandeira opened #1010 "Review and update MPL documentation"
@mgwoo could you check if the commands and options are up to date? Also @abk-openroad asked if in the first paragraph of the [README.md](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/mpl/README.md#macro-placement) where it says it requires `global_placement` before running macro placement is for MS-RePlAce?  If so, then please say so explicitly.

[2021-08-19 17:37] vvbandeira opened #1011 "Review and update PPL documentation"
@eder-matheus could you review the commands and arguments for ppl on the [README.md](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/ppl/README.md)?

Also the Pin Placement for the Top Layer features is missing. Maybe @arlpetergadfort could help with motivation/use case for these.

[2021-08-19 17:49] eder-matheus commented on #1011
Everything looks correct to me. I think the Pin Placement for the Top Layer can be described as a combination of `define_pin_shape_pattern` and `set_io_pin_constraint` command. When you create a placement grid with the first command, you can restrict a set of pins to this grid with the second command. But I agree that a motivation for this feature may help us to define a better section for this fu

[2021-08-19 17:51] vvbandeira opened #1012 "Review and update ICeWall documentation"
@Colin-Holehouse could you help reviewing the Synopsis and Description lists for ICeWall and its Tcl commands so they match and are updated? Some of these questions where raised by @abk-openroad.

On [this file](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/ICeWall/doc/set_padring_options.md) for the options:
- `-core_area` and `-die_area`, please explain semantics of how the li

[2021-08-19 18:58] vvbandeira opened #1014 "DPL documentation questions"
On the DPL documentation [here](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/dpl/README.md), for the command `set_placement_padding` the option `-masters` is not mentioned on the description.

The command `set_power_net` is mentioned on the text, but is missing from the "block code" that shows the synopsis of all commands. Is this still a valid command? If so, what is its optio

[2021-08-19 20:15] maliberty commented on #1014
@tspyrou please discuss this with Cherry

[2021-08-20 07:38] mgwoo commented on #1010
Hello Vitor,
The global_placement should be done before running macro_placement -- the MacroPlacer takes inputs from the placed solution from MS-RePl. (The ORFS always runs MS-RePl before macro_placement command -- stage 2-3 and 2-4)

[2021-08-20 07:43] mgwoo commented on #1009
- Is CImg still a noteworthy feature, given the GUI progress in the past year?
  - I think so.
- How does this verbosity level comply with the spdlog / messaging standard? I hope there is not a discrepancy here... I recall 3 levels and ~5 basic message types, plus reporting, for all integrated OpenROAD engines (tools).
  - will change this as 5
- Is -timing_driven the new virtual Resizer flow?
  -

[2021-08-20 13:59] arlpetergadfort commented on #1011
@eder-matheus @vvbandeira  I'll see if we can put something together to help motive that.

[2021-08-20 20:06] arlpetergadfort commented on #1011
@eder-matheus  @vvbandeira Here is what I from my team member (the short answer is the command enables face-to-face direct-bonding IOs):
Studies have shown that 3D integration offers power and performance benefit. There is also a newly emerging opportunity for 3DIC application in the area of design obfuscation. Micro bumps and hybrid bonding are two of the more advanced packaging technologies that

[2021-08-20 21:35] eder-matheus opened #1017 "Can't compile in MacOS when GUI is enabled"
Logfile with the errors attached.
[compile_error.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/7024189/compile_error.log)

This compile error wasn't occurring before Pull Request https://github.com/The-OpenROAD-Project/OpenROAD/pull/1006

[2021-08-20 22:38] arlpetergadfort commented on #1017
Not sure why it would break with that. Is it possible that the header for unordered_map is missing and that is the issue?
Would you be able to try adding `#include <unordered_map>` to line 41 in mainWindow.h?

I see another issue where the `keyPressEvent` is incorrectly a public, so that should be moved as well.

[2021-08-23 19:30] eder-matheus commented on #1017
Thanks, @arlpetergadfort. Adding the `#include <unordered_map>` fixed the compile error for me.

[2021-08-23 19:36] arlpetergadfort commented on #1017
Great, I'll get the PR approved so this is solved.

[2021-08-23 20:27] arlpetergadfort commented on #1017
@eder-matheus I did not see your comment about the segfault, so I'll reopen. Is that intermittent? or when loading a specific design? Does it happen on load or when you select a path (looks like load but please confirm)?

[2021-08-23 20:30] eder-matheus commented on #1017
@arlpetergadfort It happens even if I don't load any design. If I run just ´openroad -gui´, it crashes sometimes. I've just tested it, and I had to run ´openroad -gui´ five consecutive times to get the segfault.

[2021-08-23 20:33] arlpetergadfort commented on #1017
okay, I'll take a look, there is probably a problem in the staGui code, which just wasn't an issue before switching it over to a dockwidget.

[2021-08-23 20:42] arlpetergadfort commented on #1017
It's possible there an uninitialized variable.
Can you try to replace the following in staGui.h (line 199)
`  TimingPathDetailModel() {}` ->   TimingPathDetailModel() { path_ = nullptr; }`
Does that help?

[2021-08-23 20:44] maliberty commented on #1017
@eder-matheus can you valgrind startup on a mac (or maybe even on linux)?

[2021-08-23 20:48] eder-matheus commented on #1017
@arlpetergadfort This replacement seems to work. I've run `openroad -gui` multiple times and I didn't face any segfault.

@maliberty Sure, I can (and will) run valgrind on centos.

[2021-08-23 20:48] arlpetergadfort commented on #1017
the `path_` variable is definitely not initialized (based on the code), so that should probably get fixed as well.
Here is the branch with that change: https://github.com/The-OpenROAD-Project-private/OpenROAD/tree/gui-fix-macos-segfault

[2021-08-23 20:52] arlpetergadfort commented on #1017
@maliberty no I do not, if you want to give me access, I'd be happy to take a look.

@eder-matheus Could you check the branch I listed above and see if that solves it as well (same change, just modified where the initialization happens)?

[2021-08-23 22:08] eder-matheus commented on #1017
@arlpetergadfort I've tested your branch and it isn't crashing anymore. I've also run Valgrind and it looks good too.

[2021-08-23 22:12] arlpetergadfort commented on #1017
Great, in that case I'll merge that in.

[2021-08-23 22:12] #1017 closed

[2021-08-24 20:19] maliberty commented on #965
@donn should I close this?

[2021-08-24 21:28] jjcherry56 commented on #1010
I reviewed it (since I wrote it)

[2021-08-24 21:28] #1010 closed

[2021-08-25 00:18] osamahammad21 opened #1027 "ODB swig python API getPoint"
odb has removed getPoint_ext API and used getPoint for both (with/without ext). getPoint with 2 arguments is wrapped while getPoint with 3 arguments isn't. So when I call getPoint expecting 3 returned values, I only get 2.

[2021-08-25 00:22] osamahammad21 opened #1028 "ODB Python API new_int helper removed"
new_int was a helper function to represent an int object that can be passed by reference to odb's APIs. It was removed recently. We don't need to add it again, but we need to handle functions returning by reference.

[2021-08-25 03:00] maliberty commented on #1027
Are you planning to fix this or @ahmadelrouby ?

[2021-08-25 11:51] dralabeing commented on #907
@maliberty Is this conversion to logger complete?

[2021-08-26 19:00] arlpetergadfort opened #1036 "TritonRoute: ignores routing blockages"
I noticed that TritonRoute doesn't report any DRC violations related to routing blockages.
Here is one example using GCD where TR routes inside of the emtal3 routing blockage and does not report any issues.

[detail_route_gcd_nangate45_base_2021-08-26_14-54.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7062166/detail_route_gcd_nangate45_base_2021-08-26_14-54.tar.gz)

[2021-08-26 23:28] maliberty opened #1038 "arrow keys in drc widget don't update"
If you select an violation in the DRC Viewer and then hit up or down the new row highlights but the layout and inspector do not update.

[2021-08-31 03:38] #1038 closed

[2021-08-31 14:22] donn commented on #1008
We're blocked on this, btw.

[2021-08-31 20:03] #1036 closed

[2021-08-31 22:32] maliberty opened #1046 "connectivity / guide errors in drt"
The attached test case, when run with:

read_lef eg.lef
read_def eg.def
detailed_route -guide eg.guide

produces warnings like:

[WARNING DRT-0222] genGuides_final pin not in any guide.
[WARNING DRT-0230] genGuides_gCell2TermMap avoid condition2, may result in guide open: p_ae__11_ad_ad_557_6_acx0/in_50_6.

and terminates with:

Error: p.ct_800.l.l._out 1 pin not visited #guides = 5
Error: p.e_167

[2021-09-01 18:20] tspyrou commented on #1008
@Colin-Holehouse or @ibrahimkhairy can one of you pick this up urgently? OpenLane can't uprev to the latest openroad until this is fixed.

[2021-09-01 18:21] tspyrou commented on #1008
@ibrahimkhairy Colin has a higher priority issue, can you try to debug this?

[2021-09-01 18:27] ibrahimkhairy commented on #1008
ok, I'll have a look

[2021-09-01 18:34] legendmaker-wty opened #1049 "Unable to build OpenROAD on CentOS7"
Hi
I am trying to install OpenROAD on CentOS 7. I referred to the readme file on github and ran`./etc/DependencyInstaller.sh -dev`  for the dependencies. When I tried to compile the project with `cmake3 ..` , an error occurred:

I tried to fix it with `sudo yum install spdlog` but it didn't help.
Thanks.

[2021-09-02 16:47] aolofsson opened #1052 "OpenROAD version number?"
Is there currently a way to automatically check version compliance?
Currently a hash key is returned, but it's not clear how this key can be used to check the actual version?
￼
$ openroad -version
1 af9a0f9faafb7e61ae18e9496169c3527312b82a

As a comp, this is what verilator/yosys returns:
$ verilator --version
Verilator 4.028 2020-02-06 rev v4.026-92-g890cecc1

$ yosys -version
Yosys 0.9+3672 (git

[2021-09-02 19:20] rovinski commented on #1052
Technically the `1` is the version number, as listed here: https://github.com/The-OpenROAD-Project/OpenROAD/blob/4d956498152d921d73c06ca161f90356d7bba3a5/CMakeLists.txt#L48-L50

I don't think there has been very much focus on versioning, because we don't publish binaries. The git hash is technically suitable to identify the version, but It's not very human-friendly unfortunately. I have noticed th

[2021-09-02 19:56] 20Mhz opened #1053 "Triton Route Won't build due boost issue"
I'm trying to build 1415572a73d43dfc91ba4501170fe6a245729e8. Using boost 1.76.0.  I'm getting:
[code]

[2021-09-02 20:02] maliberty commented on #1053
I believe this was fixed later on - can you try the head of master and see if that works for you?

[2021-09-02 21:38] 20Mhz commented on #1053
Hi Matt,
That is correct, I've just succeeded building master. I'm actually trying to align to OpenLane which is using the checkin above. Can point me to the closest  stable or preferable to the checkin that address this issue?
Thanks,
Ronald

[2021-09-02 21:44] maliberty commented on #1053
Are you using https://github.com/The-OpenROAD-Project/OpenLane or https://github.com/efabless/OpenLane.  The former is more current and should have a more recent OR version.  The later is frozen for the MPW2 shuttle.

[2021-09-02 21:47] 20Mhz commented on #1053
https://github.com/efabless/openlane.git

[2021-09-02 21:49] maliberty commented on #1053
That version is frozen and will not update OR versions.  I suggest you use https://github.com/The-OpenROAD-Project/OpenLane

[2021-09-03 02:31] aolofsson commented on #1052
Thanks! A couple of digits of precision after the 1 would be appreciated and a bot is a great idea.

[2021-09-03 03:31] maliberty commented on #1052
One challenge of having version numbers is that people will report issues against older versions rather than against the head.  We are not staffed to support N releases so we would have to be clear that version numbers don't represent support.  Support is only at the head of master.

[2021-09-03 03:35] maliberty commented on #1052
It would be simple to include the date associated with the commit (ie Thu Sep 2 14:08:55 2021 -0700).  Dates form a natural ordering that is easy to compare.

[2021-09-03 13:08] ibrahimkhairy commented on #1008
Hi Donn,

 I just checked with Colin today and the test case needs 2 changes to pass:
1) add voltage_domans definitions in pdngen config:
`set pdngen::voltage_domains {
   CORE {
    primary_power VPWR primary_ground VGND
  }
 }
`

 2) Change the variables FP_PDN_HPITCH and FP_PDN_VPITCH to a value that fits in the design; it was previously set to 153.18 which is larger than design dimentions

 I'

[2021-09-03 20:28] shuolai opened #1058 "PDN creates two power nets."
I was wondering if OpenROAD supports adding two power nets and one ground net as power rings?
I tried several PDN command but it seems that I can only add a pair of power rings. (VDD and VSS)
Is there any method I can add another power ring VREG at the same time?

The following image is what I am expecting.
![power_ring_example](https://user-images.githubusercontent.com/79955802/132056693-afdfa4f1

[2021-09-03 20:30] 20Mhz commented on #1053
I moved to main on that repo and I'm all set  for now. Thanks

[2021-09-03 20:30] #1053 closed

[2021-09-03 22:20] 20Mhz commented on #1028
Hi!, I got stuck trying to align openlane  to the lastest openroad ... do you have a suggestion for following code?
[code]

[2021-09-04 01:47] aolofsson commented on #1052
In terms of support, I really people read and internalize the BSD license:-) "THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.

In terms of using the date, I agree that it would work. It's not that common, bu

[2021-09-04 12:10] riya1407 opened #1061 "how to open gui for openroad"
hello
i am a student and working on openroad for a project .May I know the commands for opening gui of openroad or do i need to install anything else for the same ??

[2021-09-04 15:05] maliberty commented on #1061
Just run openroad -gui

On Sat, Sep 4, 2021, 5:10 AM riya1407 ***@***.***> wrote:

[2021-09-06 02:25] mithro commented on #1052
Use `git describe` to get a usable version number from a git repository. Date's in Git don't work as they are not guaranteed to be committed in any order.

[2021-09-06 03:29] maliberty commented on #1052
If I try this on the current app I get:

[2021-09-06 05:15] riya1407 commented on #1061
what to do if error occurs like the code was compiled with gui disabled . I
am attaching the screenshot with this email .
thanking you

On Sat, Sep 4, 2021 at 8:35 PM Matt Liberty ***@***.***>
wrote:

[2021-09-06 13:48] donn commented on #1008
[code]

This is suddenly required... why?

[2021-09-06 14:39] vvbandeira commented on #629
Closing due to inactivity, also the initial issue was fixed.

[2021-09-06 14:39] #629 closed

[2021-09-06 14:40] vvbandeira commented on #1049
@legendmaker-wty were you able to build?

[2021-09-06 15:03] legendmaker-wty commented on #1049
No, the problem remains but I changed a platform and it worked.
Thanks for asking.

Vitor Bandeira ***@***.***>于2021年9月6日 周一10:41写道：

[2021-09-06 15:06] mithro commented on #1049
BTW @vvbandeira - Shouldn't cmake complain that your compiler version is too old?

[2021-09-06 15:38] vvbandeira commented on #1049
@legendmaker-wty thanks for letting us know, will close the issue.

@mithro I think this is a good idea. I will add the check, thanks.

[2021-09-06 15:38] #1049 closed

[2021-09-06 15:45] legendmaker-wty commented on #1049
I'd like to add some followup. I tried to build OpenROAD again on my CentOS
7. I referred to
https://stackoverflow.com/questions/53310625/how-to-install-gcc8-using-devtoolset-8-gcc
and ran the following 4 lines to enable the gcc-8 and for this time the
build succeeded. Thank you very much for your help!

yum install centos-release-scl
yum install devtoolset-8-gcc devtoolset-8-gcc-c++
scl enable de

[2021-09-06 16:46] maliberty commented on #1061
You need to have Qt installed and rebuild the software.  The simplest is to run etc/DependencyInstaller.sh

[2021-09-06 23:51] donn commented on #1008
merged the voltage domains thing into open_pdks and openroad. thanks for the help

[2021-09-06 23:51] #1008 closed

[2021-09-07 04:34] riya1407 commented on #1061
i already have installed Qt .what changes are required in buil.sh for
rebuilding

On Mon, Sep 6, 2021 at 10:16 PM Matt Liberty ***@***.***>
wrote:

[2021-09-07 05:05] vvbandeira commented on #1061
@riya1407 could you run the command below and paste here the output from `output.txt`?

[code]

[2021-09-07 05:10] maliberty commented on #1061
Note that you need to have Qt5 installed; Qt4 won't work.

When running cmake you should see:
-- GUI is enabled

[2021-09-07 05:22] #1052 closed

[2021-09-07 08:06] riya1407 commented on #1061
-- The CXX compiler identification is GNU 9.3.0
-- Check for working CXX compiler: /usr/bin/g++
-- Check for working CXX compiler: /usr/bin/g++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- OpenROAD version: 1
-- OpenROAD git sha: 5df98f89ecfaa80be41b8ee2b0402594a93208c0
-- System

[2021-09-07 08:39] riya1407 opened #1064 "error while running detailed_route"
[INFO DRT-0165] Start pin access.
[INFO DRT-0076]   Complete 100 pins.
[INFO DRT-0076]   Complete 200 pins.
[ERROR DRT-0074] No ap for PIN/clk.
terminate called after throwing an instance of 'std::runtime_error'
  what():  DRT-0074
Aborted (core dumped)

where am i going wrong if the above shown content is shown at the console window and openroad exits ??

[2021-09-07 08:51] vvbandeira commented on #1061
@riya1407 if you look at this line:

[code]

CMake is not able to find some dependency to build the GUI code.
Make sure you have run the latest `./etc/DependencyInstaller.sh -dev` and that no errors were reported.
Also, note what maliberty have said:

Until the cmake or the `Build.sh -clean` command report `GUI enabled` GUI will not work.

[2021-09-07 09:15] riya1407 commented on #1061
what if while running DependencyInstaller.sh we get the following error:
E: Could not open lock file /var/lib/apt/lists/lock - open (13: Permission
denied)
E: Unable to lock directory /var/lib/apt/lists/
W: Problem unlinking the file /var/cache/apt/pkgcache.bin - RemoveCaches
(13: Permission denied)
W: Problem unlinking the file /var/cache/apt/srcpkgcache.bin - RemoveCaches
(13: Permission denied)

[2021-09-07 09:50] vvbandeira commented on #1061
@riya1407 that is not ideal -- at least.

Did you run with `sudo` or with `root` permission?

Also, for debug, purposes could you add `set -x` to the `DependencyInstaller.sh` script? This way we can know which command is failing -- my guess is `apt` due to lack of root permission.

[2021-09-07 10:08] riya1407 commented on #1061
i had just run shell script by ./DependencyInstaller.sh will it require
root privilege ??

On Tue, Sep 7, 2021 at 3:20 PM Vitor Bandeira ***@***.***>
wrote:

[2021-09-07 11:09] vvbandeira commented on #1061
DependencyInstaller does require root privilege -- either run with sudo or as the root user.
See: https://openroad.readthedocs.io/en/latest/user/BuildLocally.html

[2021-09-07 11:27] riya1407 commented on #1061
i tried building with the same command yet showing the above given error
what shall i do?

On Tue, Sep 7, 2021 at 4:39 PM Vitor Bandeira ***@***.***>
wrote:

[2021-09-07 13:08] arlpetergadfort opened #1065 "OpenRoad version / git describe not found"
After switching to the git describe version, all I see get is:
-- OpenROAD version: 1
-- OpenROAD git describe: -128-NOTFOUND

[2021-09-07 13:08] maliberty commented on #1064
The router can find no way to legally access the top level clk pin.  I would guess that this is because the pin is unplaced.  If not, please provide a test case.

[2021-09-07 13:23] maliberty commented on #1061
Where is Qt installed on your machine?  You can try in your build area

cmake -DCMAKE_FIND_DEBUG_MODE=TRUE

This will give more info about where it is searching for Qt.

[2021-09-07 13:28] maliberty commented on #1065
What happens if you run 'git describe'?

[2021-09-07 13:33] aolofsson commented on #1052
My recommendation/preference would still be something  more systematic like the following.

Verilator 4.211 devel rev v4.210-26-gcf39331d

https://semver.org/

matplotlib >= 3.3
numpy >= 1.19
pytest >= 6.2.4
pandas >= 1.2.3
Jinja2 >= 2.11.3
Sphinx >= 3.5.4

[2021-09-07 13:38] arlpetergadfort commented on #1065
[code]
This happens when I call it from the Openroad-flow / tools / OpenROAD (a submodule)

but when I run it on a non-submodule, I get ``v2.0-854-ga462d24d3``

[2021-09-07 13:47] arlpetergadfort commented on #1065
@maliberty running ``cmake`` on the non-submodule gives me:
[code]
It seems strange as well that the git describe is saying v2.0 and OR version is 1.

[2021-09-07 14:16] arlpetergadfort commented on #1065
I think I narrowed it down a little. Since we have a copy of the repo, the tags were not copied over. Doing that fixed the  issue with `` -128-NOTFOUND``, but a better fallback or warning might be good.

[2021-09-07 14:21] riya1407 commented on #1064
may i know the command for the same ??

On Tue, 7 Sep, 2021, 6:38 pm Matt Liberty, ***@***.***> wrote:

[2021-09-07 15:04] maliberty commented on #1064
Just look at the input DEF file's PINS section and see if the pin is marked PLACED.

[2021-09-07 16:13] riya1407 commented on #1064
may i know the command  to read track file??

On Tue, Sep 7, 2021 at 8:34 PM Matt Liberty ***@***.***>
wrote:

[2021-09-07 16:54] maliberty commented on #1064
It is the DEF file I mentioned not a 'track file'.   You would look at results/<platform>/<design>/base/4_cts.def and search for that pin in the PINS section.

Are you running your own design or one of the ones we provide? Are you using OpenROAD-flow-scripts?

[2021-09-07 17:55] riya1407 commented on #1064
solved

On Tue, Sep 7, 2021 at 10:25 PM Matt Liberty ***@***.***>
wrote:

[2021-09-07 18:05] #1064 closed

[2021-09-07 21:29] nmoroze opened #1068 "Building Python bindings as standalone C extension module?"
I've been experimenting with the OpenDB Python bindings and ran into an issue. After building OpenROAD, I tried to follow the directions in the OpenDB README (with paths updated), and ran the following Python code:

[code]

However, the final line fails with the error:
[code]

I noticed that the bindings get compiled to a static library `_odbpy.a`, and I believe the issue is that Python looks for

[2021-09-07 21:38] maliberty commented on #1068
We have been moving away from the standalone mode and suggest people use openroad -python to get access to the binding.

[2021-09-07 21:38] maliberty commented on #1068
@vvbandeira we should update the odb README.

[2021-09-08 02:07] getziadz opened #1069 "RePlAce diverged at newStepLength"
Error during `run_placement`

[code]

Design can be found at https://github.com/bsg-idea/bsg_sky130_designs/tree/partial_design_debug/designs/partial_bp_srams

The design is a simple module that contains hardened SRAMs

[2021-09-08 02:17] maliberty commented on #1069
If you are using openroad-flow-script then please use

make global_place_issue

to package the testcase.  Otherwise please provide a self-contained tcl file to reproduce the file.

[2021-09-08 17:35] getziadz commented on #1069
The problem went away after using a custom (larger) DIE_AREA configuration.

[2021-09-08 17:35] #1069 closed

[2021-09-09 01:03] 20Mhz commented on #1028
Took another look, it seems there was a pretty easy fix. Bests.
[code]

[2021-09-09 01:14] nmoroze commented on #1068
Got it, thanks for the quick reply!

[2021-09-09 15:26] yurivict opened #1071 "cpp_tests fails: /usr/ports/cad/openroad/work/OpenROAD-d1c7001/build/src/odb/test/cpp: No such file or directory"
rev. d1c7001

OS: FreeBSD 13

[2021-09-09 15:28] yurivict opened #1072 "test failure: incremental02"
[code]

[code]

rev. d1c7001

clang-11
FreeBSD 13

[2021-09-10 03:21] maliberty commented on #1071
You need to provide some actual logs or data.  I doubt this is a platform issue.

[2021-09-10 05:07] yurivict commented on #1071
Here is the logs directory: https://people.freebsd.org/~yuri/openroad-OpenDB-test-logs.tgz

[2021-09-10 17:12] yurivict commented on #1072
Logs: https://people.freebsd.org/~yuri/openroad-gpl-results.tgz

[2021-09-10 17:15] yurivict opened #1078 "test failures: check_buffers, simple_test_clustered, simple_test_clustered_max_cap, check_wire_rc_cts, post_cts_opt, balance_levels"
Logs: https://people.freebsd.org/~yuri/openroad-cts-results.tgz

rev. d1c7001
OS: FreeBSD 13

[2021-09-10 17:17] yurivict opened #1079 "test failures: congestion1, congestion2, congestion5, congestion6"
Logs: https://people.freebsd.org/~yuri/openroad-grt-results.tgz

rev. d1c7001
OS: FreeBSD 13

[2021-09-10 17:20] yurivict opened #1080 "test failure: ispd18_sample"
Log: https://people.freebsd.org/~yuri/openroad-drt-results.tgz

rev. d1c7001
OS: FreeBSD 13

[2021-09-13 15:31] maliberty commented on #1065
Fixed with 6e80ae096c9ae61e86057b7e9116bc9b44dde37a

[2021-09-13 15:31] #1065 closed

[2021-09-13 21:27] #1068 closed

[2021-09-13 21:29] #1009 closed

[2021-09-15 19:07] Yang-Yihang opened #1099 "RCX: how to interpret capacitance and resistance tables in a RC tech file"
Are there any documents similar to [this](https://github.com/The-OpenROAD-Project-Attic/PEX/blob/master/docs/RegressionModelFormat.txt) to explain the meaning of RC tables in a tech file?

[2021-09-15 19:09] maliberty commented on #1099
Not to my knowledge.

[2021-09-16 17:52] #1011 closed

[2021-09-17 18:25] donn opened #1110 ""Maze Ripup Wrong""
This issue surfaced when we merged a new version of OpenROAD.

[code]

What is this, exactly?

[aes_cipher.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7187675/aes_cipher.tar.gz)

[2021-09-17 18:30] tspyrou commented on #1110
@eder-matheus can you help Donn from the OpenLane team with this.
@donn Eder is the owner of the global router.

[2021-09-18 15:47] donn opened #1111 "Segfault during `repair_antennas`"
- OpenROAD Commit: f7a44b69256c0b2a1dce50362997c4091d7f6a06 (Tested with 01461c345522aa9cc240df2d7f01c0cd886f23d0 outside OpenLane)

- Keeps spamming this then crashes:
[code]

- Reproducible: [yhuff_sigvio.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7190183/yhuff_sigvio.tar.gz)

[2021-09-18 15:51] maliberty commented on #1111
@donn are you sure its from global_route and not repair_antennas ?

[2021-09-18 15:52] donn commented on #1111
Let me verify...

[2021-09-18 15:54] donn commented on #1111
Oh, you're right. Oops.

Well I guess a workaround would be to switch the diode insertion strategy in OpenLane. Still, shouldn't segfault...

[2021-09-18 17:27] donn commented on #1110
Some more testing notes: this surfaced somewhere between fb8ae93b6c7a5eb0e6fac83360a8a48d76c41885 and f7a44b69256c0b2a1dce50362997c4091d7f6a06.

This passes fine on fb8ae93b6c7a5eb0e6fac83360a8a48d76c41885.

[2021-09-20 13:54] eder-matheus commented on #1110
@donn Could you try the latest commit in the master branch? I've merged a PR yesterday that should fix this issue.

[2021-09-20 14:19] donn commented on #1110
I'll give it a shot

[2021-09-20 14:40] donn commented on #1110
Can confirm that this passed as of 4f4b6da2dd6b740454141f677bbe557d5ef67756.

Thank you for your hard work.

[2021-09-20 14:40] #1110 closed

[2021-09-22 18:43] maliberty commented on #1111
This fails deep in orderWires, an awful piece of code in odb.

[2021-09-23 19:17] donn commented on #1111
Oof. I'm so sorry.

[2021-09-24 13:21] Manarabdelaty opened #1133 "`write_sdf` missing delay values for the typical corner"
The sdf file output from `write_sdf` doesn't have delay values for the typical corner. It only has the minimum and the maximum corner. For example, this path only has the max and min delays
`    (IOPATH A X (0.069::0.128) (0.069::0.132))
`

I tried to explicitly define the corners and read the liberty with the `-corner typ` option, but it didn't help.  I am attaching a test case to reproduce the i

[2021-09-27 23:17] shuolai opened #1136 "How to fix "RePlAce divergence detected."problem?"
I met a problem in the 3_1 global place stage and now sure how to solve it. I tried to increase the core_area but it doesn't work.
What does the "max_phi_cof value" mean?
![error](https://user-images.githubusercontent.com/79955802/134997459-f0fad098-0e3e-4d4b-b852-9518fab206ca.png)

[2021-09-27 23:22] maliberty commented on #1136
global_placement has a -max_phi_coef but it is rather obscure though you can try different values.

What happened when increased the core area?  Did the overflow reach a lower level or was it the same 0.136?  Can you provide a test case?

[2021-09-29 00:48] shuolai commented on #1136
Hi, Matt. I just found that I didn't place macros before the global_place. I suppose this can be the reason of this problem?
The following warning messages appear in global_placement stage.
![WeChat Screenshot_20210928204721](https://user-images.githubusercontent.com/79955802/135184470-b6d84115-8b12-4c04-9882-86a01bc9695e.png)

[2021-09-29 04:28] maliberty commented on #1136
It might be related but you need to fix it in any case.  The messages suggest you have the wrong CLASS in the lef for your macros (it should be BLOCK).  Replace will work around it but the macro placer doesn't so you need to fix it.

[2021-09-29 04:28] maliberty commented on #1136
It might be related but you need to fix it in any case.  The messages suggest you have the wrong CLASS in the lef for your macros (it should be BLOCK).  Replace will work around it but the macro placer doesn't so you need to fix it.

[2021-10-01 01:57] shuolai opened #1146 "[OpenFASoC] write_cdl issue"
The temp_sensor in OpenFASoC has LVS issue after the update of write_cdl.

Link to OpenFASoC:  (https://github.com/idea-fasoc/OpenFASOC)

The power nets in cdl file are unconnected.
![Capture](https://user-images.githubusercontent.com/79955802/135552803-e4b409fc-de09-421c-b9bc-44436cd6f71a.PNG)

I also checked the 6_final.v file and found that the power nets disappeared when using the latest versi

[2021-10-01 04:31] maliberty commented on #1146
Please package a test case

[2021-10-02 03:03] msaligane commented on #1146
@maliberty Thanks for taking a look. This issue has been dragging for 2 weeks now :/

initially we made a [script ](https://github.com/idea-fasoc/OpenFASOC/blob/e055fed0a9401733907a1cd07457d4331187c920/generators/temp-sense-gen/flow/util/cdl_parser.py) to fix the write_cdl command errors (I think it was the orders of the pins that was messed up. Then just before running LVS using netgen we would r

[2021-10-02 03:21] maliberty commented on #1146
What is CDL_FILE set to?  I don't see anything setting it in your tgz.

[2021-10-02 03:22] maliberty commented on #1146
I also see many warnings like:

[WARNING ODB-0286] Terminal VNB of CDL master sky130_fd_sc_hd__a2111o_1 not found in LEF.

which suggests cdl/lef mismatches.

[2021-10-02 03:27] msaligane commented on #1146
`export CDL_FILE                 = ../blocks/$(PLATFORM)/cdl/sky130_fd_sc_hd_merged.cdl
`
it is in the `config.mk` in `/tempsense/generators/temp-sense-gen/flow/design/sky130hd/tempsense`

Then it is probably a source file issue. @shuolai please double check the LEF/CDL files versus the one in latest of open_pdk. If it is still there please file an issue.

[2021-10-02 03:31] msaligane commented on #1146
@maliberty Why do we need the LEF to write the cdl. I think verilog and cdl primitives should be the one to be used?

[2021-10-02 03:34] maliberty commented on #1146
The database is loaded from LEF/DEF in every step after the first.

On Fri, Oct 1, 2021 at 8:31 PM Mehdi Saligane ***@***.***>
wrote:

[2021-10-02 03:41] msaligane commented on #1146
Sure but we could use `6_final.v` file which is the one we would eventually use if wanted to the a verilog to lvs cdl conversion. Right?

[2021-10-02 04:04] maliberty commented on #1146
6_final.v is just generated from the DEF file (there is only read_def in final_report.tcl).  You won't get any extra info there.

[2021-10-03 06:59] yurivict opened #1149 "Build breaks: too many arguments to function call, expected single argument 'cell', have 2 arguments, etc"
[code]

rev. f440b2b59
clang-11
FreeBSD 13

[2021-10-03 21:29] maliberty commented on #1149
I think your sta submodule is out of date.

[2021-10-04 00:46] yurivict commented on #1080
This testcase is still failing in rev. 5bc179959

[2021-10-04 00:47] yurivict commented on #1149
You are correct. Sorry for bothering you.

[2021-10-04 00:47] #1149 closed

[2021-10-04 15:10] maliberty commented on #1080
I spun up a gcloud machine (freebsd-12-1) and can reproduce the issue.

[2021-10-04 16:04] yurivict commented on #1080
I just reran tests on FreeBSD 13 yesterday with the current code - there are several other failuers as well.

[2021-10-04 16:32] #1046 closed

[2021-10-05 04:38] GitZhangw opened #1159 "OpenROAD"

[2021-10-05 04:38] GitZhangw opened #1160 "OpenROAD"

[2021-10-05 04:40] #1160 closed

[2021-10-05 04:40] #1159 closed

[2021-10-06 21:45] maliberty opened #1169 "off grid macro pins"
This is an issue extracted from Matt Venn's OpenLane run.  The route.tcl script in the attached testcase is the reproducer.

The problem is a macro with off-grid pins.  In general we advise against this but this case is uncongested and we should be able to handle it.  We end with unresolved DRVs reported.

[bug.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7297294/bug.tar.gz)

[2021-10-07 20:38] Stephanommg commented on #1169
I have made a fix and it ends Dr with 0 viols reported by TR. Are the DRVs you mentioned reported by TR or some commercial tool?

[2021-10-07 20:41] Stephanommg commented on #1169
Yeah, I didnt have to debug. We can proceed with that PR then.

[2021-10-08 01:24] KHermanUBB opened #1176 "Flow fails at PDN during macro hardening"
### Description
The flow fails at PDN during macro hardening. Design revised  by @msaligane and suggested to be reported here as a bug.

### Environment
* Operating System Information: Linux CalcMachine 4.15.0-159-generic #167-Ubuntu SMP `
* Docker Version:  20.10.7, build 20.10.7-0ubuntu1~18.04.2
* OpenLane Tag in use: 2021.09.23_03.17.13

### Reproduction Material
config.tcl
[config.zip](https:/

[2021-10-11 09:23] Unkraut3 opened #1186 "TritonCTS does not find lemon on Ubuntu 21.04"
When running `./build_openroad.sh --local` on ubuntu 21.04 the cmake script for TritonCTS does not find lemon even though lemon-dev was installed via apt.

The reason is, that the cmake scripts are searching for LEMONConfig.cmake or lemon-config.config. However, on Ubuntu 21.04 the cmake file is called lemonConfig.cmake. The cmake scripts should therefoe also search for lemonConfig.cmake.

[2021-10-13 09:48] dineshannayya opened #1197 "[INFO DRT-1000] Pin u_sram_2kb/din0[15] not in any guide. Attempting to patch guides to cover (at least part of) the pin."
Is this information is saying any specific issue here ?  I see u_sram_2kb/din0[15]  connected to mem_din_b\[15\] and this signal information is available inside guide file : 16-fastroute.guide

openroad version: OpenROAD v2.0-1285-g92dd19146

Attached the setup
[exp3.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7336972/exp3.tar.gz)

Run command: run_cmd

In the MPW-3 Efabless ope

[2021-10-14 16:52] eder-matheus commented on #1197
@dineshannayya I've run the attached testcase on a CentOS 7 machine and I see the `[INFO DRT-1000] Pin u_sram_2kb/din0[15] not in any guide. Attempting to patch guides to cover (at least part of) the pin.` message, but it is not failing with the latest OpenROAD. Could you try it with the latest version of OpenROAD?

[2021-10-17 03:36] albertface opened #1206 "Core dumped when using grt/FastRoute on ispd2015"
I have tried the following two way to apply global routing on ispd2015 but keep getting the core dumped error.
1. run global_route using after_legalized.ntup.fix.def directly
2. run global_placement on floorplan.def and then global_route

I don't know how to fix this because there is no detailed error message. Could anyone give some help?

ispd2015 is downloaded from [http://www.cerc.utexas.edu/~z

[2021-10-17 04:00] rovinski commented on #1206
It would really help if you specified which one of the designs you used.

[2021-10-17 04:33] rovinski commented on #1206
Design `mgc_des_perf_1` works.

Stacktrace:
[code]

[2021-10-17 04:46] maliberty commented on #1206
There are tracks defined in only one direction per layer:

TRACKS Y 0 DO 2227 STEP 200 LAYER metal1 metal3 metal5 ;
TRACKS X 100 DO 2225 STEP 200 LAYER metal2 metal4 ;

Usually we have tracks in both direction so I guess that is the problem.  I assume they are trying to restrict to unidirectional routing.

[2021-10-17 05:06] thesukantadey opened #1207 "How do we install OpenROAD in RHEL systems?"
At present, the supported systems are CentOS 7 and Ubuntu 20.04. How do we install OpenROAD in Red Hat Systems? Any leads in this regard will be appreciated.

[2021-10-17 11:15] vvbandeira commented on #1207
@thesukantadey I would suggest you go through the [`DependencyInstall.sh`](https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/etc/DependencyInstaller.sh) script following the CentOS control-flow and adapt the commands as needed. After installing the dependencies, you should be able to build the app.

Please if you find a recipe that works for RHEL, consider submitting a PR.

[2021-10-17 11:28] albertface commented on #1206
I add tracks both x and y in metal 1-5 and it works. Thanks!

[2021-10-18 01:37] dralabeing commented on #1197
This sounds like an Openlane bug as well  based on the initial version reported on MPW-3.
@maliberty @eder-matheus Should this also be submitted against OpenLane to fix against that OR version too since that is the latest shuttle version?

[2021-10-18 01:44] dralabeing commented on #1169
@maliberty @Stephanommg Looks like this can be closed.

[2021-10-18 01:59] #1169 closed

[2021-10-18 19:15] eder-matheus commented on #1206
@maliberty I've updated grt code with checks for the tracks patterns, so we don't have crashes anymore. @albertface your testcases should not fail anymore, even if there are no tracks for the non-preferred direction of a layer. I've also added unit tests for the update.

[2021-10-18 21:11] #911 closed

[2021-10-18 23:07] #1206 closed

[2021-10-19 14:59] maliberty commented on #1133
sdf does not require all three corners to be present and two is quite typical.  What is the simulator issue?

[2021-10-19 15:24] Manarabdelaty commented on #1133
The issue is that the skywater-pdk has a placeholder for the three corners in the specify blocks, so the simulator expects to see three corners in the sdf file as well.

[2021-10-20 14:24] dineshannayya opened #1221 "CTS crashes while executing clock_tree_synthesis call"
OpenRoad version: v2.0-1424-gf864efbae (Latest version)

During the Openlane based CTS script, while executing "clock_tree_synthesis" tool crashes with segmentation fault

Example Test:
[exp2.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7381915/exp2.tar.gz)

Run command: run_cmd
Run Log:
<pre>[INFO CTS-0084] Compiling LUT.
Min. len    Max. len    Min. cap    Max. cap    Min. slew

[2021-10-20 16:59] maliberty commented on #1221
Your input netlist already has clock buffers:
    - clkbuf_0_bist_clk sky130_fd_sc_hd__clkbuf_16 + PLACED ( 108560 54400 ) N ;
    - clkbuf_1_0_0_bist_clk sky130_fd_sc_hd__clkbuf_1 + PLACED ( 59340 57120 ) FS ;
    - clkbuf_1_1_0_bist_clk sky130_fd_sc_hd__clkbuf_1 + PLACED ( 169740 65280 ) N ;
    - clkbuf_2_0_0_bist_clk sky130_fd_sc_hd__clkbuf_1 + PLACED ( 62560 57120 ) FS ;
    - clkbuf_2_1_0_bi

[2021-10-20 19:12] #1221 closed, assigned to nobody

[2021-10-21 13:18] eder-matheus commented on #1197
@dineshannayya I'm not sure about what this message from the detailed router means, but my guess is the route guide is partially covering this pin of the macro and the detailed router only completes the coverage of the pin. Also, since the routing ends with no DRCs, I think this message doesn't have a great impact on the final result. @maliberty does it make sense?

[2021-10-21 13:23] qujijie opened #1225 "GPL qusetion"
hi, i have know the globle placement based on RePlAce cannot support  rotation and flipping, but if i have a cell that is a polygon not a rect. Is it possiple to get a result from Globle Placement?

[2021-10-21 14:07] qujijie commented on #1225
I mean a macro, it cannot flipping or rotation

[2021-10-22 19:08] Manarabdelaty opened #1227 "`read_spef -corner` option isn't exposed in the tcl command"
opensta is giving the following error when I try the read spef file for a specific corner,

`[ERROR STA-0402] read_spef -corner is not a known keyword or flag.
`

I think the corner option is missing from the keys list here https://github.com/The-OpenROAD-Project/OpenSTA/blob/master/parasitics/Parasitics.tcl#L36

[spm_test_case.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7400843/sp

[2021-10-23 02:34] #1227 closed, assigned to jjcherry56

[2021-10-23 11:48] mi-and-core opened #1229 "GUI can't read well formed lef/lib"
OR/OS : OpenROAD v2.0-1426-gd8dbd6bc4 / ubuntu 20.4

How to reproduce (in unmodified ORFS) :
`source setup_env.sh && cd flow && make && make gui_final`

GUI messages in Scripting-Panel :
[code]
and more [WARNING STA-0139] when further reading the lib ... until message limit reached and stopped working

Note:
 ./platforms/nangate45/lef/NangateOpenCellLibrary.tech.lef
 ./platforms/nangate45/lef/Nang

[2021-10-24 01:29] maliberty commented on #1229
One other developer (@Stephanommg ) has reported something similar but no other developer could reproduce it.  It is interesting that you are on ubuntu as he is as well.   Are you using virtual box or docker?

[2021-11-02 13:25] Unkraut3 opened #1260 "Link in documentation broken"
Hello,

on the page: https://openroad.readthedocs.io/en/latest/user/UserGuide.html the link  "flow README" returns a 404 error.

Also, the documentation could be a bit more comprehensive. OpenRoad is not self explanatory.

[2021-11-04 08:13] #1260 closed

[2021-11-04 17:56] QuantamHD opened #1267 "We should see if LTO improves the performance of OpenROAD"
LTO stands for link time optimization, and allows clang/gcc to optimize across linking boundaries.

We can enable it by default by setting `set(CMAKE_INTERPROCEDURAL_OPTIMIZATION TRUE)` in the root CMAKE file.

https://stackoverflow.com/questions/31355692/how-do-i-enable-link-time-optimization-lto-with-cmake

[2021-11-04 18:09] maliberty commented on #1267
@QuantamHD do you want to try it?

[2021-11-05 05:58] antonblanchard opened #1271 "sta: bad index in Table2::tableValue()"
While chasing a SEGV, I noticed `Table2::tableValue` is indexing an array with -1UL. With the attached patch I see:

[code]

The test case is too large to attach, it's at https://ozlabs.org/~anton/openroad-bad-index/fail.tar.gz

[code]

[2021-11-05 06:41] antonblanchard commented on #1271
Backtrace:

[code]

[2021-11-05 13:01] qujijie opened #1272 "gpl: cannot figure out few macros"
I have a simple test that only have few macros, i have these erroe when i use globle placement
[code]
here is the lef/def, how can i solve these problems.
Thank you for your kind cooperation
[macros.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7486102/macros.zip)

[2021-11-06 07:58] rovinski commented on #1272
@mgwoo if possible the error should include suggestions to correct because it's a bit esoteric.

[2021-11-06 15:29] dineshannayya opened #1277 "resizer timining run crashes with segementation fault"
I am using the or_resizer_timing.tcl from efabless/openlane project.

While Running the Resize timing timing optimization, tool crashes with segmentation fault.
<pre>###############################################################################
# Design Rules
###############################################################################
[INFO]: Setting RC values...
[INFO RSZ-0046] Found 51 endpo

[2021-11-07 10:37] antonblanchard opened #1281 "Obstructions partially outside die area cause malloc corruption (GlobalRouter::computeObstructionsAdjustments)"
I'm hitting malloc corruption during global placement. The issue appears to be in `GlobalRouter::computeObstructionsAdjustments()`, where obstructions that are partially outside the die area (so we don't discard them), end up negatively indexing, or indexing off the end of or `v_edges_` and `h_edges_`.

The test case (too large to attach) is at https://ozlabs.org/~anton/openroad-bad-index/fail.tar

[2021-11-07 10:42] antonblanchard commented on #1281
A bit of a hack, but this fixes it.

[code]

[2021-11-07 21:13] rovinski commented on #1281
I'm not sure if it's reasonable to have obstructions outside of the die area. We may want to be checking for that instead of trying to work around it in the global router. What's the use case?

[2021-11-07 21:57] antonblanchard commented on #1281
I'm trying to harden a caravel user_project_wrapper in one step: https://github.com/efabless/caravel_user_project/blob/main/docs/source/index.rst#hardening-options

![obstructions](https://user-images.githubusercontent.com/2029971/140663118-3e5db8f2-64ab-4fbb-a3a9-c7e0d2b7c07e.png)

I'm guessing the I/O pins are causing the issue, and they extend out of the die area so efabless can guarantee the G

[2021-11-07 22:22] antonblanchard commented on #1281
We already warn and throw away obstructions completely outside the die space, it's just ones that partially extend outside it.

[2021-11-07 22:25] rovinski commented on #1281
So if I understand correctly, the user design is being created as a block and then that block is being instantiated in the top-level design? And then the problem arises because there are pins that extend outside of the die area at the block level?

If so, then overall that's a user error. There should never be any shapes extending outside of the die area. The die area should instead be extended to

[2021-11-07 22:38] antonblanchard commented on #1281
I believe that is how it works, but I'll leave it to @donn or @RTimothyEdwards to confirm.

[2021-11-08 03:32] maliberty commented on #1281
@antonblanchard I don't understand "they extend out of the die area so efabless can guarantee the GDS will insert into the rest of the chip without modification".  How does making them extend outside help?

[2021-11-08 11:16] antonblanchard commented on #1281
@maliberty I'm not sure, and I'm fast getting out of my depth here. These Openlane config options appear to do it:

[code]

[2021-11-08 16:47] maliberty commented on #1281
If we handle obstructions completely outside then we should handle ones partially outside.  I do think it is a strange methodology but the tool should never crash.  It doesn't seem dire enough to be an error.

[2021-11-08 16:51] maliberty commented on #1281
@eder-matheus I would fix this by having Grid::addObstruction clip the obstruction to the Grid and discard it if nothing remains.  It's safer than sanitizing one use of the obstructions.

[2021-11-09 07:10] mgwoo commented on #1272
Sorry, but this testcase is not appropriate on OpenROAD testcases. If the number of instances or nets are too small, I would prefer to use a simulated annealer to place macros, etc.

[2021-11-09 08:11] rovinski commented on #1272
@mgwoo is it possible to detect this behavior and add an error stating this?

[2021-11-09 16:57] #1281 closed

[2021-11-09 18:11] jjcherry56 commented on #1133
There is no relationship between process corner names and the position a delay is written in an sdf triple.
The min/max values written by opensta are specifically designed to be compatible with static timing analysis
and because sdf only supports 3 values they are the min/max values for a specific process corner.
I added an option -include_typ that inserts the meaningless average of min and max ju

[2021-11-09 18:11] #1133 closed

[2021-11-09 23:41] maliberty commented on #1272
@ravi-varadarajan hopefully rtl-mp can handle this case.  Would you verify?

[2021-11-10 01:17] ravi-varadarajan commented on #1272
@mgwoo  Mingyu have you set up the test case in some location in UCSD server?

[2021-11-10 01:23] jjcherry56 commented on #1271
your test case is calling the global placer through the back door (not the tcl command) and it is defaulting to timing driven (which makes no sense but that's a different issue) and your test case does not have an sdc file or wire rc values which is not where you want to be, but I bullet proofed it so it doesn't blow up.

[2021-11-10 01:54] jjcherry56 commented on #1277
I see the problem.
In the mean time, you can work around it by adding a setup constraint for spi_sdo[0] which I suspect was unintentionally
left out of the sdc.
set_output_delay 6.0000 -clock [get_clocks {spiclk}] -max -add_delay [get_ports {spi_sdo[0]}]

[2021-11-10 05:14] dineshannayya commented on #1277
@jjcherry56 , Flow worked once i add max output delay to spi_sdo[0], Thanks

[2021-11-10 10:10] antonblanchard commented on #1271
Thanks @jjcherry56. This test was cut down from Openlane: [or_replace.tcl](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/openroad/or_replace.tcl). Should we fix the timing driven (and routability driven) defaults in OpenROAD, or set them to 0 where appropriate in Openlane?

In terms of the missing RC values when timing driven mode is enabled, is it enough to call `set_wire_r

[2021-11-10 12:04] Manarabdelaty opened #1290 "Resizer buffers tri-stated nets"
Resizer inserts buffers on nets that are driven by a tri-state cell. I am attaching a test case for which resizer inserts a buffer on an output port (`mgmt_gpio_in`) which is driven by a tri-state cell.

[rsz_test_case.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7512431/rsz_test_case.zip)

[2021-11-10 23:56] maliberty commented on #1229
@luis201420 now reports this as well.  He will try to debug.

[2021-11-11 00:03] jjcherry56 commented on #1271
That whole script is using internal functions instead of the command, which doesn't make much sense.
It also fails to read liberty files, and there is no hope of timing driven working without them.

[2021-11-11 00:08] jjcherry56 commented on #1277
fixed

[2021-11-11 00:08] #1277 closed

[2021-11-11 01:07] maliberty commented on #1271
OL has agreed to move to the tcl wrappers rather than the swig APIs.  It will take some time for that to happen.

[2021-11-11 16:54] donn opened #1296 "Replace diverges at initial iteration on trivial design"
OpenROAD Version: v2.0-1750-gce49eb6f2

## Description
A simple inverter def layout fails to place with RePlace.

## Reproducible

[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7521975/packaged.tar.gz)

## Logs

[code]

[2021-11-12 04:16] kammoh commented on #1111
I think I'm hitting the same issue. Present in current HEAD (c07e55dd4). Tried going back a little bit but still present.
I can reproduce it with OpenLane's `aes` design, on macOS, when running `scripts/openroad/or_groute.tcl`. I've experience a similar segfault on a fedora machine as well, but need to verify if it was the same thing.

Here's the stack trace:

[code]
as you can see `x->_first_pt`

[2021-11-12 05:57] maliberty commented on #1111
A fix for a very similar issue just went in (https://github.com/The-OpenROAD-Project/OpenROAD/pull/1293)  Please update and try again.

[2021-11-12 21:38] mbalestrini opened #1303 "read_def errors when reading a 5.7 DEF file TECHNOLOGY statement"
OR version v2.0-1685-g50f0e3241

When I load a .DEF file (version 5.7) with the **TECHNOLOGY** statement (that I understand is part of the 5.7 file format) I get this error and OR exits:
[code]

To reproduce the error:
[code]
[def_with_technolgy_5.7.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7530545/def_with_technolgy_5.7.zip)

[2021-11-12 21:57] rovinski commented on #1303
The cause is right there in the error message. LEF/DEF 5.7 is unsupported. Use 5.3, 5.4, 5.5, 5.6, or 5.8.

[2021-11-13 02:14] maliberty commented on #1303
@rovinski where does it say 5.7 is unsupported?  I just see "error: TECHNOLOGY is unsupported"

We could just ignore that statement.

@mbalestrini I don't see any TECHNOLOGY statement in your in.def.

[2021-11-13 02:19] rovinski commented on #1303
We can't write DEF5.7, so I assumed that we can't write it either. Is this wrong? And if so then why don't we write DEF5.7?

[2021-11-13 02:26] maliberty commented on #1303
@rovinski  You are write but it looks like a mistake to me - the original opendb support 5.3-5.6 and Cherry added 5.8 but skipped over 5.7 (https://github.com/The-OpenROAD-Project/OpenDB/commit/73270b82cb67deab67b9923553dc3946a353c218).  I don't see any reason so I'll fix that.  However this seems unrelated to the issue here.

[2021-11-13 04:51] donn opened #1305 "read_liberty segfault on LEF PINs for liberty pg_pins"
[code]

[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7531419/packaged.tar.gz)

[2021-11-13 05:12] maliberty commented on #1146
@msaligane is this still relevant?

[2021-11-13 05:14] donn commented on #1305
Also verified on OpenROAD v2.0-1764-g9d9403c75, which only builds with clang and not gcc for some reason.

[2021-11-13 05:17] donn commented on #1305
lldb backtrace for your convenience:

[code]

[2021-11-13 11:09] msaligane commented on #1146
@maliberty Yes, this is still an issue. I have tried using the same LEF but still seeing weird results during LVS. Have you been able to validate the `write_cdl ` update in any of the other pdks we have?

I have asked @erictaur and @wenbodd to take a look but I did not hear back from them yet.

[2021-11-13 11:17] mbalestrini commented on #1303
It's supposed to be there. The .def file only has this inside:
[code]

[2021-11-13 14:28] #1303 closed

[2021-11-13 14:28] maliberty commented on #1303
Btw, what tool generated this DEF?

[2021-11-13 15:19] mbalestrini commented on #1303
It was generated in magic. I was trying the `def write` command.
(I took away all the content and left just the header in this case)

[2021-11-13 15:32] mbalestrini commented on #1303
You didn't get the error when you tried it? Because I updated to the last commit and I'm still getting the error, just with the new message:
[code]

The problem is that after the warning, as it happen before, the app throws that error (and exits). Seems like it wasn't really ignoring that line.
I'm going to try a fresh download of the repo and build the app again just in case.

[2021-11-13 16:00] RTimothyEdwards commented on #1305
@donn :   Any ideas what's going on?  There should have been no changes to liberty files in the last open_pdks update, so nothing should have changed for STA. . . So I don't even know where to begin looking.

[2021-11-13 17:03] maliberty commented on #1303
The def file is incomplete - all DEF must end with "END DESIGN".  The def itself is empty and useless - I was just fixing the TECHNOLOGY issue.

[2021-11-13 17:06] maliberty commented on #1146
@msaligane if you have an updated test with a LEF I can take a look.  I don't know what "weird results" mean.

[2021-11-13 17:21] mbalestrini commented on #1303
Yeah, sorry. I was trying to simplify the example but I deleted too much.

[2021-11-13 18:50] msaligane commented on #1146
@maliberty That would be really helpful. Weird results in LVS means that the VNB and VPB are named as unrecognized net in the 2nd voltage domain of the sensor.

@erictaur do you mind sharing the latest details since you have met with @wenbodd ?
Have you modified the LEF as discussed ?

The issue is packaged above. I will try to go over this again on Monday afternoon.

[2021-11-13 18:51] jjcherry56 commented on #1305
What is going on is there are errors in the LEF/liberty port names and the logger is not properly initialized. The problem does not show up with well formed libraries.

[2021-11-13 19:09] maliberty commented on #1146
@msaligane in the packaged test case the lef & cdl did not align.  Until that is addressed I don't have anything to look at.

[2021-11-13 21:57] RTimothyEdwards commented on #1305
@jjcherry56 :  Can anybody tell me what those errors are?  The liberty files did not change, but I did make a change to the LEF files to fix the erroneous "soft" ports in the original SkyWater LEF macros for the standard cells.  Chances are that the modification introduced some syntax error into the LEF files.  But I don't know where to go looking for that, since OpenROAD crashed rather than gener

[2021-11-13 21:57] RTimothyEdwards commented on #1305
In my book, a segfault is something that needs immediate attention and a fix, even if it is the input data that's at fault.

[2021-11-13 22:40] jjcherry56 commented on #1305
FIne, next time I won't bother to tell you why it seg faulted, I'll just make you wait until it is fixed. I don't need a lesson on the severity of a seg fault.

[2021-11-14 17:51] jjcherry56 commented on #1305
fixed.
Note that the sta.tcl script will discard any DEF placement information if it is ever used with CURRENT_DEF because the unconditional  read_verilog following read_def will clobber the netlist in the database.

[2021-11-14 17:51] #1305 closed

[2021-11-14 19:08] RTimothyEdwards commented on #1305
@donn :  With the segfault fixed, is there any additional information on what input caused the issue in the first place?  Does it remain a problem or not?

[2021-11-15 09:10] donn opened #1309 "check_power_grid segfault"
[code]
[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7537346/packaged.tar.gz)

[2021-11-15 09:37] donn opened #1310 "report_power segfault"
[code]

[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7537471/packaged.tar.gz)

[2021-11-15 11:59] mbalestrini opened #1311 "GUI feature: Add custom script to menu"
I think it could be useful to have a way to add custom scripts to a menu aside from the toolbar.
It could be directly on `Tools` or maybe some new one specially made for this (ej: `Custom scripts`)

The idea is to be able to build your script library with many useful functions, and there's not much space on the toolbar for that, without using short more criptic names

[2021-11-15 14:49] arlpetergadfort commented on #1311
You mean something line:
[code]

would add two menus to the menu bar `Custom Scripts` and `SomethingElse` with the three items in the respective menus?

[2021-11-15 15:02] maliberty commented on #1311
@arlpetergadfort sure though to be consistent with create_toolbar_button I would use create_menu_item.

[2021-11-15 17:13] jjcherry56 commented on #1310
please rewrite the testcase to not reference shell variables; convert them to tcl variables in the testcase tcl script. I have no way to pass shell variables into my IDE

[2021-11-15 17:28] maliberty commented on #1310
@donn in ORFS we generate a .gdb file which has the necessary setup for gdb (https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/6002fa81a6c646bcc51410ff91c2995d7a5fdbbb/flow/util/utils.mk#L80).  Would you do the same for or_issue?

[2021-11-15 17:38] donn commented on #1310
@jjcherry56
[RUN_2021.11.15_09.28.40_sta_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7540587/RUN_2021.11.15_09.28.40_sta_packaged.zip)

---

@maliberty Is that just a list of `set env`s?

[2021-11-15 17:49] maliberty commented on #1310
@donn yes - they can be sourced in gdb to setup all the envars needed

[2021-11-15 17:53] donn commented on #1310
Sure, I'll throw it in or_issue.

[2021-11-15 18:05] jjcherry56 commented on #1310
I use lldb so gdb is not relevant.
They should be tcl variables (which ORFS also generates for issues, albeit broken in many ways).
That way the can be part of the command script and require no external environment.

[2021-11-15 18:09] donn commented on #1310
@jjcherry56 The download I linked is just that, manually converted for expedience. I'm also working on making that an auto-generated file as part of `or_issue`.

[2021-11-15 18:16] jjcherry56 commented on #1310
Thanks; that's what I had to do last time. I figured it was time to automate the process so I didn't have to do it everytime.

[2021-11-16 01:04] rovinski commented on #1309
Looks more like PSM not PDN.

[2021-11-16 04:09] jjcherry56 commented on #1310
fixed

just a heads up that the reason you are seeing failures is because the LEF has pins for liberty pg_pins and in the past it did not. that exposed a bunch of bugs. our version of the sky130 LEF files do not have the well pins.

[2021-11-16 04:09] #1310 closed

[2021-11-16 04:09] jjcherry56 commented on #1290
fixed

[2021-11-16 04:09] #1290 closed

[2021-11-16 04:56] donn commented on #1296
For the record I'm going to state we've started utilizing a random OpenDB-based placer for tiny designs, so you don't need to rush this. Take your time

[2021-11-16 05:20] donn commented on #1309
You are correct. Sorry for the mislabel, we use PSM as part of our PDN script.

[2021-11-16 22:28] #1229 closed

[2021-11-17 09:08] mgwoo commented on #1272
Confirmed that this testcase is working well if you put the following:

    global_placement -skip_initial_place

or:

    global_placement -bin 4

[2021-11-17 09:08] #1272 closed

[2021-11-17 09:21] mgwoo commented on #1296
This issue has been fixed and the testcase is added to the simple07-08 regression unit testcases (link)[https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/gpl/test/simple07.def]

[2021-11-17 09:21] #1296 closed

[2021-11-17 10:53] antonblanchard opened #1324 "global_routing assertion failure"
I'm hitting a NULL pointer when running a design through the OpenLane flow:

[code]

The test case is too large to attach, but it can be found at: [openroad-estimate_parasitics.tar.gz](https://ozlabs.org/~anton/openroad-estimate_parasitics/openroad-estimate_parasitics.tar.gz)

[2021-11-17 10:55] antonblanchard commented on #1324
Just in case this is another issue where OpenLane is driving things via the low level API, this is what it is doing:

[code]

[2021-11-17 16:00] maliberty commented on #1324
@donn would you fix " OpenLane is driving things via the low level API"

[2021-11-17 16:22] donn commented on #1324
Uuuh sure

[2021-11-17 17:08] donn opened #1326 "Public API for ppl:: functions"
Currently, OpenLane uses…

[code]

Problem is none of these have any public API equivalents as far as I can tell.

[2021-11-17 17:22] donn commented on #1324
https://github.com/The-OpenROAD-Project/OpenLane/pull/719

[2021-11-17 17:25] maliberty commented on #1324
@donn thanks.  I don't think that will change the underlying problem here for @eder-matheus

[2021-11-17 18:06] mbalestrini commented on #1311
Thanks! I think is really useful

I started using it:
![image](https://user-images.githubusercontent.com/2311128/142256925-30de32ed-32c0-4bf1-a0fc-0f1e2e4ad8f9.png)

[2021-11-17 18:26] maliberty commented on #1309
@VidyaChhabria would you give this priority as it is blocking OL from updating their OR version.

[2021-11-17 18:49] #1326 closed

[2021-11-17 20:08] VidyaChhabria commented on #1309
Hi Matt, Working on it now. I will update once it's done.

[2021-11-17 22:11] maliberty commented on #1311
That's cool - would you share your .openroad?  I think others might like that too.

[2021-11-17 22:43] mbalestrini opened #1329 "GUI Feature: load a new DEF without having to close the app"
It would be good to be able to load a new DEF or reset the internal database to load new content without having to close the app.

[2021-11-17 23:48] maliberty commented on #1329
I agree.   Do you want to just load a new DEF or a whole new PDK (e.g. lef, lib)?

[2021-11-18 00:42] maliberty commented on #1309
The test case passes for @VidyaChhabria and myself with the latest OR.

[2021-11-18 00:42] #1309 closed

[2021-11-18 09:47] donn opened #1331 "RSZ Segfault"
[code]
[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7561770/packaged.tar.gz)

[2021-11-18 10:18] donn opened #1332 "CTS Segfault"
[code]
[packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7561910/packaged.tar.gz)

[2021-11-18 16:54] maliberty commented on #1331
@tspyrou one for Cherry

[2021-11-18 18:48] mbalestrini commented on #1311
yes, now that we can load lots of scripts I was thinking of creating a repository of useful .openroad scripts, where people colaborate adding theirs
I'll create that with some of my scripts and I'll share it!

[2021-11-18 18:57] mbalestrini commented on #1329
I found myself trying to load a new DEF more than loading the whole PDK. But if I had to choose just one option maybe doing a whole reset is more flexible. And can load everything again.

[2021-11-18 19:32] jjcherry56 commented on #1332
It would be possible for cts to sort this out by looking at the liberty instead of the LEF, but it seems to me that the LEF VNB/VPB pins should have a USE POWER because they definitely are not signal pins, and that is how the are defaulting.

[2021-11-18 19:43] tspyrou commented on #1332
If its impossible to get the lef changes quickly a tcl script using opendb commands could be created to add this property after LEF is read.

[2021-11-19 02:18] #1331 closed

[2021-11-20 23:39] jjcherry56 commented on #1332
Just to be clear, the LEF for the clock buffers (and any other buffer for that matter) has 3 signal input pins that are only distinguishable by their name. cts is picking the first input because it expects a buffer to only have one input. It needs to find the first input with use type SIGNAL to avoid the well pins, but even that will fail with the LEF in this example.

[2021-11-22 19:56] arlpetergadfort commented on #1329
Current ODB just generates an error when attempting to load new DEFs (https://github.com/The-OpenROAD-Project/OpenROAD/blob/f8c243bd63829123a58a9c22112c8d76b681522a/src/odb/src/defin/definReader.cpp#L1630 this is in the form of a printf instead of going to the logger). So that would need to be updated to support replacing the whole design over again (somehow).

The callbacks from ODB probably need

[2021-11-23 02:06] kishan-shanthakumar opened #1349 "Segmentation Violation during Resizer Timing Optimizations"
[error.log](https://github.com/The-OpenROAD-Project/OpenROAD/files/7585419/error.log)
[bit8alu.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/7585424/bit8alu.txt)
[config.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/7585428/config.txt)

These are the error file, verilog file and config tcl file respectively.

The error message:
[ERROR]: during executing: "openroad -exit

[2021-11-23 04:18] maliberty commented on #1349
You need to provide a full test case for a crash.  Please see https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2021-11-24 18:39] jjcherry56 commented on #1324
The failure has nothing to do with estimate_parasitics; it fails in the global route command.
I suspect it is fallout from this:
[WARNING GRT-0040] Net vccd1 has wires outside die area.
but it should either error (throw out of the command) or skip the net instead of calling assert and exiting.

[2021-11-26 07:10] vijayank88 commented on #1349
@kishan-shanthakumar
You need to file this issue wrt openlane flow in https://github.com/The-OpenROAD-Project/OpenLane/issues
Try below solution, if still facing issue raise this issue in openlane page.

design config.tcl you defined
[code]
But your .v file not have clk signal. so set above variable as empty and run the flow.
[code]
Also set only required variables in config.tcl and appropriate va

[2021-11-26 07:10] #1349 closed

[2021-11-26 09:52] vijayank88 commented on #1349
@kishan-shanthakumar  use this config.tcl working fine in Openlane flow
[code]

[2021-11-28 06:56] maliberty commented on #468
Having heard nothing since Aug I'm closing this issue.

[2021-11-28 06:56] #468 closed

[2021-11-28 06:57] #205 closed

[2021-11-28 07:01] #1028 closed

[2021-11-28 07:02] maliberty commented on #1061
This has gone dark.

[2021-11-28 07:02] #1061 closed

[2021-11-28 07:09] maliberty commented on #1186
I don't know who packaged this for Ubuntu but in the source library you'll see

LEMONConfig.cmake.in
[https://lemon.cs.elte.hu/trac/lemon/browser/lemon/cmake]

So LEMONConfig.cmake is the expected name and not lemonConfig.cmake.  This seems more like an Ubuntu issue; I don't see anything to fix in OR.

[2021-11-28 07:09] #1186 closed

[2021-11-28 07:10] maliberty commented on #1207
No response for a month.

[2021-11-28 07:10] #1207 closed

[2021-11-28 07:12] maliberty commented on #910
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:12] #910 closed

[2021-11-28 07:12] maliberty commented on #909
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:12] #909 closed

[2021-11-28 07:13] maliberty commented on #1072
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:13] #1072 closed

[2021-11-28 07:13] maliberty commented on #1079
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:13] #1079 closed

[2021-11-28 07:13] maliberty commented on #1078
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:13] #1078 closed

[2021-11-28 07:13] maliberty commented on #1071
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:13] #1071 closed

[2021-11-28 07:14] maliberty commented on #1080
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:14] #1080 closed

[2021-11-28 07:14] maliberty commented on #601
There is no plan for OR to support FreeBSD.  We welcome patches but can't spend the resources to track down issues.

[2021-11-28 07:14] #601 closed

[2021-11-28 07:39] yurivict commented on #910
I didn't ask to support FreeBSD. This issue is about a QA failure.

[2021-11-28 07:39] yurivict commented on #909
I didn't ask to support FreeBSD. This issue is about a QA failure.

[2021-11-28 14:58] maliberty commented on #910
There is no such failure on other platforms.

[2021-11-28 14:59] maliberty commented on #909
There is no such failure on other platforms

[2021-11-28 16:31] Manarabdelaty opened #1360 "[ERROR DRT-0218] Guide is not connected to design"
We are getting this warning on some of the sram pins:
[code]

Then, the detailed router fails with this error

`[ERROR DRT-0218] Guide is not connected to design.
`

Tested with openroad commit: `934e0cc13d8d24ca477f5dfd26b64b232065951a`
[sram_droute_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7613904/sram_droute_packaged.zip)

[2021-11-28 19:17] Manarabdelaty opened #1361 "`estimate_parasitics -global_routing` keeps iterating indefinitely"
GRT keeps printing these messages

[code]

Then, it prints a message that the message limit reached, and gets stuck at this point for hours

`[INFO GRT-0009] message limit reached, this message will no longer print
`

[wrapper_resizer_routing_timing_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7614154/wrapper_resizer_routing_timing_packaged.zip)

[2021-11-28 19:19] shalan commented on #1361
If it runs on a system with low memory (8GB), it crashes after some time with the message: `[ERROR GRT-0183] heap underflow during 3D maze routing.`

[2021-11-28 19:24] maliberty commented on #1360
@eder-matheus I assume the issue is in grt not drt; if you find otherwise please assign it back.

[2021-11-29 17:23] eder-matheus commented on #1360
@Manarabdelaty could you attach the groute_package for this run?

[2021-11-29 18:59] Manarabdelaty commented on #1360
@eder-matheus Here it is
[sram_groute_packaged.zip](https://github.com/The-OpenROAD-Project/OpenROAD/files/7620488/sram_groute_packaged.zip)

[2021-11-29 20:11] eder-matheus commented on #1360
@maliberty The pin with the error is not being covered by the guide because the pin geometry intersects with a single track, only at its right boundary. Check the figure below:
![image](https://user-images.githubusercontent.com/43450810/143933918-dbd5f916-aa7a-4c21-9861-eb5a4ff108e3.png)

grt is computing the position on the routing grid for this pin based on this single track, and this position g

[2021-11-29 20:19] eder-matheus commented on #1360
@maliberty When I ignore the position of the tracks for IO and macro pins, the generated guides are valid for TR, which ends with 1 DRCs.

[2021-11-29 21:11] maliberty commented on #1360
@eder-matheus I agree about grt/drt PA (topic for tomorrow's mtg).
@Manarabdelaty is this urgent or can it wait a while for a better solution?

[2021-11-30 02:56] msaligane commented on #1146
@maliberty Actually if you look at the LEF files in the tar  I attached. VNB / VPB are there in the CDL and LEF files.
`sky130_fd_sc_hd__a2111o_1 `  this cell is not used in the design at all.

[2021-11-30 06:47] vijayank88 commented on #616
@ripudamank2  are you still facing same issue?

[2021-11-30 11:03] maliberty commented on #1146
Here is a master you are using (it's the same):
[WARNING ODB-0286] Terminal VPB of CDL master sky130_fd_sc_hd__inv_1 not found in LEF.

In the CDL:
.SUBCKT sky130_fd_sc_hd__inv_1 A VGND VNB VPB VPWR Y

but in the LEF:
MACRO sky130_fd_sc_hd__inv_1
  PIN A
  PIN Y
  PIN VGND
  PIN VPWR
END sky130_fd_sc_hd__inv_1

So the CDL & LEF mismatch as OR reports.  There is no way for OR to know what to write

[2021-11-30 12:47] maliberty commented on #1146
In the LEF in openlane I do see the bulk pins.  I think ORFS needs a refresh.

[2021-11-30 12:52] Manarabdelaty commented on #1360
@maliberty We have a workaround for now to get around this issue (flipping some of the macros helped avoid hitting this error).

[2021-11-30 13:04] msaligane commented on #1146
There are two types of LEF, [magic.lef](https://cs.opensource.google/skywater-pdk/skywater-pdk/+/0e1fa89b2db152cbdc75c8b1e20cbfecba118b8d:libraries/sky130_fd_sc_hd/latest/cells/inv/sky130_fd_sc_hd__inv_1.magic.lef) and [.lef](https://cs.opensource.google/skywater-pdk/skywater-pdk/+/0e1fa89b2db152cbdc75c8b1e20cbfecba118b8d:libraries/sky130_fd_sc_hd/latest/cells/inv/sky130_fd_sc_hd__inv_1.lef;dlc=05

[2021-11-30 14:03] maliberty commented on #1146
@mithro @RTimothyEdwards can you explain why [hd](https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd/blob/main/cells/inv/sky130_fd_sc_hd__inv_1.lef) and [hs](https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hs/blob/main/cells/inv/sky130_fd_sc_hs__inv_1.lef) versions of this cell have different handling of bulk pins?  hd doesn't have them while hs does.

[2021-11-30 17:16] mithro commented on #1146
@maliberty - I assume because different developers created the libraries?

[2021-11-30 17:45] RTimothyEdwards commented on #1146
@maliberty :  I checked and the differences in the handling of the pins goes back to the original SkyWater files, so I second Tim Ansell's opinion.

[2021-11-30 19:18] mithro commented on #1146
It sounds like it **might** make more sense to use the generated `.magic.lef` files?

[2021-11-30 19:53] RTimothyEdwards commented on #1146
@mithro :  No, there is no information about the location of pins other than what's in the original files, so the same issue ends up in all formats of all files no matter what tool generated or modified them.  So the pins will be in different places in the different standard cell libraries unless somebody modifies them all specifically to make them mutually compatible.

[2021-11-30 19:59] mithro commented on #1146
I thought the issue is that the bulk pins exist in the `hd` cell's `.lef` files but **_not_** in the `hs` cell's `.lef` files?

@maliberty said above;

[2021-11-30 20:10] msaligane commented on #1146
I think adding those pins in cells that do not have explicit well connection on them is confusing and creates a bunch of issues. However, if we want to add them for some reason, then we should have consistency since we get a lot lvs issues.

[2021-11-30 20:20] maliberty commented on #1146
I discussed bulk pins with @louiic who recommends we have them in cdl & lef (it is required at lower nodes so it is best to have a single methodology to support).

[2021-11-30 20:21] RTimothyEdwards commented on #1146
@mithro :  If pins are not present in all files, then somebody is not using the approved set of files from the open_pdks installation.  In the open_pdks libraries, all cell views declare all four power pins.  There are still differences between the libraries as to how the pins are positioned, which what what I thought was the issue here.

@msaligane :  On the contrary, it is necessary to define th

[2021-11-30 20:25] RTimothyEdwards commented on #1146
@msaligane :  Also, if you're using netgen for LVS, then why not just compare the extracted layout against the verilog?

[2021-11-30 20:26] msaligane commented on #1146
I think it has to do with the LEF verison (IE 58 here)

Sounds good, so maybe let's go with this plan. I am happy with either. Who can update the files? maybe in the precompiled version of `open_pdks`?

[2021-11-30 20:33] RTimothyEdwards commented on #1146
@msaligane :  Yes, I think the origin of the whole problem was that the LEF files we got from SkyWater were < version 5.7, which is the spec version that introduced the nwell/pwell masterslice layers and allowed them to connect to pins.  So with the earlier version of the LEF spec, they did all sorts of bizarre things like putting the VPB and VNB pins on metal layers where they don't actually exis

[2021-11-30 21:02] maliberty commented on #1146
The ORFS versions don't have the bulk pins so it sounds like it is time for an update.

[2021-11-30 21:19] maliberty commented on #1146
Does OL use the .magic.lef or the .lef today?

[2021-11-30 21:27] msaligane commented on #1146
@maliberty I think we can update the platform to `magic.lef` which I think it is what is used by OL.

@RTimothyEdwards makes sense! One issue though is that for teaching classes next semester, we use commercial tools and the file have multiple issues when they are used related to  VPB/VNB.

[2021-12-01 01:16] RTimothyEdwards commented on #1146
@msaligane :  (1) Note that "use the open_pdks installation" is not the same as "use the magic.lef".  The files in the skywater-pdk repository were made prior to a number of updates and fixes in magic's LEF generation.  For the most part, all the LEF files in the skywater-pdk repository are wrong in some way, whether they come from the original sources or from magic.  (2) For the same reason, the

[2021-12-01 02:55] maliberty commented on #1146
@mithro can we upstream these fixes to skywater-pdk?

[2021-12-01 03:08] mithro commented on #1146
@maliberty - Yes but there is no timeline for that happening. Soe for now you should use the output produced by `open_pdks`.

[2021-12-01 03:08] mithro commented on #1146
BTW -- I'm pretty sure this is what OpenLane is using.

[2021-12-01 11:22] shalan commented on #1361
Any update here. It is kinda a blocking issue for designs larger than 20k cells.

[2021-12-01 20:12] maliberty opened #1373 "Enable noapi tests in pdn"
Reenable tests disabled in https://github.com/The-OpenROAD-Project/OpenROAD/pull/1365

[2021-12-01 20:24] maliberty commented on #1361
I see many:
[WARNING GRT-0040] Net vccd1 has wires outside die area.
..
[WARNING GRT-0036] Pin analog_io[0] is outside die area.

warnings.  I don't know if this is the cause but it is unexpected.  Is there a reason for this?

[2021-12-01 20:39] maliberty commented on #1361
@donn the packaging of this test case shows a problem:  LIB_RESIZER_OPT is set in run.sh but not in env.gdb

[2021-12-01 21:00] donn commented on #1361
I'll take a look

[2021-12-01 22:36] maliberty commented on #1361
You are running repair_timing after global_route.  In ORFS we run that after CTS but before global_routing.  Repair_timing after global routing is in development and is not yet recommended.

You have:
[INFO RSZ-0046] Found 6768 endpoints with hold violations.

after each endpoint repair, it calls grt to reroute the buffered net(s), updates estimate_rc and then sta before proceeding to the next end

[2021-12-01 22:37] maliberty commented on #1361
@donn I worked around it but noticed a bunch more were missing as well.

[2021-12-01 22:38] #1361 closed

[2021-12-01 22:48] donn commented on #1361
@maliberty Yeah I'm going to have to take a look. Most likely there's a file that's getting sourced but just not getting loaded properly by or_issue.py.

[2021-12-02 00:02] maliberty commented on #1146
I am syncing ORFS to OL's open_pdk sky130hd LEFs (tech & stdcell) in https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/pull/243

[2021-12-02 02:02] maliberty commented on #1146
The above is merged - @shuolai  @msaligane can we close this?

[2021-12-02 02:05] msaligane commented on #1146
@maliberty we need to test it first. I don't think @minghungumich  got to it yet. I will try to run this in the next 2 days.

[2021-12-02 17:56] QuantamHD opened #1381 "Hardcoding the router for GF14."
While reviewing some other code I saw this block of code.

https://github.com/The-OpenROAD-Project/OpenROAD/blob/54e3b7dff0eb5570953565b7060514d4838f3b99/src/drt/src/TritonRoute.cpp#L143-L153

It looks like it's hardcoding router parameters in the source code based on a process node parameter which seems very brittle. Can these be moved into the flow scripts instead of in the router?

[2021-12-02 17:57] QuantamHD commented on #1381
@tspyrou @maliberty

[2021-12-02 17:58] maliberty commented on #1381
This is a known problem and @Stephanommg has working on it as a background task.  There are a bunch of other similar cases elsewhere.  Some have already been fixed.

[2021-12-02 18:01] maliberty commented on #1381
The fix in many cases is to identify what is the underlying condition and use that instead (e.g. unidirectional routing constraint, not GF14).

[2021-12-03 04:15] dineshannayya opened #1385 "estimate_parasitics command crashes with segmentation fault after repair_timing -setup command"
I am using Openlane resizer_routing_timing.tcl to optimize the design.

After  repair_timing -setup execution followed by estimate_parasitics -global_routing command crashes with segmentation fault.

Issue not observed with bypassing setup fix stage.

Run command: run_cmd   OR openroad input/resizer_routing_timing.tcl

</pre>
Error Message:
<pre>[WARNING GRT-0211] dbGcellGrid already exists in db.

[2021-12-03 20:19] QuantamHD commented on #1381
Even so can't these parameters be set outside the context of the application as flags?

[2021-12-04 10:25] vijayank88 commented on #1385
@dineshannayya
Do you running this project directly in openroad and got this error or using openlane flow you got this error?

[2021-12-04 10:32] dineshannayya commented on #1385
I observed this issue  openlane flow (With latest efabless/openlane docker) and I have created standalone testcase to cross-check and see same issue observed with latest openroad tools also ..

[2021-12-04 11:00] vijayank88 commented on #1385
@dineshannayya  possible to share your config.tcl and source RTL

[2021-12-04 14:05] dineshannayya commented on #1385
[config.txt](https://github.com/The-OpenROAD-Project/OpenROAD/files/7654042/config.txt)

The project database is at : https://github.com/dineshannayya/logic_bist,

Openlane run use to fails for me **wb_host** block

1. You need to change the docker name and Tag in openlane.Makefile .. As i have done some hack on docker
OPENLANE_TAG = mpw4
OPENLANE_IMAGE_NAME = dineshannayya/openlane:$(OPENLANE_TAG

[2021-12-05 21:24] maliberty commented on #1381
These ones can, there are others that can't (like default via).

[2021-12-06 14:14] #1324 closed

[2021-12-06 22:31] eder-matheus commented on #1385
@dineshannayya I was able to workaround the segfault by calling the global_route command before the last "estimate_parasitics -global_routing" command. Apparently, the internal structures of grt are not being updated after the repair_timing commands.

I'm working to fix this issue, but adding the global_route command as I mentioned should solve the issue temporarily.

[2021-12-06 22:38] maliberty commented on #1385
In general we don't recommend using repair_timing after global_routing.  This is an area that is under development and isn't ready for production usage.  At best it will be very slow to run.  (FYI @donn )

[2021-12-07 11:25] proppy opened #1394 "error when trying to build pdn component"
When attempting to build the `pdn` openroad component from `master` or `v2.0`, I get the following error:
[code]
is this error meant to be fatal?

[2021-12-07 14:29] maliberty commented on #1394
Yes the error is meant to be fatal but it doesn't occur in the CI build.  I am guessing you have some extraneous file with messages in it (like a copy of PdnGen.tcl).

[2021-12-07 14:30] maliberty commented on #1394
try "grep -r 54 src/pdn" and see what files come up.

[2021-12-07 15:22] ratul619 opened #1395 "Build issue"
Hi ,

Trying to build openroad , but build stops with below erors :

Any idea ? Anybody faced them previously ?

Thanks !

Steps :

1. sudo  ./etc/DependencyInstaller.sh -run
2. sudo ./etc/DependencyInstaller.sh -dev
3. sudo ./etc/Build.sh

[ 97%] Linking CXX executable openroad
cd /home/ratul619/Desktop/OpenROAD/build/src && /usr/local/bin/cmake -E cmake_link_script CMakeFiles/openroad.dir/link.t

[2021-12-07 16:17] maliberty commented on #1395
On what OS?  Which compiler/version?

[2021-12-07 16:37] ratul619 commented on #1395
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

Thanks

[2021-12-07 16:46] maliberty commented on #1395
@vvbandeira any guesses?

[2021-12-07 17:02] vvbandeira commented on #1395
We build on Ubuntu 20.04 with GCC in our CI successfully.

Make sure your workspace is clean: `git clean -d -x -i && git submodule foreach --recursive git clean -d -x -i`

Are you using conda environment or anything similar? If so, deactivate them.

[2021-12-07 17:36] ratul619 commented on #1395
Using virtualbox with ubuntu installation. I have refired the installation with the git clean commands as provided.
Lets see.
Thanks

[2021-12-07 18:23] ratul619 commented on #1395
Thanks @maliberty  & @vvbandeira  -- built cleanly now

ib.a ../odb/src/zutil/libzutil.a /usr/lib/x86_64-linux-gnu/libtcl.so /usr/lib/x86_64-linux-gnu/libQt5Widgets.so.5.12.8 /usr/lib/x86_64-linux-gnu/libQt5Gui.so.5.12.8 /usr/lib/x86_64-linux-gnu/libQt5Core.so.5.12.8 ../../../src/sta/app/libOpenSTA.a ../utl/utl.a /usr/local/lib/libspdlog.a -lpthread /usr/lib/gcc/x86_64-linux-gnu/9/libgomp.so /usr/

[2021-12-07 18:23] #1395 closed

[2021-12-07 20:42] #1385 closed

[2021-12-07 20:43] eder-matheus commented on #1385
@dineshannayya Please, check the latest version of the master branch. I've just merged a fix for this issue.

[2021-12-08 05:28] fakerbaby opened #1402 "Build Issue"
after executing these commands

`DependencyInstaller.sh -dev`,`DependencyInstaller.sh -run`
It works well.
But after I run `Build.sh`, there comes a problem as below:
[code]

This problem also reproduced in my m1 macbook pro again.

[2021-12-08 05:40] #1402 closed

[2021-12-13 00:12] antonblanchard commented on #1271
I've reproduced this using the latest `OpenROAD` and `OpenROAD-flow-scripts`, building `designs/sky130hd/jpeg`:

[code]

[2021-12-13 00:15] antonblanchard commented on #1271
Test case: [sky130hd_jpeg_tablevalue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7700147/sky130hd_jpeg_tablevalue.tar.gz)

[2021-12-13 02:42] QuantamHD commented on #1271
@maliberty seems like we should reopen?

[2021-12-13 04:01] maliberty commented on #1271
I just tried your test with 82d19cf9c235a103ade7728e3fa9a4beee976586 and I don't get any error when running 'openroad -exit resize.tcl".

[INFO ODB-0222] Reading LEF file: sky130_fd_sc_hd.tlef
[INFO ODB-0223]     Created 13 technology layers
[INFO ODB-0224]     Created 25 technology vias
[INFO ODB-0226] Finished LEF file:  sky130_fd_sc_hd.tlef
[INFO ODB-0222] Reading LEF file: sky130_fd_sc_hd_merg

[2021-12-13 04:03] maliberty commented on #1271
@QuantamHD I'll reopen when a reproducible problem exists.

[2021-12-13 05:20] antonblanchard commented on #1271
Hi @maliberty did you have the patch mentioned [here](https://github.com/The-OpenROAD-Project/OpenROAD/issues/1271#issue-1045476580) ? The other option is to build with the LLVM undefined behaviour sanitizer (how I originally hit it).

[2021-12-13 05:24] maliberty commented on #1271
Ok I see it with the patch.

[2021-12-13 15:38] maliberty commented on #1271
@jjcherry56 a quick look shows it failing in ceff and returning a nan which leads to the downstream issue.  The gate is way outside the .lib table.

[2021-12-13 16:01] donn opened #1419 "Diode insertion appears to insert diodes in illegal positions"
OpenROAD e9bd11509b1d907cbc3205e17f699ef05ae2181c via OpenLane

[code]

Reproducible:
[groute.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7705111/groute.tar.gz)

[2021-12-13 16:58] tspyrou commented on #1419
@eder-matheus if this is a detailed placement problem please let me know and I will pass it along to cherry.

[2021-12-13 19:24] maliberty commented on #1419
I have a fix for this that I'm testing now.  The problem is antenna repair only looks at global padding not padding by master type.

[2021-12-13 19:51] mbalestrini commented on #1311
I was busy but I finally created the repository with the scripts I'm using right now: https://github.com/mbalestrini/openroad_useful_scripts

[2021-12-13 19:59] maliberty commented on #1419
Fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/1421

[2021-12-13 19:59] #1419 closed

[2021-12-13 21:24] tspyrou commented on #1271
It looks like the testcase has been nicely cleaned up now.

[2021-12-13 22:13] maliberty commented on #1311
Thanks I'll take a look.

[2021-12-13 22:24] jjcherry56 commented on #1271
The original bug was fixed by OpenSTA commit ddd7f39 James Cherry 2021-11-09 dcalc nan proofing.
This is different similar issue fixed by OR commit 4c696dc5a or1271 sta bad index in Table2::tableValue

[2021-12-14 13:13] proppy opened #1424 "odb should be distributed as a regular python package"
Currently the documented way to interact with the openroad python package is thru `openroad -python` (thru https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/odb/src/swig/python/main.cpp?), it would be great if it was also distributed as a regular python package on [PyPI](https://pypi.org/) and/or [conda-eda](https://github.com/hdl/conda-eda) so that developers can import it from a r

[2021-12-14 15:43] maliberty commented on #1424
We used to support odb in python as you describe but have never tried to support all of openroad.   I suspect it is possible but a fair amount of work to do and support (e.g. we don't build shared libraries currently).  Would you describe how this would be advantageous over "openroad -python"?

[2021-12-15 01:11] proppy commented on #1424
It does make it easier to use openroad from other python projects or from a jupyter notebook.

I wonder if the remaining part could be bridged with https://docs.python.org/3/library/tkinter.html, it does seems to allow TCL from python using: https://docs.python.org/3/library/tkinter.html#tkinter.Tcl

[2021-12-15 04:52] maliberty commented on #1424
I don't think that will help as we need to have the tcl interpreter object in c++ in order to register our swig wrapper on it.  We could make a command to forward to tcl though that would be the ugliest interface possible.

[2021-12-15 12:59] donn opened #1428 "Segfault in global routing stage"
OpenROAD 174a460d88e87f538ac36e26ef82d0bba0f4182c via OpenLane

For context, this issue only shows up when we update Yosys. I'm not sure what feature yosys may have added to expose this.

[code]

[groute.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7719479/groute.tar.gz)

[2021-12-15 13:58] kauser-rl opened #1430 "Segmentation violation during global routing"
This is my first issue I'm reporting so bare with me. I'm using Openlane tag `2021.12.15_04.14.23` to trial our design and hit a segmentation violation during the global routing phase. The message dumped by Openlane is-

[code]

The log from `18-global.log` is attached.
Note: I have removed some confidential information about our design.

Let me know what information I can provide. I won't be able

[2021-12-15 16:13] kauser-rl commented on #1430
I looked at the logs from #1428. While the point at which the fail occurs appears to be the same, it is impossible for me to say it is the same. I'm using the current version of Openlane (which uses an older version of Yosys), whereas #1428 integrates a newer version of the synthesis tool. The two designs aren't the same either. The one I'm attempting to run is a much larger design.

[2021-12-15 16:14] kauser-rl commented on #1430
I don't mind waiting for #1428 to be fixed first so I can re-run on the fixed version to see if I had hit the same issue.

[2021-12-17 03:38] proppy commented on #1424
Ah yes, you're right those must be two different Tcl context.

Ack, out of the command listed under https://openroad.readthedocs.io/en/latest/main/README.html#run, what are the ones that are heavily dependant on a non-trivial amount of TCL to be usable, and therefore not trivially expose-able to python thru the existing SWIG interface?

[2021-12-17 03:46] msaligane opened #1437 "padding on DECAPs creates overlap error with tapcells"
`Summary`
While running the temperature sensor design, I got a new error related to how padding is used. Padding seems to be applied to `sky130_fd_sc_hd__decap_4`  cell and the tool thinks there is an overlap with the tapcells.

**Observed behavior:**
Design fails at detail placement:

[code]

![paddingendcap](https://user-images.githubusercontent.com/48068702/146483688-95a2fa6e-4d3c-480b-ab11-e4d

[2021-12-17 04:06] rovinski commented on #1437
DPL checks based on the LEF MACRO class. For `sky130_fd_sc_hd__decap_4`, the class is `CORE` which is probably not correct. It should be `CORE SPACER`.

[2021-12-17 05:15] by1e11 opened #1438 "OpenDB supports on hierarchical blocks and cloned block instances"
Hi, OpenDB experts

I am now trying to use opendb as the design database in one of my projects. But I am not quite sure if opendb can support the features I am requiring.

Say I have a hierarchical design which has a "chip_top" block, then I have many child blocks (as instances) those may have child block instances (recursively) as well. In addition, some block instances may be complete clones of

[2021-12-17 07:12] rovinski commented on #1438
If this comment is accurate
https://github.com/The-OpenROAD-Project/OpenROAD/blob/282340eaf54d33a125214230e635c689acc1a75b/src/odb/include/odb/db.h#L790-L796

Then the max hierarchy supported is 2. I don't believe we've extensively tested anything other than 1 level of hierarchy.

The current best methodology for hierarchical design is to export LEF/DEF for child blocks and then use those blocks a

[2021-12-17 08:10] by1e11 commented on #1438
Hi, dear Rovinski

Thanks for the reply, as my understanding of your comments, more than two levels is not theoretically unsupported, but is not extensively tested, which means that the current opendb actually has the ability to support more than two levels, however it is not "officially" supported by openroad. Am I correct in understanding this?

Also, do you have any further comment on implement

[2021-12-17 11:18] rovinski commented on #1438
No:
1 level: Extensively tested
2 levels: Not tested
3+ levels: Unsupported

It sounds like you're asking if there can be multiple instances of the same block within the hierarchy, and to that end I don't know. @maliberty might.

[2021-12-17 12:37] maliberty commented on #1424
pdngen & icewall are totally in tcl so they are the worst.  Most others to argument handling in tcl and then drop to c++.  Reading sdc implicitly requires tcl (SDC is a set of commands in tcl per its definition) - I think we will have to have a behinds the scenes interpreter for read_sdc.

[2021-12-17 12:56] maliberty commented on #1438
I think @rovinski description is correct.  Before we dive into the db level questions, can you explain how you would use this capability if it existed?  The model you describe is more commonly used in custom digital tools (eg Virtuoso) than P&R ones.

[2021-12-18 02:02] QuantamHD commented on #1437
I'm happy to update the PDK rather than trying to work around it.

[2021-12-18 04:37] maliberty commented on #1437
@rovinski why should decap be a SPACER?  It isn't a fill cell.  sky130_fd_sc_hd__fill_* are marked as SPACER.
@msaligane is there a reason to use decap rather than fill?

[2021-12-18 05:00] rovinski commented on #1437
@maliberty It would be nice if there was a LEF class for decap but there isn't. Decap cells don't have any pins except power/ground, so they fit the same profile as filler cells. Most (all?) commercial PDKs I surveyed mark their decaps cells as such (`CORE SPACER`).

[2021-12-18 05:11] maliberty commented on #1437
@rovinski I see you are correct.  @QuantamHD can you update the PDK?

[2021-12-20 23:23] proppy commented on #1424
another thing to consider could be to  have something similar to http://yowasp.org/ (OpenROAD compiled as a WASM bundle using https://github.com/WebAssembly/wasi-sdk) to enable cross platform distribute on PyPI.

[2021-12-21 09:10] smunaut commented on #1332
Can someone comment if this is the same issue : ?

(I also get a crash at running CTS, but the comments on this issue make me think there was some out-of-band discussion because I can't see a link between the first comment and the second one so I have no clue if it's the same problem or a distinct one, or how it works at all for some people apparently since they did use the flow ...)

[code]

[2021-12-21 09:45] vijayank88 commented on #1332
@smunaut
share tar file by running
[code]

[2021-12-21 10:11] smunaut commented on #1332
I'm not sure what you expect this to do ...

This is a self-built bare metal install of openlane, no docker or anything like that, so I have no clue where that 'cts_issue' make target would even be coming from.

[2021-12-21 11:48] by1e11 commented on #1438
Hi, @maliberty

Thanks. We need this feature because our design includes a predefined hierarchy (very deep) and abut blocks, we will never need to P&R over the blocks. Then we will perform P&R in each individual block, and optimizing the pin assignments between the blocks. So we need a way to store the complete hierarchy information with OpenDB.

Now we realized that actually we do not need block

[2021-12-21 14:31] maliberty commented on #1332
If you are using openroad-flow-script then that is a make target.  If you are using openlane see https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md.

[2021-12-21 15:21] jjcherry56 commented on #1332
It is most certainly not the same issue.

[2021-12-21 18:15] rovinski commented on #1438
Seems to me like it would be a lot easier to do a bottom-up hierarchy and just iterate on the design constraints. But if you'd like to contribute to ODB feel free.

[2021-12-21 21:54] maliberty commented on #1438
@rovinski I agree with you but we do lack a timing model generation capability so final signoff still needs to be flat.

[2021-12-22 17:12] eder-matheus commented on #1428
@donn I've notice you are using `li1` as the min routing layer for this technology. It is more likely to have loops between wires and pin shapes when we have segments in `li1`. Changing the min layer to `met1` "fixed" the segfault.

[2021-12-22 17:16] eder-matheus commented on #1430
@kauser-rl As I mentioned in #1428, using the min layer as `li1` can be the cause of the segfault. Could you try your design with min layer as `met1`?

[2021-12-22 17:26] maliberty commented on #1428
@donn I thought the min routing layer was already fixed?

[2021-12-22 17:48] donn commented on #1428
@maliberty This issue was filed a week ago- the minimum layer was fixed since yes. I'm going to re-test yosys now.

[2021-12-22 18:04] QuantamHD commented on #1428
@eder-matheus We definitely shouldn't segfault at minimum we should tolerate loops and error out.

[2021-12-22 18:14] eder-matheus commented on #1428
We already discussed this segfault. This happens during order wires, and this piece of code is pretty hard to understand. I can try to update rrepair_antennas to detect loops and error out

[2021-12-22 18:16] donn commented on #1428
Yeah, according to Matt order_wires is a nightmarish piece of code.

As this has a workaround, we can just leave this issue open but deprioritize it.

[2021-12-22 18:17] QuantamHD commented on #1428
This is bad for users we need to at least trap the segfault and notify the user that if they're on a low metal layer this can cause an issue.

[2021-12-22 18:19] eder-matheus commented on #1428
@donn maybe we can close https://github.com/The-OpenROAD-Project/OpenROAD/issues/1111, since they appear to be duplicated.

[2021-12-22 18:20] #1111 closed

[2021-12-22 18:20] donn commented on #1428
sure, why not.

[2021-12-22 18:32] QuantamHD commented on #1111
This issue is a duplicate of #1428

[2021-12-24 12:33] donn opened #1467 "OpenROAD options not properly consumed when invoking the Python interpreter"
v2.0-2205-ge9d88df58

[code]

[2021-12-25 22:25] yurivict opened #1470 "error: no template named 'any_io_executor' in namespace 'boost::asio'; did you mean 'is_executor'?"
Build fails with clang-13:
[code]

Rev. 95a1df82f

[2021-12-26 03:10] maliberty commented on #1470
What version of boost are you using?

[2021-12-26 03:16] yurivict commented on #1470
boost-libs-1.72.0_6

[2021-12-26 08:37] iruhm commented on #1470
For me the build also failed on Ubuntu 20.04.3 LTS

$ cat /usr/include/boost/version.hpp
...
#define BOOST_VERSION 107100
...

[2021-12-27 18:53] maliberty commented on #1470
Could you try changing in src/dst/include/dst/Distributed.h:

[code]
to

[code]
any let me know if that works for you?

[2021-12-27 18:58] maliberty commented on #1470
Actually I think the whole thing could just be reduced to
`typedef asio::basic_stream_socket<tcp> socket;
`
as I think the second arg is properly defaulted in all versions.  Would you try that?

[2021-12-27 20:33] yurivict commented on #1470
Replacing with ```typedef asio::basic_stream_socket<tcp> socket; ``` helped.

[2021-12-27 20:36] yurivict opened #1476 "Build fails: error: duplicate symbol: memUsedPeak()"
OpenRoad bundles ```abc``` and fails with the same error ```abc``` fails with:
[code]

clang-13

```abc``` bug [report](https://github.com/berkeley-abc/abc/issues/146).

A better way is to make ```abc``` install the headers (if it doesn't yet) and use the externally installed ```abc```.

[2021-12-27 20:50] maliberty commented on #1470
fixed with https://github.com/The-OpenROAD-Project/OpenROAD/pull/1475

[2021-12-27 20:50] #1470 closed

[2021-12-27 22:02] QuantamHD commented on #1476
Strong disagree on relying on the system abc installation. Different system abcs can have widely circuit results from commit to commit, and that make reproducibility hard when engineers might be using slightly different versions of ABC when building the software.

IMO static linking for this kind of compiler has distinct advantages in terms of supportability and reproducibility.

[2021-12-27 23:29] maliberty commented on #1476
@QuantamHD  abc is statically linked afaik.

[2021-12-27 23:32] QuantamHD commented on #1476
I was trying to argue in favor of a statically linked and pinned version of abc for OpenROAD. I think potentially modifying the users system installation/relying on what's installed would be a mistake. Which I believe is what @yurivict is suggesting, but I could be totally misunderstanding what @yurivict is trying to suggest.

[2021-12-27 23:41] yurivict commented on #1476
It is always beneficial to some degree to pin dependency versions, but bundling causes exponential compilation and maintenance costs. Bugs in each package need to be fixed in all bundled versions. Same software is recompiled a potentially unlimited number of times.

[2021-12-28 02:48] kongka001 commented on #1438
@rovinski could you shed more light in terms of how to load both block def and top def?
ie:  block1.def and top.def,
  dbChip* chip = def_reader.createChip(search_libs, top_def_filename);
  if (chip) {
    dbBlock* block = chip->getBlock();
    string block_def_filename = "xxx.gz";
    dbBlock* sub_block = def_reader.createBlock(block, search_libs, block_def_filename.c_str());
    }

I tried above

[2021-12-28 04:29] QuantamHD commented on #1476
I think it makes sense to rely on the system packages for something like spdlog or other very stable dependencies, but heuristic based software like ABC has the potential to completely change its results from commit to commit due to small changes in its cost functions without changing its underlying API. That isn't very desirable for this kind of compiler/CAD software.

The additional compilation

[2021-12-28 04:56] QuantamHD opened #1477 "Odd pin access code in detailed router."
https://github.com/The-OpenROAD-Project/OpenROAD/blob/719c6dc617d4b8d6896500bb41cdf057864f9e09/src/drt/src/dr/FlexDR_maze.cpp#L1940-L1951

The pin access code above is phrased a bit weird. It seems to select only the first pin access point in the list rather than iterating through the whole thing. Is this intentional?

[2021-12-28 06:31] QuantamHD commented on #1477
I uncommented the line to see if things would break, but it looks like it improves the slack on designs like AES.
From
[code]

To
[code]

[2021-12-28 08:55] parkjw97 opened #1478 "openroad -gui doesn't work"
After cmake .. and make I run openroad -gui. But nothing opened. Only the phrase below appeared and was not implemented.

[code]

[2021-12-28 12:34] donn opened #1480 "`global_route` does not support its documented arguments"
OpenROAD 719c6dc617d4b8d6896500bb41cdf057864f9e09

* Issue:

`global_route` does not support its documented arguments, opting to show this error:
[code]

* Probable Cause: https://github.com/The-OpenROAD-Project/OpenROAD/commit/110c23c2565b07e460c4f4ab7d3cd4e68ddfd5f7

* Reproducible:
- `echo "global_route -verbose 3" | openroad -exit`

[2021-12-28 12:34] donn commented on #1480
Critical for OpenLane, btw

[2021-12-28 13:22] eder-matheus commented on #1480
@donn I've updated the `-verbose` option to be a flag. We don't have the levels now, that's why you have the failure. I've created a PR updating the `-verbose` documentation.

[2021-12-28 13:44] donn commented on #1480
Thanks. I've updated the invocation

[2021-12-28 16:47] maliberty commented on #1478
This has nothing to do with the gui - it can't find the executable at all.  I suspect you don't have it in your path.

[2021-12-28 16:50] #1480 closed

[2021-12-28 17:01] QuantamHD commented on #1478
By default cmake doesn't install the binary, it just builds it. I suspect that if you run the following command it will work `./build/src/openroad -gui`

[2021-12-28 18:46] maliberty commented on #1438
At best you will not see the nets in subblocks in the top block.  You would have to manually traverse across the instance boundary.  There is no flat view of the top block.

[2021-12-28 20:15] maliberty commented on #1476
I don't get the debate here - OR has abc as a submodule so we aren't relying on any abc from the distro.  That wasn't reported as an issue.  I still don't know how to reproduce the issue reported.

[2021-12-28 20:17] yurivict commented on #1476
The issue is likely with incorrect ifdef __FreeBSD__ around the function in question because the issue is on FreeBSD.

[2021-12-28 20:20] maliberty commented on #1476
As I've said before - OR doesn't support freebsd and doesn't plan to.  You are welcome to submit PRs that improve things on FreeBSD but we won't spend time investigating issues related to FreeBSD.  If abc fixes this up stream we are glad to pick it up.

[2021-12-28 20:20] #1476 closed

[2021-12-28 20:39] yurivict commented on #1476
I'm just trying to provide packages for open source EDA software using which users would be able to easily install this software.
As it stands today FreeBSD ports is the only packaging system that can keep up with many version updates in many projects.
The alternative is for all users to rebuild all projects by hand, which is a lot more difficult and error prone.

[2021-12-28 21:21] maliberty commented on #1476
Its a laudable goal but we lack sufficient developers to devote to it.  Another alternative is to use docker which is what openlane does.

[2021-12-28 23:30] #1467 closed

[2021-12-29 02:15] QuantamHD commented on #1477
@osamahammad21 @maliberty Should we remove the break statement?

[2021-12-29 04:18] maliberty commented on #1477
The first AP is the preferred AP so I think this is intentional.  We would need to run a full suite of designs to consider changing this.

[2021-12-29 06:19] QuantamHD commented on #1477
If that's the case why is dividing by toApCnt in the lines following this loop? It seems at some point there was some kind of averaging algorithm that now is basically dead.

[2021-12-29 08:55] kongka001 commented on #1438
@maliberty thanks

[2021-12-29 18:48] progirep opened #1487 "Resizer Segmentation Fault"
Hi all,

I'm trying to harden a macro for the MPW-4 shuttle. The resizer(?) causes huge memory consumption once an OpenSRAM macro that come with the Sky130 PDK is used. In order to track down the issue, I've made a very simple macro design that essentially encapsulates a 1 kB OpenSRAM block with clocked registers. The resizer still consumes ~6 GB of RAM, but this time ends with a segmentation faul

[2021-12-30 10:20] progirep commented on #1487
Oh, by the way, the Verilog example above has multiple errors. But fixing them doesn't make a difference regarding the issue.

[2021-12-30 18:48] maliberty commented on #1487
There is a packaging problem:  (@donn please note)
export EXTRA_LIBS=' /home/ruedi/XilinxImage/Caraval/SkyPDK/sky130A/libs.ref/sky130_sram_macros/lib/sky130_sram_1kbyte_1rw1r_32x256_8_TT_1p8V_25C.lib';

which leads to:
Error: resizer.tcl, 23 cannot read file /home/ruedi/XilinxImage/Caraval/SkyPDK/sky130A/libs.ref/sky130_sram_macros/lib/sky130_sram_1kbyte_1rw1r_32x256_8_TT_1p8V_25C.lib.

Please add

[2021-12-30 19:27] progirep commented on #1487
Oh, ok. I've added the missing file to a new "manual" directory in the "openroad_issue_reproducible" directory and referenced the file in run.tcl, run.sh, and env.* - the previously missing file is part of what open_pdks produces when enabling the Sky130 SRAM macros.

[issue.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7794393/issue.tar.gz)
.

[2021-12-30 21:58] maliberty commented on #1487
Your RAM has a very small transition limit:

    bus(addr0){
        max_transition       : 0.04;

In addition you have:  export PL_RESIZER_MAX_SLEW_MARGIN='20';

so you are trying to fix the slew to 0.032 which is not realistic to achieve.  If I used a margin of zero then the design goes through without trouble.  I'm not sure how this ram was generated but it is suspect in this regard.

[2021-12-30 22:00] maliberty commented on #1487
@jjcherry56 it would be good to harden rsz against such bad inputs.

[2021-12-30 23:42] progirep commented on #1487
Thanks for the feedback. The transition limits are coming from the files that open_pkds generates when asking it to also build the SRAM macros. It's weird that they are unrealistic, so I'm now wondering how the projects employing these macros address this requirement.

[2021-12-31 00:11] maliberty commented on #1487
@donn @RTimothyEdwards do you know how OL is generating its RAMs?

[2021-12-31 02:55] RTimothyEdwards commented on #1487
@maliberty :  Macros come directly from the OpenRAM project, specifically pre-built macros that Matt Guthaus made for efabless and which we dropped into the repository at https://github.com/efabless/sky130_sram_macros/.  Matt Guthaus has commit privileges to that repository.  The open_pdks installer clones that repository and drops the files more or less verbatim into the location cited above (e.g

[2021-12-31 04:32] maliberty commented on #1487
I opened https://github.com/efabless/sky130_sram_macros/issues/9

[2022-01-01 15:54] jjcherry56 commented on #1487
It tickled a bug in the resizer that is fixed by 789d5b3e9 master origin/master Merge pull request #1496 from jjcherry56/rsz_sm_max_slew

[2022-01-01 15:54] #1487 closed

[2022-01-03 22:04] #1271 closed

[2022-01-04 12:43] Manarabdelaty opened #1505 "PDN Question: How to handle multiple power domain connections ?"
In this design, we have a macro `user_proj_example` which has four power domains:  `vccd1` `vccd2` `vdda1` `vdda2`. The issue we are having is that pdngen shorts all the power domains together when it connects the `user_proj_example` macro to the top level pdn.

For example, here the four pdn stripes inside `user_proj_exmaple` are shorted together.
![Screenshot_2022-01-04_14-17-39](https://user-im

[2022-01-04 15:48] maliberty commented on #1505
@msaligane do you have any comments?  I guess you have similar designs in fasoc.

[2022-01-04 22:08] antonblanchard opened #1509 "grt: algorithm changes based on execution time"
Global routing has some strange code which measures the time taken to execute a chunk of code, and then makes decisions based on it:

[code]
Do a bunch of stuff...
[code]
...
[code]

Very strange, especially since the execution time is not normalized. What if my CPU is 10x faster, or compiler optimisations speed the code up 10x?

[2022-01-05 03:00] antonblanchard opened #1512 "drt: macro pin access creates DRC issue within macro"
I'm having issues routing out of a macro. There is lots of room around the macro:

![dcache](https://user-images.githubusercontent.com/2029971/148151542-da9ad042-20a5-4ba4-9254-7c6c5d1fba94.png)

However some of the macro pins are accessed from within the macro (I assume planar access to the pin, if I understand the terminology). Looking at part of the post routed def below, the middle pin is not

[2022-01-05 03:03] antonblanchard commented on #1512
The macro was created by magic's `lef write -hide` which creates an abstract LEF, with only pins and obstructions.

[2022-01-05 04:01] maliberty commented on #1509
Yuck - let's just drop that and use 20 (checking CI of course).  Even that is pretty arbitrary but at least is isn't crazy.

[2022-01-05 04:25] QuantamHD commented on #1509
This might be the source ofthr non determinism we've been seeing in Google blocks.

[2022-01-05 04:47] msaligane commented on #1505
I think it is more like having multi vdd rings than voltage domain here?

[2022-01-05 05:01] antonblanchard commented on #1512
I hand modified the macro LEF so that the pins are all the same short length and the issues went away. I had to rerun global routing because detailed routing complained about pin access (I guess the original pin was so long it must cross grid cells, and global routing chose the end inside the macro).

What to make of this? It seems like magic isn't helping us, but should global and detailed routin

[2022-01-05 10:10] antonblanchard commented on #1509
PR https://github.com/The-OpenROAD-Project/OpenROAD/pull/1513 created to fix this.

[2022-01-05 10:34] antonblanchard commented on #1512
Test case: [macro-pin-access.tar.gz](https://github.com/The-OpenROAD-Project/OpenROAD/files/7814186/macro-pin-access.tar.gz)

[2022-01-05 12:22] Manarabdelaty commented on #1505
This wasn't an issue with a very old versions of openroad (for example: `1415572a73d43dfc91ba4501170fe6a245729e87`) because we were able to tell pdngen which pins to connect on the macro by specifying the `power_pins` / `ground_pins` keys like:
[code]

But, it looks like pdngen is now ignoring the `power_pins` / `ground_pins` keys.